
@{
    ViewBag.Title = "bimainsurance";
}
@section featuredArea{

<div class="static-banner-box">
    <img src="../assets/services_header_images/vas/warid-bima-inner-header2.png" alt="Bima Insurance" />
</div>

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/products">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/products/bima-insurance">BIMA INSURANCE</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/bima-insurance&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/products/bima-insurance" data-title="Warid Telecom :: "><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Fbima-insurance&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20&amp;time=1461049299416&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Fbima-insurance%23.VxXX0al731w.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/products/bima-insurance#.VxXX0al731w.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/products/bima-insurance"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">10</a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/retailer-sahoolat-services">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="breadcrumbs-selected" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/bima-insurance/terms-and-conditions">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/biometric-sim-re-verification">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-live">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-radio-station">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-voiler">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/drama-line">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ladies-portal">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/poetry-junction">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/shaadi-portal">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-fun-facts">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ask-warid">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-meter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-quizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/sms-love-story">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/baba-g-kee-predictions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/ring-tones">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/picture-messages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/mobile-games">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/vow">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/surprise-promo">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/valentine-promo">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/kahaani-portal">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-comedy-corner">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-fun-store">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/ilaqai-portal">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/gup-lagao">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/song-and-greeting-dedication">Song &amp; Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/premium-sms-service">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-easy-menu">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/voice-poke">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/sitaray-kehtay-hain">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/prize-bond-informer">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-youth-portal">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/breaking-news">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/weather-update/forecast-cities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/namaz-alerts">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-video-news">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/start-stop-services">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/doctors-helpline">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/cv-writing">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/interview-preparation-tips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/job-alerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/career-advice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/training-and-events">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-virtual-stocks">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/vocabulary-builder">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-iq-test">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-kissan-line">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/language-learner">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/biz-store">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-guide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-buddy">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-family">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-corp">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-sms-email">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/find-my-number">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/help-me">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/blood-bank-services">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/129-services">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/321-services">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/free-assistance-services">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-rockstar">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/mrbt-movie-offer">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/music/caller-tunes/caller-tunes/terms-conditions">Terms&amp;conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/sms-commands">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/features-and-charging">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/warid-name-tune">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/song-search">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/auto-dialer">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/background-music">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/music-station">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-club">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-stream">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/786-islamics-service">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/dua-service">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/namaz-alerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/ayat-alerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/sponsor-me">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-pre-balance-transfer">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-post-balance-transfer">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-post-balance-transfer">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-pre-balance-transfer">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/balance-request">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/auto-call-back">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/last-five-transactions">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/panic-alert">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-call-block">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/collect-call-and-sms">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/notify-me">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/missed-call-alerts">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/intro-me">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/double-number-offer">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/my-status">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/maal-dhamaal-2">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-delivery-reports">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/jhatpat-bill">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/call-me-back-service">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/mobile-phonebook-backup">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-ezee-connection">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/how-it-works">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/nano-sim">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/micro-sim">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/dual-number-sim">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/conference-call">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-divert">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-waiting">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-group-sms">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-based-reservation">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/mobile-internet-sharing">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/unblock-me">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-islamic-app">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-world">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-apps">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/lte/vas/mywarid">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-sports-station">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-football-club">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-mobile">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/im-over-sms">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/google-talk">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-awaz">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/twitter-sms-service">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box"> Bima Accidental Insurance </div>
                <p>An unexpected misfortune may hit anyone at any time, Secure your family's future by getting BIMA plan today!</p>
                <h2>What’s BIMA?</h2>
                <p>
                    BIMA is an Accidental Insurance Product aimed at providing you or your family with financial security.<br>
                    It’s Hassle Free<br>
                    It’s Paper Free
                </p>
                <h2>How to subscribe:</h2>
                <p>
                    Call 042-3253-4444 and an agent will help you subscribe to the service OR SMS "BIMA" to 9878 and an agent will *call you to guide and help subscribe to the service<br>
                    *MILVIK agents will call you within 24 working hours<br>
                    There are no charges for sending an SMS to 9878
                </p>
                <h2>Charges and BIMA Cover:</h2>
                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <td>Plan</td>
                                <td>**Monthly Price</td>
                                <td>Maximum Cover/Benefit provided</td>
                            </tr>
                            <tr>
                                <td>Silver</td>
                                <td>PKR 30 </td>
                                <td>PKR 150,000 </td>
                            </tr>
                            <tr>
                                <td>Gold</td>
                                <td>PKR 60 </td>
                                <td>PKR 300,000 </td>
                            </tr>
                            <tr>
                                <td>Platinum</td>
                                <td>PKR 150 </td>
                                <td>PKR 750,000 </td>
                            </tr>
                            <tr>
                                <td>Diamond</td>
                                <td>PKR 300 </td>
                                <td>PKR 1,500,000 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>
                    <strong>Postpaid:</strong><br>
                    <br>
                    A postpaid subscriber is eligible for cover the day after confirmation of the service. <br>
                    Initial deductions will be prorated till the customer’s bill date.  Subsequent postpaid deductions will be charged on a monthly basis on the bill date.
                </p>
                <p><strong>Prepaid:</strong> The monthly price is charged in **installments over 15 days</p>
                <p><strong>**Prepaid </strong>subscribers are eligible for Cover even if  they are unable to pay the entire monthly price. For details please refer to  the <a href="http://www.waridtel.com/products/bima-insurance/terms-and-conditions">Terms &amp; Conditions</a></p>
                <p>**The monthly price is divided into 30 equal installments and is charged twice per day till the entire month’s price is received. If your prepaid balance is low, you may not be charged or you may only be charged one installment for that day.</p>
                <h2>How do I Claim:</h2>
                <p>SMS 'CLAIM' to 9878 or call 042-3253-4444 within 90 days of the accident and a MILVIK representative will contact you with full information on how to process your claim.</p>
                <a href="http://www.waridtel.com/products/bima-insurance/terms-and-conditions">
                    <h2>CLICK HERE FOR TERMS AND CONDITIONS</h2>
                </a>
                <h2><small>The Insurance is underwritten by Alfalah Insurance and delivered by MILVIK. </small></h2>
                <p>
                    <small>
                        <a href="http://www.milvikpakistan.com/">MILVIK Mobile  Pakistan</a> is the global  leader in mobile microinsurance, and it protects the future of 15 million  families worldwide. It has operations in 13 markets across Asia, Africa, Latin  America, and the Caribbean. MILVIK is proud to have paid over $ 3 million in  claims.<br>
                        Bima is proudly underwritten by <a href="http://www.alfalahinsurance.com/">Alfalah Insurance</a>. Alfalah Insurance  offers first class security and service to the insuring public at an  international standard.<br>
                        Warid Telecom, as the Life Ka Network, is facilitating this offering but  shall not be responsible for any grievance of the Warid Customer relating to  the Insurance Services and Alfalah Insurance’s or MILVIK’s performance of its  obligations.
                    </small>
                </p>
                <h2>BIMA PERSONAL ACCIDENT INSURANCE POLICY</h2>
                <p>
                    <strong>Whereas</strong>&nbsp;the Insured Person by a proposal which  shall be the basis of the contract and be held as incorporated herein has  applied to the Company for the insurance hereinafter contained and has paid or  agreed to pay the first premium as consideration for such insurance.<br>
                    <strong>Now this policy witnesses</strong>&nbsp;that subject to the terms conditions and  exceptions contained herein or endorsed hereon, if at any time during the  period of insurance, if the Insured Person shall sustain any Bodily Injury  caused by Accident as defined herein, the Company will pay to the Insured  Person or in the event of his death, to his Beneficiary, if surviving,  otherwise to the estate of the Insured Person the Benefit stated in the Policy  Schedule attached hereto
                </p>
                <h2>DEFINITIONS</h2>
                <ul>
                    <li><strong>ACCIDENT</strong><strong>&nbsp;</strong>means a sudden, unexpected, unusual,  specific event, which occurs at an identifiable time and place.</li>
                    <li><strong>ACCIDENT PROTECTION PLAN</strong>&nbsp;means one of the personal accident  insurance covers under this Insurance Policy.</li>
                    <li><strong>ALFALAH refers to the COMPANY, the INSURER,  or Alfalah Insurance Company Limited.</strong></li>
                    <li><strong>APPLICANT</strong>&nbsp;means the individual who applies for an  Accident Protection Plan under this Policy.</li>
                    <li><strong>BENEFICIARY</strong><strong>&nbsp;</strong>is defined as Beneficiary in the  application or the person substituted as such.</li>
                    <li><strong>INSURANCE BENEFIT(S)</strong><strong>&nbsp;</strong>are amounts payable in the event of an  idemnifiable claim and as detailed in the Schedule of Insurance Benefits  attached hereinafter.</li>
                    <li><strong>BIMA</strong><strong>&nbsp;</strong>refers to Milvik Mobile Pakistan.</li>
                    <li><strong>BODILY INJURY</strong><strong>&nbsp;</strong>means Bodily Injury which</li>
                    <ul>
                        <li>is  sustained by the Insured Person during the period of insurance and;</li>
                        <li>is caused  by external, violent and visible means and;</li>
                        <li>is  solely and independently of any other cause, except illness directly resulting  from, or medical or surgical treatment rendered necessary by such Bodily  Injury, occasions the death or Disablement of the Insured Person within twelve  calendar months from the date of the Accident by which such Bodily Injury is  caused.</li>
                    </ul>
                    <li>The<strong>&nbsp;</strong><strong>COMPANY</strong><strong>&nbsp;</strong>is stated as Alfalah Insurance  Company Limited.</li>
                    <li><strong>ELIGIBLE APPLICANT</strong>&nbsp;means an Applicant who meets the  eligibility criteria set forth in this Policy.</li>
                    <li><strong>END USER PRICE</strong>&nbsp;means the amount to be charged to the  Subscriber for getting the Insurance Policy and it shall include the Premium,  Warid’s Consideration and any applicable taxes on the telco services involved  in the provision of Insurance Services.</li>
                    <li><strong>INSURANCE COVER</strong>&nbsp;means the amount which shall be paid by  Alfalah to the Beneficiary or the Insured as per the terms and conditions of  the Insurance Policy.</li>
                    <li><strong>INSURANCE POLICY</strong>&nbsp;means this insurance policy setting out the  terms and conditions on which insurance coverage is granted to a Subscriber.</li>
                    <li><strong>INSURANCE SERVICES</strong>&nbsp;shall mean the insurance services to be  provided to Warid Customers.</li>
                    <li><strong>The INSURED or INSURED PERSON</strong><strong>&nbsp;</strong>means any Warid Telecom subscriber who opt  to purchase policy</li>
                    <li>The<strong>&nbsp;</strong><strong>INSURER</strong>is stated as  Alfalah Insurance Company Limited.</li>
                    <li><strong>MSISDN</strong>&nbsp;shall mean Mobile Subscriber Integrated  Services Digital Network Number.</li>
                    <li><strong>PERMANENT DISABLEMENT</strong><strong>&nbsp;</strong>means TOTAL OR PARTIAL PERMANENT  DISABLEMENT as defined hereunder</li>
                    <ul>
                        <li>TOTAL  AND PERMANENT DISBLEMENT means the Insured Member has established to the  satisfaction of Insurer that the Insured Member has been incapacitated by  Injury to such an extent as to render the Insured Member unable ever to engage  in or work for reward in any occupation or work (on a temporary basis,  part-time basis or full-time basis) which the Insured Member is capable of  performing by reason of his or her education, training or experience.</li>
                        <li>PERMANENT  PARTIAL DISABLEMENT means all those bodily injuries&nbsp; which result in  reducing the insured person’s ability to work as defined in the Table of  Insurance Benefits.</li>
                    </ul>
                    <li><strong>PREMIUM</strong>&nbsp;means the premium payable by an Insured  Member to Insurer in relation to the Insurance Policy.</li>
                    <li><strong>SUBSCRIBER</strong>&nbsp;means those Warid Customers who subscribe  for the Insurance Services to get this Insurance Policy.</li>
                    <li><strong>WARID</strong>&nbsp;refers to Warid Telecom.</li>
                    <li><strong>WARID CUSTOMERS</strong>&nbsp;shall mean the customers of Warid using  Warid’s System.</li>
                    <li><strong>WARID SYSTEMS</strong>&nbsp;means Warid’s GSM mobile cellular system.</li>
                    <li><strong>WARID PAYMENT TERMS</strong>&nbsp;means Warid’s payment terms published at  www.waridtel.com, as revised from time to time.</li>
                </ul>
                <h2>EXCLUSIONS</h2>
                <p>The Personal Accident Insurance Cover shall not cover any Death  or Permanent Disablement which is caused by, or resulting, directly or  indirectly, wholly or partly, from any of the following factors:</p>
                <ul>
                    <ul>
                        <li>while  the Insured is under the influence (temporarily or otherwise) of intoxicants,  alcohol or drugs</li>
                        <li>while  the Insured is engaging in or practicing for winter sports, hunting,  mountaineering or racing of any kind other than on foot..</li>
                        <li>nuclear  energy or radioactivity of any kind including but not limited to any of the  following regardless of any other cause or event contributing concurrently or  in any other sequence to the loss</li>
                        <ul>
                            <ul>
                                <li>ionizing  radiations from or contamination by radioactivity from any nuclear fuel or from  any nuclear waste or from the combustion of nuclear fuel.</li>
                                <li>The  radioactive, toxic, explosive or other hazardous or contaminating properties of  any nuclear installation, reactor or other nuclear assembly or nuclear  component thereof.</li>
                                <li>&nbsp;Any  weapon of war employing atomic or nuclear fission and/or fusion or other like  reaction or radioactive force or matter.</li>
                            </ul>
                        </ul>
                        <li>any  loss, damage or liability arising out of the accidental or deliberate emission  discharge dispersal release or escape of any solid, liquid or gaseous Chemical  agent and/or Biological agent. Chemical agent shall mean any compound which,  when suitably disseminated results in bodily injury or Death Disablement or  incurring of Medical Expenses. Biological agent shall mean any pathogenic  micro-organism and/or biologically produced toxin(s) including genetically  modified organisms and chemically synthesized toxins which results in bodily  injury Death Disablement or incurring of Medical Expenses War &amp; Political  Risks exclusion</li>
                        <li>War,  invasion, act of foreign enemy, hostilities or warlike operations (whether war  be declared or not), civil war.</li>
                        <li>Mutiny,  civil commotion assuming the proportions of or amounting to a popular rising,  military rising, insurrection, rebellion, revolution, military or usurped  power, martial law or state of siege or any of the events or causes which  determine the proclamation or maintenance of martial law or state of siege.</li>
                        <li>Acts of  terrorism for the purpose of this endorsement an act of terrorism means an act,  including but not limited to the use of force or violence and/or the threat  thereof, or an act harmful to human life, tangible or intangible property or  infrastructure, of any person or group(s) of persons, whether acting alone or  on behalf of or in connection with any organization(s) or government(s), committed  for political, religious, ideological or similar purpose including the  intention to influence any government and/or to put the public, or any section  of the public, in fear</li>
                    </ul>
                </ul>
                <h2>GENERAL PROVISIONS</h2>
                <h2><small>1. Eligibility &amp; Enrolment</small></h2>
                <p>
                    Applicants are eligible to apply for an Accident Protection Plan  under the Policy if Applicants meet ALL the criteria set out below:<br>
                    (1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Eligible Applicants shall include individual pre-paid and post-paid Warid  Customers. It is understood and agreed between the Parties that only one (1)  person shall be insured per pre-paid or post-paid telecommunication connection.&nbsp;<br>
                    (2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Eligible  Applicants shall be natural persons. Corporations, partnerships and businesses  shall not be eligible for coverage under the Personal Accident Policy.&nbsp;<br>
                    (3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Eligible  Applicants shall be a minimum of eighteen (18) years of age and a maximum of  sixty four (64) years of age at the time of registration.<br>
                    (4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If the Applicant  wishes to apply for and subscribe to an Accident Protection Plan under this  Insurance Policy, the Applicant will be required during the registration  process to:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                    i.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  acknowledge that the Applicant has read and understood the terms of the Policy  and the Warid Payment Terms;<br>
                    ii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; confirm  that the Applicant meets the eligibility criteria set out in General Provision  1 of the policy;<br>
                    iii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; confirm the  Accident Protection Plan that the Applicant wishes to apply for;<br>
                    iv.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; authorise Warid  to make 30 daily deductions each month from the prepaid account or one monthly  deduction from the postpaid account; and<br>
                    a.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the  Insurance Benefits payable are subject to the Applicant’s confirmations being  true and correct; and<br>
                    b.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if the  Applicant’s confirmation is untrue or incorrect, no Insurance Benefits will be  payable and the End User Price the Subscriber paid will not be refunded.
                </p>
                <h2><small>2. Mistake In Age</small></h2>
                <ul>
                    <li>The Company shall only pay Insurance Benefits based on the  disclosed age of the Insured. With the onus on the customer for incorrect  disclosure the Company shall not be liable to pay any benefit under this Policy  in that particular case.</li>
                </ul>
                <h2><small>3. Intentional False Statements Of The Insured</small></h2>
                <ul>
                    <li>In&nbsp;the event of any  concealment&nbsp;or&nbsp;misrepresentation the Personal Accident  Policy&nbsp;shall become null and void with respect to the relevant Insured.  &nbsp;</li>
                </ul>
                <h2><small>4. Notice Of Claims</small></h2>
                <p>
                    the Company shall be notified of the occurrence of Death of the  Insured or the Permanent Disablement of the Insured as soon as possible, but  not later than 90 (ninety) days from the date of Death or occurrence of  Permanent Disablement after which it shall be treated as time‑barred and the  Company shall not be bound to pay the Claim.&nbsp;<br>
                    (2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For each Claim  reported, the Company shall obtain:<br>
                    From the Claimant:<br>
                    In case of Death:&nbsp;<br>
                    A notice of death, which could be a legal death certificate, a certificate of  attending physician, containing his registration number and mentioning actual  cause of death, and proof of the personal identity of the Insured, which could  be the official personal identity data.<br>
                    In case of Permanent Disablement:&nbsp;<br>
                    Medical report containing the degree of Disablement certified by the surgeon.<br>
                    In case of Permanent Disablement, unnatural or unusual death, Insurer may  require any other document it reasonably deems necessary before approving a  claim under the Policy.<br>
                    (3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company”  shall process and pay genuine and approved claims&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  on receipt of required documents from the Claimant within three (3) working  days.<br>
                    (4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If there is a  dispute, suspected fraudulent activity on the claim or a unique situation which  requires further clarification, the payment period can be extended but shall  not exceed ten (10) working days, or as long as the dispute takes to resolve in  the legal system.
                </p>
                <h2><small>5. Termination Of Individual Insurance</small></h2>
                <p>The insurance of an Insured shall automatically terminate at the  earliest time below:</p>
                <ul>
                    <li>The Insured exceeds sixty five (65) years of age; or</li>
                    <li>Upon payment on Death or</li>
                    <li>Upon settlement of the Insured of the amount of insurance, including  in the event of early termination of such relationship; or</li>
                    <li>Upon cancellation or withdrawal of subscription by Warid of the  contract/relationship with the Insured, whatever the reason may be, or</li>
                    <li>In case of non-payment of the individual End User Price for the  Insurance Policy.</li>
                </ul>
                <h2><small>6. Participation Requirement/Process</small></h2>
                <p>
                    Interested customers shall participate through an electronic  enrolment process, assisted by a call center or field agent, or by submitting  information electronically via their handset, in two phases:<br>
                    <u>1st Phase:</u><br>
                    Name of the Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                    Age or CNIC Number:<br>
                    Name of the Beneficiary:<br>
                    Relationship to Customer:<br>
                    Insurance Benefits selected by Customer:<br>
                    <u>2nd phase:</u><br>
                    Once the customer has answered the questions in the 1st Phase, the customer  shall receive an SMS on for or on behalf of the Company and shall be asked to  dial a short code, or send an SMS to a particular number to confirm  registration. This confirmation serves as digital signature for the Personal  Accident Insurance Cover. After receiving positive response, the customer shall  be enrolled under the Personal Accident Policy.
                </p>
                <h2><small>7. Arbitration</small></h2>
                <p>All differences arising out of this policy shall be referred to the decision of an arbitrator to be appointed in writing by the parties in difference or if they cannot agree upon a single arbitrator to the decision of two arbitrators one to be appointed in writing by each of the parties within one calendar month after having been required in writing so to do by either of parties or incase the arbitrators do not agree of an umpire appointed in writing by the arbitrators before entering upon the reference. The umpire shall sit with the arbitrators and preside at their meetings and the making of an award shall be a condition precedent to any right of action against the Company. If the Company shall disclaim liability to the Insured Person for any claim hereunder and such claim shall not within twelve calendar months from the date of such disclaimer have been referred to arbitrator under the provisions herein contained then the claim shall for all purposes be deemed to have been abandoned and shall not thereafter be recoverable hereunder.Notwithstanding stated above, dispute resolution forums given under the Insurance Ordinance, 2000, such as the Insurance Ombudsman, Small Disputes Resolution Committee and the Insurance Tribunals, shall prevail in the order of precedence, and over the seat of Arbitration.</p>
                <h2><small>8. Compliance with Policy Provisions</small></h2>
                <p>Failure to comply with any of the provisions contained in the policy shall invalidate all claims hereunder.</p>
                <h2><small>9. Insurance Benefits</small></h2>
                <p>
                    The Company hereby agrees to pay the following benefit subject  to the terms and conditions provided under the Personal Accident Policy as  defined hereunder.<br>
                    If an Insured dies or is permanently disabled due to an Accident  as defined herein, on a twenty four (24)-hour worldwide basis, the Company  will, upon receipt of due proof in writing of the Death or Permanent  Disablement of the insured, pay the Insured or Beneficiary as the case may be  the sum assured, according to their InsuranceCover level as described in this  Insurance Benefits Section of the Policy Wording, as full and final settlement  of Death or Permanent Disablement Claim in respect of the deceased/disabled  Insured.<br>
                    <strong>Benefit:</strong><br>
                    The amount of benefit received by the Insured or the Beneficiary in the event  of the accidental Death or Total and Permanent Disablement of the Insured will  be according to the .
                </p>
                <h2><small>Terms and conditions of this cover are as follows:</small></h2>
                <ul>
                    <li>Only One (1) policy per applicant</li>
                    <li>A Claim must be intimated to the Company within ninety (90) days  from the date of occurrence of the Death or Permanent Disablement</li>
                    <li>Payment of claims is subject to exclusions, as outlined in the  Exclusions section of this contract</li>
                </ul>
                <p>
                    In the event of partial pay-out following Permanent Disablement  due to Accident, the Company shall<br>
                    permit renewal of the insurance offer on a case-by case basis, and inform the  registered subscriber<br>
                    accordingly. The following actions shall be taken depending on the decision of  renewal or non-renewal:
                </p>
                <ul>
                    <li>On non-renewal: The insurance policy shall be terminated, and  all airtime deduction or billing shall be discontinued; any amount deducted or  billed after the occurrence of the accident is nonrefundable.</li>
                    <li>On renewal: the insurance policy shall continue on auto-renewal,  and all airtime deduction or billing will continue to apply in subsequent  calendar month</li>
                </ul>
                <p>
                    The Personal Accident Insurance Cover is extended to one (1)  person per Warid subscriber who is a successful Applicant for the Personal  Accident Insurance Cover. Each Applicant is allowed to select the level of  maximum insurance benefit at the point of Enrolment.<br>
                    The Personal Accident Insurance Cover is extended to one (1)  person per Warid subscriber who is a successful Applicant for the Personal  Accident Insurance Cover. Each Applicant is allowed to select the level of  maximum insurance benefit at the point of Enrolment.
                </p>
                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Monthly Premium due<strong> </strong></th>
                                <th>Method of Payment</th>
                                <th>Level of maximum insurance benefit provided</th>
                            </tr>
                            <tr>
                                <td>PKR 30</td>
                                <td>Prepaid balance or Post-paid billing</td>
                                <td>PKR150,000</td>
                            </tr>
                            <tr>
                                <td>PKR 60</td>
                                <td>Prepaid balance or Post-paid billing</td>
                                <td>PKR300,000</td>
                            </tr>
                            <tr>
                                <td>PKR 150</td>
                                <td>Prepaid balance or Post-paid billing</td>
                                <td>PKR750,000</td>
                            </tr>
                            <tr>
                                <td>PKR 300</td>
                                <td>Prepaid balance or Post-paid billing</td>
                                <td>PKR 1,500,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>For pre-paid accounts, if the Applicant pays less than the monthly Premium due in the preceding calendar month, a proportionately reduced amount of insurance benefit will be provided based on the following thresholds for the different insurance policies:</p>
                    <table>
                        <tbody>
                            <tr>
                                <th>PKR 150,000 policy </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th>Amount of End User Price paid in calendar month (PKR)</th>
                                <th>Maximum Insurance Benefit covered in the following month (PKR)</th>
                            </tr>
                            <tr>
                                <td>30 plus taxes</td>
                                <td>150,000</td>
                            </tr>
                            <tr>
                                <td>25 plus taxes</td>
                                <td>125,000</td>
                            </tr>
                            <tr>
                                <td>20 plus taxes</td>
                                <td>100,000</td>
                            </tr>
                            <tr>
                                <td>15 plus taxes</td>
                                <td>75,000</td>
                            </tr>
                            <tr>
                                <td>10 plus taxes</td>
                                <td>50,000</td>
                            </tr>
                            <tr>
                                <td>5 plus taxes</td>
                                <td>25,000</td>
                            </tr>
                            <tr>
                                <td>Below 5 plus tax</td>
                                <td>nil</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>PKR 300,000 policy </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Amount of End User Price paid in calendar    month (PKR)</td>
                                <td>Maximum Insurance Benefit covered in the    following month (PKR)</td>
                            </tr>
                            <tr>
                                <td>60 plus taxes</td>
                                <td>300,000</td>
                            </tr>
                            <tr>
                                <td>50 plus taxes</td>
                                <td>250,000</td>
                            </tr>
                            <tr>
                                <td>40 plus taxes</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td>30 plus taxes</td>
                                <td>150,000</td>
                            </tr>
                            <tr>
                                <td>20 plus taxes</td>
                                <td>100,000</td>
                            </tr>
                            <tr>
                                <td>10 plus taxes</td>
                                <td>50,000</td>
                            </tr>
                            <tr>
                                <td>Below 10 plus tax</td>
                                <td>nil</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp; &nbsp; &nbsp;</td>
                            </tr>
                            <tr>
                                <th>PKR 750,000 policy </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Amount of End User Price paid in calendar    month (PKR)</td>
                                <td>Maximum Insurance Benefit covered in the    following month (PKR)</td>
                            </tr>
                            <tr>
                                <td>150 plus taxes</td>
                                <td>750,000</td>
                            </tr>
                            <tr>
                                <td>125 plus taxes</td>
                                <td>625,000</td>
                            </tr>
                            <tr>
                                <td>100 plus taxes</td>
                                <td>500,000</td>
                            </tr>
                            <tr>
                                <td>75 plus taxes</td>
                                <td>375,000</td>
                            </tr>
                            <tr>
                                <td>50 plus taxes</td>
                                <td>250,000</td>
                            </tr>
                            <tr>
                                <td>25 plus taxes</td>
                                <td>125,000</td>
                            </tr>
                            <tr>
                                <td>Below 25 plus taxes</td>
                                <td>nil</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp; &nbsp; &nbsp;</td>
                            </tr>
                            <tr>
                                <th>PKR 1,500,000 policy </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Amount of End User Price paid in calendar    month (PKR)</td>
                                <td>Maximum Insurance Benefit covered in the    following month (PKR)</td>
                            </tr>
                            <tr>
                                <td>300 plus taxes</td>
                                <td>1,500,000</td>
                            </tr>
                            <tr>
                                <td>250 plus taxes</td>
                                <td>1,250,000</td>
                            </tr>
                            <tr>
                                <td>200 plus taxes</td>
                                <td>1,000,000</td>
                            </tr>
                            <tr>
                                <td>150 plus taxes</td>
                                <td>750,000</td>
                            </tr>
                            <tr>
                                <td>100 plus taxes</td>
                                <td>500,000</td>
                            </tr>
                            <tr>
                                <td>50 plus taxes</td>
                                <td>250,000</td>
                            </tr>
                            <tr>
                                <td>Below 50 plus taxes</td>
                                <td>nil</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>For post-paid accounts, successful withdrawal represents billing  and payment of the entire monthly premium due. If payment is made,  corresponding cover is issued for PKR 30, PKR 60, PKR 150, or PKR 300 Premium  plans as stated above.</p>
                    <h2><small>Table of  Insurance Benefits</small></h2>
                    <table>
                        <tbody>
                            <tr>
                                <th>Death&nbsp; Total Permanent Disablement </th>
                                <th>% of maximum insurance benefit paid</th>
                            </tr>
                            <tr>
                                <td>Accidental death</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Loss of two limbs</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Loss of both hands, or of all fingers and    both thumbs</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Total    paralysis</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Total insanity</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Injuries resulting in being Permanently    bedridden</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Any other injury resulting in Permanent    Disablement</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Total and irrevocable loss of all sight    in both eyes</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>PERMANENT PARTIAL DISABLEMENT</td>
                                <td>% of maximum insurance benefit paid out</td>
                            </tr>
                            <tr>
                                <td>Loss of arm at shoulder</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of arm between shoulder and elbow</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of arm between elbow and wrist</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of hand at wrist</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of leg at hip</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of leg between knee and hip</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of leg below knee</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Total and irrevocable loss of all sight    in one eye</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of four fingers and thumb on one    hand</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Loss of speech</td>
                                <td>50%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>
                    Acknowledgement of the Customer<br>
                    (Policy Terms and Conditions shall remain subject to the following)
                </h2>
                <ul>
                    <ul>
                        <li>Bima is  the Insurance broker who has been authorized by Alfalah Insurance Company  Limited to bind cover on behalf of Insurer within the terms and conditions of  thisInsurance Policy.To cease daily deductions, the Subscriber must deregister  the Subscriber’s Accident Protection Plan by contacting Bima. Otherwise, Warid  will continue making daily deductions for so long as the Subscriber’s prepaid or  postpaid account has a positive credit balance.</li>
                        <li>In the  event that the Subscriber, as an Insured Member, subscribe to more than one (1)  Accident Protection Plan under the Insurance Policy (including through  different Warid mobile accounts):</li>
                        <ul>
                            <li>The Subscriber’s  maximum benefit shall be the maximum benefit offered by only one of the  Accident Protection Plans that the Subscriber has subscribed to;</li>
                            <li>Our  maximum liability to the Subscriber or the Subscriber’s beneficiary shall be  the higher of the two Accident Protection Plans that the Subscriber subscribed  to;</li>
                        </ul>
                        <li>After  becoming the Subscriber in the Insurance Service, Warid Subscriber permits  Warid to share his details and information available with Warid and as sought  by Alfalah Insurance and Bima or any other entity authorized by Alfalah  Insurance in this regard, for inter alia processing of the Policy, storing and  processing data across countries, and more effectively providing the Insurance  Service and payment of Insurance Cover; Warid Customer/Subscriber agrees and  acknowledges that he or his legal heirs shall not hold Warid responsible for  any consequences of sharing such information;</li>
                        <li>Fraud or  abuse relating to Re-Load/Re-Charge may result in forfeiture/cancellation of  the Policy, suspension of Warid Services of the Customer/Subscriber and  termination of his Connection; and</li>
                        <li>While  availing the Insurance Service the Subscriber shall not respond to any  calls/SMSs directing to make/send calls/SMSs to any other number/short code or  which are regarding award of any prize (whether money or in kind) in lieu of  balance transfer or any call. Ignorance of this clause by Warid  Customer/Subscriber shall not accrue any liabilities/responsibilities on  Alfalah Insurance or Warid including but not limited to liability/responsibility  towards any loss occurred to the Warid Customer/Subscriber</li>
                        <li>Warid,  Alfalah, or Bima may amend these Terms and Conditions at any time. The  Subscriber shall be informed through an SMS or any other manner in accordance  with the relevant laws that these Terms and Conditions are amended. Such SMS or  information through any other manner (as mentioned above) shall contain a link  to such amended Terms and Conditions, and if the Subscriber shall continue to  pay for the Insurance Cover it shall be the acceptance of the Subscriber to the  amended Terms and Conditions.</li>
                        <li>Warid,  Bima, and Alfalah may jointly amend the Service Charges from time to time at  their discretion in accordance with the applicable laws and regulations of  Pakistan Telecommunication Authority (“PTA”). The acceptance of these Terms and  Conditions of the Subscriber shall also be the acceptance with the End User  Price to be charged to provide the Insurance Policy;</li>
                        <li>Alfalah,  Warid, and Bima have the complete authority to stop offering the Accident Protection  Plan or Policy at any time at their discretion.</li>
                        <li>The  Subscriber acknowledges that these Terms and Conditions are in addition to the  terms and conditions accepted by the Subscriber at the time of availing Warid’s  cellular services (which includes the terms and conditions of CSAF and the  terms and conditions received in the SIM Jacket). However in case of conflict  between these Terms and Conditions and terms and conditions of CSAF, these  Terms and Conditions shall prevail to the extent of subject matter of these  Terms and Conditions.</li>
                        <li>The  domestic laws of the Islamic Republic of Pakistan shall govern the Insurance  Policy and the Courts of the Islamic Republic of Pakistan shall have  jurisdiction in any dispute arising hereunder.</li>
                        <li>If any  provision of the Insurance policy is found by any court or administrative body  of competent jurisdiction to be invalid or unenforceable, such invalidity or  unenforceability will not affect the other provisions of the Insurance policy  which will remain in full force and effect.</li>
                        <li>This  policy has been especially created to provide protection for those Warid  Customers who successfully apply for that protection and who pay the  appropriate Premium. Accordingly, notices to the Subscriber may be provided by:</li>
                        <li>SMS to  the Subscriber’s prepaid or postpaid mobile service (from which daily  deductions are made);If a notice is made by SMS, the notice is deemed to be  received on the day the SMS is sent. If a notice is placed on a website, the  notice is deemed to be received on the day the notice is placed</li>
                        <li>notification  placed on www.waridtel.com or on the Insurer’s website at  http://www.alfalahinsurance.com/ ; or</li>
                        <li>by  publication in a major newspaper in the Islamic Republic of Pakistan.</li>
                    </ul>
                </ul>





            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/more_offers_images/Youth-P.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/more_offers_images/Balance_Request.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/more_offers_images/08201428084807434.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>