
@{
    ViewBag.Title = "infotainment";
}

@section featuredArea{
<div class="static-banner-box">
    <img src="../assets/services_header_images/vas/Infotainment.png" alt="Infotainment" />
</div>


}
<div class="container">
    <div class="row">
        <!--------Customer Survey Box (Position Left Fixed-------->
        <!--<div class="customers-survey-box">
            <a class="customers-survey-one" href="http://www.waridtel.com/customer-care"></a>
            <a class="customers-survey-two" href="#"></a>
            <a class="customers-survey-three" href="https://www.facebook.com/OfficialWarid/app_530770766988736" target="_blank"></a>
        </div>-->
        <!--------Customer Survey Box (Position Left Fixed-------->
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="infotainment.html">INFOTAINMENT</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/infotainment&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <div class="five-box-wrapper">

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/premium-sms-service.html"><img src="../assets/services_category_images/vas/Warid-LTE-SMS-Premium-thumb.png" alt="Premium SMS Service" /></a>
                    <span>Premium SMS Service</span>
                    <a class="more-button" href="infotainment/premium-sms-service.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-easy-menu.html"><img src="../assets/services_category_images/vas/easy-menu-thumb.png" alt="Warid Easy Menu" /></a>
                    <span>Warid Easy Menu</span>
                    <a class="more-button" href="infotainment/warid-easy-menu.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/voice-poke.html"><img src="../assets/services_category_images/vas/voice-poke.png" alt="Voice Poke" /></a>
                    <span>Voice Poke</span>
                    <a class="more-button" href="infotainment/voice-poke.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/sitaray-kehtay-hain.html"><img src="../assets/services_category_images/vas/sitaray-kehtay-hain-thumb.png" alt="Sitaray kehtay hain" /></a>
                    <span>Sitaray kehtay hain</span>
                    <a class="more-button" href="infotainment/sitaray-kehtay-hain.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/prize-bond-informer.html"><img src="../assets/services_category_images/vas/prize_bond_informer_thumb.png" alt="Prize Bond Informer" /></a>
                    <span>Prize Bond Informer</span>
                    <a class="more-button" href="infotainment/prize-bond-informer.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-youth-portal.html"><img src="../assets/services_category_images/vas/youth-portal-thumb3.png" alt="Warid Youth Portal" /></a>
                    <span>Warid Youth Portal</span>
                    <a class="more-button" href="infotainment/warid-youth-portal.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-alerts.html"><img src="../assets/services_category_images/vas/warid_alerts_thumb.png" alt="Warid Alerts" /></a>
                    <span>Warid Alerts</span>
                    <a class="more-button" href="infotainment/warid-alerts.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-video-news.html"><img src="../assets/services_category_images/vas/Video_news_thumb.png" alt="Warid Video News" /></a>
                    <span>Warid Video News</span>
                    <a class="more-button" href="infotainment/warid-video-news.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/start-stop-services.html"><img src="../assets/services_category_images/vas/start_stop_services_thumb.png" alt="Start Stop Services" /></a>
                    <span>Start Stop Services</span>
                    <a class="more-button" href="infotainment/start-stop-services.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/doctors-helpline.html"><img src="../assets/services_category_images/vas/doctors_helpline_thumb.png" alt="Doctors Helpline" /></a>
                    <span>Doctors Helpline</span>
                    <a class="more-button" href="infotainment/doctors-helpline.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/careers.html"><img src="../assets/services_category_images/vas/career_portal_thumb.png" alt="Career Portal" /></a>
                    <span>Career Portal</span>
                    <a class="more-button" href="infotainment/careers.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-virtual-stocks.html"><img src="../assets/services_category_images/vas/Warid_Virtual_Stock_thumb.png" alt="Warid Virtual Stocks" /></a>
                    <span>Warid Virtual Stocks</span>
                    <a class="more-button" href="infotainment/warid-virtual-stocks.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/vocabulary-builder.html"><img src="../assets/services_category_images/vas/vocabulary_builder_thumb.png" alt="Vocabulary Builder" /></a>
                    <span>Vocabulary Builder</span>
                    <a class="more-button" href="infotainment/vocabulary-builder.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-iq-test.html"><img src="../assets/services_category_images/vas/warid_IQ_test_thumb.png" alt="Warid IQ Test" /></a>
                    <span>Warid IQ Test</span>
                    <a class="more-button" href="infotainment/warid-iq-test.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-kissan-line.html"><img src="../assets/services_category_images/vas/warid_kissan_line_thumb.png" alt="Warid Kissan Line" /></a>
                    <span>Warid Kissan Line</span>
                    <a class="more-button" href="infotainment/warid-kissan-line.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/language-learner.html"><img src="../assets/services_category_images/vas/language_learner_thumb.png" alt="Language Learner" /></a>
                    <span>Language Learner</span>
                    <a class="more-button" href="infotainment/language-learner.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/biz-store.html"><img src="../assets/services_category_images/vas/biz_store_thumb.png" alt="Biz Store" /></a>
                    <span>Biz Store</span>
                    <a class="more-button" href="infotainment/biz-store.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/location-based-services.html"><img src="../assets/services_category_images/vas/Location_Based_Services_thumb.png" alt="Location Based Services" /></a>
                    <span>Location Based Services</span>
                    <a class="more-button" href="infotainment/location-based-services.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/warid-sms-email.html"><img src="../assets/services_category_images/vas/Warid_SMS_Email_thumb.png" alt="Warid SMS Email" /></a>
                    <span>Warid SMS Email</span>
                    <a class="more-button" href="infotainment/warid-sms-email.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/find-my-number.html"><img src="../assets/services_category_images/vas/Find_My_Number_thumb.png" alt="Find My Number" /></a>
                    <span>Find My Number</span>
                    <a class="more-button" href="infotainment/find-my-number.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/help-me.html"><img src="../assets/services_category_images/vas/help_me_thumb.png" alt="Help Me" /></a>
                    <span>Help Me</span>
                    <a class="more-button" href="infotainment/help-me.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/blood-bank-services.html"><img src="../assets/services_category_images/vas/blood_bank_services_thumb.png" alt="Blood Bank Services" /></a>
                    <span>Blood Bank Services</span>
                    <a class="more-button" href="infotainment/blood-bank-services.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="infotainment/self-care-services.html"><img src="../assets/services_category_images/vas/self_care_services_thumb.png" alt="Self Care Services" /></a>
                    <span>Self Care Services</span>
                    <a class="more-button" href="infotainment/self-care-services.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

        </div>

        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../prepaid/packages.html">Packages</a></li>
                                <li><a href="../prepaid/offers.html">Offers</a></li>
                                <li><a href="../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="music.html">Music</a>
                                </li>
                                <li>
                                    <a href="balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>

