
@{
    ViewBag.Title = "_20paisa";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="http://www.waridtel.com/assets/services_header_images/prepaid/20_Paisa_Offer.jpg" alt="20 paisa">
</div>

}




