
@{
    ViewBag.Title = "multanhyd";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="../../../assets/services_header_images/prepaid/apna-sheher-multan-hderabad.png" alt="Multan / Hyd" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../offers.html">OFFERS</a></li>



                        <li>&gt;&nbsp;<a class="" href="../apna-sheher.html">APNA SHEHER</a></li>


                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="multan-hyd.html">MULTAN HYD</a></li>











                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/offers/apna-sheher/multan-hyd&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../recharge/recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/p2p.html">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../all-network-offers/daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-network-offers/7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../all-network-offers/malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../all-network-offers/malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../all-network-offers/malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-network-offers/one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-network-offers/3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-network-offers/mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="active">
                                                <a class="breadcrumbs-selected" href="multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../international-dialing/afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../sms-packages/sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    ApnaSheher – Multan &amp; Hyd
                </div>
                <p>Warid introduces a fantastic new region-based offer that allows Warid subscribers in  Multan and Hyderabad to make unlimited FREE CALLS, from their city to any Warid number in Pakistan! In addition, they can also make calls to all other networks and landline numbers (24 hours a day) at the cheapest call rates!</p>
                <!--To activate Box-->
                <div class="to-activate-box">
                    <div class="to-activate-heading-box">
                        <div class="to-activate-heading">TO ACTIVATE</div>
                    </div>
                    <div class="new-customer">&nbsp;</div>
                    <!--Strips to be repeated-->
                    <div class="activate-txt-strips bd-none">

                        <div class="steps">Step 1</div>
                        <div class="steps-txt"><a class="activation-link" href="#">Send "BOL" to 4337</a></div>

                    </div>
                    <!--Strips to be repeated-->

                </div>
                <!--To activate Box-->
                <h2>Charges:</h2>
                <p>Rs. 7.99 + tax/day</p>
                <h2>City List:</h2>
                <p>This offer is currently available only for Multan, Hyderabad and surrounding cities. City list is provided below.</p>
                <div class="table-box">
                    <table>
                        <tr>
                            <th colspan="3">Cities in Multan Region</th>
                        </tr>
                        <tr>
                            <td>ABDUL HAKIM</td>
                            <td>CHOTI ZAYREN</td>
                            <td>JAHANIAN</td>
                        </tr>
                        <tr>
                            <td>ADDA    LAR</td>
                            <td>DERA DIN    PANAH</td>
                            <td>JALALPUR    PIRWALA</td>
                        </tr>
                        <tr>
                            <td>AHMADPUR EAST</td>
                            <td>DERA GHAZI    KHAN</td>
                            <td>JAMPUR</td>
                        </tr>
                        <tr>
                            <td>ALIPUR</td>
                            <td>DHANOTE</td>
                            <td>JANDIALI    BANGLA</td>
                        </tr>
                        <tr>
                            <td>ALIPUR    TO SITPUR ROAD</td>
                            <td>DUNYAPUR</td>
                            <td>JANPUR</td>
                        </tr>
                        <tr>
                            <td>BAGAR</td>
                            <td>FAZILPUR</td>
                            <td>JATOI JANUBI</td>
                        </tr>
                        <tr>
                            <td>BAHAWALPUR</td>
                            <td>FORTABBAS</td>
                            <td>JHAKKARPUR</td>
                        </tr>
                        <tr>
                            <td>CHACHARAN</td>
                            <td>HASILPUR</td>
                            <td>JHOK BODO</td>
                        </tr>
                        <tr>
                            <td>CHAUDHARI</td>
                            <td>ISMAILABAD</td>
                            <td>&nbsp;</td>
                        </tr>

                    </table>

                    <table>
                        <th colspan="3">Cities in Hyderabad Region</th>
                        <tr>
                            <td>BABAR LOI</td>
                            <td>KANDHKOT</td>
                            <td>PHULJI</td>
                        </tr>
                        <tr>
                            <td>BADAH</td>
                            <td>KANDHRA</td>
                            <td>PIR GOTH</td>
                        </tr>
                        <tr>
                            <td>BADIN</td>
                            <td>KANDIARO</td>
                            <td>PIRJO GOTH</td>
                        </tr>
                        <tr>
                            <td>BAGERJI</td>
                            <td>KANDIYARI</td>
                            <td>PITHORO</td>
                        </tr>
                        <tr>
                            <td>BAKHSHAPUR</td>
                            <td>KARAMPUR</td>
                            <td>QADIRPUR</td>
                        </tr>
                        <tr>
                            <td>BAKRANI</td>
                            <td>KARIO GHANWAR</td>
                            <td>RADHAN</td>
                        </tr>
                        <tr>
                            <td>BANDHI</td>
                            <td>KASHMORE</td>
                            <td>RANIPUR</td>
                        </tr>
                        <tr>
                            <td>BERANI</td>
                            <td>KAZI AHMAD</td>
                            <td>RATI</td>
                        </tr>
                        <tr>
                            <td>BHIT SHAH</td>
                            <td>KETI BANDAR</td>
                            <td>RATODERO</td>
                        </tr>
                        <tr>
                            <td>BHAN</td>
                            <td>KHAIRPUR</td>
                            <td>ROHRI</td>
                        </tr>
                        <tr>
                            <td>BHIRIA CITY</td>
                            <td>KHAIRPUR NATHAN SHAH</td>
                            <td>RUSTAM</td>
                        </tr>
                        <tr>
                            <td>CHAK</td>
                            <td>KHIPRO</td>
                            <td>SAEED ABAD</td>
                        </tr>
                        <tr>
                            <td>CHAMBAR</td>
                            <td>KHOREWAH</td>
                            <td>SAKRAND</td>
                        </tr>
                        <tr>
                            <td>CHOUNDIKO</td>
                            <td>KHOSKI</td>
                            <td>SANGHAR</td>
                        </tr>
                        <tr>
                            <td>CHUHAR JAMALI</td>
                            <td>KOT DIJI</td>
                            <td>SANN</td>
                        </tr>
                        <tr>
                            <td>DAD LIGHARI</td>
                            <td>KOT LALU</td>
                            <td>SANWARI (SARHARI)</td>
                        </tr>
                        <tr>
                            <td>DADU</td>
                            <td>KOTRI</td>
                            <td>SEHWAN</td>
                        </tr>
                        <tr>
                            <td>DAHARKI</td>
                            <td>KOT GHULAM MUHAMMAD (JAMESABAD)</td>
                            <td>SHAHDADKOT</td>
                        </tr>
                        <tr>
                            <td>DARBELO</td>
                            <td>KUMB</td>
                            <td>SHAHDADPUR</td>
                        </tr>
                        <tr>
                            <td>DARO</td>
                            <td>KUNRI</td>
                            <td>SHIKARPUR</td>
                        </tr>
                        <tr>
                            <td>DAULAT PUR</td>
                            <td>LAKHI</td>
                            <td>SINJHORO</td>
                        </tr>
                        <tr>
                            <td>DAUR</td>
                            <td>LARKANA</td>
                            <td>SITA</td>
                        </tr>
                        <tr>
                            <td>DIGRI</td>
                            <td>MADEJI</td>
                            <td>SOBHODERO</td>
                        </tr>
                        <tr>
                            <td>DIPLO</td>
                            <td>MAKLI</td>
                            <td>SOMIANI</td>
                        </tr>
                        <tr>
                            <td>DOKRI</td>
                            <td>MARHO BULA KHAN</td>
                            <td>SUJAWAL</td>
                        </tr>
                        <tr>
                            <td>GAMBAT</td>
                            <td>MATIARI</td>
                            <td>SUKKUR</td>
                        </tr>
                        <tr>
                            <td>GARHI YASIN</td>
                            <td>MATLI</td>
                            <td>TANDO ADAM</td>
                        </tr>
                        <tr>
                            <td>GHARO</td>
                            <td>MEHAR</td>
                            <td>TALHAR</td>
                        </tr>
                        <tr>
                            <td>GHAUSPUR</td>
                            <td>MEHRABPUR</td>
                            <td>TANDO ALA YAR</td>
                        </tr>
                        <tr>
                            <td>GHOTKI</td>
                            <td>MIRO KHAN</td>
                            <td>TANDO BAGO</td>
                        </tr>
                        <tr>
                            <td>GOLARCHI</td>
                            <td>MIRPUR BATHORO</td>
                            <td>TANDO JAM</td>
                        </tr>
                        <tr>
                            <td>GOTH GULAB MACHHI</td>
                            <td>MIRPUR KHAS</td>
                            <td>TANGWANI</td>
                        </tr>
                        <tr>
                            <td>HALA</td>
                            <td>MIRPUR MATHELO</td>
                            <td>TANDO JAN MUHAMMAD</td>
                        </tr>
                        <tr>
                            <td>HALANI</td>
                            <td>MIRPUR SAKRO</td>
                            <td>TANDO MASTI KHAN</td>
                        </tr>
                        <tr>
                            <td>HARUNTHARRI</td>
                            <td>MITHIANI</td>
                            <td>TANDO MITHA KHAN</td>
                        </tr>
                        <tr>
                            <td>HINGORJA</td>
                            <td>MOHENJO DARO</td>
                            <td>TANDO MUHAMMAD KHAN</td>
                        </tr>
                        <tr>
                            <td>HYDERABAD</td>
                            <td>MORO</td>
                            <td>THARI MIRWAH</td>
                        </tr>
                        <tr>
                            <td>JACOBABAD</td>
                            <td>NABISAR</td>
                            <td>THARUSHAH</td>
                        </tr>
                        <tr>
                            <td>JAKHRAO</td>
                            <td>NAGAR PARKAR TALUKA</td>
                            <td>THERHI</td>
                        </tr>
                        <tr>
                            <td>JAM SAHIB</td>
                            <td>NASARPUR</td>
                            <td>THUL</td>
                        </tr>
                        <tr>
                            <td>JARWAR</td>
                            <td>NASIRABAD</td>
                            <td>UBAURO</td>
                        </tr>
                        <tr>
                            <td>JATI</td>
                            <td>NAUDERO</td>
                            <td>UMERKOT</td>
                        </tr>
                        <tr>
                            <td>JATOI</td>
                            <td>NAUKOT</td>
                            <td>USTA MOHAMMAD</td>
                        </tr>
                        <tr>
                            <td>JHAL MAGSI SUB-DIVISION</td>
                            <td>NAUSHAHRO FEROZE</td>
                            <td>VUR</td>
                        </tr>
                        <tr>
                            <td>JHAT PAT</td>
                            <td>NAWABSHAH</td>
                            <td>WARAH</td>
                        </tr>
                        <tr>
                            <td>JHUDDO</td>
                            <td>PACCA CHANG</td>
                            <td>YARO LUND (PARO LUND)</td>
                        </tr>
                        <tr>
                            <td>JOHI</td>
                            <td>PADIDAN</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>JUNGSHAHI</td>
                            <td>PANGRIO</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KADHAN</td>
                            <td>PANO AQIL</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KAMBAR ALI KHAN</td>
                            <td>PHUL</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <h2>Terms and Conditions:</h2>
                <ul>
                    <li>300 Warid to Warid minutes in a day as per fair usage policy.</li>
                    <li>On-net benefits are not available</li>
                    <li>Offer is also applicable on ported numbers</li>
                    <li>Offer is only available on Minute Package. If customers subscribe to this offer, their package will be automatically converted to Minute Package</li>
                    <li>Offer will be automatically re-subscribed at midnight. In case user’s balance is below the required level, the offer will be un-subscribed</li>
                    <li>Every SMS sent to 4337 will be charged @@ Re.1</li>
                    <li>In case of no subscription, charges for Minute Package will be applicable</li>
                    <li>Offer is only valid within above-mentioned cities. If the offer is subscribed from any other area, subscription fee will be deducted but free minutes will not be provided</li>
                    <li>This is a limited time offer</li>
                    <li>Terms, conditions and taxes apply</li>
                    <li>19.5% FED on usage and 14% withholding tax is deducted on each recharge amount</li>
                    <li>Using a SIM which is not in your name or allowing others to use your SIM is a crime – PTA</li>
                    <li>The Subscriber acknowledges and agrees that in order to maintain service quality and to avoid the congestion of traffic on Warid’s network, the offer/bundle mentioned herein shall not be available during EID holidays announced by the government. During such Eid holidays, the standard charges of the service shall be applicable. The Subscriber further agrees that in this regard no further notice or intimation shall be required by Warid, and hereby he waives his any legal rights or remedies in this regard</li>


                </ul>


            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../pakistan-offer.html"><img src="../../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../pakistan-offer.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../free-call-offer.html"><img src="../../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../free-call-offer.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../all-in-one-offer/power-pack.html"><img src="../../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../all-in-one-offer/power-pack.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../packages.html">Packages</a></li>
                                <li><a href="../../offers.html">Offers</a></li>
                                <li><a href="../../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>



