
@{
    ViewBag.Title = "events";
}

@section featuredArea{

<div class="static-banner-box"> <img src="../assets/services_header_images/media_center/events.png" alt="Events" /></div>


}


<div class="container">
    <div class="row">



        <!--Ticker Box-->

        <div class="col-md-12">
            <div class="breadcrumbs-box">
                <!--Breadcurmbs Start-->
                <div class="col-md-12">
                    <div class="col-md-7">

                        <ul>

                            <li><a href="../index.html">HOME</a></li>

                            <li>&gt;&nbsp;<a class="" href="../mediacenter">MEDIA CENTER</a></li>

                            <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="/mediacenter/events">EVENTS</a></li>

                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                            <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                            </script>
                            <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/media-center/events&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div style="float:left !important;" class="addthis_native_toolbox"></div>
                        </div>
                    </div>

                </div>                            <!--Breadcurmbs End-->
            </div>
        </div>

        <!--Ticker Box-->
        <!-- page content -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-inner-content-box">

                    <div class="col-md-1">
                        <div class="om-media-nav">
                            <!--Media Center Left Navigation Start Here-->
                            <ul class="pull-right">
                                <li class=""><a href="../mediacenter">ALL</a></li>
                                <li class=""><a href="/mediacenter/tvc">TVC</a></li>
                                <li class=""><a href="/mediacenter/pressrelease" class="cnt-txt">PRESS RELEASE</a></li>
                                <li class="active"><a href="/mediacenter/events">EVENTS</a></li>
                                <li class=""><a class="cnt-txt" href="/mediacenter/corporatemagazine">CORPORATE MAGAZINE</a></li>
                            </ul>                                    <!--Media Center Left Navigation End Here-->
                        </div>
                    </div>

                    <div class="col-md-11">
                        <div class="om-media-box">
                            <div id="ajaxPagingDiv">
                                <div class="om-media-head">
                                    <h2>EVENTS</h2>
                                </div>


                                <div class="om-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="18" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/warid-sk.png" alt="Warid Spread Think Pink" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Warid Spread Think Pink</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="27" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/bA%20guiding%20guests.png" alt="Movie Night 2014" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Movie Night 2014</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="28" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/playing-image-6.png" alt="Grand Tambola 2014" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Grand Tambola 2014</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="17" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/09201419202606141.jpg" alt="Glow Auto Show Karachi 2014" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Glow Auto Show Karachi 2014</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="1" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426055121340.jpg" alt="Maal Dhamaal 2 Winners" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Maal Dhamaal 2 Winners</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="2" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426055057934.jpg" alt="Warid Red Carpet" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Warid Red Carpet</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="3" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083224609.jpg" alt="British Council" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>British Council</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="4" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083241825.jpg" alt="Lahore Auto Show 2013" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Lahore Auto Show 2013</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="5" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083256588.jpg" alt="Anti-Tobacco Day" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Anti-Tobacco Day</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="6" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083310881.jpg" alt="Rahat Fatah Ali Khan" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Rahat Fatah Ali Khan</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="12" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083213726.jpg" alt="Women Cricket" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Women Cricket</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="7" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083321693.jpg" alt="Earth Hour 2011" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Earth Hour 2011</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="8" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083335617.jpg" alt="Polo Team" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Polo Team</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a class="album-photos" rel="11" href="javascript:void(0)">
                                                    <img src="../assets/media/events/category/08201426083348472.jpg" alt="Tapeball Championship" width="219" height="120" alt="pic">
                                                </a>



                                                <h4>Tapeball Championship</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="om-md-box">

                                                <a href="press-release/archive/134.html" target="_top">
                                                    <img src="../assets/media/events/category/08201426084306295.jpg" width="219" height="120" alt="Abrar Concert">
                                                </a>



                                                <h4>Abrar Concert</h4>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="om-pagination-box pull-right">
                                    <ul><li class="pg-media-active">1</li><li>&nbsp;</li><li><a onclick="show_ajax_paging(15)" href="javascript:void(0)">2</a></li><li>&nbsp;</li></ul><span class="pg-rgt">&nbsp;<a onclick="show_ajax_paging(15)" href="javascript:void(0)"><img src="../assets/images/pg-rgt.png" /></a>&nbsp;</span>
                                </div>


                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!-- page content -->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../prepaid/packages.html">Packages</a></li>
                                <li><a href="../prepaid/offers.html">Offers</a></li>
                                <li><a href="../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->

    </div>
</div>