
@{
    ViewBag.Title = "pressrelease";
}

@section featuredArea{

<div class="static-banner-box"> <img src="../assets/services_header_images/media_center/Press_release_header.png" alt="Press Release" /></div>


}


<div class="container">
    <div class="row">



        <!--Ticker Box-->

        <div class="col-md-12">
            <div class="breadcrumbs-box">
                <!--Breadcurmbs Start-->
                <div class="col-md-12">
                    <div class="col-md-7">

                        <ul>

                            <li><a href="../index.html">HOME</a></li>

                            <li>&gt;&nbsp;<a class="" href="../mediacenter">MEDIA CENTER</a></li>

                            <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="/mediacenter/pressrelease">PRESS RELEASE</a></li>

                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                            <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                            </script>
                            <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/media-center/press-release&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div style="float:left !important;" class="addthis_native_toolbox"></div>
                        </div>
                    </div>

                </div>                            <!--Breadcurmbs End-->
            </div>
        </div>

        <!--Ticker Box-->
        <!-- page content -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-inner-content-box">

                    <div class="col-md-1">
                        <div class="om-media-nav">
                            <!--Media Center Left Navigation Start Here-->
                            <ul class="pull-right">
                                <li class=""><a href="../mediacenter">ALL</a></li>
                                <li class=""><a href="/mediacenter/tvc">TVC</a></li>
                                <li class="active"><a href="/mediacenter/pressrelease" class="cnt-txt">PRESS RELEASE</a></li>
                                <li class=""><a href="/mediacenter/events">EVENTS</a></li>
                                <li class=""><a class="cnt-txt" href="/mediacenter/corporatemagazine">CORPORATE MAGAZINE</a></li>
                            </ul>                                    <!--Media Center Left Navigation End Here-->
                        </div>
                    </div>

                    <div class="col-md-11">
                        <div class="om-media-box">
                            <div class="om-media-head">
                                <h2>PRESS RELEASE</h2>
                            </div>

                            <div id="ajaxPagingDiv">
                                <div class="om-data">

                                    <div class="row">
                                        <!--Press Release Landing Links-->

                                        <div class="press-release-box">
                                            <ul>
                                                <li><a class="pr-link" onClick="pr_archive(334);" href="javascript:void(0);">Competition Commission of Pakistan approves Mobilink’s merger with Warid</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(333);" href="javascript:void(0);">Warid launches postpaid super monthly bundle</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(332);" href="javascript:void(0);">Warid joins hands with UWC (United World Colleges Pakistan)</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(331);" href="javascript:void(0);">Warid Expands its 4G LTE Network to 30 Major Cities of Pakistan</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(316);" href="javascript:void(0);">VimpelCom and Global Telecom Holding Combine Pakistan telecom business with Warid Telecom</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(315);" href="javascript:void(0);">Warid Launches New SIM Lagao Offer: 3000 Minutes, 3000SMS and 3000MBsLTE Internet!</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(314);" href="javascript:void(0);">Warid to launch iPhone 6s and iPhone 6s Plus</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(313);" href="javascript:void(0);">Warid Launches "Go Global" Offer for New Postpaid Subscribers</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(312);" href="javascript:void(0);">Warid launches BIMA; an affordable insurance service for every family</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(311);" href="javascript:void(0);">Warid Launches Mahana Offer</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(310);" href="javascript:void(0);">Warid Launches Easy Menu for Prepaid and Glow Subscribers</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(309);" href="javascript:void(0);">Warid Launches Double Faida Offer</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(308);" href="javascript:void(0);">Warid & Bank Alfalah ink Agreement with National Bank of Pakistan for the Collaboration in building the National Payment Ecosystem</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(307);" href="javascript:void(0);">Boxer Amir King Khan and Shahid Afridi to appear together in Warid’s upcoming TV Commercial</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(306);" href="javascript:void(0);">Pakistan’s First Postpaid Menu over USSD Launched by Warid Telecom</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(304);" href="javascript:void(0);">Warid introduces 4G LTE Wingle & MiFi</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(303);" href="javascript:void(0);">4G Investment Strengthens Warid</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(302);" href="javascript:void(0);">Warid,  SKMT Mark World No Tobacco Day 2015</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(301);" href="javascript:void(0);">Warid Re-brands Corporate Values Aims for Cultural Transformation</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(300);" href="javascript:void(0);">Warid Telecom Marks 10 Years of Service Excellence in Pakistan</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(299);" href="javascript:void(0);">Warid join hands with LABARD for Fundraising</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(298);" href="javascript:void(0);">Warid supports the LUMS Gaming Association</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(297);" href="javascript:void(0);">Warid Sponsors Khalis Food Market</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(296);" href="javascript:void(0);">Warid Employees Donate blood for Thalassemia Patients</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(295);" href="javascript:void(0);">Warid Launches LTE Services in Sialkot</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(294);" href="javascript:void(0);">Warid appoints Farid Ahmad as Chief Strategy Officer</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(293);" href="javascript:void(0);">Warid Telecom and Ericsson Extend Managed Services Agreement for Three Years</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(292);" href="javascript:void(0);">Warid Telecom recognized for its Corporate Social Efforts</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(247);" href="javascript:void(0);">Nauman Fakhar Interview</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(246);" href="javascript:void(0);">Warid launches the industry's first Shared Plans and MiFi Device</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(242);" href="javascript:void(0);">Warid Telecom Launches LTE Services in Pakistan</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(244);" href="javascript:void(0);">Warid offers free 7 days LTE trails upon SIM upgrade</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(240);" href="javascript:void(0);">CFO Warid Telecom, Mr Tariq Gulzar's exclusive interview with Business Recorder, appeared on 27th, October 2014</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(241);" href="javascript:void(0);">CEO Warid Telecom, Mr Muneer Farooqui’s exclusive interview with The News, appeared on 20th, October 2014</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(274);" href="javascript:void(0);">Warid, SKMT Spreads Think Pink Message.</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(275);" href="javascript:void(0);">Warid Telecom Hosts Events for its Corporate Customers</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(10);" href="javascript:void(0);">City walls shine with Colors of Youth</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(276);" href="javascript:void(0);">Warid Telecom Contributes to IDPs and Flood Relief Fund before Eid-al-Adha</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(11);" href="javascript:void(0);">Warid launches New Postpaid Plans with a unique Double Bundle Offe</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(21);" href="javascript:void(0);">Warid: Brand with the Service</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(239);" href="javascript:void(0);">Glow Auto Show Karachi 2014</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(1);" href="javascript:void(0);">Warid introduces calling offer for Gulf Estates.</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(12);" href="javascript:void(0);">Glow Sponsors LUMS Music Society</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(22);" href="javascript:void(0);">Warid successfully deploys Biometric Verification System</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(2);" href="javascript:void(0);">Warid Ramadan Offer.</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(13);" href="javascript:void(0);">Glow continues helping young’s unleash their talents</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(23);" href="javascript:void(0);">NCA Colors for Peace</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(291);" href="javascript:void(0);">Warid launches New Postpaid Plans with a unique Double Bundle Offer.</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(3);" href="javascript:void(0);">Glow Supports 1st Women Cricket T20 Tournament.</a></li>
                                                <li><a class="pr-link" onClick="pr_archive(14);" href="javascript:void(0);">Warid launches 75 Paisa MNP Offer</a></li>

                                            </ul>


                                        </div>


                                        <!--Press Release Landing Links-->
                                    </div>

                                </div>

                                <div class="om-pagination-box pull-right">
                                    <ul><li class="pg-media-active">1</li><li>&nbsp;</li><li><a onclick="show_ajax_paging(50)" href="javascript:void(0)">2</a></li><li>&nbsp;</li><li><a onclick="show_ajax_paging(100)" href="javascript:void(0)">3</a></li><li>&nbsp;</li><li><a onclick="show_ajax_paging(150)" href="javascript:void(0)">4</a></li><li>&nbsp;</li><li><a onclick="show_ajax_paging(200)" href="javascript:void(0)">5</a></li><li>&nbsp;</li><li><a onclick="show_ajax_paging(250)" href="javascript:void(0)">6</a></li><li>&nbsp;</li></ul><span class="pg-rgt">&nbsp;<a onclick="show_ajax_paging(50)" href="javascript:void(0)"><img src="../assets/images/pg-rgt.png" /></a>&nbsp;</span>
                                </div>


                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!-- page content -->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../prepaid/packages.html">Packages</a></li>
                                <li><a href="../prepaid/offers.html">Offers</a></li>
                                <li><a href="../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->

    </div>
</div>