
@{
    ViewBag.Title = "waridmobileapps";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/vas/Mobile_apps_header.png" alt="Warid Mobile Apps" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../mobile-apps.html">MOBILE APPS</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="warid-mobile-apps.html">WARID MOBILE APPS</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/mobile-apps/warid-mobile-apps&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../entertainment/love-services/love-meter.html">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/love-services/love-quizzes.html">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/love-services/sms-love-story.html">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/love-services/baba-g-kee-predictions.html">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/ring-tones.html">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/wallpapers.html">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/picture-messages.html">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/greetings.html">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/mobile-games.html">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/screensavers.html">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/jokes.html">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/horoscope.html">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/ayat.html">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/hadith.html">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../infotainment/warid-alerts/weather-update/forecast-cities.html">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/namaz-alerts.html">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/cv-writing.html">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/interview-preparation-tips.html">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/job-alerts.html">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/career-advice.html">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/training-and-events.html">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-guide.html">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/self-care-services/129-services.html">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/self-care-services/321-services.html">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/self-care-services/free-assistance-services.html">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../music/warid-rockstar.html">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/mrbt-movie-offer.html">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../music/caller-tunes/caller-tunes/terms-conditions.html">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/sms-commands.html">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/features-and-charging.html">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/warid-name-tune.html">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/song-search.html">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/auto-dialer.html">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/background-music.html">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/music-station.html">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/warid-music-club.html">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/warid-music-stream.html">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../religion/786-islamics-service.html">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../religion/hadith.html">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../religion/dua-service.html">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../religion/namaz-alerts.html">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../religion/ayat-alerts.html">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Warid Mobile Apps
                </div>
                <!--Mobile Stock Exchange-->
                <h2>Mobile Stock Exchange</h2>
                <p>Warid introduces one of the most comprehensive Stock Exchange applications in Pakistan. This app gives you the tools to follow Pakistan’s stock exchanges, KSE, LSE &amp; ISE.</p>
                <p>Keep tabs on Pakistan’s economy on an elegant and exhaustive GUI and keep yourself assured of staying on top of stock movement as it happens. </p>
                <!--Txt-->
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                You can add an unlimited number of companies by their name/trade symbol.
                            </li>
                            <li>
                                View Daily, Weekly, Monthly and annual trend graphs of growth and fall by selected companies.
                            </li>
                            <li>
                                View all the necessary data on the shares (e.g. current price, volume, the lowest and the highest points, averages, and so on).
                            </li>
                            <li>
                                Easy operation and friendly user interface of the application.
                            </li>
                            <li>
                                Search companies by sector or their trade symbol
                            </li>
                            <li>
                                Mark companies as favorite for quick view
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/mobile-stock-exchange.jpg" alt="Mobile Stock Excahnge" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>Note: For complete functionality of the application your mobile should have an active internet connection.</p>
                <h2><small>How to activate:</small></h2>
                <p><a href="https://play.google.com/store/apps/details?id=com.vectracom.warid" target="_blank">Click here to download application</a></p>
                <p>*Click on the Stock Exchange of your choice for activation</p>
                <p>*You can subscribe to multiple stock exchanges without any additional cost</p>
                <h2><small>Charges:</small></h2>
                <p>Prepaid: PKR 5+t / 15 days</p>
                <p>Postpaid: PKR 10+t/month</p>
                <!--Mobile Stock Exchange-->
                <!--Hidayatul Islam-->
                <h2>Hadiya-Tul-Islam App</h2>
                <p>Warid brings HadiaTul Islam, a comprehensive Islamic app that offers a rich library of Islamic content. This application intends to help Muslims recite authentic prayers anywhere &amp; anytime through a smart phone having a crystal clear voice quality of recitation; built within the app, there is no need to buffer or download the recitations.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                MasnoonDua
                            </li>
                            <li>
                                Ambia (A.S) Dua
                            </li>
                            <li>
                                Qibla Compass to show you the Qibla Direction (Mecca) based on your current location
                            </li>
                            <li>
                                Prayer Timings based on your current location
                            </li>
                            <li>
                                Tasbeeh Counter
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/hadiya-tul-islam.jpg" alt="Hidayatul Islam" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>The application is available for all Android based (Version 2.2 and above) mobile phones.  																To download, <a href="https://play.google.com/store/apps/details?id=com.warid" target="_blank">click here</a> App Size: 10 MB </p>
                <p>Standard GPRS charges apply.</p>
                <!--Hidayatul Islam-->
                <!--Warid Mobile Backup-->
                <h2>Warid Mobile Backup</h2>
                <p>Keep your contacts, call logs and SMS safely backed up over the cloud.</p>
                <p>With cloud services, you can access your stored information anywhere, anytime.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Backup your entire contact book
                            </li>
                            <li>
                                Sync your contacts with Gmail
                            </li>
                            <li>
                                Import / Export contacts directly to excel
                            </li>
                            <li>
                                Auto sync
                            </li>
                            <li>
                                SMS Backup
                            </li>
                            <li>
                                Call log backup
                            </li>
                            <li>
                                Universal access through <a href="http://mobilebackup.waridtel.com/">http://mobilebackup.waridtel.com</a>
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/mobile-backup.jpg" alt="Mobile Backup" /></a>
                    </div>
                    <!--Image-->
                </div>
                <h2><small>How to Subscribe:</small></h2>
                <p>Step1:Download and install app on your Android device  <a href="https://play.google.com/store/apps/details?id=spellsolutions.homesync">Click here to download App</a></p>
                <p>Step2:Click on Signup</p>
                <p>
                    Step3:Follow the onscreen instructions to complete the registration process<br />
                    *Please ensure that your mobile number is the same as the SIM inserted in your mobile phone.
                </p>
                <h2><small>To un-subscribe:</small></h2>
                <p>SMS UNSUB to 2828</p>
                <h2>Charges:</h2>
                <p>Weekly charges of PKR 5+t after free trial expires</p>
                <p>
                    The application is available for all Android-based (version 2.2 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=spellsolutions.homesync">Click Here</a> <br />
                    App Size: 1.2MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Warid Mobile Backup-->
                <!--Warid ATM Locator-->
                <h2>Warid ATM Locator</h2>
                <p>
                    With Warid's ATM Locator, you will never be far from one!<br />
                    Features that will help you locate ATMs are:
                </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <ul>
                            <li>
                                Using your mobile's GPS and network details, the app gives your nearest ATM locations on a detailed map
                            </li>
                            <li>
                                Search for individual banks
                            </li>
                            <li>
                                Search for ATMs across multiple cities
                            </li>
                            <li>
                                Find the contact details of the nearest branches hosting an ATM
                            </li>
                            <li>
                                Get turn-by-turn navigation to the ATM of your choice
                            </li>
                            <li>
                                Get the distance and travel time to the ATM of your choice
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/atm-locater.jpg" alt="ATM Locater" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android-based (version 2.2 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.mapexample">Click Here</a> <br />
                    App Size: 2.2MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Warid ATM Locator-->
                <!--Pak Wheels Forum-->
                <h2></h2>
                <p>Discuss automobiles on the go with the new Pakwheels Forums app for Android!</p>
                <p>Using the PakWheels Forums has never been easier: </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <ul>
                            <li>
                                Account synchronization between app and website
                            </li>
                            <li>
                                Reply and start threads
                            </li>
                            <li>
                                Read private messages or reply to them
                            </li>
                            <li>
                                Mark topics/threads
                            </li>
                            <li>
                                Easily see who is online
                            </li>
                            <li>
                                View forum stats and user profiles
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/pakwheel.jpg" alt="pakwheel" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android-based (version 2.2 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.tapatalk.pakwheelscomforums">Click Here</a> <br />
                    App Size: 3.8MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Pak Wheels Forum-->
                <!--Warid My Dining-->
                <h2>Warid My Dining</h2>
                <p>Every foodie knows how difficult a task it can be to pick a   restaurant for eating out. My Dining has been designed to make this task   easier by allowing you to look up all the information you&rsquo;ve ever   needed about a restaurant anytime, anywhere.</p>
                <p>With My Dining, you'll have all the information you   want about a restaurant including its location, contact information,   photos, customer feedback and available promotional offers right at your   fingertips.</p>
                <h2><small>Features you'll come to love about My Dining are;</small></h2>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <ul>
                            <li>
                                Sign up using email or Facebook;
                            </li>
                            <li>
                                Find restaurants on the basis of Name, Location or Cuisine offered;
                            </li>
                            <li>
                                Look up address, photos, customer feedback, tips and contact details of restaurants in your area;
                            </li>
                            <li>
                                Find out about all the latest promotions offered by your favorite restaurant;
                            </li>
                            <li>
                                Check in to a restaurant, share photos and reviews on social media;
                            </li>
                            <li>
                                Get the latest news on discounts and offers.
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/resturant-screen.jpg" alt="Resturant Screen" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android based (Version 2.2 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.pepperpk.restaurantapp">Click Here</a> <br />
                    App Size: 6.8 MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Warid My Dining-->
                <!--Boutique-->
                <h2>Boutique</h2>
                <p>Finding a boutique suitable for your wardrobe preferences can be a   long and arduous task. With Boutique app, you no longer need to spend   hours searching for the right boutique for all your clothing needs. </p>
                <p>Now you can look up all the information you&rsquo;ve ever   wanted including location, contact information, photos, customer   feedback and active promotions of a boutique anywhere, anytime. Boutique   app lets you explore your favorite boutiques, discover new ones and   find out about all the new and exciting promotional offers by various   boutiques in Lahore.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Sign up using email or Facebook;
                            </li>
                            <li>
                                Find boutiques on the basis of Name, Location or Clothing type;
                            </li>
                            <li>
                                Look up address, photos, customer feedback and contact details of any boutique in Lahore;
                            </li>
                            <li>
                                Find out about all the latest promotions offered by your favorite boutique;
                            </li>
                            <li>
                                Check in to a boutique, share photos and reviews on social media;
                            </li>
                            <li>
                                Get the latest news on discounts and offers
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/boutique.jpg" alt="Boutique" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android based (Version 2.2 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.pepperpk.boutique">Click Here</a> <br />
                    App Size: 5.5 MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Boutique-->
                <!--Zakat Calculator-->
                <h2>Zakat Calculator</h2>
                <p>One of the pillars of Islam, Zakat is considered to be a personal   responsibility for all Muslims to ease economic hardship for others and   eliminate inequality,  and is obligatory for all who are able to do so. </p>
                <p>Zakat Calculator App assists you in calculating your Zakat with ease.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Create multiple accounts; one for each friend or family member
                            </li>
                            <li>
                                Read articles on the importance of Zakat
                            </li>
                            <li>
                                Answers questions like who pays Zakat, Nisab and the factors on which the Zakat is payable on.
                            </li>
                            <li>
                                Start a Spritual Journey with warid's Islamic   Service which includes Quranic Ayat with translation. Tafseer of Quran,   Dars and Bayan from renowned Ulema, Hadees, Namaz timings, Hamd, Naat,   Qawali &amp; various Dua's.
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/zakat.jpg" alt="Zakat" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android based (Version 2.2 and above) mobile phones<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.pepperpk.zakat">Click Here</a> <br />
                    App Size: 4.6 MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Zakat Calculator-->
                <!--Rickshaw Racing-->
                <h2>Rickshaw Racing</h2>
                <p>Have you ever driven a Rickshaw before? We reckon not. Time to download this game to own your very own Rickshaw!</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Sup up by applying different styles and upgrades to give it that unique Desi look
                            </li>
                            <li>
                                Buy and install upgrades for those much wanted horse powers and BHPs on your very own rickshaw
                            </li>
                            <li>
                                Buy and install NOS on your rickshaw and boost your way to  victory!
                            </li>
                            <li>
                                Race against progressively tougher opponents to become the champion.
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/rikshaw-screen.jpg" alt="rikshaw screen" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>That's not all! Now you're all set to race! Pair up with random   opponents and race to the finish line. Make sure to time your shifts   perfectly to score extra points and boost your speed.</p>
                <p>
                    The application is available for all Android based (Version 2.3 and above) mobile phones.<br />
                    To download, please <a href="https://play.google.com/store/apps/details?id=com.pepper.rickshawracingleague">Click Here</a> <br />
                    App Size: 37 MB<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Rickshaw Racing-->
                <!--Bus Timing-->
                <h2>Bus Timing</h2>
                <p>You can now plan your travel easily without any hassle, as Bus Timing App allows you to check intra city bus routes along with travel charges and timings. This app will help users to keep track of *Daewoo schedules, while saving their time and allowing them to quickly access the information.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Covering all Daewoo destinations&rsquo; timings and travel fare
                            </li>
                            <li>
                                Contact information of all the terminals
                            </li>
                            <li>
                                Find the terminals locations on the map
                            </li>
                            <li>
                                Easy to use- In- App call feature will allow the user to directly call the helpline for booking
                            </li>
                            <li>
                                Share the app with your friends and family through SMS, Email and Facebook
                            </li>
                            <li>
                                The application is available for all Android based (Version 2.2 and above) mobile phones.
                            </li>
                            <li>
                                *More Intra city routes and transport companies coming soon.
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/bus-timing.jpg" alt="Bus Timing" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all:<br />
                    Android based (Version 2.2 and above) mobile phones.<br />
                    Apple Appstore (iOS version 5.0 and above) <br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Bus Timing-->
                <!--Scrolex Marketting-->
                <h2>Scrolex Marketing </h2>
                <p>Challenge your mind with the new Warid Scrolex App. offering you an exclusive, fun and exciting opportunity to play a word game while having fun along with improving your vocabulary and linguistic skills.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <p>
                            This application is available exclusively for Apple iPads (iOS 5.0 and above) mobile phones.<br />
                            To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> <br />
                            App Size: 15.6 MB <br />
                            <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                        </p>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/scrollex-marketting.jpg" alt="Scrollex Marketing" /></a>
                    </div>
                    <!--Image-->
                </div>
                <!--Scrolex Marketting-->
                <!--TV Timings-->
                <h2>TV Timings</h2>
                <p>Now TV schedules are in the palm of your hands, allowing you to browse through your favorite programs. TV Timings app is a helpful guide providing you with easy access to international and local channel schedules. The app covers local and international channels with multiple categories like entertainment, sports and cooking. </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Program schedules for the channels can be checked
                            </li>
                            <li>
                                Multiple channel categories
                            </li>
                            <li>
                                Search function - enabling users to search a channel using a keyword
                            </li>
                            <li>
                                Bookmark favorite channels
                            </li>
                            <li>
                                Set reminders for your favorite programs
                            </li>
                            <li>
                                Share the app via SMS and Email
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/tv-timing.jpg" alt="Tv Timing" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    The application is available for all Android based (Version 2.2 and above) mobile phones.<br />
                    <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size: 4.2MB<br />
                    Standard GPRS charges apply<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--TV Timings-->
                <!--My Cinema App -->
                <h2></h2>
                <p>
                    My Cinema is a cinema schedule app covering all the major cinemas of Lahore, Karachi and Rawalpindi. The app allows users to browse through their favorite cinemas and will get the latest featured movies along with the movies’ cast, trailers, cinemas’ contact details, and map locations.<br />
                    The best part is, the movie lovers will be able to see movie show timings which will be updated on regular basis.
                </p>
                <p><a href="https://play.google.com/store/apps/details?id=com.pepper.pk.cinemaapp">Click to Download App</a></p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Browse through details of all major Cinemas of Pakistan
                            </li>
                            <li>
                                Featuring current movies and their show timings
                            </li>
                            <li>
                                Description and detail of all the featured movies
                            </li>
                            <li>
                                Gallery Images
                            </li>
                            <li>
                                Trailers and cast of the movie
                            </li>
                            <li>
                                Push notification for latest movie updates
                            </li>
                            <li>
                                Share on Facebook
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/my-cinema.jpg" alt="My Cinema" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    This application is available for all Android based (Version 2.2 and above) mobile phones.<br />
                    Apple Appstore (iOS Version 5.0 and above) <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size: 2.8MB<br />
                    Standard GPRS charges apply<br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--My Cinema App -->
                <!--Qissa Kahani App -->
                <h2>Qissa Kahani App </h2>
                <p>Qissa Kahani is a Story Telling App based on short audio stories for kids. The interactive interface allows both kids and parents to enjoy story telling time. With soft music and elegant narration in Urdu and English, story telling time will turn into a pleasant learning experience. The kids will enjoy listening to different stories which are categorized under five different sets – Islamic, Educational, Moral Based, Urdu Classics & English.</p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Browse and download all available stories
                            </li>
                            <li>
                                Category view of stories
                            </li>
                            <li>
                                Stories in Urdu and English narration
                            </li>
                            <li>
                                Soft background music with all stories
                            </li>
                            <li>
                                User friendly story player
                            </li>
                            <li>
                                Facebook sharing of stories
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/inner-app-qissa.jpg" alt="Inner App Qissa" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    This application is available for all Android based (Version 2.1 and above) mobile phones.<br />
                    <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size: 4.45MB<br />
                    Standard GPRS charges apply <br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Qissa Kahani App -->
                <!--Jiammi - The Student Network App -->
                <h2>Jiammi - The Student Network App</h2>
                <p>Jiammi is designed to be the biggest repository of educational content,   submitted by students, teachers and publishers all across Pakistan.   Anyone who publishes their content through Jiammi can earn financial   reward based on the number of views generated by their content. </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Home - the section shows the Network Notice Board   which highlights the activity of the whole app as well as the recent   uploads to the website. Students can share educational links as well as   posts which are being shared with the entire network.
                            </li>
                            <li>
                                Profile - students can create their profile and   indicate their degree and university. They are able to connect to other   students with similar interests. The students can send messages to each   other as well through this section.
                            </li>
                            <li>
                                Educational - students can access a vast library of   educational content including books, video lectures, project papers,   past exams and more. Students are also encouraged to upload their own   material to the site and start earning money from views generated.
                            </li>
                            <li>
                                Marketplace - students can post their items such as   books, mobile phones, laptops, clothes and much more for sale. Students   can buy items posted on the site by placing a bid for the selected   item, which needs to be approved by the seller.
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/inner-app-4.jpg" alt="Inner app 4" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    This application is available for all Android based (Version 2.3 and above) mobile phones.<br />
                    <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size: 0.58MB<br />
                    Standard GPRS charges apply <br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Jiammi - The Student Network App -->
                <!--Pak Wheels App  -->
                <h2>Pak Wheels App </h2>
                <p>
                    Thinking of buying or selling a car?
                    Warid brings you an exclusive mobile application in partnership with Pak Wheels for a quick and easy access to Pakistan’s best online car portal on the go!
                    Navigate through one of the most comprehensive databases with ease.
                </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Search for a car
                            </li>
                            <li>
                                Fine tune your search results through accessible filters (City, Make, Model, Price Range, Type of fuel)
                            </li>
                            <li>
                                Post your car for sale and upload your car pictures directly from your mobile
                            </li>
                            <li>
                                Call the buyer with in-app call feature
                            </li>
                            <li>
                                Email the buyer with in-app email feature
                            </li>
                            <li>
                                Look at the price list of new cars
                            </li>
                            <li>
                                Upload picture of your car directly through the app and post for sale
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/inner-app-2.jpg" alt="Pak Wheels App" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    This application is available for all Android based (Version 2.1 and above) mobile phones.<br />
                    <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size: 2.7 MB<br />
                    Standard GPRS charges apply <br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Pak Wheels App  -->
                <!--Hari Bati App   -->
                <p>
                    <strong>Ever get tired of being stuck in traffic?</strong> <br />
                    Say goodbye to all traffic jams and get the green light   where ever you go. Warid introduces a first of its kind application to   give you constant traffic alerts, map interface and route planning   facility all in one application. <br />
                    <br />
                    Users can now be a part of the alert system and also   report on various road and traffic congestions. The application is fully   integrated with Facebook so you can also become aware of the events on   the road.
                </p>
                <div class="row">
                    <div class="col-md-8 mg-lft-row">
                        <h2><small>Features:</small></h2>
                        <ul>
                            <li>
                                Convenience login, which allows standard login features and users can connect through their existing Facebook account
                            </li>
                            <li>
                                Map interface provides the user with information   about the traffic situation in Lahore, with the added facility to   forecast traffic for the next 2 hours. Traffic prediction algorithm is   an in-built part of the application which works on historical traffic   data to work out future conditions
                            </li>
                            <li>
                                Users can manage efficient route planning to save time and distance
                            </li>
                            <li>
                                Get instant notifications about jams and traffic congestion points
                            </li>
                            <li>
                                Users can upload pictures of traffic jams to provide real time updates
                            </li>
                            <li>
                                Call emergency services 1122 and 15 and Motorway Police 130 through the in-app call feature
                            </li>
                        </ul>
                    </div>
                    <!--Txt-->
                    <!--Image-->
                    <div class="col-md-3">
                        <a><img src="../../assets/images/traffic-screenshot.jpg" alt="Traffic Screenshot" /></a>
                    </div>
                    <!--Image-->
                </div>
                <p>
                    HariBati application is for Lahore only.<br />
                    <br />
                    This application is available for all Android based (Version 2.1 and above) mobile phones.<br />
                    <br />
                    To download, please visit <a href="http://m.waridtel.com/">http://m.waridtel.com</a> from your Warid mobile<br />
                    Size 3.84 MB<br />
                    Standard GPRS charges apply <br />
                    <a href="../terms-nd-condition.html">Terms &amp; Conditions apply</a>
                </p>
                <!--Hari Bati App  -->

            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../entertainment/warid-youth-portal.html"><img src="../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../entertainment/warid-youth-portal.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../balance-transfer-services/balance-request.html"><img src="../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../balance-transfer-services/balance-request.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../social-networking.html"><img src="../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../social-networking.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
