
@{
    ViewBag.Title = "specificatoinsthree";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../../../assets/services_header_images/4g_lte/specs-3.png" alt="Specifications LTE 3" />
</div>

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../../lte.html">LTE</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../lte-handset-portal.html">LTE HANDSET PORTAL</a></li>



                        <li>&gt;&nbsp;<a class="" href="../../handset-deals.html">HANDSET DEALS</a></li>


                        <li>&gt;&nbsp;<a class="" href="../gfive.html">GFIVE</a></li>





                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="specifications-three.html">SPECIFICATIONS THREE</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/lte/lte-handset-portal/handset-deals/gfive/specifications-three&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">LTE</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../../super-bundles.html">LTE SUPER BUNDLES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../motorway.html">MOTORWAY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../data-sim.html">WARID DATA SIM</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">WARID WINGLE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../warid-wingle/wingle-details.html">Wingle Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../warid-wingle/wingle-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">PREPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../prepaid/lte-prepaid-plans.html">LTE Prepaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../prepaid/lte-prepaid-shared-internet-plans.html">LTE Prepaid Shared Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">LTE cities offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-multan.html">LTE Bundles for Multan</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-hyderabad-jaamshoro.html">LTE Bundles for Hyderabad & Jaamshoro</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-karachi.html">LTE Bundles Karachi</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-peshawar.html">LTE Bundles for Peshawar</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html">LTE Bundles for Islamabad and Rawalpindi</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">POSTPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../postpaid/lte-postpaid-plans.html">LTE Postpaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../postpaid/lte-postpaid-shared-internet-plans.html">LTE Postpaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../shared-internet-plans.html">SHARED INTERNET PLANS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../coverage-map.html">COVERAGE MAP</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">VAS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../vas/mywarid.html">My Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../vas/reserve-lte-sim.html">LTE SIM Replacement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MIFI</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../warid-mifi/mifi-details.html">MiFi Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../warid-mifi/mifi-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../data-calculator.html">DATA CALCULATOR</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">HANDSET PORTAL</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Handset Deals</a>
                                        <ul>
                                            <li class="active">
                                                <a class="" href="javascript:void(0)">G'Five</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="about-gfive.html">About G'Five</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="specifications.html">Specifications LTE 2</a>
                                                    </li>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="specifications-three.html">Specifications LTE 3</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="where-to-buy.html">Where to buy</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone 6S</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../iphone-6s/iphone-6s-details.html">iPhone 6S Details</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../iphone-6s/iphone-6s-order-now.html">iPhone 6S Order Now</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../iphone/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../iphone/specifications.html">Specifications</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../handset-compatibility.html">HANDSET COMPATIBILITY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../faqs.html">FAQ'S</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    G'Five LTE 3 Specifications
                </div>
                <div class="iphone-images">
                    <h2>Price Rs: 10,999/-</h2>
                    <p><img src="../../../../assets/images/GFIVE-SETS/gfive-LF-5017-one.jpg" alt="G'Five" /></p>
                    <p><img src="../../../../assets/images/GFIVE-SETS/gfive-LF-5017-two.jpg" alt="G'Five" /></p>
                </div>
                <div class="table-box">

                    <table width="100%">
                        <tbody>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">General</th>
                                <td bgcolor="#F2F2F2" height="25" width="96"> Network</td>
                                <td bgcolor="#F2F2F2" height="25">FDD/WCDMA/GSM，&#13; Dual SIM card dual standby&#13;</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25">Frequency </td>
                                <td bgcolor="#F2F2F2" height="25"><p>  FDD B3/B7  W2100MHz; GSM850/900/1800/1900MHz</p></td>
                            </tr>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Body</th>
                                <td bgcolor="#F2F2F2" height="25">Dimensions</td>
                                <td bgcolor="#F2F2F2" height="25">144.3*72.2*8.5mm</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25"> Sensor</td>
                                <td bgcolor="#F2F2F2" height="25">G-sensor，P/L  sensor</td>
                            </tr>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Display</th>
                                <td bgcolor="#F2F2F2" height="25">Type</td>
                                <td bgcolor="#F2F2F2" height="25">On-Cell</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25">Size</td>
                                <td bgcolor="#F2F2F2" height="25">5.0  HD&rsquo;IPS 1280×720</td>
                            </tr>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Sound</th>
                                <td bgcolor="#F2F2F2" height="25">Loudspeaker</td>
                                <td bgcolor="#F2F2F2" height="25">Yes</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25">Connector</td>
                                <td bgcolor="#F2F2F2" height="25">5  Pin Micro USB 3.5mm standard earphone  connector</td>
                            </tr>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Memory</th>
                                <td bgcolor="#F2F2F2" height="25">RAM</td>
                                <td bgcolor="#F2F2F2" height="25">1GB</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25">ROM</td>
                                <td bgcolor="#F2F2F2" height="25">8GB</td>
                            </tr>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="3" scope="row">Data</th>
                                <td bgcolor="#F2F2F2" height="25">Data Transmission</td>
                                <td bgcolor="#F2F2F2" height="25">BT4.0/Wifi/FM/USB</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Camera</th>
                                <td bgcolor="#F2F2F2" height="25px" width="96">Primary</td>
                                <td bgcolor="#F2F2F2" height="25px"><p>Back 8.0MP</p></td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25px" width="96">Secondary</td>
                                <td bgcolor="#F2F2F2" height="25px">Front 2.0MP&#13;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <th width="200" bgcolor="#032E6F" rowspan="5" scope="row">Features</th>
                                <td bgcolor="#F2F2F2" height="25px" width="96">System</td>
                                <td bgcolor="#F2F2F2" height="25px">Android  5.1</td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25px" width="96">CPU</td>
                                <td bgcolor="#F2F2F2" height="25px"><p>MT6535P  Quad Core 1.0GHz</p></td>
                            </tr>
                            <tr>
                                <td bgcolor="#F2F2F2" height="25px" width="96"> Navigation</td>
                                <td bgcolor="#F2F2F2" height="25px">Yes</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <th width="200" bgcolor="#032E6F" scope="row">Battery</th>
                                <td height="25px" bgcolor="#F2F2F2"> 2200mAh （real capacity ）</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!--Right content (page content)-->
    <!--------More Warid Offers--------->
    <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="../../../double-faida-offer.html"><img src="../../../../assets/more_offers_images/double-data-offer-mobile-set-278x252.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../double-faida-offer.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="/lte/waridwingle"><img src="../../../../assets/more_offers_images/LTE-wingle1.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../warid-wingle.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="/lte/coveragemap"><img src="../../../../assets/more_offers_images/coverage-278x252.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../coverage-map.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
    </div>        <!--------More Warid Offers--------->
    <!----------------------------------------Middle content Container---------------------------------------------->
    <!-----------------------------------------Footer--------------------------------------------------------------->
    <footer class="footer-box">
        <div class="col-md-12">
            <div class="footer-bd-box">
                <div class="col-md-9">
                    <!--Postpaid-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                POSTPAID
                            </li>
                            <li>
                                <a href="../../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/offers.html">Offers</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/mobile-internet.html">Mobile Internet</a>
                            </li>
                        </ul>
                    </div>
                    <!--Postpaid-->
                    <!--Prepaid-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">PREPAID</li>
                            <li><a href="../../../../prepaid/packages.html">Packages</a></li>
                            <li><a href="../../../../prepaid/offers.html">Offers</a></li>
                            <li><a href="../../../../prepaid/sms-packages.html">SMS Packages</a></li>
                            <li><a href="../../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                        </ul>
                    </div>
                    <!--Prepaid-->
                    <!--International Roaming-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                INTL. ROAMING
                            </li>
                            <li>
                                <a href="../../../../ir/prepaid.html">Prepaid IR</a>
                            </li>
                            <li>
                                <a href="../../../../ir/postpaid.html">Postpaid IR</a>
                            </li>
                            <li>
                                <a href="#">&nbsp;</a>
                                <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                            </li>
                            <li>
                                <a href="#">&nbsp;</a>
                                <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                            </li>
                        </ul>
                    </div>
                    <!--International Roaming-->
                    <!--VAS (PRODUCTS-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                VAS
                            </li>
                            <li>
                                <a href="../../../../products/entertainment.html">Entertainment</a>
                            </li>
                            <li>
                                <a href="../../../../products/music.html">Music</a>
                            </li>
                            <li>
                                <a href="../../../../products/balance-transfer-services.html">Balance Transfer</a>
                            </li>
                            <li>
                                <a href="../../../../products/utilities.html">Utilities</a>
                            </li>
                        </ul>
                    </div>
                    <!--VAS (PRODUCTS-->
                </div>
                <div class="col-md-3">
                    <div class="footer-social-head">JOIN US</div>

                    <div class="col-md-6">
                        <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                        <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                        <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                        <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                    </div>

                </div>
            </div>
            <div class="ftr-btm-lnks-box">
                <div class="col-md-8">
                    <ul>
                        <li><a href="../../../../media-center.html">MEDIA CENTER</a></li>
                        <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                        <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                        <li><a href="../../../../coverage.html">COVERAGE</a></li>
                        <li><a href="../../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                        <li><a href="../../../../avoid-fraud.html">AVOID FRAUD</a></li>
                        <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                        <li><a href="../../../../customer-care/contact-us.html">CONTACT US</a></li>
                        <li><a href="../../../../privacy-policy.html">PRIVACY POLICY</a></li>
                        <li><a href="../../../../sitemap.html">SITE MAP</a></li>

                    </ul>
                </div>
                <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
            </div>
        </div>
    </footer>
    <!-----------------------------------------Footer--------------------------------------------------------------->
</div>