
@{
    ViewBag.Title = "termsconditions";
}

@section featuredArea{
    
    
    
    <div class="static-banner-box">
    <img src="../../../../assets/services_header_images/vas/caller_tunes-2.png" alt="Caller Tunes" />
</div>
    
    }

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../music.html">MUSIC</a></li>



                        <li>&gt;&nbsp;<a class="" href="../../caller-tunes.html">CALLER TUNES</a></li>


                        <li>&gt;&nbsp;<a class="" href="../caller-tunes.html">CALLER TUNES</a></li>





                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="terms-conditions.html">TERMS CONDITIONS</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/music/caller-tunes/caller-tunes/terms-conditions&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../entertainment/warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../entertainment/love-services/love-meter.html">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/love-services/love-quizzes.html">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/love-services/sms-love-story.html">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/love-services/baba-g-kee-predictions.html">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/ring-tones.html">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/wallpapers.html">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/picture-messages.html">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/greetings.html">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/mobile-games.html">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/warid-zone/screensavers.html">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../entertainment/valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../entertainment/dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/jokes.html">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/horoscope.html">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/ayat.html">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/hadith.html">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../../../infotainment/warid-alerts/weather-update/forecast-cities.html">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/warid-alerts/namaz-alerts.html">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/cv-writing.html">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/interview-preparation-tips.html">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/job-alerts.html">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/career-advice.html">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/training-and-events.html">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/careers/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../infotainment/location-based-services/my-guide.html">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../infotainment/self-care-services/129-services.html">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/self-care-services/321-services.html">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../infotainment/self-care-services/free-assistance-services.html">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                

                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../music/waridrockstar">Warid Rockstar</a>
                                    </li>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/callertunes/mrbtmovieoffer">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="/callertunes/termsconditions">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="/callertunes/smscommands">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/callertunes/featuresandcharging">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/callertunes/waridnametune">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/callertunes/songsearch">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/callertunes/autodialer">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/backgroundmusic">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/musicstation">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/waridmusicclub">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/waridmusicstream">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../religion/786-islamics-service.html">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../religion/hadith.html">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../religion/dua-service.html">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../religion/namaz-alerts.html">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../religion/ayat-alerts.html">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../mobile-apps/warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../mobile-apps/warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../mobile-apps/warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Call tunes terms and conditions
                </div>
                <h2><small>INTRODUCTION:</small></h2>


                <p>Warid Telecom (Pvt) Limited (henceforth "Warid") provides telecommunication services in the Islamic Republic of Pakistan, AJK and GilgitBaltistan (the “Territory”). Warid is launching a marketing Campaign namely "Caller TunesHandset Promo" (the “Campaign”) for its Customers (the “Customers”), whereby when the Customer shall subscribe in the Warid’s Service “Caller Tunes”, the Customer shall be included in the Campaign as per the following mechanics of the Campaign.</p>
                <h2><small>DEFINITIONS AND INTERPRETATIONS:</small></h2>

                <h2><small>Definitions:</small></h2>
                <p>Unless the context requires otherwise, the expressions used in these Terms and Conditions and not defined elsewhere in such Terms and Condition shall have the following meanings assigned to them:</p>
                <ul>
                    <li>“Advertisement” or “Advertised by Warid” means publication or advertisement of any information, policy, notice, intimation, public message or any other communication regarding the Campaign, collectively or separately, through any medium including but not limited to television, radio, outdoor, hoardings/billboards, internet, cellular and/or print media etc;</li>
                    <li>“Terms and Conditions” means these terms and conditions;</li>
                    <li>“Approved modes of communication” means any of the modes of communication provided in Telecom Consumer Protection Regulations, 2009 as amended from time to time;</li>
                    <li>“Connection” means Pre-paid or Post-Paid Connection issued by Warid to the Customers and which is corresponding to a unique MSISDN Number;</li>
                    <li>“Customer” means the customer (including natural or legal person) who is availing Warid Services through the Connection registered and activated validly in his name;</li>
                    <li>“License” means the relevant GSM License issued to Warid by PTA for provision of Services in the Territory;</li>
                    <li>“Lucky Draw(s)” means the lucky draws held under this Campaign;</li>
                    <li>“MSISDN Number” means a unique numerical number assigned against each Connection for availing Warid Services;</li>
                    <li>“Network” means Warid’s GSM network as and where installed throughout the Territory which is run and supported by the System;</li>
                    <li>“Participant” means the Customer who has participated in the Campaign as per Clause 3.2 below;</li>
                    <li>“Parties” unless the context provides otherwise means Warid and the Participant;</li>
                    <li>“Payables” or “Dues” mean any payments due against the Customer for availing Warid Services as per the relevant agreement thereof;</li>
                    <li>“Pre-paid Connection” means such Connection for which the Customer pays for the Warid Services in advance before availing such Services;</li>
                    <li>“PTA” means Pakistan Telecommunication Authority or its successor;</li>
                    <li>“SIM Card” means subscriber identity module card corresponding to the unique MSISDN Number issued to a Customer;</li>
                    <li>“System” means Warid’s GSM mobile cellular system;</li>
                    <li>“Taxes” or “t” include all or any taxes, levies or fees  levied/charged by federal government, any provincial government or any other lawfully competent authority;</li>
                    <li>“Territory” means the territories for which Warid is authorized to provide Services under the License;</li>
                    <li>“Warid Services” means the services offered by Warid from time to time through the System and Network including cellular services and optional services pursuant to the License; and</li>
                    <li>“Warid” means Warid Telecom (Pvt.) Ltd. (including its successors and assigns) licensed by PTA to install and operate the Network throughout the Territory in order to provide the Services.</li>

                </ul>
                <h2><small>Interpretations:</small></h2>
                <ul>
                    <li>Headings are included for convenience only and shall not affect the interpretation hereof. Any reference to the singular shall include the plural and vice versa and any reference to one gender shall include all genders;</li>
                    <li>The importance of Clauses shall not be determined by their arrangement/order in these Terms and Conditions;</li>
                    <li>The words “include”, “includes”, “including” and “included” will be construed without limitation unless inconsistent with the context; and</li>
                    <li>The words not expressly defined herein shall bear the dictionary meanings.</li>
                </ul>
                <h2><small>DETAILS OF CAMPAIGN AND RIGHT TO ENTER IN THE LUCKY DRAW</small></h2>
                <ul>
                    <li>The Customer acknowledges that Warid has primarily launched this Campaign to promote Warid Services and its brand in general and in particular Caller TunesService.</li>
                    <li>Only the Customers who shall subscribe in the Caller Tunes Service during the Campaign Period shall be entered into this Campaign as a “Participant”. The Participant subscribed again after un-subscription during the Campaign Period shall not be eligible to be included in the Campaign and consequently in the Lucky Draw. The Participant shall get an entry to the Lucky Draw of the relevant week against his subscription in the Caller Tunes Service. A weekly Lucky Draw shall be held under the Campaign wherein the Customers subscribing in the Caller Tunes Service within the relevant period of the weekly Lucky Draw shall be entered into such weekly Lucky Draw. The participation of the Customer in the Campaign shall be subject to these Terms and Conditions. </li>
                    <li>3.3	The Customer/Participant acknowledges that a number of SMSs for the promotion of the Campaign and/or maintain the interest of the Participant may be sent to him throughout the duration of the Campaign.</li>

                </ul>


                <h2><small>DURATION OF THE CAMPAIGN</small></h2>
                <ul>
                    <li>The duration of the Campaign is fixed for four (04) weeks starting from 20th March, 2014 and ending on 16th April, 2014 (the “Campaign Period”). Warid may terminate/discontinue the Campaign at any time during the Campaign Period; however the Customer/Participant shall be intimated in accordance with the applicable laws before the termination/discontinuation date. After the termination/discontinuation of the Campaign or expiry of Campaign Period, Warid bears no obligation towards the Customer/Participant.</li>
                    <ul>
                        <h2><small>CHANGES IN THE TERMS OF THE CAMPAIGN</small></h2>
                        <li>Warid maintains the absolute right to amend these Terms and Conditions by publishing the amendments and changes on its official web site; however the Participant shall be intimated through an SMS prior to any such amendment or change shall become effective.</li>
                        <h2><small>DETAILS OF PRIZES:</small></h2>
                        <p>In the Campaign the following prizes (“Prizes”) shall be given to the Participants:</p>
                        <ul>
                            <li>In a single weekly Lucky Draw, 4 Participants subscribing Caller Tunes Service shall be given a prize of Huawei P6 Handset. </li>
                        </ul>
                        <h2><small>CONDITIONS TO RECEIVE THE PRIZES:</small></h2>
                        <ul>
                            <li>The each prize of Huawei H6 Handset shall be referred as the Prize and all prizes of Huwei H6 Handsets given under the Campaign shall collectively be referred to as the “Prizes”;</li>
                            <li>All Prizes may be awarded after 60 days from the expiry of Campaign Period;</li>
                            <li>All Prizeswill be subject to applicable Taxes before being handed over to the winning Participant, and the non-payment of such taxes by the winning Participant within the period specified in paragraph 7.9 (i.e. 15 days from the intimation to the winning Participant of his winning the prize) shall be deemed refusal from the winning Participant to receive the Prize and in such case the Prize shall be passed to the next runner up as mentioned in paragraph 7.9 in accordance with these Terms and Conditions;</li>
                            <li>The Prize winning Participant shall be required to produce his original CNIC for verification of his antecedents from Warid record and after verification such Participant shall be given the Prize. If the Participant shall not be a registered Customer having valid agreementwith Warid for availing Warid’s cellular services, the Participant shall not be considered the winning Participant and shall not be eligible for awarding the Prize;</li>
                            <li>Warid reserves the right to disqualify any Participantto receive the prize if it has reasonable grounds to believe that the Participant breached any provision of the Terms and Conditions and/orhis agreement with Warid for availing Warid’s cellular services or the CSAF;</li>
                            <li>The Prize winning Participant shall be contacted by Warid and such Participantshall undertake in writing that he is, the lawful owner of the SIM and MSISDN (cell number), is entitled to receive the Prize and in case of any claimant disputing the receiving of such Prize he shall be responsible for the settlement of such dispute and shall indemnify Warid in full regarding such dispute (includingbut not limited to all cost, expenses and reasonable attorney fees incurred by Warid in relation thereto);</li>
                            <li>The Prize winning Participant shall provide all the documents required by Warid including a Disclaimer stating that he is not disqualified under Clause 8.12 to participate in the Campaign;</li>
                            <li>The Customer/Participant agrees that Warid may use the photographs, videos and audio recordings taken at the time of Prize distribution, communication happened/exchanged during contact by Warid for intimation of prize winning and other information including names, surnames etc in Warid’s advertisements of the Campaign without any further/prior/specific consent for such purpose. The consent given here and the incorporation of any contents/information in the advertisement of the Campaign shall not entitle the Participant for any remuneration/amount in any manner. If a winning Participant later becomes disqualified under these Terms and Conditions to receive the Prize, then any release of advertisement about his winning shall not create any obligation/responsibility on Warid in favour of such Participant either related to the Prize or to any social, financial or other exposure in this regard;</li>
                            <li>Warid will select up to 3 runners-up for every Prize.  If the notified winner Participantshall not respond within fifteen (15) days from the notification or disqualified or refuses the Prize or fails to appear to collect it within 15 calendar days (the “Grace Period”) of the notification/intimation, then Warid will contact the next runner-up and so on, and declare such runner up Participant the winner of the Prize. After the lapse of the Grace Period, the claim from winningParticipant/runner up shall not be entertained regardless to the reason of such delay/lapse without any limitation;</li>
                            <li>The Participant shall collect the Prize from Warid’s premises as directed by Warid in its sole discretion and the Participant shall bear all the travelling expenses by himself.</li>
                            <li>The Prize winner cannot assign or transfer the Prize.</li>
                            <li>The Participant acknowledges that Warid shall not be responsible/liable for any loss, injuries or damages of any kind caused to the Participant by or resulting from the Campaign, the participation in the Campaign, acceptance or receiving the Prizes, or disqualification to receive any Prize including without limitation on account of lapse of Grace Period.</li>
                            <li>The Customer/Participantacknowledges that the decisions made by Warid shall be final and binding on him. </li>
                        </ul>
                        <h2><small>MISCELLANEOUS:</small></h2>
                        <ul>
                            <li>Warid shall not have any liabilities towards the Participant after the expiry of Campaign Period except provided otherwise expressly in the Terms and Conditions. Any Re-Load purchased by a Customer/Participant shall not be refundable;</li>
                            <li>Warid undertakes/gives no warranty (whether express or implied) whatsoever with respect to the entitlement for any Prize by mere participation of Participant in the Campaign;</li>
                            <li>Fraud or abuse relating to Re-Load may result in forfeiture/cancellation of such Re-Load as well as cancellation of a Participant’s eligibility for the Campaign, suspension of Warid’s Services to the Participant and termination of Participant’s Warid connection; and any decision by Warid in this respect shall be final;</li>
                            <li>Without prejudice to Clause 8.3, all questions or disputes regarding eligibility of the Participant for the Campaign, the participation in the Lucky Draw and giving of Prizes shall be resolved by Warid in its sole discretion and any decision by Warid in this respect shall be final;</li>
                            <li>Warid’s failure or delay to enforce a particular term and condition, right, remedy or penalty shall not constitute as a waiver of that term and condition, remedy, penalty by Warid. Further the enforcement of these Terms and Conditions, right, remedy or penalty shall not mean the waiver of other terms, remedies or penalties available to Warid under this document, CSAF, other applicable documents/agreements between Warid and the Participant and the relevant laws;</li>
                            <li>Warid reserves the right to disqualify any Participant from further participation in the Campaign, if in its judgment, the Participant has in any way violated these Terms and Conditions, or has violated the terms and conditions of the CSAF (which is mandatory to execute before availing Warid Services). If a Participant is availing Warid Services without execution of the CSAF, it shall be presumed a breach of these Terms and Conditions in itself;</li>
                            <li>Unless context requires otherwise, each of these Terms and Conditions mentioned herein shall be severable and distinct from one another and if any provision of these Terms and Conditions is held to be invalid, illegal or unenforceable by a court of competent jurisdiction, such invalidity, illegality or unenforceability shall not affect the validity, legality and enforcement of the remaining provisions; however, the Participant/Prize winner accepts and agrees that Warid in such circumstances in its sole discretion may terminate the agreement concluded between Warid and the Participant in result of these Terms and Conditions by the Participant in accordance with the manner provided herein or amend the these Terms and Conditions as may be required in result of the order of the competent court.</li>
                            <li>If a Force Majeure event occurs that directly affects the ability of Warid to perform its obligations hereunder, Warid shall be entitled to suspend performance of such an obligation for the duration of the Force Majeure event. Force Majeure includes acts of God, war, hostilities, riots, civil commotion, strike, revolution, epidemic, accident, fire, flood, earthquake, blockade, any decision of the court, tribunal or authority, PTA or any other cause similar to the kind herein enumerated or of equivalent force not within the control of Warid (including but not limited to reasons attributable to failure of machinery, Warid’s telecommunication system, any hardware or software);</li>
                            <li>The decision of Warid in respect of any dispute that may arise in connection with these Terms and Conditions shall be final and binding on the Participant;</li>
                            <li>The Customer/Participant acknowledges that under this Campaign he shall not respond to any calls/SMSs directing to make/send calls/SMSs to any other number/short code or which are regarding award of any prize (whether money or in kind) in lieu of balance transfer or any call. Ignorance of this clause by the Customer shall not accrue any liabilities/responsibilities on Warid including but not limited to liability/responsibility towards any loss occurred to the Customer/Participant;</li>
                            <li>The language of the Campaign shall be Roman Urdu and/or English;</li>
                            <li>Notwithstanding anything contained herein, the following shall not be eligible to participate in the Campaign:</li>
                            <ul>
                                <li>The employees of Warid;</li>
                                <li>Warid Franchises and Retailers and the employees of its sister concerns;</li>
                                <li>The spouse, children, parents and siblings (“First Degree Relatives”) of Warid employees;  </li>
                                <li>The registered users of Warid employee family number; and </li>
                                <li>The contractors, technical service providers and/or professionals and their employees working for this Campaign. </li>
                            </ul>


                        </ul>
                        <h2><small>COMPLAINT/QUERY HANDLING, DISPUTE RESOLUTION AND ARBITRATION:</small></h2>
                        <ul>
                            <li>The Participant can call at the helpline by dialing 321 round the clock for any complaints or information regarding the Campaign. The Participant’s call shall be recorded against his CLI for record keeping and in accordance with the instructions given by PTA. Prescribed tariff rates shall be charged for using the helpline services;</li>
                            <li>The Campaign and/or the Quiz and these Terms and Conditions shall be governed by the laws of Pakistan and interpreted in accordance with laws of Pakistan. If the Participant shall be of the opinion that he has any right pertaining to the Campaign and he wishes to invoke such right, the Participant acknowledges, understands and agrees that such right can only be invoked through the arbitration which shall be conducted by the sole arbitrator appointed by Warid and such arbitration proceedings shall be conducted in English or Urdu language at Lahore under the Arbitration Act 1940. Without prejudice to the above, it is further agreed by the Participant that only the courts at Lahore shall have the jurisdiction on any matter relating to the Campaign.</li>


                        </ul>
                        <h2><small>TERMS AND CONDITIONS:</small></h2>
                        <p>This document along with the terms and conditions of the CSAF shall form the terms and conditions (the “Terms and Conditions”) between Warid and the Participant pertaining to the Campaign (defined above).</p>


            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../../entertainment/warid-youth-portal.html"><img src="../../../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../../entertainment/warid-youth-portal.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../../balance-transfer-services/balance-request.html"><img src="../../../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../../balance-transfer-services/balance-request.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../../social-networking.html"><img src="../../../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../../social-networking.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>