
@{
    ViewBag.Title = "coverage";
}

@section featuredArea{
<div class="static-banner-box">
    <img src="/assets/services_header_images/coverage/coveragemap-header.png" alt="Coverage" />
</div>

   

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="coverage.html">COVERAGE</a></li>

















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/coverage&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID POSTPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="postpaid/package-calculator.html">POSTPAID PACKAGE ADVISOR</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">POSTPAID PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/offers/my-3-offer.html">My 3 offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/postpaid-ussd-offer.html">Postpaid USSD Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/go-global-offer.html">Go Global Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/super-monthly-bundle.html">Super Monthly Bundles</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/double-bundle.html">Double Bundle</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/my5.html">My5</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/postpaid-weekend.html">Postpaid Weekend</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/48-paisa-idd-offer.html">48 Paisa IDD Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/offers/sms-bundle.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/mobile-internet/postpaid-shared-internet-plans.html">Postpaid Shared Internet Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/mobile-internet/unlimited-edge.html">Unlimited Edge</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/mobile-internet/gprs-bundles.html">GPRS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/services/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Bill payment</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/payment-via-sting.html">Payment Via Sting</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/bill-by-email.html">Bill By email</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/bill-payment-via-atm.html">Bill Payment Via ATM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/bill-payment-via-scratch-card.html">Bill Payment Via Scratch Card</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/online-bill-payment-via-bank.html">Online Bill Payment Via Bank</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/cash-to-direct-debit.html">Cash to Direct Debit</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/warid-load.html">Warid Load</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/bill-payment/online-bill-payment.html">Online Bill Payment</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Mobile Email</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="postpaid/services/warid-mobile-email/corporate-edition.html">Corporate edition</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/services/warid-mobile-email/internet-account.html">Internet Account</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/services/international-mms.html">International MMS</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">HANDSET OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Blackberry</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="postpaid/handset-offers/blackberry/blackberry-packages.html">BlackBerry Packages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/handset-offers/blackberry/blackberry-apps.html">BlackBerry Apps</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/international-dialing/111-LCR.html">111 LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">IDD Bundle Offer</a>
                                        <ul>
                                            <li class="active">
                                                <a class="" href="postpaid/international-dialing/idd-bundle-offer-country-dialing-codes.html">IDD Bundle Offer Dialing Codes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-dialing/international-dialing-tariff.html">Int Dialing Tariff</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-dialing/international-dialing-info-services.html">Int Dialing Info Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-dialing/48-paisa-idd-offer.html">48 Paisa IDD Offer</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL ROAMING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/ir-tariffs.html">IR Tariffs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/3G-roaming-service.html">3G Roaming Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/sms-roaming.html">SMS Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/warid-data-usage-alerts.html">Data Usage Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/ir-incoming-sms-free.html">IR Incoming SMS Free</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/roam-info.html">Roam Info</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/in-flight-roaming.html">In-Flight Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/maritime-roaming.html">Maritime Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Inbound Roamers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="postpaid/international-roaming/inbound-roamers/inbound-roamers.html">Inbound Roamers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/international-roaming/roaming-faqs.html">Roaming FAQs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Additional IR Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="postpaid/international-roaming/additional-ir-services/wifi-roaming.html">Wifi Roaming</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/international-roaming/additional-ir-services/safe-arrival-sms.html">Safe Arrival Sms</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="postpaid/international-roaming/additional-ir-services/vas-on-ir.html">VAS on IR</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="assets/postpaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="postpaid/tax-exemption-certificate.html">TAX EXEMPTION CERTIFICATE</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="assets/postpaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    COVERAGE
                </div>

                <p>
                    <span>Select Province</span>
                    <select name="pid" id="pid">
                        <option value="">--Select--</option>
                        <option value="1">Punjab</option>
                        <option value="2">Sindh</option>
                        <option value="3">Khyber Pakhtunkhwa</option>
                        <option value="4">Balochistan</option>
                        <option value="5">Azad Jammu Kashmir</option>
                    </select>
                    <a href="javascript:void(0)" onClick="get_map()"><img style="margin-top:-4px;margin-left:15px;" src="/assets/images/map-submit.png"></a>
                    <div id="loader_Div" style="display:none;float:right;margin-right:510px;margin-top:-33px;"><img src="/assets/images/ajax-loader.gif"></div>
                    <a style=" color:#cf0000; font-size:16px;" href="lte/coverage-map.html">Click here to view LTE Coverage Map</a>
                </p>
                <!--<p></p>-->

                <div id="ajaxMapDiv">

                    <!--<h4>Punjab</h4>-->
                    <div id="map" style="width: 1000px; float:left; height: 1000px;"></div>
                    <script type="text/javascript">
    // Define your locations: HTML content for the info window, latitude, longitude
	var locations = [['Bahawalnagar', 29.9961218, 73.2526375],['Chak Jhumra', 31.56666670, 73.18333329],['Faisalabad', 31.4166700, 73.0833300],['Ghaziabad', 30.3984563, 72.7552843],['Arif Wala', 30.2912354, 73.0598546],['Chakwal', 32.9362834, 72.8503418],['Farooqabad', 31.7483588, 73.8336825],['Attock', 33.7826006, 72.3572445],['Bahawalpur', 29.3886857, 71.7093086],['Daska', 32.3316173, 74.3554959],['Fateh Jang', 33.5660888, 72.6402926],['Chichawatni', 30.5445221, 72.6954175],['Chiniot', 31.7245117, 72.982006],['Depalpur', 30.6709786, 73.6549433],['Gojra', 31.1508236, 72.6868343],['Chistian', 29.7096067, 72.9200364],['Gujar Khan', 33.2561614, 73.3104749],['Chunian', 30.9645456, 73.9740499],['D G Khan', 30.0441447, 70.655694],['Gujranwala', 32.20292, 74.188391],['Bhakar', 31.6256821, 71.071415],['Gujrat', 32.5785519, 74.0766907],['Bhalwal', 32.2733665, 72.8996676],['Bhurban', 33.9535056, 73.4540105],['Bhurewala', 29.281944, 70.413889],['Hafizabad', 32.0693349, 73.6861181],['Islamabad', 33.678465, 73.0201863],['Jahanian', 30.04005, 71.8204673],['Kabirwala', 30.4063012, 71.8602847],['Lahore', 31.4796725, 74.3231472],['Mailsi', 29.8031294, 72.1655095],['Nankana Sb', 31.4488616, 73.7057842],['Hajeera', 32.816349, 72.511761],['Jalalpur Pirwala', 29.5069481, 71.2228914],['Kalar Syedan', 33.4175426, 73.3780073],['Manawala', 31.4593942, 73.1412143],['Narowal', 32.1003887, 74.8749773],['Jaranwala', 31.337068, 73.4184551],['Kamalia', 30.7222325, 72.6465067],['Lala Musa', 32.7029667, 73.9562058],['Mandi Bahuddin', 32.4712291, 73.4755326],['Haroonabad', 29.613997, 73.1370405],['Jhang', 31.2688422, 72.3313665],['Kamoki', 31.9749597, 74.2247261],['Hasilpur', 29.7007982, 72.528112],['Lodhran', 29.5368206, 71.6324838],['Hassan Abdal', 33.8208355, 72.6870918],['Jhelum', 32.9398188, 73.7196349],['Mian Channu', 30.4380391, 72.3515115],['Kasur', 31.1209598, 74.448123],['Mian Wali', 32.5824871, 71.5497709],['Khairpur', 29.5819813, 72.2363091],['Khanewal', 30.2983846, 71.9310521],['Multan', 30.1859546, 71.4774371],['Khanpur', 28.6449471, 70.6553936],['Muridke', 31.8024775, 74.256978],['Kharian', 32.8128831, 73.8818979],['Murree', 33.9048635, 73.3898735],['Khurrianwala', 31.4965386, 73.2731546],['Khushab', 32.2974689, 72.3402253],['Muzaffargarh', 30.074772, 71.1890889],['Kot Addu', 30.4604975, 70.9705255],['Okanwala Bangla', 29.902679, 71.919501],['Chenab Nagar (Rabwah)', 31.7555373, 72.9165602],['Sahiwal', 30.660571, 73.1014289],['Okara', 30.8091295, 73.4575479],['Pakpattan', 30.3443425, 73.3853557],['Rahim Yar Khan', 28.4140835, 70.3040027],['Sadiqabad', 28.303736, 70.1233077],['Raiwind', 31.2448802, 74.2156291],['Sambrial', 32.4791543, 74.3567261],['Sarai Alamgir', 32.9033338, 73.753465],['Taxila', 33.7524849, 72.8156163],['Pasrur', 32.2588852, 74.6732703],['Sargodha', 32.0679601, 72.6938222],['Patriata', 33.874048, 73.457981],['Toba Tek Singh', 30.9685979, 72.4834665],['Pattoki', 31.0238639, 73.8444963],['Rawalpindi', 33.5662967, 73.0330397],['Rawat', 33.4912955, 73.1996896],['Phalia', 32.4302879, 73.5789585],['Renala Khurd', 30.880346, 73.5983882],['Shahkot', 31.5763552, 73.4791947],['Sheikh Fazil', 30.3327129, 72.7953672],['Sheikhupura', 31.7109632, 74.0109872],['Shujabad', 29.8769269, 71.3056469],['Sialkot', 32.4954629, 74.5393981],['Sohawa', 33.117128, 73.4149468],['Samundri', 31.0625643, 72.9525661],['Vehari', 30.0494468, 72.3485952],['Wah Cantt', 33.7699021, 72.7583848],['Yazman', 29.1241541, 71.7537045],['Wazirabad', 32.429011, 74.1180425],['Dina', 33.0345512, 73.6047291],['Kamra', 33.8566866, 72.3946667],['Dadu', 26.7336321, 67.7647403],['Daharki', 28.0448234, 69.6887901],['Garhi Khairo', 28.0594101, 67.9803086],['Garhi Yasin', 27.9077259, 68.512631],['Daulatpur', 26.4966252, 67.9697192],['Ghotki', 28.0034185, 69.3141174],['Larkana', 27.5620556, 68.2100773],['Kandhkot', 28.2437788, 69.1823022],['Karachi', 25.0111453, 67.0647043],['Matiari', 25.5962906, 68.4456771],['Hingorja', 27.210089, 68.4148586],['Kashmore', 28.2532346, 69.4308665],['Hyderabad', 25.3072826, 68.3793753],['Kazi Ahmed', 26.3026843, 68.1032395],['Mirpur Khas', 25.525943, 69.0193319],['Mirpur Mathelo', 28.0218896, 69.5542717],['Kotri', 25.3547724, 68.2774345],['Tando Ala Yar', 25.4605241, 68.7129932],['Ubuaro', 28.1954457, 69.7668671],['Tando Jam', 25.4242918, 68.5357456],['Pano Aqil', 27.8192528, 69.1325856],['Tando Masti Khan', 27.4396776, 68.6441231],['Ranipur', 27.2846684, 68.5104848],['Ratodero', 27.8014147, 68.289299],['Thatta', 24.7478633, 67.9222584],['Sehwan', 26.4179124, 67.8583192],['Shahdadkot', 27.8459245, 67.909391],['Shahdadpur', 25.9236701, 68.6279414],['Shahpur', 26.1543592, 68.6534786],['Shikarpur', 27.9522155, 68.6414623],['Sukkur', 27.7126391, 68.8338718],['Badin', 24.6614467, 68.8450957],['Dokri', 27.3724911, 68.1003642],['Hala', 25.8134669, 68.4227741],['Jacobabad', 28.2806088, 68.4441805],['Kandiaro', 27.058495, 68.2110213],['Moro', 26.6616535, 67.9976315],['Abbotabad', 34.1672387 , 73.2282973],['Charsadda', 34.1532567 , 71.7417097],['Balakot', 34.5426369 , 73.3591032],['Bannu', 32.9888028 , 70.6100847],['Dera Ismail Khan', 31.8376697 , 70.8879024],['Battgram', 32.6954577 , 74.1020709],['Lakki Marwat', 32.6048456 , 70.9082586],['Haripur', 34.0003576 , 72.9367886],['Nowshera', 34.001231 , 71.9862559],['Mansehra', 34.3315933 , 73.1965939],['Jhangira', 33.9620889, 72.2155874],['Mardan', 34.1897001 , 72.037096],['Kohat', 33.5729535 , 71.4234946],['Pabbi', 34.0103451 , 71.7882641],['Topi', 34.069843 , 72.6396892],['Peshawar', 33.9916439 , 71.5136146],['Swabi', 34.1193371 , 72.4740431],['Gawadar', 25.1728271, 62.320568],['Hub', 25.0433591, 66.8819331],['Quetta ', 30.1797521, 66.9894569],['Pasni', 25.283652, 63.3990139],['Turbat', 26.0059632, 63.0588626],['Pishin', 30.6990587, 67.1512685],['Qilla Saifullah', 30.6987258, 68.3534252],['Banjosa', 33.8095868, 73.8140756],['Bhimber', 32.9806448, 74.0694299],['Muzaffarabad', 34.3656206, 73.4714287],['Rawalakot', 33.8570864, 73.747251],['Chakoti', 34.1154461, 73.8815305],['Dadyal', 33.3452722, 73.6866117],['Garhi Dupatta', 34.2260494, 73.6163593],['Hattian Bala', 34.1723102, 73.7447404],['Kotli', 33.5053907, 73.900137],['Mang', 33.797975, 73.6109442],['Mirpur', 33.1248579, 73.7323929],['Ahmedpur East', 29.1440288, 71.2542503],['Liaqatpur', 28.9368612, 70.9482264],['Qaim Pur', 29.6865423, 72.422347],['Uch', 29.233938, 71.062053],['Kamonke', 31.97262, 74.221892],['Alipur', 29.3874036, 70.9172202],['Bhai Pheru', 31.2093674, 73.9450049],['Bhera', 32.4803698, 72.9101229],['Kallar Kahar', 32.7790113, 72.7036571],['Qila Dedar Singh', 32.1335987, 74.0173425],['Tala Gang', 32.9271554, 72.4079704],['Jalalpur Bhattian', 32.0652603, 73.3782888],['Pindi Bhattian', 31.9027166, 73.2715398],['Sodhra', 32.4669216, 74.172592],['Ghakkar', 32.2965493, 74.149846],['Ali Pur Syedan', 32.1824502, 74.7644413],['Karampur', 30.2865681, 73.6794019],['Kacha Khu', 30.3759664, 72.1420216],['Gunjial', 32.3316994, 71.9058131],['Jauharabad', 32.2885785, 72.277894],['Quaidabad', 32.3396786, 71.8777816],['Kot Radha Kishan', 31.1621875, 74.102051],['Mandi Faizabad', 31.4140658, 73.986558],['Chakri', 33.2920099, 72.760595],['Bucheki', 31.3081878, 73.6507148],['Allahabad', 32.246785, 72.7897562],['Khudia Khas', 30.9852976, 74.2770625],['Bambanwala', 32.359731, 74.294129],['Jamke Cheema', 32.3870102, 74.4040782],['Ghauspur', 30.0872583, 73.2342625],['Talwandi Bhindrian', 32.098478, 74.6909531],['Qila Dewan Singh', 32.1131949, 73.9102326],['Mano Chak', 32.4419327, 73.687191],['Mitha Tiwana', 32.2411715, 72.1078848],['Tandlainwala', 31.0326091, 73.1317914],['Kasowal', 30.4882887, 72.5330258],['Kahuta', 33.5808877, 73.3858922],['Khairpur Nethan Shah', 30.4882887, 72.5330258],['Qadirpur Ran', 30.2937566, 71.6691182],['Tibba Sultanpur', 29.9618481, 71.8705036],['Shehr Sultan', 29.575436, 71.0214531],['Sadhoke', 31.904931, 74.2356813],['Shadiwal', 32.5109615, 74.035814],['Harappa', 30.6296159, 72.8648217],['Qila Kalar Wala', 32.0939373, 74.5831525],['Gagu Mandi', 30.2638396, 72.2598481],['Khanqah Sharif', 29.3139467, 71.5471724],['Ladhewala Warraich', 29.708333, 70.497222],['Khairpur Tamewali', 29.5819813, 72.2363091],['Kot Samaba', 28.5528991, 70.4711152],['Sanjar Pur', 28.2473558, 69.9760617],['Sharaqpur', 31.4654338, 74.0997926],['Bewal', 33.3391691, 73.4490752],['Hattar', 32.5719878, 73.0037856],['Qazian', 33.2997041, 73.3947336],['Hazro', 33.9086586, 72.494131],['Jamkey Chatta', 32.3373117, 73.9053136],['Rasulnagar', 32.3260703, 73.781283],['Sauwaal', 32.670087, 73.1573796],['Jassar', 32.0905146, 74.9424112],['Lak mor', 32.2653613, 72.6776665],['Talwandi Khajur Wali', 32.2760195, 74.194138],['Talwaindi Musa Khan', 32.1926652, 74.2982033],['Vanikey Tarar', 32.2126732, 73.5802671],['Mangat', 32.5151177, 73.5031486],['Kala Khatai', 31.8252108, 74.502765],['Pind Dadan Khan', 32.5895166, 73.045467],['Kolo Tarrar', 32.122799, 73.5542605],['Raja Jang', 31.2184072, 74.2588235],['Janpur', 29.019543, 70.8161912],['Adda Sahuka', 30.0223792, 72.8231335],['Karampur2', 30.0223792, 72.8231335],['Luddan', 29.8970606, 72.5538826],['DahranWala', 29.5962588, 72.8470803],['Mangla', 33.140928, 73.6432832],['Khanqah Dogran', 31.8299321, 73.6166596],['Dunga Bunga', 29.749804, 73.2419236],['Kalar Sayadan', 33.4175426, 73.3780073],['Samothi', 33.1753652, 73.5194134],['Minchinabad', 30.1601347, 73.5667869],['Dhanote', 29.5755569, 71.7477934],['Faqirwali', 29.470668, 73.0430934],['Tail Wala', 28.7485846, 70.9873009],['Jatoi', 29.5069047, 70.8499063],['Kot Chutta', 29.8871374, 70.6492977],['Zahir Pir', 28.8106715, 70.5187011],['Jalal Pur Jattan', 32.6443402, 74.2110205],['Wahndo', 32.0290891, 74.3958736],['Kalur Kot', 32.1519924, 71.2640416],['Kundian', 32.4495548, 71.4897216],['Jandiala Sher Khan', 31.8198685, 73.9200283],['Seetpur', 29.2405551, 70.8386636],['Fatehpur', 31.1773022, 71.207757],['Zafarwal', 32.3414085, 74.9042702],['Chawinda', 32.3446268, 74.7072673],['Piplan Tehsil', 32.3322741, 71.5124918],['Sukheke', 31.864227, 73.5093605],['Chowk Azam', 30.9727966, 71.2120486],['Rasul', 32.6835606, 73.5554514],['Ahmed Pur Sial', 30.6850717, 71.7655116],['Layyah', 30.9639514, 70.9498718],['Bhawana', 31.5655535, 72.6472019],['Fort Abbas', 29.1928737, 72.8580666],['MamuKanjan', 30.8254995, 72.806321],['Naushero Feroze', 26.8403349, 68.1175315],['Nawabshah', 26.2389925, 68.4027456],['Sanghar', 26.0432703, 68.947178],['Somiani', 25.4274872, 66.5942756],['Tando Adam', 25.767342, 68.6592529],['Bhiria City', 26.9096366, 68.1947101],['Kot Diji', 27.3415222, 68.7081313],['Lakhi', 27.8557619, 68.7056636],['Rohri', 27.6797499, 68.8968725],['Gharo', 24.7568778, 67.3735546],['Phulji', 26.881742, 67.6818471],['Mehar', 27.1760857, 67.8204944],['Nasirabad', 27.379103, 67.9161286],['Sakrand', 26.139486, 68.2654381],['Bhit Shah', 25.8050009, 68.4928497],['Saeedabad', 24.910958, 66.9653737],['Kumb', 27.3006674, 68.617773],['Pacca Chang', 26.8665537, 68.3640417],['Sinjhoro', 26.0305116, 68.8088132],['Berani', 25.7819349, 68.8123781],['Badah', 27.330657, 68.0197906],['Naudero', 27.6660826, 68.3600449],['Rustam', 27.9671474, 68.803087],['Jhat pat', 28.2983435, 68.1097412],['Nasarpur', 25.5199593, 68.6200219],['Padidan', 26.7768607, 68.293305],['Tharushah', 26.9174408, 68.0431868],['Kambar Ali Khan', 27.5890876, 67.9990626],['Pirjo Goth', 27.5916933, 68.621292],['Kandiyari', 27.058495, 68.2110213],['Miro Khan', 27.7609121, 68.094635],['Tando Mitha Khan', 25.9812651, 69.1619071],['Sann', 26.0372922, 68.1378509],['Tangwani', 28.270606, 69.000664],['Bhan', 26.5564126, 67.7216229],['Johi', 26.6918639, 67.6160029],['Garhi Habibullah', 34.4050866, 73.3797426],['Ghora Gali', 33.8903041 , 73.3586955],['Akora', 34.0024772 , 72.1205839],['Sarai Salha', 33.9872882 , 72.9792469],['Nawan Shehr', 34.507225 , 72.997171],['Baffa', 34.4402029 , 73.2183854],['Battal', 34.5838986 , 73.1477665],['Amangarh', 34.0060748 , 71.9281657],['Havelian', 34.0459725, 73.1440115],['Lower Topa', 33.89628, 73.431952],['Chilas', 35.4174502, 74.0978051],['Gilgit', 35.9140322, 74.3053221],['Skardu', 35.2910575 , 75.6206775],['Ghizar', 36.3516612, 73.4340763],['Karimabad', 34.947544 , 72.4373246],['Ghazi Tehsil', 34.0179465, 72.650969],['Jahangira', 33.9620889, 72.2155874],['Khalabat', 34.0210519, 72.9109856],['Jand', 33.3659597, 72.0591331],['Lahor Tehsil', 34.0493834, 72.3202515],['Khaplu', 35.167836, 76.254064],['Utmanzai', 34.1906817, 71.7644119],['Qilla Abdullah', 30.6858152, 66.7673493],['Chaman', 30.9130892, 66.4482844],['Sibbi', 29.5511939, 67.8672636],['Gumazi', 25.6340589, 62.5457776],['Palandri', 33.7132822, 73.6875075],['Kot Sultan', 30.7692997, 70.9348476],['Atharan Hazari', 31.1680309, 72.0987654],['Kanganpur', 30.7652998, 74.122814],['Kotli Sattian Tehsil', 33.8055214, 73.5264086],['Naya Lahore', 31.3252665, 72.7288485],['Pindigheb', 33.2426348, 72.2682381],['Tulamba', 30.5250964, 72.2417379],['Dera Din Panah', 30.5691697, 70.9349569],['Dinga', 32.6405301, 73.7230252],['Alipur Chatta Chowk', 32.18598, 74.149719],['Narang', 31.9172534, 74.4915748],['Dullewala', 31.8332138, 71.4377188],['Lalian', 31.8254655, 72.8045082],['SillanWali', 31.8227758, 72.5404501],['Nihang', 31.8323843, 72.2958541],['Shaheenabad', 32.1870144, 74.1723463],['Sarai Sidhu', 30.5957347, 71.971501],['Basirpur', 30.5744195, 73.8353778],['Makhdoom pur', 30.44944, 72.036659],['Puran', 32.7669779, 73.6190199],['Nawan Jandanwala', 32.0747794, 71.60601],['Abdul Hakim', 30.5556629, 72.1330333],['Satrah', 32.1785999, 74.5076895],['Haider Abad', 32.1357917, 72.6364088],['Kotli Loharan', 32.5887035, 74.4971752],['Marakiwal', 32.5728275, 74.5462974],['Peerochak', 32.3769706, 74.5085679],['Satiana', 31.2058686, 73.1717563],['Jhawarian', 32.3563251, 72.6235693],['Bagar', 30.5956945, 72.6416249],['Chon Saidan Shah', 32.7243846, 72.9816413],['Khewra', 32.6334467, 73.0136521],['Daulat Nagar', 32.7426491, 74.07731],['Pir mahal', 30.7640071, 72.4271536],['Chacharan', 28.8704485, 70.463959],['Muhammad pur diwan', 29.478424, 70.493359],['Nowshera Vikran', 31.9621106, 73.9701641],['Thathi', 33.2598444, 73.5213984],['Tamman', 33.0041075, 72.10585],['Khanki', 32.3992878, 73.9748918],['Begowala', 32.4377874, 74.2687207],['Head Qadar Abad', 32.3192888, 73.6862834],['Shakargarh', 32.2589183, 75.1599277],['Malakwal', 32.5487658, 73.2075799],['Darya Khan', 31.783776, 71.1067343],['Harnoli', 32.2809637, 71.5558863],['Ainu', 31.9330732, 72.1406329],['Bhagtanwala', 32.0561351, 72.9486815],['Shah Sadar Din', 30.2788885, 70.730278],['Choti', 29.8441706, 70.4895365],['Sakhi Sarwar', 29.9790147, 70.3081799],['Khangarh', 29.9264837, 71.1645412],['Sanawan', 30.3267762, 70.9727418],['Shadan Lund', 30.4667906, 70.7302915],['Taunsa', 30.7068592, 70.6490868],['Mehmood Kot', 30.192488, 71.0133719],['Munda', 30.5816705, 71.238449],['Fazilpur', 29.2918256, 70.4555369],['Rajanpur', 29.103593, 70.3283779],['Dunyapur', 29.8032442, 71.7372431],['Jampur', 29.6407267, 70.5910045],['Sangla Hill', 31.7176897, 73.3750247],['Makhdum Rashid', 30.0860467, 71.6524457],['Karor Lal Esan', 31.2252241, 70.9543633],['Dijkot', 31.2161566, 72.9959935],['Hujra Shah Muqeem', 30.7393395, 73.8221932],['Haveli', 30.4520933, 73.687239],['Shorkot Cantt', 30.7906334, 72.2416965],['Kotla Pathan', 32.8471105, 74.058342],['Roda', 32.0717098, 72.0994469],['Samasatta', 29.3485645, 71.5539899],['Head Marala', 32.669514, 74.473288],['Eminabad', 32.0413857, 74.2544245],['Jhok Bodo', 30.918904, 70.5283642],['Lalgargh', 29.4996816, 70.1645171],['Chak Mahdi Khan', 30.1568722, 73.038653],['Rojhan', 28.6828465, 69.9589016],['Kahror Paca', 29.6587712, 71.9209671],['Hir', 32.5183928, 74.6267258],['Mandi Usmanwala', 30.8955128, 74.2355204],['Mahar Sharif', 29.8656441, 72.8365405],['Ismailabad', 30.1291557, 71.3515873],['Jhakkarpur', 30.1415595, 71.368187],['Chak', 27.859756, 68.8343883],['Gambat', 27.3490123, 68.5224834],['Meharbpur', 27.1004694, 68.4174011],['Radhan', 27.1991824, 67.9537225],['Sobhodero', 27.3069026, 68.4042049],['Bandhi', 26.5887379, 68.302667],['Jam Sahib', 26.2958483, 68.6313451],['Mohenjo Daro', 27.323758, 68.1357717],['Daur', 26.4561273, 68.3185673],['Sujawal', 24.6048445, 68.0766534],['Thari Mirwah', 27.0704748, 68.604598],['Harunthari', 26.3618526, 69.1859248],['Sanwari', 24.9755539, 69.5394444],['Halani', 27.0849386, 68.3164646],['Khuhra', 27.3806704, 68.517496],['Daro', 24.7901677, 68.1771657],['Matli', 25.0444291, 68.656311],['Kario Ghanwar', 24.8052962, 68.6054258],['Golarchi', 24.6516778, 68.5329187],['Pipri', 26.0981213, 68.8895472],['Khipro', 25.8244038, 69.3758297],['Jatoi', 26.8266513, 67.9550407],['Mirpur Sakro', 24.5478549, 67.6276303],['Rati', 28.0798466, 69.7935998],['Jarwar', 27.9102808, 69.5215273],['Warah', 27.4497519, 67.7958584],['Tando Muhammad Khan', 25.1231079, 68.5354615],['Kot Ghulam Muhammad (Jamesabad)', 25.2892006, 69.2528742],['Goth Gulab Machi', 25.4037938, 69.0477138],['Talhar', 24.8858528, 68.8190801],['Kandhra', 27.5869585, 68.864429],['Thehri', 27.9182692, 68.3520467],['Umer Kot', 25.3620978, 69.7427129],['Madeji', 27.7529556, 68.455746],['Kunri', 25.1788897, 69.5681907],['Bakrani', 27.4473052, 68.1848217],['Pithoro', 25.5115379, 69.3762482],['Choundiko', 27.1609294, 68.9585423],['Phul', 26.7430807, 68.1636429],['Kot Lalu', 26.6878702, 68.3126771],['Jungshahi', 24.8541394, 67.7748782],['Tarbela', 34.142006, 72.839915],['Risalpur', 34.0725356, 71.9820625],['Takht Bahi', 34.3208, 71.9458],['Nathia Gali', 34.0725684, 73.3819985],['Astore', 35.340855, 74.8629369],['Zhob', 33.597603, 73.053516],['Rustum Village', 34.3407216, 72.2783949],['Besham Tehsil', 34.9341904, 72.8770824],['Sakhakot', 34.4586884, 71.9115688],['Shabqadar', 34.2169471, 71.5603065],['Tordher', 33.9898579, 72.2854412],['Daggar Tehsil', 34.2773612, 72.1824287],['Dewana Baba', 34.4727496, 72.5890087],['Harichand', 34.3830239, 71.8041944],['Sawari', 34.470783, 72.486373],['Gudoon', 34.1040692, 72.6523855],['Tangi', 34.3004431, 71.6509866],['Naran', 34.9054661, 73.6488676],['Paroa', 31.5550896, 70.760696],['Thandiani', 34.232015, 73.353268],['Malakand', 34.5141287, 71.953987],['Cherat', 33.821567, 71.8907976],['Pir Baba', 34.5809113, 72.4308014],['Usta Mohammad', 28.1780863, 68.0414521],['Khuzdar', 27.8133671, 66.6171453],['Mastung', 29.7988932, 66.8467845],['Bela', 26.2266023, 66.3121998],['Surab', 28.4911592, 66.2650218],['Loralai', 30.3792753, 68.5814666],['Mand', 26.1122526, 62.0353599],['Tump', 26.0977768, 62.3653213],['Kalat', 29.0285541, 66.5886497],['Nok Kundi', 28.8246741, 62.7502597],['Jhal Magsi Sub-Division', 28.2845629, 67.447357],['Pui', 30.3470097, 68.077011],['Smallan', 30.2651895, 68.300743],['Pishukan', 25.1240514, 62.063098],['Jiwani', 25.0481246, 61.7428954],['Musakhel', 30.8649532, 69.8345948],['Uthal', 25.8042524, 66.6231892],['Haji Karam Khan', 27.3822175, 66.1439685],['Bagh', 33.9790409, 73.7847162],['Neelum Valley', 34.411451, 73.483524],['Sher Shah', 30.0956221, 71.3472693],['Kalabagh', 32.9612752, 71.5485791],['Digri', 25.1533761, 69.1114261],['Qadirpur', 28.0467135, 69.3594361],['Samaro', 25.2824267, 69.3939801],['Jati', 24.3557759, 68.267455],['Kietie Bandar', 24.1346175, 67.457168],['Vur', 24.5516708, 67.843666],['Diplo', 24.4690642, 69.5819736],['Jakharo', 26.264449, 68.929424],['Makli', 24.7458561, 67.892795],['Khadan', 24.4825216, 68.986399],['Nagar Parkar Taluka', 24.3608582, 70.757618],['Tando Jan Muhammad', 25.0705366, 69.2137707],['Thul', 28.2359314, 68.7739208],['Nagar', 34.9426785, 75.0455323],['Dir', 35.2028125, 71.8762065],['Mingora', 34.76882, 72.3689817],['Thana', 34.64341, 72.0706558],['Batkhela', 34.6022024, 71.9495786],['Saidu Sharif', 34.7483381, 72.3576844],['Timergara', 34.8282458, 71.8393135],['Buner', 34.4290341, 72.5072765],['Sarai Naurang', 32.8202792, 70.7815217],['Nushki', 29.5558129, 66.0218651],['Ziarat', 30.3839911, 67.7282185],['Kharan', 28.1252915, 65.4016813]];

    // Setup the different icons and shadows
    var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';
    var iconURLwarid = 'assets/images/index.html';

    var icons = [
	  //iconURLwarid + 'map-dot.png'
      iconURLPrefix + 'red-dot.png',
      iconURLPrefix + 'green-dot.png',
      iconURLPrefix + 'blue-dot.png',
      iconURLPrefix + 'orange-dot.png',
      iconURLPrefix + 'purple-dot.png',
      iconURLPrefix + 'pink-dot.png',
      iconURLPrefix + 'yellow-dot.png'
    ]
    var icons_length = icons.length;


    var shadow = {
      anchor: new google.maps.Point(15,33),
      url: iconURLPrefix + 'msmarker.shadow.png'
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: new google.maps.LatLng(-37.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
	 // minZoom:3,
	  panControl: true,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

	var contentString = ['Bahawalnagar','Chak Jhumra','Faisalabad','Ghaziabad','Arif Wala','Chakwal','Farooqabad','Attock','Bahawalpur','Daska','Fateh Jang','Chichawatni','Chiniot','Depalpur','Gojra','Chistian','Gujar Khan','Chunian','D G Khan','Gujranwala','Bhakar','Gujrat','Bhalwal','Bhurban','Bhurewala','Hafizabad','Islamabad','Jahanian','Kabirwala','Lahore','Mailsi','Nankana Sb','Hajeera','Jalalpur Pirwala','Kalar Syedan','Manawala','Narowal','Jaranwala','Kamalia','Lala Musa','Mandi Bahuddin','Haroonabad','Jhang','Kamoki','Hasilpur','Lodhran','Hassan Abdal','Jhelum','Mian Channu','Kasur','Mian Wali','Khairpur','Khanewal','Multan','Khanpur','Muridke','Kharian','Murree','Khurrianwala','Khushab','Muzaffargarh','Kot Addu','Okanwala Bangla','Chenab Nagar (Rabwah)','Sahiwal','Okara','Pakpattan','Rahim Yar Khan','Sadiqabad','Raiwind','Sambrial','Sarai Alamgir','Taxila','Pasrur','Sargodha','Patriata','Toba Tek Singh','Pattoki','Rawalpindi','Rawat','Phalia','Renala Khurd','Shahkot','Sheikh Fazil','Sheikhupura','Shujabad','Sialkot','Sohawa','Samundri','Vehari','Wah Cantt','Yazman','Wazirabad','Dina','Kamra','Dadu','Daharki','Garhi Khairo','Garhi Yasin','Daulatpur','Ghotki','Larkana','Kandhkot','Karachi','Matiari','Hingorja','Kashmore','Hyderabad','Kazi Ahmed','Mirpur Khas','Mirpur Mathelo','Kotri','Tando Ala Yar','Ubuaro','Tando Jam','Pano Aqil','Tando Masti Khan','Ranipur','Ratodero','Thatta','Sehwan','Shahdadkot','Shahdadpur','Shahpur','Shikarpur','Sukkur','Badin','Dokri','Hala','Jacobabad','Kandiaro','Moro','Abbotabad','Charsadda','Balakot','Bannu','Dera Ismail Khan','Battgram','Lakki Marwat','Haripur','Nowshera','Mansehra','Jhangira','Mardan','Kohat','Pabbi','Topi','Peshawar','Swabi','Gawadar','Hub','Quetta ','Pasni','Turbat','Pishin','Qilla Saifullah','Banjosa','Bhimber','Muzaffarabad','Rawalakot','Chakoti','Dadyal','Garhi Dupatta','Hattian Bala','Kotli','Mang','Mirpur','Ahmedpur East','Liaqatpur','Qaim Pur','Uch','Kamonke','Alipur','Bhai Pheru','Bhera','Kallar Kahar','Qila Dedar Singh','Tala Gang','Jalalpur Bhattian','Pindi Bhattian','Sodhra','Ghakkar','Ali Pur Syedan','Karampur','Kacha Khu','Gunjial','Jauharabad','Quaidabad','Kot Radha Kishan','Mandi Faizabad','Chakri','Bucheki','Allahabad','Khudia Khas','Bambanwala','Jamke Cheema','Ghauspur','Talwandi Bhindrian','Qila Dewan Singh','Mano Chak','Mitha Tiwana','Tandlainwala','Kasowal','Kahuta','Khairpur Nethan Shah','Qadirpur Ran','Tibba Sultanpur','Shehr Sultan','Sadhoke','Shadiwal','Harappa','Qila Kalar Wala','Gagu Mandi','Khanqah Sharif','Ladhewala Warraich','Khairpur Tamewali','Kot Samaba','Sanjar Pur','Sharaqpur','Bewal','Hattar','Qazian','Hazro','Jamkey Chatta','Rasulnagar','Sauwaal','Jassar','Lak mor','Talwandi Khajur Wali','Talwaindi Musa Khan','Vanikey Tarar','Mangat','Kala Khatai','Pind Dadan Khan','Kolo Tarrar','Raja Jang','Janpur','Adda Sahuka','Karampur2','Luddan','DahranWala','Mangla','Khanqah Dogran','Dunga Bunga','Kalar Sayadan','Samothi','Minchinabad','Dhanote','Faqirwali','Tail Wala','Jatoi','Kot Chutta','Zahir Pir','Jalal Pur Jattan','Wahndo','Kalur Kot','Kundian','Jandiala Sher Khan','Seetpur','Fatehpur','Zafarwal','Chawinda','Piplan Tehsil','Sukheke','Chowk Azam','Rasul','Ahmed Pur Sial','Layyah','Bhawana','Fort Abbas','MamuKanjan','Naushero Feroze','Nawabshah','Sanghar','Somiani','Tando Adam','Bhiria City','Kot Diji','Lakhi','Rohri','Gharo','Phulji','Mehar','Nasirabad','Sakrand','Bhit Shah','Saeedabad','Kumb','Pacca Chang','Sinjhoro','Berani','Badah','Naudero','Rustam','Jhat pat','Nasarpur','Padidan','Tharushah','Kambar Ali Khan','Pirjo Goth','Kandiyari','Miro Khan','Tando Mitha Khan','Sann','Tangwani','Bhan','Johi','Garhi Habibullah','Ghora Gali','Akora','Sarai Salha','Nawan Shehr','Baffa','Battal','Amangarh','Havelian','Lower Topa','Chilas','Gilgit','Skardu','Ghizar','Karimabad','Ghazi Tehsil','Jahangira','Khalabat','Jand','Lahor Tehsil','Khaplu','Utmanzai','Qilla Abdullah','Chaman','Sibbi','Gumazi','Palandri','Kot Sultan','Atharan Hazari','Kanganpur','Kotli Sattian Tehsil','Naya Lahore','Pindigheb','Tulamba','Dera Din Panah','Dinga','Alipur Chatta Chowk','Narang','Dullewala','Lalian','SillanWali','Nihang','Shaheenabad','Sarai Sidhu','Basirpur','Makhdoom pur','Puran','Nawan Jandanwala','Abdul Hakim','Satrah','Haider Abad','Kotli Loharan','Marakiwal','Peerochak','Satiana','Jhawarian','Bagar','Chon Saidan Shah','Khewra','Daulat Nagar','Pir mahal','Chacharan','Muhammad pur diwan','Nowshera Vikran','Thathi','Tamman','Khanki','Begowala','Head Qadar Abad','Shakargarh','Malakwal','Darya Khan','Harnoli','Ainu','Bhagtanwala','Shah Sadar Din','Choti','Sakhi Sarwar','Khangarh','Sanawan','Shadan Lund','Taunsa','Mehmood Kot','Munda','Fazilpur','Rajanpur','Dunyapur','Jampur','Sangla Hill','Makhdum Rashid','Karor Lal Esan','Dijkot','Hujra Shah Muqeem','Haveli','Shorkot Cantt','Kotla Pathan','Roda','Samasatta','Head Marala','Eminabad','Jhok Bodo','Lalgargh','Chak Mahdi Khan','Rojhan','Kahror Paca','Hir','Mandi Usmanwala','Mahar Sharif','Ismailabad','Jhakkarpur','Chak','Gambat','Meharbpur','Radhan','Sobhodero','Bandhi','Jam Sahib','Mohenjo Daro','Daur','Sujawal','Thari Mirwah','Harunthari','Sanwari','Halani','Khuhra','Daro','Matli','Kario Ghanwar','Golarchi','Pipri','Khipro','Jatoi','Mirpur Sakro','Rati','Jarwar','Warah','Tando Muhammad Khan','Kot Ghulam Muhammad (Jamesabad)','Goth Gulab Machi','Talhar','Kandhra','Thehri','Umer Kot','Madeji','Kunri','Bakrani','Pithoro','Choundiko','Phul','Kot Lalu','Jungshahi','Tarbela','Risalpur','Takht Bahi','Nathia Gali','Astore','Zhob','Rustum Village','Besham Tehsil','Sakhakot','Shabqadar','Tordher','Daggar Tehsil','Dewana Baba','Harichand','Sawari','Gudoon','Tangi','Naran','Paroa','Thandiani','Malakand','Cherat','Pir Baba','Usta Mohammad','Khuzdar','Mastung','Bela','Surab','Loralai','Mand','Tump','Kalat','Nok Kundi','Jhal Magsi Sub-Division','Pui','Smallan','Pishukan','Jiwani','Musakhel','Uthal','Haji Karam Khan','Bagh','Neelum Valley','Sher Shah','Kalabagh','Digri','Qadirpur','Samaro','Jati','Kietie Bandar','Vur','Diplo','Jakharo','Makli','Khadan','Nagar Parkar Taluka','Tando Jan Muhammad','Thul','Nagar','Dir','Mingora','Thana','Batkhela','Saidu Sharif','Timergara','Buner','Sarai Naurang','Nushki','Ziarat','Kharan'];
	var contentString_detail = ['2','3','5','6','7','9','11','13','14','16','17','20','24','25','26','28','30','32','33','34','35','36','37','40','41','42','43','44','45','46','47','48','49','50','51','53','54','56','57','58','59','61','62','63','66','69','71','72','77','79','80','84','86','87','88','89','90','91','92','94','95','97','99','102','103','106','107','109','110','113','114','118','119','120','122','124','127','128','129','133','136','137','138','141','142','144','145','146','148','150','151','152','153','154','167','4','10','12','18','21','22','64','68','73','74','75','76','81','82','83','85','98','104','105','111','112','115','117','121','123','126','130','134','140','143','147','159','162','164','166','168','172','1','15','19','27','29','31','52','55','60','65','67','70','96','100','131','132','149','38','78','108','116','135','139','158','23','39','93','125','160','161','163','165','169','170','171','179','180','185','186','188','190','191','192','193','194','195','198','199','200','203','204','205','206','209','210','211','212','213','216','217','218','219','220','221','222','223','224','225','226','227','228','231','233','239','240','241','242','243','244','245','246','248','250','253','258','259','260','263','264','265','266','267','268','269','270','271','275','276','277','278','279','280','281','284','289','290','291','292','293','299','301','302','303','306','310','311','312','314','315','316','317','323','324','325','326','328','329','330','332','333','334','335','338','339','340','341','342','343','344','173','174','176','177','178','181','182','183','184','229','232','234','235','236','237','238','249','286','287','294','295','296','298','300','304','305','307','308','309','318','319','320','321','322','331','337','196','197','202','207','208','214','215','230','247','251','252','256','257','261','262','272','273','274','282','283','285','288','254','255','327','336','175','345','347','348','349','350','351','353','354','363','365','366','367','368','369','370','371','372','373','374','375','377','378','379','382','384','385','386','387','388','389','391','395','396','399','400','401','402','403','404','405','419','420','421','423','434','435','437','438','439','440','441','442','444','445','446','447','448','451','452','453','456','457','459','460','468','469','475','478','484','485','486','488','489','501','502','505','506','507','512','513','514','515','516','346','355','356','357','358','360','361','362','380','381','397','406','407','408','409','418','422','424','449','450','454','458','462','463','464','465','466','470','471','474','480','481','487','490','491','492','493','494','497','498','499','352','364','392','394','398','412','413','414','415','416','417','427','428','429','430','479','483','503','504','508','509','510','511','359','376','383','393','410','411','425','426','431','432','455','472','473','476','477','495','496','500','433','482','517','543','519','520','521','522','523','524','526','527','529','530','539','540','546','531','533','534','535','536','537','541','544','545','518','525','538'];

    var infowindow = new google.maps.InfoWindow({
	  //content: contentString
	  maxWidth: 160
    });

    var marker;
    var markers = new Array();

    var iconCounter = 0;

    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon : icons[iconCounter],
        shadow: shadow
      });

      markers.push(marker);

	  /*STYLE*/
	 /* map.setOptions({ 'styles': styles });

	  var styles = [
		{
		  featureType: "all",
		  elementType: "all",
		  stylers: [
			{ hue: "#878787" },
			{ saturation: -800 },
			{gamma:0.5}
		  ],
		 }
		 ,{
		  featureType: "road.local",
		  elementType: "labels",
		  stylers: [
			{ visibility: "off" }
		  ]
		}


	  ];
	  */
	  /*STYLE*/

	  google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
		  var cid	=	contentString_detail[i];
		  //console.log('cid:'+cid);
		  var dataString = 'cid='+cid;
			$.ajax({
					url:'http://www.waridtel.com/coverage-gmap/gmap-filter',
					data:dataString,
					type:'post',
					success:function(data){
						//console.log('data:'+data);
						 if( data == 1 ) {
							  var url_city	=	"http://www.waridtel.com/coverage/popup/"+cid;
								$.fancybox({
								type: 'iframe',
								href: ''+url_city+'',
								width: 1000,
								height: 1000,
								'closeClick':true
							});
					  }
					}
				});
	        }
      })(marker, i))




    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
        return function() {
          //infowindow.setContent(locations[i][0]);
		  infowindow.setContent(contentString[i]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
        return function() {
          //infowindow.setContent(locations[i][0]);
		  infowindow.setContent(contentString[i]);
          infowindow.close(map, marker);
        }
      })(marker, i));




      iconCounter++;
      // We only have a limited number of possible icon colors, so we may have to restart the counter
      if(iconCounter >= icons_length){
      	iconCounter = 0;
      }
    }

    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
        bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter();
                    </script>

                </div>


                <p><h1>Cities Listing</h1></p>
                <div class="coverage-list-box">
                    <h2>Punjab</h2>
                    <ul>

                        <li>Abdul Hakim</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/556.html">Abpara</a></li>

                        <li>Adda Sahuka</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/340.html">Ahmed Pur Sial</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/179.html">Ahmedpur East</a></li>

                        <li>Ainu</li>

                        <li>Ali Pur Syedan</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/190.html">Alipur</a></li>

                        <li>Alipur Chatta Chowk</li>

                        <li>Allahabad</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/7.html">Arif Wala</a></li>

                        <li>Atharan Hazari</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/13.html">Attock</a></li>

                        <li>Bagar</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/2.html">Bahawalnagar</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/14.html">Bahawalpur</a></li>

                        <li>Bambanwala</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/557.html">Barakaho</a></li>

                        <li>Basirpur</li>

                        <li>Begowala</li>

                        <li>Bewal</li>

                        <li>Bhagtanwala</li>

                        <li>Bhai Pheru</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/35.html">Bhakar</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/37.html">Bhalwal</a></li>

                        <li>Bhawana</li>

                        <li>Bhera</li>

                        <li>Bhurban</li>

                        <li>Bhurewala</li>

                        <li>Bucheki</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/550.html">Burewala</a></li>

                        <li>Chacharan</li>

                        <li>Chak Jhumra</li>

                        <li>Chak Mahdi Khan</li>

                        <li>Chakri</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/9.html">Chakwal</a></li>

                        <li>Chawinda</li>

                        <li>Chenab Nagar (Rabwah)</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/20.html">Chichawatni</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/24.html">Chiniot</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/28.html">Chistian</a></li>

                        <li>Chon Saidan Shah</li>

                        <li>Choti</li>

                        <li>Chowk Azam</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/32.html">Chunian</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/33.html">D G Khan</a></li>

                        <li>DahranWala</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/434.html">Darya Khan</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/16.html">Daska</a></li>

                        <li>Daulat Nagar</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/25.html">Depalpur</a></li>

                        <li>Dera Din Panah</li>

                        <li>Dhanote</li>

                        <li>Dijkot</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/154.html">Dina</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/363.html">Dinga</a></li>

                        <li>Dullewala</li>

                        <li>Dunga Bunga</li>

                        <li>Dunyapur</li>

                        <li>Eminabad</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/5.html">Faisalabad</a></li>

                        <li>Faqirwali</li>

                        <li>Farooqabad</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/17.html">Fateh Jang</a></li>

                        <li>Fatehpur</li>

                        <li>Fazilpur</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/343.html">Fort Abbas</a></li>

                        <li>Gagu Mandi</li>

                        <li>Ghakkar</li>

                        <li>Ghauspur</li>

                        <li>Ghaziabad</li>

                        <li>Gojra</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/30.html">Gujar Khan</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/34.html">Gujranwala</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/36.html">Gujrat</a></li>

                        <li>Gunjial</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/42.html">Hafizabad</a></li>

                        <li>Haider Abad</li>

                        <li>Hajeera</li>

                        <li>Harappa</li>

                        <li>Harnoli</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/61.html">Haroonabad</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/66.html">Hasilpur</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/71.html">Hassan Abdal</a></li>

                        <li>Hattar</li>

                        <li>Haveli</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/551.html">Haveli Lakha City</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/266.html">Hazro</a></li>

                        <li>Head Marala</li>

                        <li>Head Qadar Abad</li>

                        <li>Hir</li>

                        <li>Hujra Shah Muqeem</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/43.html">Islamabad</a></li>

                        <li>Ismailabad</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/44.html">Jahanian</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/323.html">Jalal Pur Jattan</a></li>

                        <li>Jalalpur Bhattian</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/50.html">Jalalpur Pirwala</a></li>

                        <li>Jamke Cheema</li>

                        <li>Jamkey Chatta</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/456.html">Jampur</a></li>

                        <li>Jandiala Sher Khan</li>

                        <li>Janpur</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/56.html">Jaranwala</a></li>

                        <li>Jassar</li>

                        <li>Jatoi</li>

                        <li>Jauharabad</li>

                        <li>Jhakkarpur</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/62.html">Jhang</a></li>

                        <li>Jhawarian</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/72.html">Jhelum</a></li>

                        <li>Jhok Bodo</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/560.html">Jhumra</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/45.html">Kabirwala</a></li>

                        <li>Kacha Khu</li>

                        <li>Kahror Paca</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/231.html">Kahuta</a></li>

                        <li>Kala Khatai</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/543.html">Kalabagh</a></li>

                        <li>Kalar Sayadan</li>

                        <li>Kalar Syedan</li>

                        <li>Kallar Kahar</li>

                        <li>Kalur Kot</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/57.html">Kamalia</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/63.html">Kamoki</a></li>

                        <li>Kamonke</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/167.html">Kamra</a></li>

                        <li>Kanganpur</li>

                        <li>Karampur</li>

                        <li>Karampur2</li>

                        <li>Karor Lal Esan</li>

                        <li>Kasowal</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/79.html">Kasur</a></li>

                        <li>Khairpur</li>

                        <li>Khairpur Nethan Shah</li>

                        <li>Khairpur Tamewali</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/86.html">Khanewal</a></li>

                        <li>Khangarh</li>

                        <li>Khanki</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/88.html">Khanpur</a></li>

                        <li>Khanqah Dogran</li>

                        <li>Khanqah Sharif</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/90.html">Kharian</a></li>

                        <li>Khewra</li>

                        <li>Khudia Khas</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/92.html">Khurrianwala</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/94.html">Khushab</a></li>

                        <li>Kolo Tarrar</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/97.html">Kot Addu</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/316.html">Kot Chutta</a></li>

                        <li>Kot Radha Kishan</li>

                        <li>Kot Samaba</li>

                        <li>Kot Sultan</li>

                        <li>Kotla Pathan</li>

                        <li>Kotli Loharan</li>

                        <li>Kotli Sattian Tehsil</li>

                        <li>Kundian</li>

                        <li>Ladhewala Warraich</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/46.html">Lahore</a></li>

                        <li>Lak mor</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/58.html">Lala Musa</a></li>

                        <li>Lalgargh</li>

                        <li>Lalian</li>

                        <li>Layyah</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/552.html">Leiyah</a></li>

                        <li>Liaqatpur</li>

                        <li>Lodhran</li>

                        <li>Luddan</li>

                        <li>Mahar Sharif</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/47.html">Mailsi</a></li>

                        <li>Makhdoom pur</li>

                        <li>Makhdum Rashid</li>

                        <li>Malakwal</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/559.html">Malikwal</a></li>

                        <li>MamuKanjan</li>

                        <li>Manawala</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/59.html">Mandi Bahuddin</a></li>

                        <li>Mandi Faizabad</li>

                        <li>Mandi Usmanwala</li>

                        <li>Mangat</li>

                        <li>Mangla</li>

                        <li>Mano Chak</li>

                        <li>Marakiwal</li>

                        <li>Mehmood Kot</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/77.html">Mian Channu</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/80.html">Mian Wali</a></li>

                        <li>Minchinabad</li>

                        <li>Mitha Tiwana</li>

                        <li>Muhammad pur diwan</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/87.html">Multan</a></li>

                        <li>Munda</li>

                        <li>Muridke</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/91.html">Murree</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/95.html">Muzaffargarh</a></li>

                        <li>Nankana Sb</li>

                        <li>Narang</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/54.html">Narowal</a></li>

                        <li>Nawan Jandanwala</li>

                        <li>Naya Lahore</li>

                        <li>Nihang</li>

                        <li>Nowshera Vikran</li>

                        <li>Okanwala Bangla</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/106.html">Okara</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/107.html">Pakpattan</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/120.html">Pasrur</a></li>

                        <li>Patoki</li>

                        <li>Patriata</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/128.html">Pattoki</a></li>

                        <li>Peerochak</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/136.html">Phalia</a></li>

                        <li>Pind Dadan Khan</li>

                        <li>Pindi Bhattian</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/351.html">Pindigheb</a></li>

                        <li>Piplan Tehsil</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/399.html">Pir mahal</a></li>

                        <li>Puran</li>

                        <li>Qadirpur Ran</li>

                        <li>Qaim Pur</li>

                        <li>Qazian</li>

                        <li>Qila Dedar Singh</li>

                        <li>Qila Dewan Singh</li>

                        <li>Qila Kalar Wala</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/211.html">Quaidabad</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/109.html">Rahim Yar Khan</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/113.html">Raiwind</a></li>

                        <li>Raja Jang</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/452.html">Rajanpur</a></li>

                        <li>Rasul</li>

                        <li>Rasulnagar</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/129.html">Rawalpindi</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/133.html">Rawat</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/137.html">Renala Khurd</a></li>

                        <li>Roda</li>

                        <li>Rojhan</li>

                        <li>Sadhoke</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/110.html">Sadiqabad</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/103.html">Sahiwal</a></li>

                        <li>Sakhi Sarwar</li>

                        <li>Samasatta</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/114.html">Sambrial</a></li>

                        <li>Samothi</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/148.html">Samundri</a></li>

                        <li>Sanawan</li>

                        <li>Sangla Hill</li>

                        <li>Sanjar Pur</li>

                        <li>Sarai Alamgir</li>

                        <li>Sarai Sidhu</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/122.html">Sargodha</a></li>

                        <li>Satiana</li>

                        <li>Satrah</li>

                        <li>Sauwaal</li>

                        <li>Seetpur</li>

                        <li>Shadan Lund</li>

                        <li>Shadiwal</li>

                        <li>Shah Sadar Din</li>

                        <li>Shaheenabad</li>

                        <li>Shahkot</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/421.html">Shakargarh</a></li>

                        <li>Sharaqpur</li>

                        <li>Shehr Sultan</li>

                        <li>Sheikh Fazil</li>

                        <li>Sheikhupura</li>

                        <li>Sher Shah</li>

                        <li>Shorkot Cantt</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/144.html">Shujabad</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/145.html">Sialkot</a></li>

                        <li>SillanWali</li>

                        <li>Sodhra</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/146.html">Sohawa</a></li>

                        <li>Sukheke</li>

                        <li>Tail Wala</li>

                        <li>Tala Gang</li>

                        <li>Talwaindi Musa Khan</li>

                        <li>Talwandi Bhindrian</li>

                        <li>Talwandi Khajur Wali</li>

                        <li>Tamman</li>

                        <li>Tandlainwala</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/446.html">Taunsa</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/119.html">Taxila</a></li>

                        <li>Thathi</li>

                        <li>Tibba Sultanpur</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/127.html">Toba Tek Singh</a></li>

                        <li>Tulamba</li>

                        <li>Uch</li>

                        <li>Vanikey Tarar</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/150.html">Vehari</a></li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/151.html">Wah Cantt</a></li>

                        <li>Wahndo</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/153.html">Wazirabad</a></li>

                        <li>Yazman</li>

                        <li>Zafarwal</li>

                        <li><a href="javascript:void(0)" class="show_punjab" rel="coverage/popup/317.html">Zahir Pir</a></li>

                    </ul>
                    <h2>Sindh</h2>
                    <ul>

                        <li>Badah</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/159.html">Badin</a></li>

                        <li>Bakrani</li>

                        <li>Bandhi</li>

                        <li>Berani</li>

                        <li>Bhan</li>

                        <li>Bhiria City</li>

                        <li>Bhit Shah</li>

                        <li>Chak</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/494.html">Choundiko</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/4.html">Dadu</a></li>

                        <li>Daharki</li>

                        <li>Daro</li>

                        <li>Daulatpur</li>

                        <li>Daur</li>

                        <li>Dharki</li>

                        <li>Digri</li>

                        <li>Diplo</li>

                        <li>Dokri</li>

                        <li>Gambat</li>

                        <li>Garhi Khairo</li>

                        <li>Garhi Yasin</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/229.html">Gharo</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/22.html">Ghotki</a></li>

                        <li>Golarchi</li>

                        <li>Goth Gulab Machi</li>

                        <li>Hala</li>

                        <li>Halani</li>

                        <li>Harunthari</li>

                        <li>Hingorja</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/81.html">Hyderabad</a></li>

                        <li>Jacobabad</li>

                        <li>Jakharo</li>

                        <li>Jam Sahib</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/547.html">Jamshoro</a></li>

                        <li>Jarwar</li>

                        <li>Jati</li>

                        <li>Jatoi</li>

                        <li>Jhat pat</li>

                        <li>Johi</li>

                        <li>Jungshahi</li>

                        <li>Kambar Ali Khan</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/68.html">Kandhkot</a></li>

                        <li>Kandhra</li>

                        <li>Kandiaro</li>

                        <li>Kandiyari</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/73.html">Karachi</a></li>

                        <li>Kario Ghanwar</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/76.html">Kashmore</a></li>

                        <li>Kazi Ahmed</li>

                        <li>Khadan</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/454.html">Khipro</a></li>

                        <li>Khuhra</li>

                        <li>Kietie Bandar</li>

                        <li>Kot Diji</li>

                        <li>Kot Ghulam Muhammad (Jamesabad)</li>

                        <li>Kot Lalu</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/98.html">Kotri</a></li>

                        <li>Kumb</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/491.html">Kunri</a></li>

                        <li>Lakhi</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/64.html">Larkana</a></li>

                        <li>Madeji</li>

                        <li>Makli</li>

                        <li>Matiari</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/422.html">Matli</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/234.html">Mehar</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/356.html">Meharbpur</a></li>

                        <li>Miro Khan</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/83.html">Mirpur Khas</a></li>

                        <li>Mirpur Mathelo</li>

                        <li>Mirpur Sakro</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/558.html">Mithi</a></li>

                        <li>Mohenjo Daro</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/172.html">Moro</a></li>

                        <li>Nagar Parkar Taluka</li>

                        <li>Nasarpur</li>

                        <li>Nasirabad</li>

                        <li>Naudero</li>

                        <li>Naushero Feroze</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/174.html">Nawabshah</a></li>

                        <li>Pacca Chang</li>

                        <li>Padidan</li>

                        <li>Pano Aqil</li>

                        <li>Phul</li>

                        <li>Phulji</li>

                        <li>Pipri</li>

                        <li>Pirjo Goth</li>

                        <li>Pithoro</li>

                        <li>Qadirpur</li>

                        <li>Radhan</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/117.html">Ranipur</a></li>

                        <li>Rati</li>

                        <li>Ratodero</li>

                        <li>Rohri</li>

                        <li>Rustam</li>

                        <li>Saeedabad</li>

                        <li>Sakrand</li>

                        <li>Samaro</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/176.html">Sanghar</a></li>

                        <li>Sann</li>

                        <li>Sanwari</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/126.html">Sehwan</a></li>

                        <li>Shahdadkot</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/134.html">Shahdadpur</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/140.html">Shahpur</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/143.html">Shikarpur</a></li>

                        <li>Sinjhoro</li>

                        <li>Sobhodero</li>

                        <li>Somiani</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/381.html">Sujawal</a></li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/147.html">Sukkur</a></li>

                        <li>Talhar</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/178.html">Tando Adam</a></li>

                        <li>Tando Ala Yar</li>

                        <li>Tando Jam</li>

                        <li>Tando Jan Muhammad</li>

                        <li>Tando Masti Khan</li>

                        <li>Tando Mitha Khan</li>

                        <li>Tando Muhammad Khan</li>

                        <li>Tangwani</li>

                        <li>Thari Mirwah</li>

                        <li>Tharushah</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/123.html">Thatta</a></li>

                        <li>Thehri</li>

                        <li><a href="javascript:void(0)" class="show_sindh" rel="coverage/popup/546.html">Thul</a></li>

                        <li>Ubuaro</li>

                        <li>Umer Kot</li>

                        <li>Vur</li>

                        <li>Warah</li>

                    </ul>
                    <h2>Khyber Pakhtunkhwa</h2>
                    <ul>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/1.html">Abbotabad</a></li>

                        <li>Akora</li>

                        <li>Amangarh</li>

                        <li>Astore</li>

                        <li>Baffa</li>

                        <li>Balakot</li>

                        <li>Bannu</li>

                        <li>Batkhela</li>

                        <li>Battal</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/31.html">Battgram</a></li>

                        <li>Besham Tehsil</li>

                        <li>Buner</li>

                        <li>Charsadda</li>

                        <li>Cherat</li>

                        <li>Chilas</li>

                        <li>Chitral</li>

                        <li>Daggar Tehsil</li>

                        <li>Dera Ismail Khan</li>

                        <li>Dewana Baba</li>

                        <li>Dir</li>

                        <li>Garhi Habibullah</li>

                        <li>Ghazi Tehsil</li>

                        <li>Ghizar</li>

                        <li>Ghora Gali</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/256.html">Gilgit</a></li>

                        <li>Gudoon</li>

                        <li>Harichand</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/55.html">Haripur</a></li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/247.html">Havelian</a></li>

                        <li>Jahangira</li>

                        <li>Jand</li>

                        <li>Jhangira</li>

                        <li>Karak</li>

                        <li>Karimabad</li>

                        <li>Khalabat</li>

                        <li>Khaplu</li>

                        <li>Kohat</li>

                        <li>Lahor Tehsil</li>

                        <li>Lakki Marwat</li>

                        <li>Lower Topa</li>

                        <li>Malakand</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/65.html">Mansehra</a></li>

                        <li>Mardan</li>

                        <li>Mingora</li>

                        <li>Nagar</li>

                        <li>Naran</li>

                        <li>Nathia Gali</li>

                        <li>Nawan Shehr</li>

                        <li>Nowshera</li>

                        <li>Pabbi</li>

                        <li>Paroa</li>

                        <li>Peshawar</li>

                        <li>Pir Baba</li>

                        <li>Risalpur</li>

                        <li>Rustum Village</li>

                        <li>Saidu Sharif</li>

                        <li>Sakhakot</li>

                        <li>Sarai Naurang</li>

                        <li>Sarai Salha</li>

                        <li>Sawari</li>

                        <li>Shabqadar</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/257.html">Skardu</a></li>

                        <li>Swabi</li>

                        <li>Takht Bahi</li>

                        <li>Tangi</li>

                        <li>Tarbela</li>

                        <li>Thana</li>

                        <li>Thandiani</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/541.html">Timergara</a></li>

                        <li>Topi</li>

                        <li>Tordher</li>

                        <li>Utmanzai</li>

                        <li><a href="javascript:void(0)" class="show_kpk" rel="coverage/popup/412.html">Zhob</a></li>
                    </ul>
                    <h2>Balochistan</h2>
                    <ul>

                        <li>Bela</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/255.html">Chaman</a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/38.html">Gawadar</a></li>

                        <li>Gumazi</li>

                        <li>Haji Karam Khan</li>

                        <li>Hub</li>

                        <li>Jhal Magsi Sub-Division</li>

                        <li>Jiwani</li>

                        <li>Kalat</li>

                        <li>Kharan</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/376.html">Khuzdar</a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/411.html">Loralai</a></li>

                        <li>Mand</li>

                        <li>Mastung</li>

                        <li>Musakhel</li>

                        <li>Nok Kundi</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/518.html">Nushki</a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/548.html">Panjgur</a></li>

                        <li>Pasni</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/139.html">Pishin</a></li>

                        <li>Pishukan</li>

                        <li>Pui</li>

                        <li>Qilla Abdullah</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/158.html">Qilla Saifullah</a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/108.html">Quetta </a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/327.html">Sibbi</a></li>

                        <li>Smallan</li>

                        <li>Surab</li>

                        <li>Tump</li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/135.html">Turbat</a></li>

                        <li><a href="javascript:void(0)" class="show_balochistan" rel="coverage/popup/359.html">Usta Mohammad</a></li>

                        <li>Uthal</li>

                        <li>Ziarat</li>

                    </ul>
                    <h2>A.J.K</h2>
                    <ul>

                        <li>Bagh</li>

                        <li>Banjosa</li>

                        <li>Bhimber</li>

                        <li>Chakoti</li>

                        <li><a href="javascript:void(0)" class="show_ajk" rel="coverage/popup/161.html">Dadyal</a></li>

                        <li>Garhi Dupatta</li>

                        <li>Hattian Bala</li>

                        <li><a href="javascript:void(0)" class="show_ajk" rel="coverage/popup/169.html">Kotli</a></li>

                        <li>Mang</li>

                        <li><a href="javascript:void(0)" class="show_ajk" rel="coverage/popup/171.html">Mirpur</a></li>

                        <li><a href="javascript:void(0)" class="show_ajk" rel="coverage/popup/93.html">Muzaffarabad</a></li>

                        <li>Neelum Valley</li>

                        <li>Palandri</li>

                        <li><a href="javascript:void(0)" class="show_ajk" rel="coverage/popup/125.html">Rawalakot</a></li>

                    </ul>
                </div>


            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="postpaid/offers/my-3-offer.html"><img src="/assets/more_offers_images/my-3-offer-dropdown32.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="postpaid/offers/my-3-offer.html"><img src="/assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="postpaid/offers/my5.html"><img src="/assets/more_offers_images/08201426085455320.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="postpaid/offers/my5.html"><img src="/assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="postpaid/offers/super-monthly-bundle.html"><img src="/assets/more_offers_images/warid-super-bundle-view-more.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="postpaid/offers/super-monthly-bundle.html"><img src="/assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="prepaid/packages.html">Packages</a></li>
                                <li><a href="prepaid/offers.html">Offers</a></li>
                                <li><a href="prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="/assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="/assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="/assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="/assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="/assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="coverage.html">COVERAGE</a></li>
                            <li><a href="customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>




