@{
    ViewBag.Title = "Index";
}

@section featuredArea{
    <div class="slider-box">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">

                <a href="lte/prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html"><img src="~/assets/services_header_images/home/warid-LBC-main-header.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-LBC-main-header.png" alt="warid-LBC-main-header.png" /></a>

                <a href="media-center/press-release/archive/334.html"><img src="~/assets/services_header_images/home/mobilink-warid-merger-news.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/mobilink-warid-merger-news.png" alt="mobilink-warid-merger-news.png" /></a>

                <a href="lte/super-bundles.html"><img src="~/assets/services_header_images/home/warid-super-bundle-lte-offer-new.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-super-bundle-lte-offer-new.png" alt="warid-super-bundle-lte-offer-new.png" /></a>

                <a href="lte/lte-handset-portal/handset-deals/gfive/about-gfive.html"><img src="~/assets/services_header_images/home/warid-GFive-main-eder.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-GFive-main-eder.png" alt="warid-GFive-main-eder.png" /></a>

                <a href="products/mobile-apps/warid-mobile-world.html"><img src="~/assets/services_header_images/home/warid-mobile-world-main-header.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-mobile-world-main-header.png" alt="warid-mobile-world-main-header.png" /></a>

                <a href="lte/prepaid/lte-cities-offer/lte-bundles-peshawar.html"><img src="~/assets/services_header_images/home/warid-LBC-peshawer.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-LBC-peshawer.png" alt="warid-LBC-peshawer.png" /></a>
            </div>
        </div>
    </div>

    <!--Ticker Box-->
    <div class="ticker-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-9">
                        <div class="col-md-1">
                            <span class="notice">NOTICE:</span>
                        </div>
                        <div class="col-md-11">
                            <marquee class="main-home-ticker">
                                Standard call set up fee of 12paisa will be applicable on the first pulse of each call                                                                            

                                Muaziz Sarif, Warid ke Promotional SMS 321 ya PTA k manzoorshuda 3 ya 4 digit short codes se bhejay jatey hain. Kisi bhi doosre number se moosol hone wale Inami ya Promotional SMS Warid ki tarif se nahi hain. Inki itla 321 per (@@ Rs.2+t/Call) call kar k dien! Shukriya.                                                                            

                                Now you can get the nearest Warid Business Center/Franchise & Retailer information by sending “WO” in an SMS to “324”. (Charges: Rs.0.50 + tax)                                                                            


                                After the successful launch of LTE services in Karachi, Lahore, Islamabad, Rawalpindi, Gujranwala, Sialkot & Faisalabad, we are proudly introducing LTE services in Murree!                                                                            

                                For Prepaid Balance Inquiry Dial *100# for Rs.0.20+tax, For any query call 321 helpline for Rs. 2+tax (50 paisas per call and Rs. 1.50 for customer services representative). For all recharges 14% withholding tax, 5% admin fee and 5% maintenance charges apply.                                                                            

                                Bairon-e-mulk say mosol honay wali aisi call jo app kay phone per maqami mobile, wireless ya landline number zahir karay, uss number ko fouran 8866 per SMS karein - PTA.
                            </marquee>



                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5">
                            <a href="media-center/tvc.html"><img src="~/assets/images/tv-link-image.jpg" alt="Tv" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Ticker Box-->

}


<div class="container">
    <div class="row">
        <!--------Customer Survey Box (Position Left Fixed-------->
        <!--<div class="customers-survey-box">
            <a class="customers-survey-one" href="http://www.waridtel.com/customer-care"></a>
            <a class="customers-survey-two" href="#"></a>
            <a class="customers-survey-three" href="https://www.facebook.com/OfficialWarid/app_530770766988736" target="_blank"></a>
        </div>-->
        <!--------Customer Survey Box (Position Left Fixed-------->
        <!--Personal-Business Box-->
        <div class="personal-buss-box">
            <div class="per-buss-tabs-selected" id="div_personal">
                <a href="javascript:void(0)">PERSONAL</a>
            </div>
            <div class="per-buss-tabs" id="div_business">
                <a href="javascript:void(0)">BUSINESS</a>
            </div>

            <div class="tabs-content-box-per" id="data_div_personal">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <!--Mini Content Slider Commented-->
                        <div class="small-slider-ajax-box">
                            <ul class="div-slid-per" style="list-style-type:none">
                                <li>
                                    <div class="col-md-6">
                                        <div class="slider-img-box">
                                            <a href="lte/lte-handset-portal/handset-deals/gfive/about-gfive.html"><img src="~/assets/home_center_content/home_top_left/GFive-tab-new-.png" alt="G'Five" /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider-txt-box">
                                            <h2 class="red-heading">G'Five</h2>
                                            <h3 class="blue-heading">Speed is now accessible to everyone!</h3>
                                            <p class="grey-txt">Get free Warid LTE SIM and lightning tez LTE internet for 1 whole year at 2GB/month with this offer.</p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="slide-navigator-box">

                            </div>
                        </div>
                        <!--Mini Content Slider Commented-->

                    </div>

                    <!--SMS Bundles/Voice Packages-->
                    <div class="col-md-5">

                        <div class="col-md-6">
                            <div class="s-p-v-p-box">
                                <span><a href="prepaid/mobile-internet.html"><img src="~/assets/home_center_content/home_top_right/mobile-internet-thunmbnail-homepage.png" alt="MOBILE INTERNET" /></a></span>
                                <h2>MOBILE INTERNET</h2>
                                <p>Enjoy blazing fast Warid Mobile Internet on the go!</p>
                                <a class="more-link" href="prepaid/mobile-internet.html"><img src="~/assets/images/bullets-more.png" alt="bullet" /> more</a>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="s-p-v-p-box">
                                <span><a href="prepaid/sms-packages.html"><img src="~/assets/home_center_content/home_top_right/sms-packages-homepage.png" alt="SMS PACKAGES" /></a></span>
                                <h2>SMS PACKAGES</h2>
                                <p>Type your thoughts, feelings, emotions and stories away!</p>
                                <a class="more-link" href="prepaid/sms-packages.html"><img src="~/assets/images/bullets-more.png" alt="bullet" /> more</a>
                            </div>
                        </div>


                    </div>
                    <!--SMS Bundles/Voice Packages-->
                </div>
            </div>

            <!-------------------------------------------------Business tab----------------------------------------------------->
            <div class="tabs-content-box-per" style="display:none" id="data_div_business">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <!--Mini Content Slider Commented-->
                        <div class="small-slider-ajax-box">
                            <ul class="div-slid-bus" style="list-style-type:none">
                                <li>
                                    <div class="col-md-6">
                                        <div class="slider-img-box">
                                            <a href="business/close-user-group.html"><img src="~/assets/home_center_content/home_top_left/close-user-group-home-business-tab.png" alt="CLOSE USER GROUP" /></a>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="slider-txt-box">
                                            <h2 class="red-heading">CLOSE USER GROUP</h2>
                                            <h3 class="blue-heading">Activate Now</h3>
                                            <!--<p class="grey-txt">Get Your Warid Postpaid sim today!</p>-->
                                            <p class="grey-txt"> A unique‚ value-adding service aimed at providing customized solutions in accordance with your corporate needs. </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="slide-navigator-box">
                            </div>
                        </div>
                        <!--Mini Content Slider Commented-->
                    </div>

                    <!--SMS Bundles/Voice Packages-->
                    <div class="col-md-5">
                        <div class="col-md-6">
                            <div class="s-p-v-p-box">
                                <span><a href="business/corporate-rbt.html"><img src="~/assets/home_center_content/home_top_right/corporate-RBT-homepage-thumb.png" alt="Corporate RBT" /></a></span>
                                <h2>Corporate RBT</h2>
                                <p>Activate your company’s custom made ringtones on your mobile!</p>
                                <a class="more-link" href="business/corporate-rbt.html"><img src="~/assets/images/bullets-more.png" alt="bullet" /> more</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="s-p-v-p-box">
                                <span><a href="business/enterprise-solutions.html"><img src="~/assets/home_center_content/home_top_right/enterprisesolutionhomepage-thumb.png" alt="Enterprise Solutions" /></a></span>
                                <h2>Enterprise Solutions</h2>
                                <p>Multiple solutions to meet your business needs!</p>
                                <a class="more-link" href="business/enterprise-solutions.html"><img src="~/assets/images/bullets-more.png" alt="bullet" /> more</a>
                            </div>
                        </div>
                    </div>
                    <!--SMS Bundles/Voice Packages-->

                </div>
            </div>

            <!-------------------------------------------------Business tab----------------------------------------------------->

        </div>
        <!--Personal-Business Box-->
        <!--Value Added Services/ Mobile Internet-->
        <div class="col-md-12">
            <div class="col-md-7">

                <div class="col-md-6">
                    <div class="v-a-m-i-main-box">
                        <a href="prepaid/offers/voice-packages.html"><img src="~/assets/home_center_content/home_bottom_left/voice-packages-home.png" alt="Voice Packages" /></a> <a href="prepaid/offers/voice-packages.html" class="v-a-m-i-more"><img src="~/assets/images/bullets-more.png" alt="more" />more</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="v-a-m-i-main-box">
                        <a href="lte/vas/mywarid.html"><img src="~/assets/home_center_content/home_bottom_left/my-warid-apps-home.png" alt="My Warid App" /></a> <a href="lte/vas/mywarid.html" class="v-a-m-i-more"><img src="~/assets/images/bullets-more.png" alt="more" />more</a>
                    </div>
                </div>


            </div>
            <div class="col-md-5">
                <!--Glow-->
                <div class="col-md-4">
                    <div class="three-boxes">
                        <a href="http://glow.net.pk/?utm_source=waridtel.com&amp;utm_medium=website&amp;utm_term=home&amp;utm_content=thumb&amp;utm_campaign=webtraffic" target="_blank"><img src="~/assets/home_center_content/home_bottom_right/glow.png" alt="Glow" /></a>
                    </div>
                </div>
                <!--Glow-->
                <!--Glow-->
                <div class="col-md-4">
                    <div class="three-boxes mg-lft-three-bx">
                        <a href="http://mobilepaisa.com.pk/" target="_blank"><img src="~/assets/home_center_content/home_bottom_right/mobile-paisa-home-thumb.png" alt="Mobile Paisa" /></a>
                    </div>
                </div>
                <!--Glow-->
                <!--Glow-->
                <div class="col-md-4">
                    <div class="three-boxes mg-lft-three-bx flt-rgt">
                        <a href="lte/vas/reserve-lte-sim.html" target="_top"><img src="~/assets/home_center_content/home_bottom_right/reserve-lte.png" alt="Reserve LTE Sim" /></a>
                    </div>
                </div>
                <!--Glow-->

            </div>
        </div>
        <!--Value Added Services/ Mobile Internet-->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="prepaid/packages.html">Packages</a></li>
                                <li><a href="prepaid/offers.html">Offers</a></li>
                                <li><a href="prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="~/assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="~/assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="~/assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="~/assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="~/assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="coverage.html">COVERAGE</a></li>
                            <li><a href="customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>