
@{
    ViewBag.Title = "ltepostpaidplans";
}
@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/4g_lte/lte-postpaid-.png" alt="LTE Postpaid Plan" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../lte.html">LTE</a></li>

                        <li>&gt;&nbsp;<a class="" href="../postpaid.html">POSTPAID</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="lte-postpaid-plans.html">LTE POSTPAID PLANS</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/lte/postpaid/lte-postpaid-plans&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">LTE</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../super-bundles.html">LTE SUPER BUNDLES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../motorway.html">MOTORWAY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../data-sim.html">WARID DATA SIM</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">WARID WINGLE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../warid-wingle/wingle-details.html">Wingle Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-wingle/wingle-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">PREPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../prepaid/lte-prepaid-plans.html">LTE Prepaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../prepaid/lte-prepaid-shared-internet-plans.html">LTE Prepaid Shared Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">LTE cities offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../prepaid/lte-cities-offer/lte-bundles-multan.html">LTE Bundles for Multan</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../prepaid/lte-cities-offer/lte-bundles-hyderabad-jaamshoro.html">LTE Bundles for Hyderabad & Jaamshoro</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../prepaid/lte-cities-offer/lte-bundles-karachi.html">LTE Bundles Karachi</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../prepaid/lte-cities-offer/lte-bundles-peshawar.html">LTE Bundles for Peshawar</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html">LTE Bundles for Islamabad and Rawalpindi</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">POSTPAID</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="lte-postpaid-plans.html">LTE Postpaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="lte-postpaid-shared-internet-plans.html">LTE Postpaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../shared-internet-plans.html">SHARED INTERNET PLANS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../coverage-map.html">COVERAGE MAP</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">VAS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../vas/mywarid.html">My Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../vas/reserve-lte-sim.html">LTE SIM Replacement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MIFI</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../warid-mifi/mifi-details.html">MiFi Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-mifi/mifi-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../data-calculator.html">DATA CALCULATOR</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">HANDSET PORTAL</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Handset Deals</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">G'Five</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/gfive/about-gfive.html">About G'Five</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/gfive/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/gfive/specifications.html">Specifications LTE 2</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/gfive/specifications-three.html">Specifications LTE 3</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/gfive/where-to-buy.html">Where to buy</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone 6S</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/iphone-6s/iphone-6s-details.html">iPhone 6S Details</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/iphone-6s/iphone-6s-order-now.html">iPhone 6S Order Now</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/iphone/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../lte-handset-portal/handset-deals/iphone/specifications.html">Specifications</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../handset-compatibility.html">HANDSET COMPATIBILITY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../faqs.html">FAQ'S</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    LTE Postpaid  Plans
                </div>
                <p>All postpaid users have specific requirements and that's where a wide range of Warid Postpaid Plans for LTE comes in! Now you can use the high speed internet the way you want to. You pick the rentals, you choose the benefits and you decide the amount of mobile internet you want to consume. Choose a plan and begin to experience mobile internet like never before! </p>
                <p><strong>Dial *777# to access LTE menu and check if you are in the Warid Internet coverage area</strong></p>
                <div class="table-box">
                    <table>
                        <tr>
                            <th>Internet    Bundles</th>
                            <th>Price</th>
                            <th>Volume</th>
                            <th>Validity</th>
                        </tr>
                        <tr>
                            <td>Monthly    Mini</td>
                            <td>100</td>
                            <td>500 MB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Value</td>
                            <td>200</td>
                            <td>1 GB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Smart</td>
                            <td>300</td>
                            <td>2 GB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Big Internet</td>
                            <td>500</td>
                            <!--<td>5 GB</td>-->
                            <td>5 GB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Super </td>
                            <td>800</td>
                            <td>8 GB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Giant </td>
                            <td>1000</td>
                            <td>10 GB</td>
                            <td>30 Days</td>
                        </tr>
                        <tr>
                            <td>Monthly    Mega </td>
                            <td>1200</td>
                            <td>12 GB</td>
                            <td>30 Days</td>
                        </tr>
                    </table>
                    <p><strong>*Get Free Internet in Nights till 5th May 2016 by subscribing to Monthly Giant or Mega Bundle</strong></p>
                    <h2>To activate / change your bundle:</h2>
                    <p>Call Warid helpline 321 or visit your nearest Warid Business Centers / Franchise to avail this service.</p>
                    <h2>Postpaid LTE Add-ons</h2>
                    <p>If the bundle volume is expired, subscriber can subscribe to LTE Add-ons which will be valid till bill expiry for LTE Internet usage</p>
                    <table>
                        <tr>
                            <th>LTE Add-Ons</th>
                            <th>Price</th>
                            <th>Volume</th>
                            <th>Subscription Keyword</th>
                            <th>Validity</th>
                        </tr>
                        <tr>
                            <td>Add-on    1GB</td>
                            <td>150 </td>
                            <td>1 GB</td>
                            <td>A1 </td>
                            <td>Till Bill expiry</td>
                        </tr>
                        <tr>
                            <td>Add-on    3GB</td>
                            <td>300 </td>
                            <td>3 GB</td>
                            <td>A2 </td>
                            <td>Till Bill expiry</td>
                        </tr>
                    </table>
                    <h2><small>To subscribe to Add-ons:</small></h2>
                    <p>
                        Dial *777# or <br />
                        SMS the relevant keyword to 4000, e.g. for Add-on 1 GB SMS A1 to 4000
                    </p>
                    <h2>Terms &amp; Conditions</h2>
                    <ul>
                        <li>
                            In order to use LTE services, your mobile handset &amp; SIM  should be LTE supported. To get your LTE SIM please visit your nearest  Warid Business centre or franchise.
                        </li>

                        <li>
                            Internet Bundles are available on all Postpaid price plans.
                        </li>
                        <li>
                            LTE bundles can be consumed in both 2G and LTE networks. Best  possible LTE speed will be offered in LTE network.
                        </li>
                        <li>
                            Default rate:Usage without subscribing to bundles will be charged  at Rs. 5 / MB
                        </li>
                        <li>
                            Additional usage after bundles are consumed will be charged at PKR 0.20 / MB (valid till bundle end date)
                        </li>

                        <li>
                            Security deposit is required depending upon the plan subscribed and internet bundle selected
                        </li>
                        <li>	LTE bundles will work both on 2G and LTE</li>
                        <li>2G bundles will not work on Warid LTE</li>
                        <li>Standard applicable taxes apply</li>

                        <li>Free Nights Terms:</li>

                        <ul>
                            <li>Free        Nights will only be given with Giant and Mega Bundle</li>
                            <li>It        is a limited time offer, valid till 5th May 2016 only</li>
                            <li>These        nights will be auto provisioned</li>
                            <li>Free        Night usage time duration will be 1AM to 8 AM</li>
                            <li>Fair usage policy of 60GB volume for night applies valid till 5th May 2016 </li>
                            <li>Subscribing        to these bundles more than once or collectively will not add up free        night volume</li>
                        </ul>



                    </ul>
                    <p><strong>Your SIM is your identity, only use SIMs issued through Biometric Verification – PTA </strong></p>
                    <h2><small>“Experience the amazing internet speeds by activating your LTE data services and get *1GB for 5 Days Absolutely FREE!”<br /><span style="font-size:11px;">*This offer is for new LTE subscribers only</span></small></h2>
                </div>
            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../double-faida-offer.html"><img src="../../assets/more_offers_images/double-data-offer-mobile-set-278x252.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../double-faida-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="/lte/waridwingle"><img src="../../assets/more_offers_images/LTE-wingle1.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../warid-wingle.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="/lte/coveragemap"><img src="../../assets/more_offers_images/coverage-278x252.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../coverage-map.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>

