
@{
    ViewBag.Title = "onlinebillpayment";
}

@section featuredArea{


<div class="slider-box">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">

            <a href="../lte/prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html"><img src="../assets/services_header_images/home/warid-LBC-main-header.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-LBC-main-header.png" alt="warid-LBC-main-header.png" /></a>

            <a href="../media-center/press-release/archive/334.html"><img src="../assets/services_header_images/home/mobilink-warid-merger-news.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/mobilink-warid-merger-news.png" alt="mobilink-warid-merger-news.png" /></a>

            <a href="../lte/super-bundles.html"><img src="../assets/services_header_images/home/warid-super-bundle-lte-offer-new.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-super-bundle-lte-offer-new.png" alt="warid-super-bundle-lte-offer-new.png" /></a>

            <a href="../lte/lte-handset-portal/handset-deals/gfive/about-gfive.html"><img src="../assets/services_header_images/home/warid-GFive-main-eder.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-GFive-main-eder.png" alt="warid-GFive-main-eder.png" /></a>

            <a href="../products/mobile-apps/warid-mobile-world.html"><img src="../assets/services_header_images/home/warid-mobile-world-main-header.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-mobile-world-main-header.png" alt="warid-mobile-world-main-header.png" /></a>

            <a href="../lte/prepaid/lte-cities-offer/lte-bundles-peshawar.html"><img src="../assets/services_header_images/home/warid-LBC-peshawer.png" data-thumb="http://www.waridtel.com/assets/services_header_images/home/warid-LBC-peshawer.png" alt="warid-LBC-peshawer.png" /></a>
        </div>
    </div>
</div>
}






