
@{
    ViewBag.Title = "faqs";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../assets/services_header_images/4g_lte/faqs-new.png" alt="FAQ's" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../lte.html">LTE</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="faqs.html">FAQS</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/lte/faqs&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">LTE</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="super-bundles.html">LTE SUPER BUNDLES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="motorway.html">MOTORWAY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="data-sim.html">WARID DATA SIM</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">WARID WINGLE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="warid-wingle/wingle-details.html">Wingle Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="warid-wingle/wingle-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">PREPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="prepaid/lte-prepaid-plans.html">LTE Prepaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="prepaid/lte-prepaid-shared-internet-plans.html">LTE Prepaid Shared Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">LTE cities offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="prepaid/lte-cities-offer/lte-bundles-multan.html">LTE Bundles for Multan</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="prepaid/lte-cities-offer/lte-bundles-hyderabad-jaamshoro.html">LTE Bundles for Hyderabad & Jaamshoro</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="prepaid/lte-cities-offer/lte-bundles-karachi.html">LTE Bundles Karachi</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="prepaid/lte-cities-offer/lte-bundles-peshawar.html">LTE Bundles for Peshawar</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html">LTE Bundles for Islamabad and Rawalpindi</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">POSTPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="postpaid/lte-postpaid-plans.html">LTE Postpaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid/lte-postpaid-shared-internet-plans.html">LTE Postpaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="shared-internet-plans.html">SHARED INTERNET PLANS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="coverage-map.html">COVERAGE MAP</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">VAS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="vas/mywarid.html">My Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="vas/reserve-lte-sim.html">LTE SIM Replacement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MIFI</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="warid-mifi/mifi-details.html">MiFi Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="warid-mifi/mifi-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="data-calculator.html">DATA CALCULATOR</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">HANDSET PORTAL</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Handset Deals</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">G'Five</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/gfive/about-gfive.html">About G'Five</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/gfive/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/gfive/specifications.html">Specifications LTE 2</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/gfive/specifications-three.html">Specifications LTE 3</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/gfive/where-to-buy.html">Where to buy</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone 6S</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/iphone-6s/iphone-6s-details.html">iPhone 6S Details</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/iphone-6s/iphone-6s-order-now.html">iPhone 6S Order Now</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/iphone/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="lte-handset-portal/handset-deals/iphone/specifications.html">Specifications</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="handset-compatibility.html">HANDSET COMPATIBILITY</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="breadcrumbs-selected" href="faqs.html">FAQ'S</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    FAQs
                </div>
                <h2>SERVICE AND COVERAGE</h2>
                <h2><small>1.	What is LTE and what's so good about it?</small></h2>
                <p>LTE stands for &ldquo;Long Term  Evolution&rdquo; it is the evolution of standards for wireless network after  3G.&nbsp; It is Warid&rsquo;s latest offering, to provide high-speed mobile internet.</p>
                <p>            LTE is designed to reduce the time it takes to  transfer and receive data online, giving you faster speeds and an overall  better internet experience. You'll definitely notice a difference when you're  gaming, streaming, downloading and surfing.</p>
                <h2><small>2.	How can I use Warid LTE services? </small></h2>
                <p>LTE will work when you </p>
                <ul>
                    <li>
                        A Warid LTE SIM
                    </li>
                    <li>
                        Warid LTE Subscription/Bundle
                    </li>
                    <li>
                        An LTE enabled smart phone/ handset or device
                    </li>
                    <li>
                        LTE coverage availability
                    </li>
                </ul>
                <h2><small>3.	Do I need a new SIM card to use Warid LTE service?</small></h2>
                <p>Previous Warid SIM cards will not support LTE . You can get your SIM card replaced by visiting nearest Warid Business center or franchise. Call 321 for further details.</p>
                <p>
                    To get your existing replaced, you can also click here: <a href="vas/reserve-lte-sim.html">http://www.waridtel.com/lte/vas/reserve-lte-sim</a><br>
                    <br>
                    <em>Note: LTE SIM cards  are sometimes also referred to as USIM (universal subscriber identity module)</em>
                </p>
                <h2><small>4.	In which cities will Warid LTE coverage be available?</small></h2>
                <p>Warid LTE services  are available  in selected metro areas of Karachi, Lahore, Islamabad, Rawalpindi, Gujranwala  and Faisalabad, with remaining cities to be covered soon.          </p>
                <h2><small>5.	How will I know where LTE coverage is?</small></h2>
                <p>When you're getting LTE coverage on your LTE-ready phone, you'll see 'LTE' appear next to the signal bars at the top of your screen. Some phones, such as the Samsung S5, displays 4G.   You can write "LTE" and SMS to 5555 to check if the coverage is available at your location. </p>
                <h2><small>6.	Will my device always stay connected to Warid LTE?</small></h2>
                <p>You might notice that your device is switching between 2G and LTE coverage as you move around. As our network continues to grow throughout the year, you will notice that your device will spend more and more time on LTE as compared to 2G.</p>
                <h2><small>7.	On what factors does LTE speed depend?</small></h2>
                <p>Speed depends on the coverage, network traffic and number of users currently using the LTE network at that point of time. </p>
                <h2><small>8.	When I make a phone call I can see that the phone is not on LTE anymore but switches to 2G/EDGE.!</small></h2>
                <p>This is normal. While your data usage and your SMS traffic goes through the LTE network, your phone calls will still go through our 2G network.</p>
                <h2><small>9.	Will my battery drain faster if I use LTE?</small></h2>
                <p>LTE means that data flows through your phone faster. This might lead to quicker battery discharge. In any case, please consult the user manual of the LTE device you use for best results.</p>
                <h2><small>10.	I'm in my house which is in an LTE Zone as per your LTE map on the website but I still cannot use LTE services.</small></h2>
                <p>Warid's LTE coverage is the strongest based on the customer's location, network traffic and number of users currently using the LTE network at that point of time.</p>
                <h2><small>11.	How can I disable LTE if I do not want to use LTE?</small></h2>
                <p>There are currently two options you can choose from:</p>
                <p>1) Call 321 to get your LTE service disabled</p>
                <p>2) Change your phone settings to disable LTE and apply 2G settings  only</p>
                <p>3) You may also choose to turn off your data if you don’t want to use data  altogether</p>
                <p>&nbsp;</p>
                <h2>DEVICES</h2>
                <h2><small>12.	What phones can I use with LTE?</small></h2>
                <p>Warid's approved devices will definitely work with Warid's LTE network. For our "Warid LTE Approved' devices please visit the "<a href="lte-handset-portal.html">Warid's LTE devices</a>" section. You can also purchase LTE devices that support 1800 MHz (FDD-LTE Bands 3) from other sources. However, Warid doesn't take responsibility for these devices if they do not work on Warid's LTE network </p>
                <p>Here is some advice that you might want to take into consideration when you purchase a smartphone that you would want to use with Warid's LTE:</p>
                <ul>
                    <li>
                        Many phone manufacturers produce 3G and LTE versions of the same model. Make sure that you go for the LTE version.
                    </li>
                    <li>
                        Check whether the phone supports Warid's LTE frequencies,1800 MHz (FDD-LTE band 3)
                    </li>
                    <li>
                        Make sure that you have the latest firmware.
                    </li>
                    <li>
                        If you still can't get access to LTE contact the manufacturer for further information.
                    </li>
                    <li>Make sure you have the  latest OS upgrade installed on your device</li>
                </ul>
                <p>For device availability information please check our <a href="lte-handset-portal/order-online.html">LTE handset Portal </a>or the <a href="lte-handset-portal/handset-deals.html">Warid's Handset offers </a></p>
                <p>&nbsp;</p>
                <h2><small>13.	How do I check if my current phone is LTE supported?</small></h2>
                <p>Please follow the link below to check if your phone is LTE compatible <a href="handset-compatibility.html">http://www.waridtel.com/lte/handset-compatibility</a>. You can also SMS &ldquo;mymobile&rdquo; or &ldquo;my mobile&rdquo; to  321 to check if your current handset is compatible or not.</p>
                <h2><small>14.	How to configure LTE settings on my smartphone?</small></h2>
                <p>Please visit our <a href="../customer-care/gprs-mms-settings.html">GPRS settings page  </a>to configure LTE settings on your smartphone. Please ensure that LTE is  enabled on your smartphone.</p>
                <h2><small>15.	 Do I need a special APN for accessing LTE?</small></h2>
                <p>No, you can use the same APN (Access Point Name) "Warid" as with your 2G device. For device settings, please visit our <a href="../customer-care/gprs-mms-settings.html">GPRS settings page</a></p>
                <h2><small>16.	Does Blackberry work on Warid LTE?</small></h2>
                <p>Yes, certain models of BlackBerry do support LTE services. For full details on supported devices, visit our <a href="handset-compatibility.html">LTE Handset Compatibility</a> section</p>
                <h2><small>17.	Which Samsung models are compatible with Warid's LTE?</small></h2>
                <p>For full details on supported Samsung devices, visit our <a href="handset-compatibility.html">LTE Handset Compatibility</a> section</p>
                <h2><small>18.	Can I buy iPhone 6 and 6 plus from Warid Business Centers?</small></h2>
                <p>Yes iPhone 6 and 6 plus are available at Warid Business Centers  and offered with bundled internet service. <a href="lte-handset-portal/handset-deals/iphone.html">Click Here</a> for  more details</p>
                <h2><small>19.	Does iPhone 5 series work with Warid LTE?</small></h2>
                <p>Yes, however is dependent on which region the handset was manufactured for.. In case you decide to purchase your iPhone 5c and 5s from abroad, and you want to make sure that your phone supports our LTE frequencies, 1800 MHz(FDD-LTE Band 3), visit our <a href="handset-compatibility.html">LTE Handset Compatibility</a> section.</p>
                <h2>POSTPAID</h2>
                <h2><small>20.	I am a GPRS user, does LTE cost extra compared to my existing plan?</small></h2>
                <p>We are offering the same package on LTE (5GB data for Rs. 500) and your service will be upgraded at no extra cost. However, when things download faster people tend to use more data. You can check your usage using any the following methods</p>
                <p>a.Send SMS "GC" to 321</p>
                <p>b.Dial  *400*6#</p>
                <p>c.Use mobile app</p>
                <p>d. Web self-care</p>
                <h2><small>21.	What LTE Packages are being offered  for Warid postpaid?</small></h2>
                <p>Please check our <a href="postpaid/lte-postpaid-plans.html">LTE Postpaid Bundles</a> section for packages details </p>
                <h2><small>22.	How will I be charged if I am not subscribed to any of the LTE postpaid data plans?</small></h2>
                <p>You will be charged at the base rate of Rs. 5 per MB</p>
                <h2><small>23.	What will happen if my package volume is consumed?</small></h2>
                <p>You can continue using the Warid LTE service at a rate of Rs. 0.2/MB till your next billing cycle when your limit replenishes.</p>
                <h2><small>24.	How will I know about my data usage?</small></h2>
                <p>We will keep you notified by SMS alerts at various thresholds. However, you can always check your usage using any the following methods</p>
                <p>a. Send SMS &ldquo;GC&rdquo; to 321</p>
                <p>            b. Dial  *400*6#</p>
                <p>            c. Use mobile app</p>
                <p>            d. Web self-care</p>
                <h2><small>25.	What will happen to my current voice package/rates?</small></h2>
                <p>Your voice package rates remain the same even while using Warid LTE.</p>
                <h2><small>26.	I am an LTE user, will I be charged differently if I am using EDGE/GPRS   when out of LTE coverage?</small></h2>
                <p>No, you will be charged according to your selected plan from the same data limits</p>
                <h2>PREPAID</h2>
                <p><h2><small>27.	What Packages are being offered for  Warid prepaid?</small></h2></p>
                Please check our <a href="postpaid/lte-postpaid-plans.html">LTE Prepaid Bundles</a> section for packages details
                <h2><small>28.	How can I subscribe to any LTE bundle?</small></h2>
                <p>Please check our <a href="prepaid/lte-prepaid-plans.html">LTE prepaid section</a> for packages details</p>
                <h2><small>29.	How can I check my data usage and remaining volume in my data buckets?</small></h2>
                <p>a. USSD string as mentioned with our <a href="prepaid/lte-prepaid-plans.html">packages</a></p>
                <p>            b. Use mobile app</p>
                <p>            c. Web self-care</p>
                <div>
                    <div> </div>
                </div>
                <h2><small>30.	How will I be charged if I am not subscribed to any of the LTE prepaid data plans?</small></h2>
                <p>You will be charged at the base rate of Rs. 5/MB. After Rs.50 of daily charging on default rate, a bonus of 10MB will be awarded to the subscriber (valid till mid-night).</p>
                <h2><small>31. What will happen if all my package volume is consumed?</small></h2>
                <p>You will be charged at the base rate once the volume is consumed  of your data bucket.</p>
                <h2><small>32.	What will happen to my current voice package/rates?</small></h2>
                <p>Your voice package rates remain the same.</p>
                <h2><small>33.I am a LTE user, can I subscribe to a 2G plan in parallel?</small></h2>
                <p>No, you cannot subscribe to any 2G plans. Your new LTE plans covers your 2G use and the seamlessly. However, any of the volumes available in your previous subscription of 2G before upgrading to LTE will be available for your use in any of the 2G or LTE network.
                <p</p>
            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="double-faida-offer.html"><img src="../assets/more_offers_images/double-data-offer-mobile-set-278x252.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="double-faida-offer.html"><img src="../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="warid-wingle.html"><img src="../assets/more_offers_images/LTE-wingle1.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="warid-wingle.html"><img src="../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="coverage-map.html"><img src="../assets/more_offers_images/coverage-278x252.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="coverage-map.html"><img src="../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../prepaid/packages.html">Packages</a></li>
                                <li><a href="../prepaid/offers.html">Offers</a></li>
                                <li><a href="../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
