
@{
    ViewBag.Title = "advancebalance";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/prepaid/advance-balance.png" alt="Advance Balance" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../recharge.html">RECHARGE</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="advance-balance.html">ADVANCE BALANCE</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/recharge/advance-balance&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="p2p.html">P2P</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../international-dialing/afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../sms-packages/sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Advance Balance
                </div>
                <p>
                    With Warid Advance Balance Never run-out of balance when you need it!
                    Just send “AB” to 7676 anytime you run out of balance.
                </p>
                <h2>What is Advance Balance?</h2>
                <p>“Advance Balance” is aimed at providing prepaid customers with emergency balance; once their account has insufficient balance for use of basic cellular services e.g. voice call, SMS.</p>
                <h2>Charges:</h2>
                <p>Service Charges of first loan: Rs.2+tax apply.</p>
                <p>Service Charges of Second loan: Rs.3+tax apply.</p>
                <p>Note: service charges for the second Advance Balance are only applicable if your first Advance Balance outstanding amount or dues have not been cleared before taking another one.</p>
                <h2>Details & Mechanics:</h2>
                <ul>
                    <li>Subscribe to Advance Balance by sending "AB" to 7676*</li>
                    <li>*Sending any other keywords or even a blank SMS to 7676 will get you subscribed to this service.</li>
                    <li>There are no charges for sending SMS to 7676, service charges is charged only on successful Advance Balance.</li>
                    <li>Available to Warid Prepaid Subscribers only.</li>
                    <li>You can apply for two Advance Balance only.</li>
                    <li>You need to clear any pending Advance Balance amounts before applying for additional loans.</li>
                    <li>This service is currently available for limited packages.</li>
                    <li> In order to qualify for Advance Balance:</li>
                    <li>Customer should be active during the past 90 days.</li>
                    <li>Customer should be at-least 4 months old in order to qualify for Advance Balance.</li>
                    <li>Your current prepaid balance should be low enough as not being able to use basic services.</li>
                    <li>Service charges shall be applicable over and above the Advance balance amount.</li>
                    <li>No extra charges or taxes apply on the Advance Balance amount apart from the Service charges.</li>
                    <li>Subscriber can utilize this feature twice before clearing their Advance Balance + Service charges amount. Once the amount is cleared the subscriber is eligible for another Advance Balance.</li>
                    <li>Once the Advance balance limit is consumed, the subscriber will have to recharge/top-up via the conventional methods available.</li>
                    <li>Upon the next recharge/top up customer is charged the Advance balance amount plus service charges for first or both the first and second loans whichever is applicable</li>
                    <li>Partial deductions to Advance Balance amount shall be done where customer’s recharge amount is less than the Advance Balance + Service charges.</li>
                </ul>
                <!--<p>With Warid Advance Balance Never run-out of balance when you need it! <br />
                Just send "AB" to 7676 anytime you run out of balance. </p>
                          <h2>What is Advance Balance?</h2>
                          <p>"Advance Balance" is aimed at  providing <strong>prepaid</strong> customers with  emergency balance; once their account has insufficient balance for use of basic  cellular services e.g. voice call, SMS.</p>
                          <p>Service Charges of Rs.2+tax apply.</p>-->
                <h2>Terms &amp; Conditions</h2>
                <ul>
                    <li>Warid is engaged in the business of providing inter alia, mobile telecommunication services and ancillary services including value added services (<strong>“Warid Services”</strong>) in Pakistan, AJK and GilgitBaltistan (collectively referred to as the <strong>“Territory”</strong>) to the consumers of Warid Services (<strong>“Customers”</strong>);</li>
                    <li>Warid is offering a service of auto advance balance (<strong>“Warid Advance Balance Service”</strong>) as a part of its various value added services (<strong>“VAS Services”</strong>). Warid Advance Balance Service is an opt-in service and once the Customer shall subscribe in <strong>“Warid Advance Balance Service”</strong> he shall be credited with a certain advance amount (<strong>“Advance Balance”</strong>)in his MSISDN account automatically whenever his recharge account shall run empty;</li>
                    <li>The terms and conditions mentioned here in (<strong>“Terms and Conditions”</strong>) shall determine the rights and liabilities of Warid and the Customer/Subscriber regarding the use of Warid Advance Balance service and shall form a contract between Warid and the Customer in this regard. In order to avail the Warid Advance BalanceService, the Customer shall accept the Terms and Conditions in their totality by subscribing to Warid Advance Balance Service and such subscription shall be the acceptance of these Terms and Conditions in their totality by the Customer.In the text of these Terms and Conditions the Customer may also be referred as the <strong>“Subscriber”</strong> due to context referring the circumstances/scenarios after his subscription to Warid Advance Balance Service.</li>
                    <li>In order to avail the Warid Advance Balance Service, the Customer shall send an SMS on the short code number 7676_____(or any other short code replacing 7676 and advertised by Warid)and in response to such SMS the Customer shall get a reply from the short code number 7676_______ also containing the link to these Terms and Conditions whereby the Customer may access Warid’s website page having these Terms and Conditions through his hand set by using GPRS or through any other computer device. Customer’s further continuation to avail the Warid Advance Balance Service shall be construed the acceptance to these Terms and Conditions in their totality. The subscription of the Customer and availing the Warid Advance Balance Service shall at all times remain subject to these Terms and Conditions and the Service Charges available on ____________. </li>
                    <li>The Customer shall not be charged by Warid against the subscription in the Warid Advance Balance Service; however, when an Advance Balance amount shall be credited by Warid into MSISDN account of the Customer, the Customer shall be charged with Rs. 2.00 exclusive of taxes (<strong>“Service Charges”</strong>)for each transaction of Advance Balance credit which shall be deductable from the amount recharged/top-up by the Customer after credit of advance balance amount by Warid along with the recovery of amount of Advance Balance credited by Warid;</li>
                    <li>Warid may amend these Terms and Conditions at any time. The Customer shall be informed through an SMS or any other manner in accordance with the relevant laws that these Terms and Conditions are amended. Such SMS or information through any other manner (as mentioned above) shall contain a link to such amended Terms and Conditions, and if the Customer shall continue to avail or use the Warid Advance Balance Service it shall be the acceptance of the Customer to the amended Terms and Conditions. </li>
                    <li>The Customer acknowledges and accepts the following:</li>
                    <ul style="font-size:12px;">
                        <li>Warid Advance Balance Service is available for such Customers who are using Warid’s Pre-Paid Connection(s);</li>
                        <li>The Customer can subscribe in Warid Advance Balance Service by sending an SMS to 7676. Sending any keywords or even a blank SMS to 7676 will get the Customer subscribed to Warid Advance Balance Service;</li>
                        <li>Warid Advance Balance Service may not be offered to some categories of connections as per Warid’s policies prevailing from time to time. For clarity pertaining to unavailability of Warid Advance Balance Service can be obtained from Warid’s Help Line 321;</li>
                        <li>Advance Balance shall not be available to such Subscribers who have applied for MNP from Warid; </li>
                        <li>In order to qualify to subscribe inWarid Advance Balance Service: </li>

                        <ul>
                            <li>Customer should be active during the past 90 days; and</li>
                            <li>Customer should be at-least 4 months old in order to qualify for Advance Balance.</li>
                        </ul>

                        <li>In order to qualify for a Subscriber to avail Advance Balance Subscriber’s current prepaid balance is low enough as not being able to use Warid’s cellular services (except incoming calls and SMSs).</li>
                        <li>The Customer shall be given Advance Balance for one time only. Once the amount of credited Advance Balance by Warid is cleared by the Customer, he shall be eligible for another Advance Balance;</li>
                        <li>Once the Advance Balance amount is consumed, the Customer will have to recharge/top-up his MSISDN account via the conventional <strong>“Pre-paid payment modes”</strong>;</li>
                        <li>Upon the next recharge/top up the Customer is charged the Advance Balance credited amount plus Service Charges for availing the Warid Advance Balance.</li>
                        <li>The Customer shall be informed about the amount of Advance Balance credited into his MSISDN account on each instance of crediting Advance Balance.</li>
                        <li>Warid may amend the Service Charges from time to time in its sole discretion in accordance with the applicable laws and regulations of Pakistan Telecommunication Authority (<strong>“PTA”</strong>). The acceptance of these Terms and Conditions of the Customer shall also be the acceptance with the Service Charges to be charged for Warid Advance BalanceService;</li>
                        <li>Warid has the complete authority to stop offering Warid Advance BalanceService at any time in its sole discretion.</li>
                    </ul>

                    <li>The Customer may unsubscribe from Warid Advance BalanceServiceby sending <strong>“OFF”</strong> in an SMS to 7676, but Customer’s unsubscription shall not effect the recovery of credited Advance Balance.</li>
                    <li>The Customer acknowledges that these Terms and Conditions are in addition to the terms and conditions accepted by the Customer at the time of availing Warid’s cellular services (which includes the terms and conditions of CSAF and the terms and conditions received in the SIM Jacket). However in case of conflict between these Terms and Conditions and terms and conditions of CSAF, these Terms and Conditions shall prevail. If the Customer shall not recharge its MSISDN account within thirty (30) days (or any other grace period determined by Warid as per its policies in this regard in its sole discretion)of the credit of Advance Balance by Warid under Warid Advance Balance service, the MSISDN (connection) of the Customer may be terminated in Warid’s sole discretion.</li>
                </ul>





            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/pakistan-offer.html"><img src="../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/pakistan-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/free-call-offer.html"><img src="../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/free-call-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../packages.html">Packages</a></li>
                                <li><a href="../offers.html">Offers</a></li>
                                <li><a href="../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>


