
@{
    ViewBag.Title = "picturemessages";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="../../../assets/services_header_images/vas/picture_messages.png" alt="Picture Messages" />
</div>
}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../entertainment.html">ENTERTAINMENT</a></li>



                        <li>&gt;&nbsp;<a class="" href="../warid-zone.html">WARID ZONE</a></li>


                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="picture-messages.html">PICTURE MESSAGES</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/entertainment/warid-zone/picture-messages&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/loveservices/lovemeter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/lovequizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/smslovestory">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/babagkeepredcitions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="ringtones">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="active">
                                                <a class="breadcrumbs-selected" href="picturemessages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="mobilegames">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                        </li>
<li class="">
                                        <a class="" href="../vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="waridalerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="/waridalerts/forecastcities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/namazalerts>Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/careers/cvwriting">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/interviewpreparationtips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/jobalerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/careeradvice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/trainingandevents">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/myguide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services129">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services321">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/freeassistanceservices">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../music/warid-rockstar.html">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/mrbt-movie-offer.html">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../../music/caller-tunes/caller-tunes/terms-conditions.html">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/sms-commands.html">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/features-and-charging.html">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/warid-name-tune.html">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/song-search.html">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/auto-dialer.html">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/background-music.html">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/music-station.html">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-club.html">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-stream.html">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="/religion/religion/islamicsservice786">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/duaservice">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/namazalerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/ayatalerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Picture Messages
                </div>
                <h2><small>April Fools Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31266-2013-3-2631266.jpg" alt="31266" /><span>31266</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31267-2013-3-2631267.jpg" alt="31267" /><span>31267</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31268-2013-3-2631268.jpg" alt="31268" /><span>31268</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31269-2013-3-2631269.jpg" alt="31269" /><span>31269</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31270-2013-3-2631270.jpg" alt="31270" /><span>31270</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31271-2013-3-2631271.jpg" alt="31271" /><span>31271</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31272-2013-3-2631272.jpg" alt="31272" /><span>31272</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31273-2013-3-2631273.jpg" alt="31273" /><span>31273</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/12.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Bollywood</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30385-2012-3-530385.jpg" alt="30385" /><span>30385</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30381-2012-3-530381.jpg" alt="30381" /><span>30381</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31266-2008-12-1731266.jpg" alt="31266" /><span>31266</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31265-2008-12-1731265.jpg" alt="31265" /><span>31265</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31264-2008-12-1731264.jpg" alt="31264" /><span>31264</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31263-2008-12-1731263.jpg" alt="31263" /><span>31263</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31262-2008-12-1731262.jpg" alt="31262" /><span>31262</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31261-2008-12-1731261.jpg" alt="31261" /><span>31261</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/5.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Cars</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31209-2008-12-1731209.jpg" alt="31209" /><span>31209</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31208-2008-12-1731208.jpg" alt="31208" /><span>31208</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31207-2008-12-1731207.jpg" alt="31207" /><span>31207</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31206-2008-12-1731206.jpg" alt="31206" /><span>31206</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31205-2008-12-1731205.jpg" alt="31205" /><span>31205</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31204-2008-12-1731204.jpg" alt="31204" /><span>31204</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31203-2008-12-1731203.jpg" alt="31203" /><span>31203</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31202-2008-12-1731202.jpg" alt="31202" /><span>31202</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/3.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Defence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31546-2013-8-2931546.jpg" alt="31546" /><span>31546</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31547-2013-8-2931547.jpg" alt="31547" /><span>31547</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31548-2013-8-2931548.jpg" alt="31548" /><span>31548</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31549-2013-8-2931549.jpg" alt="31549" /><span>31549</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31550-2013-8-2931550.jpg" alt="31550" /><span>31550</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31551-2013-8-2931551.jpg" alt="31551" /><span>31551</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31552-2013-8-2931552.jpg" alt="31552" /><span>31552</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31553-2013-8-2931553.jpg" alt="31553" /><span>31553</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/10.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Eid Mubarak</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31580-2013-10-1131580.jpg" alt="31580" /><span>31580</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31581-2013-10-1131581.jpg" alt="31581" /><span>31581</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31582-2013-10-1131582.jpg" alt="31582" /><span>31582</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31583-2013-10-1131583.jpg" alt="31583" /><span>31583</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31584-2013-10-1131584.jpg" alt="31584" /><span>31584</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31585-2013-10-1131585.jpg" alt="31585" /><span>31585</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31586-2013-10-1131586.jpg" alt="31586" /><span>31586</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31587-2013-10-1131587.jpg" alt="31587" /><span>31587</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/14.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Fathers Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31356-2013-6-431356.jpg" alt="31356" /><span>31356</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31357-2013-6-431357.jpg" alt="31357" /><span>31357</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31358-2013-6-431358.jpg" alt="31358" /><span>31358</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31359-2013-6-431359.jpg" alt="31359" /><span>31359</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31360-2013-6-431360.jpg" alt="31360" /><span>31360</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31361-2013-6-431361.jpg" alt="31361" /><span>31361</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31362-2013-6-431362.jpg" alt="31362" /><span>31362</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31363-2013-6-431363.jpg" alt="31363" /><span>31363</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/13.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Friendship Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31446-2013-8-131446.jpg" alt="31446" /><span>31446</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31447-2013-8-131447.jpg" alt="31447" /><span>31447</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31448-2013-8-131448.jpg" alt="31448" /><span>31448</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31449-2013-8-131449.jpg" alt="31449" /><span>31449</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31450-2013-8-131450.jpg" alt="31450" /><span>31450</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31451-2013-8-131451.jpg" alt="31451" /><span>31451</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31452-2013-8-131452.jpg" alt="31452" /><span>31452</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31453-2013-8-131453.jpg" alt="31453" /><span>31453</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/8.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Independence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31516-2013-8-1231516.jpg" alt="31516" /><span>31516</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31517-2013-8-1231517.jpg" alt="31517" /><span>31517</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31518-2013-8-1231518.jpg" alt="31518" /><span>31518</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31519-2013-8-1231519.jpg" alt="31519" /><span>31519</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31520-2013-8-1231520.jpg" alt="31520" /><span>31520</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31521-2013-8-1231521.jpg" alt="31521" /><span>31521</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31522-2013-8-1231522.jpg" alt="31522" /><span>31522</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31523-2013-8-1231523.jpg" alt="31523" /><span>31523</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/6.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Iqbal Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30943-2012-11-730943.jpg" alt="30943" /><span>30943</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30942-2012-11-730942.jpg" alt="30942" /><span>30942</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30941-2012-11-730941.jpg" alt="30941" /><span>30941</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30940-2012-11-730940.jpg" alt="30940" /><span>30940</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30937-2012-11-730937.jpg" alt="30937" /><span>30937</span>
                    </a>


                </div>
                <h2><small>Islamic</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31136.jpg" alt="31136" /><span>31136</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31137.jpg" alt="31137" /><span>31137</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31138.jpg" alt="31138" /><span>31138</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31139.jpg" alt="31139" /><span>31139</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31140.jpg" alt="31140" /><span>31140</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31141.jpg" alt="31141" /><span>31141</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31142.jpg" alt="31142" /><span>31142</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31143.jpg" alt="31143" /><span>31143</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/2.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Labor Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31296-2013-4-2331296.jpg" alt="31296" /><span>31296</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31297-2013-4-2331297.jpg" alt="31297" /><span>31297</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31298-2013-4-2331298.jpg" alt="31298" /><span>31298</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31299-2013-4-2331299.jpg" alt="31299" /><span>31299</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31300-2013-4-2331300.jpg" alt="31300" /><span>31300</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31301-2013-4-2331301.jpg" alt="31301" /><span>31301</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31302-2013-4-2331302.jpg" alt="31302" /><span>31302</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31303-2013-4-2331303.jpg" alt="31303" /><span>31303</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/9.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Love</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31166.jpg" alt="31166" /><span>31166</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31167.jpg" alt="31167" /><span>31167</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31168.jpg" alt="31168" /><span>31168</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31169.jpg" alt="31169" /><span>31169</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31170.jpg" alt="31170" /><span>31170</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31171.jpg" alt="31171" /><span>31171</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31172.jpg" alt="31172" /><span>31172</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31173.jpg" alt="31173" /><span>31173</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/1.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31316-2013-5-231316.jpg" alt="31316" /><span>31316</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31317-2013-5-231317.jpg" alt="31317" /><span>31317</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31318-2013-5-231318.jpg" alt="31318" /><span>31318</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31319-2013-5-231319.jpg" alt="31319" /><span>31319</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31320-2013-5-231320.jpg" alt="31320" /><span>31320</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31321-2013-5-231321.jpg" alt="31321" /><span>31321</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31322-2013-5-231322.jpg" alt="31322" /><span>31322</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31323-2013-5-231323.jpg" alt="31323" /><span>31323</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/20.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day 2014</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31898.jpg" alt="31898" /><span>31898</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31899.jpg" alt="31899" /><span>31899</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31900.jpg" alt="31900" /><span>31900</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31901.jpg" alt="31901" /><span>31901</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31902.jpg" alt="31902" /><span>31902</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31903.jpg" alt="31903" /><span>31903</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31904.jpg" alt="31904" /><span>31904</span>
                    </a>


                </div>
                <h2><small>Muharram-ul-Haram</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30971-2012-11-2130971.jpg" alt="30971" /><span>30971</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30970-2012-11-2130970.jpg" alt="30970" /><span>30970</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30969-2012-11-2130969.jpg" alt="30969" /><span>30969</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30968-2012-11-2130968.jpg" alt="30968" /><span>30968</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30967-2012-11-2130967.jpg" alt="30967" /><span>30967</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30966-2012-11-2130966.jpg" alt="30966" /><span>30966</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30965-2012-11-2130965.jpg" alt="30965" /><span>30965</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30964-2012-11-2130964.jpg" alt="30964" /><span>30964</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/17.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>New Year</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30298-2011-12-1930298.gif" alt="30298" /><span>30298</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30297-2011-12-1930297.gif" alt="30297" /><span>30297</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30296-2011-12-1930296.gif" alt="30296" /><span>30296</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30295-2011-12-1930295.gif" alt="30295" /><span>30295</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30293-2011-12-1930293.gif" alt="30293" /><span>30293</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30292-2011-12-1930292.gif" alt="30292" /><span>30292</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30291-2011-12-1930291.gif" alt="30291" /><span>30291</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30290-2011-12-1930290.gif" alt="30290" /><span>30290</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/7.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Pakistan Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31226-2013-3-1231226.jpg" alt="31226" /><span>31226</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31227-2013-3-1231227.jpg" alt="31227" /><span>31227</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31228-2013-3-1231228.jpg" alt="31228" /><span>31228</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31229-2013-3-1231229.jpg" alt="31229" /><span>31229</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31230-2013-3-1231230.jpg" alt="31230" /><span>31230</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31231-2013-3-1231231.jpg" alt="31231" /><span>31231</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31232-2013-3-1231232.jpg" alt="31232" /><span>31232</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31233-2013-3-1231233.jpg" alt="31233" /><span>31233</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/19.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Quaid-e-Azam Day, 2012</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30997-2012-12-630997.jpg" alt="30997" /><span>30997</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30996-2012-12-630996.jpg" alt="30996" /><span>30996</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30995-2012-12-630995.jpg" alt="30995" /><span>30995</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30994-2012-12-630994.jpg" alt="30994" /><span>30994</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30993-2012-12-630993.jpg" alt="30993" /><span>30993</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30992-2012-12-630992.jpg" alt="30992" /><span>30992</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30991-2012-12-630991.jpg" alt="30991" /><span>30991</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30990-2012-12-630990.jpg" alt="30990" /><span>30990</span>
                    </a>


                </div>
                <h2><small>Ramadan</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31399-2013-7-431399.jpg" alt="31399" /><span>31399</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31400-2013-7-431400.jpg" alt="31400" /><span>31400</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31401-2013-7-431401.jpg" alt="31401" /><span>31401</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31402-2013-7-431402.jpg" alt="31402" /><span>31402</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31403-2013-7-431403.jpg" alt="31403" /><span>31403</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31404-2013-7-431404.jpg" alt="31404" /><span>31404</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31405-2013-7-431405.jpg" alt="31405" /><span>31405</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31406-2013-7-431406.jpg" alt="31406" /><span>31406</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/21.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Sports</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31812-2010-12-2831812.jpg" alt="31812" /><span>31812</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31811-2010-12-2831811.jpg" alt="31811" /><span>31811</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31810-2010-12-2831810.jpg" alt="31810" /><span>31810</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31809-2010-12-2831809.jpg" alt="31809" /><span>31809</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31808-2010-12-2831808.jpg" alt="31808" /><span>31808</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31807-2010-12-2831807.jpg" alt="31807" /><span>31807</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31806-2010-12-2831806.jpg" alt="31806" /><span>31806</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/31805-2010-12-2831805.jpg" alt="31805" /><span>31805</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/4.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Womens day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30388-2012-3-530388.jpg" alt="30388" /><span>30388</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30387-2012-3-530387.jpg" alt="30387" /><span>30387</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30386-2012-3-530386.jpg" alt="30386" /><span>30386</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30384-2012-3-530384.jpg" alt="30384" /><span>30384</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30383-2012-3-530383.jpg" alt="30383" /><span>30383</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30382-2012-3-530382.jpg" alt="30382" /><span>30382</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30380-2012-3-530380.jpg" alt="30380" /><span>30380</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30379-2012-3-530379.jpg" alt="30379" /><span>30379</span>
                    </a>


                </div>
                <h2><small>World Cup, 2012</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30887-2012-9-2030887.jpg" alt="30887" /><span>30887</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30886-2012-9-2030886.jpg" alt="30886" /><span>30886</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30885-2012-9-2030885.jpg" alt="30885" /><span>30885</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30884-2012-9-2030884.jpg" alt="30884" /><span>30884</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30883-2012-9-2030883.jpg" alt="30883" /><span>30883</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30882-2012-9-2030882.jpg" alt="30882" /><span>30882</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30881-2012-9-2030881.jpg" alt="30881" /><span>30881</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/pm/30880-2012-9-2030880.jpg" alt="30880" /><span>30880</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="picture-messages/15.html" class="more-btn">More</a>
                    </span>

                </div>

            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../warid-youth-portal.html"><img src="../../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../warid-youth-portal.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../social-networking.html"><img src="../../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../social-networking.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
