
@{
    ViewBag.Title = "screensavers";
}


@section featuredArea{
<div class="static-banner-box">
    <img src="../../../assets/services_header_images/vas/screen_savers.png" alt="Screen Savers" />
</div>


}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../entertainment.html">ENTERTAINMENT</a></li>



                        <li>&gt;&nbsp;<a class="" href="../warid-zone.html">WARID ZONE</a></li>


                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="screensavers.html">SCREENSAVERS</a></li>











                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/entertainment/warid-zone/screensavers&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/loveservices/lovemeter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/lovequizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/smslovestory">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/babagkeepredcitions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="ringtones">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="picturemessages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="mobilegames">Mobile_Games</a>
                                            </li>
                                            <li class="active">
                                                <a class="breadcrumbs-selected" href="screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="waridalerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="/waridalerts/forecastcities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/namazalerts>Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/careers/cvwriting">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/interviewpreparationtips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/jobalerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/careeradvice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/trainingandevents">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/myguide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services129">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services321">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/freeassistanceservices">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../music/warid-rockstar.html">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/mrbt-movie-offer.html">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../../music/caller-tunes/caller-tunes/terms-conditions.html">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/sms-commands.html">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/features-and-charging.html">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/warid-name-tune.html">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/song-search.html">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/auto-dialer.html">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/background-music.html">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/music-station.html">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-club.html">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-stream.html">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="/religion/religion/islamicsservice786">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/duaservice">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/namazalerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/ayatalerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Screen Savers
                </div>
                <h2><small>April Fool s Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58745-2013-8-1258745.gif" alt="58745" /><span>58745</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58749-2013-8-1258749.gif" alt="58749" /><span>58749</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58457-2013-3-2658457.gif" alt="58457" /><span>58457</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58458-2013-3-2658458.gif" alt="58458" /><span>58458</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58459-2013-3-2658459.gif" alt="58459" /><span>58459</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58460-2013-3-2658460.gif" alt="58460" /><span>58460</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58461-2013-3-2658461.gif" alt="58461" /><span>58461</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58462-2013-3-2658462.gif" alt="58462" /><span>58462</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/14.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Bollywood</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58093-2008-12-1758093.gif" alt="58093" /><span>58093</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58092-2008-12-1758092.gif" alt="58092" /><span>58092</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58090-2008-12-1758090.gif" alt="58090" /><span>58090</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58087-2008-12-1758087.gif" alt="58087" /><span>58087</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58085-2008-12-1758085.gif" alt="58085" /><span>58085</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58082-2008-12-1758082.gif" alt="58082" /><span>58082</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58081-2008-12-1758081.gif" alt="58081" /><span>58081</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58079-2008-12-1758079.gif" alt="58079" /><span>58079</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/7.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Cars</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57949-2008-6-657949.gif" alt="57949" /><span>57949</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57948-2008-6-657948.gif" alt="57948" /><span>57948</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57947-2008-6-657947.gif" alt="57947" /><span>57947</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57946-2008-6-657946.gif" alt="57946" /><span>57946</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57945-2008-6-657945.gif" alt="57945" /><span>57945</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57851-2008-6-657851.gif" alt="57851" /><span>57851</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57850-2008-6-657850.gif" alt="57850" /><span>57850</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57849-2008-6-657849.gif" alt="57849" /><span>57849</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/5.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Cartoons</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58130-2008-12-1758130.gif" alt="58130" /><span>58130</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58128-2008-12-1758128.gif" alt="58128" /><span>58128</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58127-2008-12-1758127.gif" alt="58127" /><span>58127</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58126-2008-12-1758126.gif" alt="58126" /><span>58126</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58125-2008-12-1758125.gif" alt="58125" /><span>58125</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57954-2008-6-657954.gif" alt="57954" /><span>57954</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57956-2008-6-657956.gif" alt="57956" /><span>57956</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57955-2008-6-657955.gif" alt="57955" /><span>57955</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/1.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Defence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58784-2013-8-2958784.gif" alt="58784" /><span>58784</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58785-2013-8-2958785.gif" alt="58785" /><span>58785</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58786-2013-8-2958786.gif" alt="58786" /><span>58786</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58787-2013-8-2958787.gif" alt="58787" /><span>58787</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58788-2013-8-2958788.gif" alt="58788" /><span>58788</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58789-2013-8-2958789.gif" alt="58789" /><span>58789</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58790-2013-8-2958790.gif" alt="58790" /><span>58790</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58791-2013-8-2958791.gif" alt="58791" /><span>58791</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/12.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Eid Mubarak</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58828-2013-10-1158828.gif" alt="58828" /><span>58828</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58829-2013-10-1158829.gif" alt="58829" /><span>58829</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58830-2013-10-1158830.gif" alt="58830" /><span>58830</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58831-2013-10-1158831.gif" alt="58831" /><span>58831</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58832-2013-10-1158832.gif" alt="58832" /><span>58832</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58833-2013-10-1158833.gif" alt="58833" /><span>58833</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58834-2013-10-1158834.gif" alt="58834" /><span>58834</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58835-2013-10-1158835.gif" alt="58835" /><span>58835</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/15.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Fathers Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58568-2013-6-458568.gif" alt="58568" /><span>58568</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58569-2013-6-458569.gif" alt="58569" /><span>58569</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58570-2013-6-458570.gif" alt="58570" /><span>58570</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58571-2013-6-458571.gif" alt="58571" /><span>58571</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58572-2013-6-458572.gif" alt="58572" /><span>58572</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58573-2013-6-458573.gif" alt="58573" /><span>58573</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58574-2013-6-458574.gif" alt="58574" /><span>58574</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58575-2013-6-458575.gif" alt="58575" /><span>58575</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/20.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Friendship Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58672-2013-8-158672.gif" alt="58672" /><span>58672</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58673-2013-8-158673.gif" alt="58673" /><span>58673</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58674-2013-8-158674.gif" alt="58674" /><span>58674</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58675-2013-8-158675.gif" alt="58675" /><span>58675</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58676-2013-8-158676.gif" alt="58676" /><span>58676</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58677-2013-8-158677.gif" alt="58677" /><span>58677</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58678-2013-8-158678.gif" alt="58678" /><span>58678</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58679-2013-8-158679.gif" alt="58679" /><span>58679</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/10.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Humor</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58136-2008-12-1758136.gif" alt="58136" /><span>58136</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58135-2008-12-1758135.gif" alt="58135" /><span>58135</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58134-2008-12-1758134.gif" alt="58134" /><span>58134</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58133-2008-12-1758133.gif" alt="58133" /><span>58133</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58132-2008-12-1758132.gif" alt="58132" /><span>58132</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57973-2008-6-657973.gif" alt="57973" /><span>57973</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57972-2008-6-657972.gif" alt="57972" /><span>57972</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57971-2008-6-657971.gif" alt="57971" /><span>57971</span>
                    </a>


                </div>
                <h2><small>Independence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58745-2013-8-1258745.gif" alt="58745" /><span>58745</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58746-2013-8-1258746.gif" alt="58746" /><span>58746</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58747-2013-8-1258747.gif" alt="58747" /><span>58747</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58748-2013-8-1258748.gif" alt="58748" /><span>58748</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58749-2013-8-1258749.gif" alt="58749" /><span>58749</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58750-2013-8-1258750.gif" alt="58750" /><span>58750</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58751-2013-8-1258751.gif" alt="58751" /><span>58751</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58752-2013-8-1258752.gif" alt="58752" /><span>58752</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/9.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Iqbal Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58153-2012-11-758153.gif" alt="58153" /><span>58153</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58149-2012-11-758149.gif" alt="58149" /><span>58149</span>
                    </a>


                </div>
                <h2><small>Islamic</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58307.gif" alt="58307" /><span>58307</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58308.gif" alt="58308" /><span>58308</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58309.gif" alt="58309" /><span>58309</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58310.gif" alt="58310" /><span>58310</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58311.gif" alt="58311" /><span>58311</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58312.gif" alt="58312" /><span>58312</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58313.gif" alt="58313" /><span>58313</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58314.gif" alt="58314" /><span>58314</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/3.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Labor Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58494-2013-4-2358494.gif" alt="58494" /><span>58494</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58495-2013-4-2358495.gif" alt="58495" /><span>58495</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58496-2013-4-2358496.gif" alt="58496" /><span>58496</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58497-2013-4-2358497.gif" alt="58497" /><span>58497</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58498-2013-4-2358498.gif" alt="58498" /><span>58498</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58499-2013-4-2358499.gif" alt="58499" /><span>58499</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58500-2013-4-2358500.gif" alt="58500" /><span>58500</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58501-2013-4-2358501.gif" alt="58501" /><span>58501</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/11.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Love & Emotions</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58345.gif" alt="58345" /><span>58345</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58346.gif" alt="58346" /><span>58346</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58347.gif" alt="58347" /><span>58347</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58348.gif" alt="58348" /><span>58348</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58349.gif" alt="58349" /><span>58349</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58350.gif" alt="58350" /><span>58350</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58351.gif" alt="58351" /><span>58351</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58352.gif" alt="58352" /><span>58352</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/6.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58517-2013-5-258517.gif" alt="58517" /><span>58517</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58518-2013-5-258518.gif" alt="58518" /><span>58518</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58519-2013-5-258519.gif" alt="58519" /><span>58519</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58520-2013-5-258520.gif" alt="58520" /><span>58520</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58521-2013-5-258521.gif" alt="58521" /><span>58521</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58522-2013-5-258522.gif" alt="58522" /><span>58522</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58523-2013-5-258523.gif" alt="58523" /><span>58523</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58524-2013-5-258524.gif" alt="58524" /><span>58524</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/19.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day 2014</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59228.gif" alt="59228" /><span>59228</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59229.gif" alt="59229" /><span>59229</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59230.gif" alt="59230" /><span>59230</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59231.gif" alt="59231" /><span>59231</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59232.gif" alt="59232" /><span>59232</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59233.gif" alt="59233" /><span>59233</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59234.gif" alt="59234" /><span>59234</span>
                    </a>


                </div>
                <h2><small>New Year</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57332-2011-12-1957332.gif" alt="57332" /><span>57332</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57331-2011-12-1957331.gif" alt="57331" /><span>57331</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57330-2011-12-1957330.gif" alt="57330" /><span>57330</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57329-2011-12-1957329.gif" alt="57329" /><span>57329</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57328-2011-12-1957328.gif" alt="57328" /><span>57328</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57327-2011-12-1957327.gif" alt="57327" /><span>57327</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57326-2011-12-1957326.gif" alt="57326" /><span>57326</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57325-2011-12-1957325.gif" alt="57325" /><span>57325</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/8.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Pakistan Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58416-2013-3-1258416.gif" alt="58416" /><span>58416</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58417-2013-3-1258417.gif" alt="58417" /><span>58417</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58418-2013-3-1258418.gif" alt="58418" /><span>58418</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58419-2013-3-1258419.gif" alt="58419" /><span>58419</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58420-2013-3-1258420.gif" alt="58420" /><span>58420</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58421-2013-3-1258421.gif" alt="58421" /><span>58421</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58422-2013-3-1258422.gif" alt="58422" /><span>58422</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58423-2013-3-1258423.gif" alt="58423" /><span>58423</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/18.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Ramadan</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58623-2013-7-458623.gif" alt="58623" /><span>58623</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58624-2013-7-458624.gif" alt="58624" /><span>58624</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58625-2013-7-458625.gif" alt="58625" /><span>58625</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58626-2013-7-458626.gif" alt="58626" /><span>58626</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58627-2013-7-458627.gif" alt="58627" /><span>58627</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58628-2013-7-458628.gif" alt="58628" /><span>58628</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58629-2013-7-458629.gif" alt="58629" /><span>58629</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58630-2013-7-458630.gif" alt="58630" /><span>58630</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/21.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Sports</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59248-2010-12-2859248.gif" alt="59248" /><span>59248</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59247-2010-12-2859247.gif" alt="59247" /><span>59247</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59246-2010-12-2859246.gif" alt="59246" /><span>59246</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59245-2010-12-2859245.gif" alt="59245" /><span>59245</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59244-2010-12-2859244.gif" alt="59244" /><span>59244</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59243-2010-12-2859243.gif" alt="59243" /><span>59243</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59242-2010-12-2859242.gif" alt="59242" /><span>59242</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/59241-2010-12-2859241.gif" alt="59241" /><span>59241</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/2.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Women s day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57439-2012-3-557439.gif" alt="57439" /><span>57439</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57438-2012-3-557438.gif" alt="57438" /><span>57438</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57437-2012-3-557437.gif" alt="57437" /><span>57437</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57436-2012-3-557436.gif" alt="57436" /><span>57436</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57435-2012-3-557435.gif" alt="57435" /><span>57435</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57434-2012-3-557434.gif" alt="57434" /><span>57434</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57433-2012-3-557433.gif" alt="57433" /><span>57433</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/57432-2012-3-557432.gif" alt="57432" /><span>57432</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="waridalerts/screensavers/13.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Worldcup 2012</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/animations/58011-2012-9-2058011.gif" alt="58011" /><span>58011</span>
                    </a>


                </div>

            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../warid-youth-portal.html"><img src="../../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../warid-youth-portal.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../social-networking.html"><img src="../../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../social-networking.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>