
@{
    ViewBag.Title = "wallpapers";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="../../../assets/services_header_images/vas/wallpapers.png" alt="Wallpapers" />
</div>

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../entertainment.html">ENTERTAINMENT</a></li>



                        <li>&gt;&nbsp;<a class="" href="../warid-zone.html">WARID ZONE</a></li>


                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="wallpapers.html">WALLPAPERS</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/entertainment/warid-zone/wallpapers&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/loveservices/lovemeter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/lovequizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/smslovestory">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="loveservices/babagkeepredcitions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="ringtones">Ringtones</a>
                                            </li>
                                            <li class="active">
                                                <a class="breadcrumbs-selected" href="wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="picturemessages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="mobilegames">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="waridalerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="/waridalerts/forecastcities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="/waridalerts/namazalerts>Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/careers/cvwriting">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/interviewpreparationtips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/jobalerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/careeradvice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/trainingandevents">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/myguide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services129">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services321">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/freeassistanceservices">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../music/warid-rockstar.html">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/mrbt-movie-offer.html">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../../music/caller-tunes/caller-tunes/terms-conditions.html">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/sms-commands.html">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/features-and-charging.html">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/warid-name-tune.html">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/song-search.html">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../music/caller-tunes/auto-dialer.html">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/background-music.html">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/music-station.html">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-club.html">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../music/warid-music-stream.html">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="/religion/religion/islamicsservice786">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/duaservice">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/namazalerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/religion/ayatalerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-apps/warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Wallpapers
                </div>
                <h2><small>April Fool s Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51898-2013-3-2651898.jpg" alt="51898" /><span>51898</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51899-2013-3-2651899.jpg" alt="51899" /><span>51899</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51900-2013-3-2651900.jpg" alt="51900" /><span>51900</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51901-2013-3-2651901.jpg" alt="51901" /><span>51901</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51902-2013-3-2651902.jpg" alt="51902" /><span>51902</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51903-2013-3-2651903.jpg" alt="51903" /><span>51903</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51904-2013-3-2651904.jpg" alt="51904" /><span>51904</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51905-2013-3-2651905.jpg" alt="51905" /><span>51905</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/14.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Bollywood</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53190-2010-2-753190.jpg" alt="53190" /><span>53190</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52567-2009-3-2252567.jpg" alt="52567" /><span>52567</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52118-2008-12-1752118.jpg" alt="52118" /><span>52118</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52119-2008-12-1752119.jpg" alt="52119" /><span>52119</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52115-2008-12-1752115.jpg" alt="52115" /><span>52115</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52105-2008-12-1752105.jpg" alt="52105" /><span>52105</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52085-2008-12-1752085.jpg" alt="52085" /><span>52085</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51812-2008-7-3051812.jpg" alt="51812" /><span>51812</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/5.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Cars</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51492-2008-6-1151492.jpg" alt="51492" /><span>51492</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51490-2008-6-1151490.jpg" alt="51490" /><span>51490</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51489-2008-6-1151489.jpg" alt="51489" /><span>51489</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51488-2008-6-1151488.jpg" alt="51488" /><span>51488</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51486-2008-6-1151486.jpg" alt="51486" /><span>51486</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51485-2008-6-1151485.jpg" alt="51485" /><span>51485</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51484-2008-6-1151484.jpg" alt="51484" /><span>51484</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51483-2008-6-1151483.jpg" alt="51483" /><span>51483</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/1.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Cricket</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52718-2009-4-2152718.jpg" alt="52718" /><span>52718</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52717-2009-4-2152717.jpg" alt="52717" /><span>52717</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52716-2009-4-2152716.jpg" alt="52716" /><span>52716</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52715-2009-4-2152715.jpg" alt="52715" /><span>52715</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52714-2009-4-2152714.jpg" alt="52714" /><span>52714</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52713-2009-4-2152713.jpg" alt="52713" /><span>52713</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52712-2009-4-2152712.jpg" alt="52712" /><span>52712</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52711-2009-4-2152711.jpg" alt="52711" /><span>52711</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/8.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Defence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52386-2013-8-2952386.jpg" alt="52386" /><span>52386</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52387-2013-8-2952387.jpg" alt="52387" /><span>52387</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52388-2013-8-2952388.jpg" alt="52388" /><span>52388</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52389-2013-8-2952389.jpg" alt="52389" /><span>52389</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52385-2013-8-2952385.jpg" alt="52385" /><span>52385</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52390-2013-8-2952390.jpg" alt="52390" /><span>52390</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52391-2013-8-2952391.jpg" alt="52391" /><span>52391</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52392-2013-8-2952392.jpg" alt="52392" /><span>52392</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/12.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Eid Mubarak</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52467-2013-10-1152467.jpg" alt="52467" /><span>52467</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52468-2013-10-1152468.jpg" alt="52468" /><span>52468</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52469-2013-10-1152469.jpg" alt="52469" /><span>52469</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52470-2013-10-1152470.jpg" alt="52470" /><span>52470</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52471-2013-10-1152471.jpg" alt="52471" /><span>52471</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52472-2013-10-1152472.jpg" alt="52472" /><span>52472</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52473-2013-10-1152473.jpg" alt="52473" /><span>52473</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52474-2013-10-1152474.jpg" alt="52474" /><span>52474</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/16.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Fathers Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52096-2013-6-452096.jpg" alt="52096" /><span>52096</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52097-2013-6-452097.jpg" alt="52097" /><span>52097</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52098-2013-6-452098.jpg" alt="52098" /><span>52098</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52099-2013-6-452099.jpg" alt="52099" /><span>52099</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52100.jpg" alt="52100" /><span>52100</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52101.jpg" alt="52101" /><span>52101</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52102-2013-6-452102.jpg" alt="52102" /><span>52102</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52103-2013-6-452103.jpg" alt="52103" /><span>52103</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/15.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Friendship Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52241.jpg" alt="52241" /><span>52241</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52242.jpg" alt="52242" /><span>52242</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52243.jpg" alt="52243" /><span>52243</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52244.jpg" alt="52244" /><span>52244</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52245.jpg" alt="52245" /><span>52245</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52246.jpg" alt="52246" /><span>52246</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52247.jpg" alt="52247" /><span>52247</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52248.jpg" alt="52248" /><span>52248</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/10.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Humor</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52252-2008-12-1752252.jpg" alt="52252" /><span>52252</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52251-2008-12-1752251.jpg" alt="52251" /><span>52251</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51786-2008-6-1151786.jpg" alt="51786" /><span>51786</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51785-2008-6-1151785.jpg" alt="51785" /><span>51785</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51784-2008-6-1151784.jpg" alt="51784" /><span>51784</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51783-2008-6-1151783.jpg" alt="51783" /><span>51783</span>
                    </a>


                </div>
                <h2><small>Independence Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52328-2013-8-1252328.jpg" alt="52328" /><span>52328</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52329-2013-8-1252329.jpg" alt="52329" /><span>52329</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52330-2013-8-1252330.jpg" alt="52330" /><span>52330</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52331-2013-8-1252331.jpg" alt="52331" /><span>52331</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52332-2013-8-1252332.jpg" alt="52332" /><span>52332</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52333-2013-8-1252333.jpg" alt="52333" /><span>52333</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52334-2013-8-1252334.jpg" alt="52334" /><span>52334</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52335-2013-8-1252335.jpg" alt="52335" /><span>52335</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/9.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Iqbal Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51468-2012-11-751468.jpg" alt="51468" /><span>51468</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51466-2012-11-751466.jpg" alt="51466" /><span>51466</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51462-2012-11-751462.jpg" alt="51462" /><span>51462</span>
                    </a>


                </div>
                <h2><small>Islamic</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51687.jpg" alt="51687" /><span>51687</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51688.jpg" alt="51688" /><span>51688</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51689.jpg" alt="51689" /><span>51689</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51690.jpg" alt="51690" /><span>51690</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51691.jpg" alt="51691" /><span>51691</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51692.jpg" alt="51692" /><span>51692</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51693.jpg" alt="51693" /><span>51693</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51694.jpg" alt="51694" /><span>51694</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/2.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Labor Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51974-2013-4-2351974.jpg" alt="51974" /><span>51974</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51975-2013-4-2351975.jpg" alt="51975" /><span>51975</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51976-2013-4-2351976.jpg" alt="51976" /><span>51976</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51977-2013-4-2351977.jpg" alt="51977" /><span>51977</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51978-2013-4-2351978.jpg" alt="51978" /><span>51978</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51979-2013-4-2351979.jpg" alt="51979" /><span>51979</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51980-2013-4-2351980.jpg" alt="51980" /><span>51980</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51981-2013-4-2351981.jpg" alt="51981" /><span>51981</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/11.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Love</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51746.jpg" alt="51746" /><span>51746</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51747.jpg" alt="51747" /><span>51747</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51748.jpg" alt="51748" /><span>51748</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51749.jpg" alt="51749" /><span>51749</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51750.jpg" alt="51750" /><span>51750</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51751.jpg" alt="51751" /><span>51751</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51752.jpg" alt="51752" /><span>51752</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51753.jpg" alt="51753" /><span>51753</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/3.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52008-2013-5-252008.jpg" alt="52008" /><span>52008</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52009-2013-5-252009.jpg" alt="52009" /><span>52009</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52010-2013-5-252010.jpg" alt="52010" /><span>52010</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52011-2013-5-252011.jpg" alt="52011" /><span>52011</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52012-2013-5-252012.jpg" alt="52012" /><span>52012</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52013-2013-5-252013.jpg" alt="52013" /><span>52013</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52014-2013-5-252014.jpg" alt="52014" /><span>52014</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52015-2013-5-252015.jpg" alt="52015" /><span>52015</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/22.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Mother's Day 2014</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53022.jpg" alt="53022" /><span>53022</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53023.jpg" alt="53023" /><span>53023</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53024.jpg" alt="53024" /><span>53024</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53025.jpg" alt="53025" /><span>53025</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53026.jpg" alt="53026" /><span>53026</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53027.jpg" alt="53027" /><span>53027</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53028.jpg" alt="53028" /><span>53028</span>
                    </a>


                </div>
                <h2><small>Muharram-ul-Haram</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51499-2012-11-2151499.jpg" alt="51499" /><span>51499</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51498-2012-11-2151498.jpg" alt="51498" /><span>51498</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51497-2012-11-2151497.jpg" alt="51497" /><span>51497</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51496-2012-11-2151496.jpg" alt="51496" /><span>51496</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51495-2012-11-2151495.jpg" alt="51495" /><span>51495</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51494-2012-11-2151494.jpg" alt="51494" /><span>51494</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51493-2012-11-2151493.jpg" alt="51493" /><span>51493</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51491-2012-11-2151491.jpg" alt="51491" /><span>51491</span>
                    </a>


                </div>
                <h2><small>New Year</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50434-2011-12-1950434.gif" alt="50434" /><span>50434</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50433-2011-12-1950433.gif" alt="50433" /><span>50433</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50431-2011-12-1950431.gif" alt="50431" /><span>50431</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50430-2011-12-1950430.gif" alt="50430" /><span>50430</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50429-2011-12-1950429.gif" alt="50429" /><span>50429</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50428-2011-12-1950428.gif" alt="50428" /><span>50428</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50427-2011-12-1950427.gif" alt="50427" /><span>50427</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50426-2011-12-1950426.gif" alt="50426" /><span>50426</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/7.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Pakistan Day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51852-2013-3-1251852.jpg" alt="51852" /><span>51852</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51853-2013-3-1251853.jpg" alt="51853" /><span>51853</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51854-2013-3-1251854.jpg" alt="51854" /><span>51854</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51855-2013-3-1251855.jpg" alt="51855" /><span>51855</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51856-2013-3-1251856.jpg" alt="51856" /><span>51856</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51857-2013-3-1251857.jpg" alt="51857" /><span>51857</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51858-2013-3-1251858.jpg" alt="51858" /><span>51858</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51859-2013-3-1251859.jpg" alt="51859" /><span>51859</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/21.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Quaid-e-Azam Day, 2012</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51540-2012-12-651540.jpg" alt="51540" /><span>51540</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51539-2012-12-651539.jpg" alt="51539" /><span>51539</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51538-2012-12-651538.jpg" alt="51538" /><span>51538</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51537-2012-12-651537.jpg" alt="51537" /><span>51537</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51536-2012-12-651536.jpg" alt="51536" /><span>51536</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51535-2012-12-651535.jpg" alt="51535" /><span>51535</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51534-2012-12-651534.jpg" alt="51534" /><span>51534</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51533-2012-12-651533.jpg" alt="51533" /><span>51533</span>
                    </a>


                </div>
                <h2><small>Ramadan</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52188-2013-7-452188.jpg" alt="52188" /><span>52188</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52189-2013-7-452189.jpg" alt="52189" /><span>52189</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52190-2013-7-452190.jpg" alt="52190" /><span>52190</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52191-2013-7-452191.jpg" alt="52191" /><span>52191</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52192-2013-7-452192.jpg" alt="52192" /><span>52192</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52193-2013-7-452193.jpg" alt="52193" /><span>52193</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52194-2013-7-452194.jpg" alt="52194" /><span>52194</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/52195-2013-7-452195.jpg" alt="52195" /><span>52195</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/23.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Sports</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53818-2010-12-2853818.jpg" alt="53818" /><span>53818</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53817-2010-12-2853817.jpg" alt="53817" /><span>53817</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53816-2010-12-2853816.jpg" alt="53816" /><span>53816</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53815-2010-12-2853815.jpg" alt="53815" /><span>53815</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53814-2010-12-2853814.jpg" alt="53814" /><span>53814</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53813-2010-12-2853813.jpg" alt="53813" /><span>53813</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53812-2010-12-2853812.jpg" alt="53812" /><span>53812</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/53811-2010-12-2853811.jpg" alt="53811" /><span>53811</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/4.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>Womens day</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50615-2012-3-550615.jpg" alt="50615" /><span>50615</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50614-2012-3-550614.jpg" alt="50614" /><span>50614</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50613-2012-3-550613.jpg" alt="50613" /><span>50613</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50612-2012-3-550612.jpg" alt="50612" /><span>50612</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50611-2012-3-550611.jpg" alt="50611" /><span>50611</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50610-2012-3-550610.jpg" alt="50610" /><span>50610</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50609-2012-3-550609.jpg" alt="50609" /><span>50609</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/50608-2012-3-550608.jpg" alt="50608" /><span>50608</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/13.html" class="more-btn">More</a>
                    </span>

                </div>
                <h2><small>World Cup 2012</small></h2>
                <div class="zone-box">
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51397-2012-9-2051397.jpg" alt="51397" /><span>51397</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51396-2012-9-2051396.jpg" alt="51396" /><span>51396</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51395-2012-9-2051395.jpg" alt="51395" /><span>51395</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51394-2012-9-2051394.jpg" alt="51394" /><span>51394</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51393-2012-9-2051393.jpg" alt="51393" /><span>51393</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51392-2012-9-2051392.jpg" alt="51392" /><span>51392</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51391-2012-9-2051391.jpg" alt="51391" /><span>51391</span>
                    </a>
                    <a style="text-decoration:none;" class="wallpaper-box">
                        <img src="../../../assets/warid_zone/wp/51390-2012-9-2051390.jpg" alt="51390" /><span>51390</span>
                    </a>

                    <span class="zone-more-btn-box">
                        <a href="wallpapers/17.html" class="more-btn">More</a>
                    </span>

                </div>

                <h2>How to download?</h2>
                <p align="left">
                    <strong>Go to,</strong><br />
                    Warid menu-&gt;messaging-&gt;logos &amp; icons-&gt;color wallpaper-&gt;My wallpaper
                </p>
                <div class="table-box">
                    <table width="50%">
                        <tbody>
                            <tr>
                                <th bgcolor="#EAEAEA">
                                    Enter code:
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <strong>OK</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p align="left">SMS Charges: Rs 2+ tax</p>
            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../warid-youth-portal.html"><img src="../../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../warid-youth-portal.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../balance-transfer-services/balance-request.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../../social-networking.html"><img src="../../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../../social-networking.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
