
@{
    ViewBag.Title = "mobileinterentsharing";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="http://www.waridtel.com/assets/services_header_images/vas/Mobile_internet_sharing_header.png" alt="Mobile Internet Sharing">
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/products">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/products/utilities">UTILITIES</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/products/utilities/mobile-internet-sharing">MOBILE INTERNET SHARING</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/utilities/mobile-internet-sharing&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/products/utilities/mobile-internet-sharing" data-title="Warid Telecom :: "><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Futilities%2Fmobile-internet-sharing&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20&amp;time=1461070632670&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Futilities%2Fmobile-internet-sharing%23.VxYrJ6qEm1A.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/products/utilities/mobile-internet-sharing#.VxYrJ6qEm1A.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/products/utilities/mobile-internet-sharing"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#"></a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/retailer-sahoolat-services">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/bima-insurance/terms-and-conditions">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/biometric-sim-re-verification">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-live">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-radio-station">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-voiler">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/drama-line">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ladies-portal">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/poetry-junction">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/shaadi-portal">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-fun-facts">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ask-warid">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-meter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-quizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/sms-love-story">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/baba-g-kee-predictions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/ring-tones">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/picture-messages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/mobile-games">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/vow">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/surprise-promo">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/valentine-promo">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/kahaani-portal">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-comedy-corner">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-fun-store">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/ilaqai-portal">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/gup-lagao">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/song-and-greeting-dedication">Song &amp; Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/premium-sms-service">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-easy-menu">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/voice-poke">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/sitaray-kehtay-hain">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/prize-bond-informer">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-youth-portal">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/breaking-news">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/weather-update/forecast-cities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/namaz-alerts">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-video-news">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/start-stop-services">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/doctors-helpline">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/cv-writing">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/interview-preparation-tips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/job-alerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/career-advice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/training-and-events">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-virtual-stocks">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/vocabulary-builder">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-iq-test">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-kissan-line">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/language-learner">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/biz-store">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-guide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-buddy">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-family">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-corp">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-sms-email">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/find-my-number">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/help-me">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/blood-bank-services">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/129-services">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/321-services">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/free-assistance-services">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-rockstar">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/mrbt-movie-offer">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/music/caller-tunes/caller-tunes/terms-conditions">Terms&amp;conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/sms-commands">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/features-and-charging">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/warid-name-tune">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/song-search">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/auto-dialer">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/background-music">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/music-station">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-club">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-stream">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/786-islamics-service">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/dua-service">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/namaz-alerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/ayat-alerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/sponsor-me">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-pre-balance-transfer">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-post-balance-transfer">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-post-balance-transfer">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-pre-balance-transfer">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/balance-request">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/auto-call-back">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/last-five-transactions">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/panic-alert">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-call-block">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/collect-call-and-sms">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/notify-me">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/missed-call-alerts">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/intro-me">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/double-number-offer">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/my-status">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/maal-dhamaal-2">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-delivery-reports">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/jhatpat-bill">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/call-me-back-service">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/mobile-phonebook-backup">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-ezee-connection">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/how-it-works">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/nano-sim">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/micro-sim">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/dual-number-sim">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/conference-call">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-divert">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-waiting">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-group-sms">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-based-reservation">SMS Based Reservation</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="http://www.waridtel.com/products/utilities/mobile-internet-sharing">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/unblock-me">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-islamic-app">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-world">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-apps">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/lte/vas/mywarid">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-sports-station">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-football-club">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-mobile">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/im-over-sms">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/google-talk">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-awaz">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/twitter-sms-service">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Mobile Internet Sharing
                </div>
                <p>Check your email, connect with friends, tweet, blog and do a lot more with Mobile Internet Service on your Warid mobile. Stay connected anytime, anywhere. So whenever you are on the move and want to look for information on the internet, simply setup the internet connection from your GPRS/ WAP/EDGE enabled handset. You can also use your handset as a GPRS modem and connect it to your laptop wirelessly using Bluetooth, infrared or a cable.</p>

                <h2>How it works</h2>
                <p>Consult your handset instructions manual to find out if your handset supports GPRS/ WAP/EDGE. Alternately call our Customer Care Center on 321 from your Warid phone or simply dial our UAN 111-111-321 from any other phone.Please also ensure, you have subscribed to GPRS before configuring these settings.</p>
                <ul>
                    <li>Go to: Warid Menu&gt;Messaging&gt;Mutimedia Settings&gt;WAP/GPRS</li>
                    <li>Enter the handset make (e.g nokia) and model number( e.g 6020) when prompted.</li>
                    <li>SMS will be generated from your handset</li>
                    <li>You will receive a message with the settings. Please select 'yes' to save the settings in your handset</li>
                </ul>
                <p><strong>Note</strong>: Before using mobile internet, please subscribe to the GPRS service and have your handset configured.</p>


                <h2>FAQs:</h2>

                <h2>From where is the Zem Pocket PCO available for purchase?</h2>
                <p>The bundle is available at selected cities (contact Warid customer services at 321 to find point of sales).</p>

                <h2>Can the Pocket PCO be available on a Warid postpaid number?</h2>
                <p>No Zem Pocket PCO is only for prepaid numbers.</p>

                <h2>What are documents do you need to purchase Zem Pocket PCO?</h2>
                <p>You will need the following documents:</p>
                <ul>
                    <li>CSAF</li>
                    <li>CNIC</li>
                    <li>PCO declaration form</li>
                </ul>

                <h2>What are the conditions for using a Zem Pocket PCO SIM?</h2>
                <p>The following terms &amp; conditions apply to use Zem Pocket PCO:</p>
                <ul>
                    <li>Purchase the entire bundle for PKR 3500</li>
                    <li>Use the SIM in a Motorola C123 handset or else you will not be eligible for bonus balance feature</li>
                    <li>Your Motorola sets would be in warranty serviceable from the designated service centers as mentioned on the warranty card under the terms &amp; conditions as mentioned on it</li>
                    <li>In case you change your handset from Motorola C123 to any other set your connection would be blocked within 7 days of the said change and the would not activated on Warid’s network again</li>
                </ul>

                <h2>What is the price of SIM change?</h2>
                <p>This SIM will be replaced at a price of PKR 200. Replacement SIMs would be available from the business centres of your city.</p>

                <h2>Can I port this number out to any other network?</h2>
                <p>By signing the PCO Terms &amp; Conditions form you agree to remain with Warid for a period of 1 year from the date of activation of your PCO package.</p>

                <h2>Can I use the SIM of any other network in this set?</h2>
                <p>By signing the PCO Terms &amp; Conditions form you agree to use the set with Warid SIM only. The handset is network locked so it will reject the signals of other network.</p>

                <h2>Can I avail all Customer Care Facilities on this number?</h2>
                <p>Not all CS facilities are available on this number namely; number change, package change, friends &amp; family addition. For any network complaints please contact 321</p>

                <h2>What is the tariff behind Zem Pocket PCO?</h2>
                <p>Rates of Zem Lowest Call Rate package applies on Pocket PCO. Refer to link for details: http://waridtel.com/consumer/zem/zem_tariff.php </p>

                <h2>Why can’t I use a normal Zem LCR package as a PCO?</h2>
                <p>A normal Zem LCR package does not have a Zem Pocket PCO bonus feature or SIM menu. For every PKR 1000 recharge via scratch card you will get a 100 free minutes for on-net and 100 free minutes for off-net. The message received after recharge of PKR 1000 voucher would be: “Your account remains Rs 1000. You have 100 on-net minutes &amp; 100 offnet minutes”.</p>
                <p><strong>Note:-</strong> The off-net minutes would not be available for International destinations.</p>

                <h2>Will my free minutes be available for unlimited number of days?</h2>
                <p>No your bonus balance will expire in 30 days from the date they were given i.e. the last time you recharged Rs.1000.</p>

                <h2>Can I avail my bonus amount if I use Warid ezeeLOAD?</h2>
                <p>At the moment bonus free minutes would be available for the recharge done by Warid scratch card.</p>

                <h2>Will I get bonus free minutes if I load balance on recharge of Rs.1000 by using 2 Warid scratch cards of Rs. 500 each?</h2>
                <p>No bonus free minutes are only applicable for a Warid scratch card of Rs. 1000 denomination.</p>

                <h2>How many free minutes do I get if I load 2 scratch cards of Rs.1000 each?</h2>
                <p>For every Rs. 1000 scratch card reload you will get 100 on-net &amp; 100 off-net minutes. In case you load two Rs.1000 scratch cards you will get double the amount i.e. 200 on-net &amp; 200 off-net minutes.</p>

                <h2>What would be validity period if I load Rs.1000 scratch card after a few days of loading the last card of Rs.1000 denomination?</h2>
                <p>The validity for the entire free minutes would be extended by 30 days starting from the last recharge e.g. if you have 50 free minutes left in on-net bonus balance and you reload a Rs.1000 scratch card on 1st September; your total free minutes would be 150 on-net &amp; 100 off-net with a validity of 1st November.</p>

                <h2>How will I be able to view my remaining free minutes?</h2>
                <p>A Use *100# or go into your SIM menu from Pocket PCO--&gt; Balance--&gt; Balance Iinquiry for checking your balance. For Zem Pocket PCO this notification will inform you of the remaining balance in on-net &amp; off-net accounts as well as your total balance loaded. Sample End of Call Notification: Your last call cost Rs.10. Your account remains Rs 500. You have 10 on-net minutes &amp; 50 offnet minutes</p>

                <h2>Where do I go if my handset or chord becomes faulty?</h2>
                <p>Warid gives you a complete year’s warranty for the Motorola C123 handset &amp; chord sold with the phone. Please refer to the warranty card for details of Motorola authorized dealers for such repairs and replacements.</p>

                <h2>Will I have to pay for the repair of my faulty handset or chord?</h2>
                <p>No Warid’s warranty on this bundle will ensure that you are do not pay anything. (Please read the warranty card for details of handset tampering conditions for which the Motorola centers will charge for the repairs.)</p>

                <h2>When does the warranty expire?</h2>
                <p>This warranty is applicable from date of purchase of bundle pack and is subject to the terms &amp; conditions as signed by you in the PCO Terms &amp; Conditions form.</p>

                <h2>Can I change my prepaid package or tariff?</h2>
                <p>No this not allowed on your package.</p>

                <h2>Can I change my prepaid number?</h2>
                <p>No this not allowed on your package.</p>

                <h2>Can I add friends &amp; family to my account?</h2>
                <p>No this not allowed on your package.</p>

                <h2>Where can I get a SIM if I need a replacement SIM?</h2>
                <p>Please contact the nearest business centre for a SIM replacement.</p>

                <h2>Where can I get a set if I loose my handset?</h2>
                <p>The bundle sold to you at purchase contained the subsidized handset. In case you lose the handset you will have to purchase a new one from distribution.</p>

            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/more_offers_images/Youth-P.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/more_offers_images/Balance_Request.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/more_offers_images/08201428084807434.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>


