
@{
    ViewBag.Title = "waridcallblock";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="http://www.waridtel.com/assets/services_header_images/vas/call-block.png" alt="Warid Call Block">
</div>

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/products">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/products/utilities">UTILITIES</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/products/utilities/warid-call-block">WARID CALL BLOCK</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/utilities/warid-call-block&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/products/utilities/warid-call-block" data-title="Warid Telecom :: "><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Futilities%2Fwarid-call-block&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20&amp;time=1461061918992&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fproducts%2Futilities%2Fwarid-call-block%23.VxYJHSinojU.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/products/utilities/warid-call-block#.VxYJHSinojU.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/products/utilities/warid-call-block"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">5</a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/retailer-sahoolat-services">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/bima-insurance/terms-and-conditions">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/products/biometric-sim-re-verification">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-live">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-radio-station">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-voiler">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/drama-line">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ladies-portal">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/poetry-junction">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/shaadi-portal">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/warid-fun-facts">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/ask-warid">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-meter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/love-quizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/sms-love-story">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/love-services/baba-g-kee-predictions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/ring-tones">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/wallpapers">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/picture-messages">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/greetings">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/mobile-games">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/warid-zone/screensavers">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/vow">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/surprise-promo">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/entertainment/valentine-promo">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/kahaani-portal">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-comedy-corner">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/warid-fun-store">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/ilaqai-portal">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/gup-lagao">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/entertainment/dial-junction/song-and-greeting-dedication">Song &amp; Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/premium-sms-service">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-easy-menu">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/voice-poke">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/sitaray-kehtay-hain">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/prize-bond-informer">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-youth-portal">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/breaking-news">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/jokes">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/horoscope">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/ayat">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/hadith">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/weather-update/forecast-cities">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/warid-alerts/namaz-alerts">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-video-news">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/start-stop-services">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/doctors-helpline">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/cv-writing">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/interview-preparation-tips">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/job-alerts">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/career-advice">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/training-and-events">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/careers/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-virtual-stocks">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/vocabulary-builder">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-iq-test">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-kissan-line">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/language-learner">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/biz-store">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-guide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-buddy">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-family">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/location-based-services/my-corp">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/warid-sms-email">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/find-my-number">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/help-me">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/infotainment/blood-bank-services">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/129-services">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/321-services">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/infotainment/self-care-services/free-assistance-services">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-rockstar">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/mrbt-movie-offer">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/products/music/caller-tunes/caller-tunes/terms-conditions">Terms&amp;conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/sms-commands">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/features-and-charging">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/warid-name-tune">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/song-search">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/music/caller-tunes/auto-dialer">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/background-music">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/music-station">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-club">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/music/warid-music-stream">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/786-islamics-service">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/dua-service">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/namaz-alerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/religion/ayat-alerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/sponsor-me">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-pre-balance-transfer">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/pre-to-post-balance-transfer">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-post-balance-transfer">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/post-to-pre-balance-transfer">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/balance-transfer-services/balance-request">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/auto-call-back">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/last-five-transactions">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/panic-alert">Panic Alert</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="http://www.waridtel.com/products/utilities/warid-call-block">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/collect-call-and-sms">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/notify-me">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/missed-call-alerts">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/intro-me">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/double-number-offer">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/my-status">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/maal-dhamaal-2">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-delivery-reports">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/jhatpat-bill">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/call-me-back-service">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/mobile-phonebook-backup">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-ezee-connection">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/how-it-works">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/mobile-wizard/faqs">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/nano-sim">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/micro-sim">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/sims/dual-number-sim">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/conference-call">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-divert">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/products/utilities/call-features/call-waiting">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/warid-group-sms">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/sms-based-reservation">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/mobile-internet-sharing">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/utilities/unblock-me">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-islamic-app">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-world">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/mobile-apps/warid-mobile-apps">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/lte/vas/mywarid">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-sports-station">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/sports/warid-football-club">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-mobile">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/im-over-sms">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/google-talk">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/facebook-awaz">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/products/social-networking/twitter-sms-service">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Warid Call &amp; SMS Block 420
                </div>
                <p>
                    Do you often see yourself taking calls or SMS that you don't want to? Well, you can now block all the unwanted calls and SMS with "Warid Call &amp; SMS Block 420" service and get control over calls &amp; SMS you wish to restrict. With "Warid Call &amp; SMS Block 420" service‚ you can block unlimited on-net, off-net and international numbers.
                </p>
                <h2>Key Features:</h2>
                <ul>
                    <li>You can create a block list for the obnoxious caller(s) that will be maintained at our end which may contain unlimited on-net, off-net and international number(s).</li>
                    <li>Once subscribed to the service the obnoxious caller(s) will be assigned a default announcement.</li>
                    <li>You can also choose from a wide range of pre-recorded announcements against a specific caller(s).</li>
                    <li>Express yourself in your own style as Warid also provides you with the option of assigning self recorded announcements (subject to approval) against the obnoxious caller’s number(s).</li>
                    <li>You can also subscribe to the SMS notification service through which you have an option to be alerted whenever the obnoxious caller tries to call you.</li>
                    <li>The service is available for both postpaid and prepaid subscribers</li>
                </ul>
                <h2>How to register: </h2>
                <p>The registration for "Warid Call &amp; SMS Block 420" service can be done by dialing 420 or via SMS. The details for the same are provided below:</p>
                <p>Dial IVR 420 and follow the instructions to subscribe the service</p>
                <p>OR</p>
                <p>Type " Sub " in the SMS option and send it to 420 </p>
                <p>Monthly subscription charges of Rs. 19+Tax shall be applicable for both prepaid and postpaid users.</p>
                <p>Charges of Rs. 2+tax/minute shall be applicable.</p>

                <h2>Block List:</h2>
                <p>With "Warid Call &amp; SMS Block 420" service you can maintain a block list to restrict unwanted calls &amp; SMS. A block list contains all the numbers that you have blocked and do not wish to receive calls from. The procedure for creating and maintaining the block list is as follows: </p>
                <h2>Adding a number to the block list:</h2>

                <ul>
                    <li>
                        In order to add a number to your block list; send "block"&lt;0321xxxxxxx&gt; in a SMS to 420.
                        Charges of Rs. 2+tax per SMS shall be applicable.
                    </li>
                </ul>

                <h2>Removing a number from the block list:</h2>

                <ul>
                    <li>
                        In order to remove a number from your block list; send "unblock"&lt;0321xxxxxxx&gt; in a SMS to 420.
                        Charges of Rs. 2+tax per SMS shall be applicable.
                    </li>
                </ul>

                <h2>Removing all numbers from the block list:</h2>

                <ul>
                    <li>
                        In order to delete all the numbers added from the block list send "delete all" in a SMS to 420.
                        Charges of Rs. 2+tax per SMS shall be applicable.
                    </li>
                </ul>

                <h2>Retrieving all numbers added to the block list:</h2>

                <ul>
                    <li>
                        To retrieve the numbers added to your block list send "List" in a SMS to 420. The character limit for an SMS is 160 characters.
                        Charges of Rs. 2+tax per SMS shall be applicable.
                    </li>
                </ul>

                <h2>Adding latest caller’s number to the block list:</h2>

                <ul><li>You can also add the latest caller’s number to the block list, type "Last" and send it as an SMS to 420. The system shall automatically detect the number from which you received the last call and add it to your block list.</li></ul>
                <!--Charges of Rs. 2+tax per SMS shall be applicable.-->

                <h2>Default Announcement:</h2>

                <ul>
                    <li>
                        Once you have subscribed to the service a default announcement against the obnoxious caller(s) in the block list shall be assigned.
                        "Muaziz customer aapka matlooba number ka sarif aap say baat karnay ka khwahishmand nahi"
                    </li>
                </ul>


                <h2>Setting an announcement of your choice:</h2>

                <p>If you wish to change the default announcement, you can select an announcement of your own choice from our wide range of amusing pre-recorded announcements. Simply dial 420 from your mobile phone. Charges of Rs. 2+Tax per minute shall be applicable.</p>
                <p>OR</p>

                <p>To choose an announcement via SMS type ann&lt;space&gt; &lt;announcement code&gt;space&lt;mobile number  on which you wish to assign the announcement&gt; in your SMS &amp; send it to 421. E.g Ann &lt;space&gt;&lt;ann code&gt; &lt;space&gt;&lt;0321xxxxxx&gt; </p>
                <p>The list of prerecorded announcements in English and Urdu is as follows:</p>

                <h2>Prerecorded Announcements</h2>
                <div class="table-box">
                    <div id="dummyspan"></div><table>
                        <tbody>
                            <tr>
                                <th>Announcement Titles</th>
                                <th>Announcement IDs</th>
                                <th>Listen</th>
                            </tr>

                            <tr>
                                <td>Number Block kiya ja chukka hai</td>
                                <td>001</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-01.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Kiyay jayay phone</td>
                                <td>002</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-02.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Ha Ha Ha</td>
                                <td>003</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-01.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Aapko block liya ja chukka hai</td>
                                <td>004</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-03.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Apni qismat zyada azma lee</td>
                                <td>005</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-04.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Not get through</td>
                                <td>006</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-02.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Apka chehra dekhnay laiq hoga</td>
                                <td>007</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-05.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Dubara koshish mat kijyay ga</td>
                                <td>008</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-06.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Self destruct</td>
                                <td>009</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-03.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Dubara dial mat kijyay</td>
                                <td>010</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-07.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Aapki Bewaja calls</td>
                                <td>011</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-08.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>That’s what you deserve</td>
                                <td>012</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-04.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Bar bar mana karnay kay bawajood</td>
                                <td>013</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-09.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Bay maqsad amal</td>
                                <td>014</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-10.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Get a life</td>
                                <td>015</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-05.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Waqt ka achay tareeqay say</td>
                                <td>016</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PRUP-11.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>It would appear</td>
                                <td>017</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-06.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Number band Hai</td>
                                <td>018</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('no-band-he.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Just a hint</td>
                                <td>019</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-07.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Number Pohanch say door</td>
                                <td>020</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('ponach-sy-door.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Number Masroof Hai</td>
                                <td>021</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('masroof.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Don’t try again</td>
                                <td>022</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-08.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Too fed up</td>
                                <td>023</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-09.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Not welcome</td>
                                <td>024</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-10.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Better use of time</td>
                                <td>025</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('PREP-12.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Not wish to speak to you</td>
                                <td>026</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('not-wish.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Out of reach</td>
                                <td>027</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('out-of-reach.wav')"></strong></td>
                            </tr>
                            <tr>
                                <td>Number busy</td>
                                <td>028</td>
                                <td><strong><img src="http://www.waridtel.com/assets/images/playbutton420.png" style="cursor:pointer" onclick="EvalSound('out-of-reach.wav')"></strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <p>*All recordings are in WAV format.</p>
                <p>Charges of Rs. 10+Tax per announcement shall be applicable.</p>
                <h2>Self Recorded Announcements via IVR:</h2>
                <ul><li>You can also record announcements (15 seconds long) in your own voice by dialing 420 from your Warid number and following the instructions. The announcement(s) shall be subject to approval.</li></ul>
                <p>Charges of Rs. 2+Tax per minute shall be applicable.</p>
                <h2>To Unsubscribe</h2>
                <p>Send Stop to 420 to unsubscribe the service</p>
                <h2>Disclaimer</h2>
                <p>
                    Warid reserves the right to reject and delete the self recorded announcement if:
                    "The aforementioned contains elements which render the Content or any part thereof unlawful, threatening, malicious, obscene, pornographic, profane, misleading, defamatory or otherwise prohibited for distribution inter alia, in the Territory".
                </p>


            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/more_offers_images/Youth-P.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/entertainment/warid-youth-portal"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/more_offers_images/Balance_Request.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/balance-transfer-services/balance-request"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/more_offers_images/08201428084807434.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/products/social-networking"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>



