
@{
    ViewBag.Title = "mobileinternet";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../assets/services_header_images/prepaid/Mobile_Int.png" alt="Mobile Internet" />
</div>


}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="mobile-internet.html">MOBILE INTERNET</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/mobile-internet&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <div class="five-box-wrapper">

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="/mobileinternet/WaridSocialPack"><img src="../assets/services_category_images/prepaid/social-pack.png" alt="Warid Social Pack" /></a>
                    <span>Warid Social Pack</span>
                    <a class="more-button" href="mobile-internet/social-pack-facebook-whatsapp.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="/mobileinternet/mobileinternetbuckets"><img src="../assets/services_category_images/prepaid/Internet_bucket_thumb.png" alt="Internet Buckets" /></a>
                    <span>Internet Buckets</span>
                    <a class="more-button" href="mobile-internet/mobile-internet-buckets.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="/mobileinternet/internetsettings"><img src="../assets/services_category_images/prepaid/Internet_setting_thumb.png" alt="Internet Settings" /></a>
                    <span>Internet Settings</span>
                    <a class="more-button" href="../customer-care/gprs-mms-settings.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

            <div class="five-boxes" style="margin-bottom:10px;">
                <div class="five-bd-boxes">
                    <a href="/mobileinternet/prepaidsharedinternetplans"><img src="../assets/services_category_images/prepaid/thumb.png" alt="Prepaid Shared Internet Plans" /></a>
                    <span>Prepaid Shared Internet Plans</span>
                    <a class="more-button" href="mobile-internet/prepaid-shared-internet-plans.html"><img src="../assets/images/bullets-more.png" alt="Bullet" />more</a>
                </div>
            </div>

        </div>

        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="packages.html">Packages</a></li>
                                <li><a href="offers.html">Offers</a></li>
                                <li><a href="sms-packages.html">SMS Packages</a></li>
                                <li><a href="mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>






