
@{
    ViewBag.Title = "specifications";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../../../assets/services_header_images/4g_lte/phone-inner-header.png" alt="Specifications" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../../lte.html">LTE</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../lte-handset-portal.html">LTE HANDSET PORTAL</a></li>



                        <li>&gt;&nbsp;<a class="" href="../../handset-deals.html">HANDSET DEALS</a></li>


                        <li>&gt;&nbsp;<a class="" href="../iphone.html">IPHONE</a></li>





                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="specifications.html">SPECIFICATIONS</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/lte/lte-handset-portal/handset-deals/iphone/specifications&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">LTE</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../../../super-bundles.html">LTE SUPER BUNDLES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../motorway.html">MOTORWAY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../data-sim.html">WARID DATA SIM</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">WARID WINGLE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../warid-wingle/wingle-details.html">Wingle Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../warid-wingle/wingle-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">PREPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../prepaid/lte-prepaid-plans.html">LTE Prepaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../prepaid/lte-prepaid-shared-internet-plans.html">LTE Prepaid Shared Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">LTE cities offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-multan.html">LTE Bundles for Multan</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-hyderabad-jaamshoro.html">LTE Bundles for Hyderabad & Jaamshoro</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-karachi.html">LTE Bundles Karachi</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-peshawar.html">LTE Bundles for Peshawar</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../../../prepaid/lte-cities-offer/lte-bundles-islamabad-rawalpindi.html">LTE Bundles for Islamabad and Rawalpindi</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">POSTPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../postpaid/lte-postpaid-plans.html">LTE Postpaid Plan</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../postpaid/lte-postpaid-shared-internet-plans.html">LTE Postpaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../shared-internet-plans.html">SHARED INTERNET PLANS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../coverage-map.html">COVERAGE MAP</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">VAS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../vas/mywarid.html">My Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../vas/reserve-lte-sim.html">LTE SIM Replacement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MIFI</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../../warid-mifi/mifi-details.html">MiFi Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../warid-mifi/mifi-stores.html">Available at</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../data-calculator.html">DATA CALCULATOR</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">HANDSET PORTAL</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">Handset Deals</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">G'Five</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../gfive/about-gfive.html">About G'Five</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../gfive/order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="../gfive/specifications.html">Specifications LTE 2</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../gfive/specifications-three.html">Specifications LTE 3</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../gfive/where-to-buy.html">Where to buy</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">iPhone 6S</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../iphone-6s/iphone-6s-details.html">iPhone 6S Details</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../iphone-6s/iphone-6s-order-now.html">iPhone 6S Order Now</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="active">
                                                <a class="" href="javascript:void(0)">iPhone</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="order-now.html">Order Now</a>
                                                    </li>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="specifications.html">Specifications</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../handset-compatibility.html">HANDSET COMPATIBILITY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../faqs.html">FAQ'S</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Specifications
                </div>
                <div id="pr-detail-2">
                    <span class="accor-heading"><h2>iPhone 6 - Specifications</h2><span class="click-to-expand">click to expand</span></span>
                </div>


                <div id="pr-detail2" style="display:none;">
                    <div class="table-box">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="10" scope="row">General</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px;">2G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">GSM 850 / 900 / 1800 / 1900 – A1549 (GSM), A1549 (CDMA), A1586</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">CDMA 800 / 1700 / 1900 / 2100 – A1549 (CDMA), A1586</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">3G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">HSDPA 850 / 900 / 1700 / 1900 / 2100 – A1549 (GSM), A1549 (CDMA), A1586</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">CDMA2000 1xEV-DO – A1549 (CDMA), A1586</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">TD-SCDMA 1900 / 2000 – A1586</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">4G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        LTE 700/800/850/900/1700/1800/1900/2100/2600 <br />
                                        (1/2/3/4/5/7/8/13/17/18/19/20/25/26/28/29) – A1549 (GSM), A1549 (CDMA)
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        LTE 700/800/850/900/1800/1900/2100/2600<br />
                                        TD-LTE 1900/2300/2500/2600 <br />
                                        (1/2/3/4/5/7/8/13/17/18/19/20/25/26/28/29/38/39/40/41) – A1586
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">SIM</td>
                                    <td bgcolor="#F2F2F2" height="25px">Nano-SIM</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Announced</td>
                                    <td bgcolor="#F2F2F2" height="25px">2014, September</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Status</td>
                                    <td bgcolor="#F2F2F2" height="25px">Available. Released 2014, September</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="3" scope="row">Body</th>
                                    <td bgcolor="#F2F2F2" height="25px">Dimensions</td>
                                    <td bgcolor="#F2F2F2" height="25px">138.1 x 67 x 6.9 mm (5.44 x 2.64 x 0.27 in)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Weight</td>
                                    <td bgcolor="#F2F2F2" height="25px">129 g (4.55 oz)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        - Fingerprint sensor (Touch ID)<br />
                                        – Apple Pay (Visa, MasterCard, AMEX certified)
                                    </td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="5" scope="row">Display</th>
                                    <td bgcolor="#F2F2F2" height="25px">Type</td>
                                    <td bgcolor="#F2F2F2" height="25px">LED-backlit IPS LCD, capacitive touchscreen, 16M colors</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Size</td>
                                    <td bgcolor="#F2F2F2" height="25px">750 x 1334 pixels, 4.7 inches (~326 ppi pixel density)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Multitouch</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Protection</td>
                                    <td bgcolor="#F2F2F2" height="25px">Shatter proof glass, oleophobic coating</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">- Display Zoom</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="3" scope="row">Sound</th>
                                    <td bgcolor="#F2F2F2" height="25px">Alert types</td>
                                    <td bgcolor="#F2F2F2" height="25px">Vibration, proprietary ringtones</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Loudspeaker</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">3.5mm jack</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="2" scope="row">Memory</th>
                                    <td bgcolor="#F2F2F2" height="25px">Card slot</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Internal</td>
                                    <td bgcolor="#F2F2F2" height="25px">16/64/128 GB, 1 GB RAM</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="9" scope="row">Data</th>
                                    <td bgcolor="#F2F2F2" height="25px">GPRS</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">EDGE</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Speed</td>
                                    <td bgcolor="#F2F2F2" height="25px">HSPA 42.2/5.76 Mbps, LTE Cat4 150/50 Mbps, EV-DO Rev.A 3.1 Mbps</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">WLAN</td>
                                    <td bgcolor="#F2F2F2" height="25px">Wi-Fi 802.11 a/b/g/n/ac, dual-band, hotspot</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Bluetooth</td>
                                    <td bgcolor="#F2F2F2" height="25px">v4.0, A2DP, LE</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">NFC</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes (Apple Pay only)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">USB</td>
                                    <td bgcolor="#F2F2F2" height="25px">v2.0, reversible connector</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="4" scope="row">Camera</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">Primary</td>
                                    <td bgcolor="#F2F2F2" height="25px">8 MP, 3264 x 2448 pixels, phase detection autofocus, dual-LED (dual tone) flash, <a href="http://www.gsmarena.com/piccmp.php3?idType=1&amp;idPhone1=6378&amp;nSuggest=1">check quality</a></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">Features</td>
                                    <td bgcolor="#F2F2F2" height="25px">1/3&rdquo; sensor size, 1.5µm pixel size, geo-tagging, simultaneous HD video and image recording, touch focus, face/smile detection, HDR (photo/panorama)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">Video</td>
                                    <td bgcolor="#F2F2F2" height="25px">1080p@60fps, 720p@240fps, <a href="http://www.gsmarena.com/vidcmp.php3?idType=1&amp;idPhone1=6378&amp;nSuggest=1">check quality</a></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Secondary</td>
                                    <td bgcolor="#F2F2F2" height="25px">1.2 MP, 720p@30fps, face detection, HDR, FaceTime over Wi-Fi or Cellular</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="14" scope="row">Features</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">OS</td>
                                    <td bgcolor="#F2F2F2" height="25px">iOS 8, upgradable to iOS 8.1.1</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Chipset</td>
                                    <td bgcolor="#F2F2F2" height="25px">Apple A8</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">CPU</td>
                                    <td bgcolor="#F2F2F2" height="25px">Dual-core 1.4 GHz Cyclone (ARM v8-based)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">GPU</td>
                                    <td bgcolor="#F2F2F2" height="25px">PowerVR GX6450 (quad-core graphics)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Sensors</td>
                                    <td bgcolor="#F2F2F2" height="25px">Accelerometer, gyro, proximity, compass, barometer</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Messaging</td>
                                    <td bgcolor="#F2F2F2" height="25px">iMessage, SMS (threaded view), MMS, Email, Push Email</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Browser</td>
                                    <td bgcolor="#F2F2F2" height="25px">HTML5 (Safari)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Radio</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">GPS</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes, with A-GPS, GLONASS</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Java</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Colors</td>
                                    <td bgcolor="#F2F2F2" height="25px">Space Gray, Silver, Gold</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        - Active noise cancellation with dedicated mic<br />
                                        – Siri natural language commands and dictation<br />
                                        – iCloud cloud service<br />
                                        – iCloud Keychain<br />
                                        – TV-out<br />
                                        – Maps<br />
                                        – Audio/video player/editor<br />
                                        – Organizer<br />
                                        – Document viewer/editor<br />
                                        – Photo viewer/editor<br />
                                        – Voice memo/dial/command<br />
                                        – Predictive text input
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" rowspan="4" scope="row">Battery</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">Non-removable Li-Po 1810 mAh battery (6.9 Wh)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Stand-by</td>
                                    <td bgcolor="#F2F2F2" height="25px">(2G) / Up to 250 h (3G)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Talk time</td>
                                    <td bgcolor="#F2F2F2" height="25px">(2G) / Up to 14 h (3G)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px" width="96">Music play</td>
                                    <td bgcolor="#F2F2F2" height="25px">Up to 50 h</td>
                                </tr>
                            </tbody>
                        </table>
                        <p> </p>
                    </div>
                </div>
                <div id="pr-detail-3"><span class="accor-heading bd-top"><h2>iPhone 6 Plus Specifications</h2><span class="click-to-expand">click to expand</span></span></div>
                <div id="pr-detail3" style="display:none;">
                    <div class="table-box">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="10" scope="row">General</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">2G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">GSM 850 / 900 / 1800 / 1900 – A1522 (GSM), A1522 (CDMA), A1524</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">CDMA 800 / 1700 / 1900 / 2100 – A1522 (CDMA), A1524</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">3G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">HSDPA 850 / 900 / 1700 / 1900 / 2100 – A1522 (GSM), A1522 (CDMA), A1524</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">CDMA2000 1xEV-DO – A1522 (CDMA), A1524</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">TD-SCDMA 1900 / 2000 – A1524</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">4G Network</td>
                                    <td bgcolor="#F2F2F2" height="25px">LTE 700/800/850/900/1700/1800/1900/2100/2600 (1/2/3/4/5/7/8/13/17/18/19/20/25/26/28/29) – A1522 (GSM), A1522 (CDMA)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        LTE 700/800/850/900/1800/1900/2100/2600<br />
                                        TD-LTE 1900/2300/2500/2600 <br />
                                        (1/2/3/4/5/7/8/13/17/18/19/20/25/26/28/29/38/39/40/41) – A1524
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">SIM</td>
                                    <td bgcolor="#F2F2F2" height="25px">Nano-SIM</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Announced</td>
                                    <td bgcolor="#F2F2F2" height="25px">2014, September</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Status</td>
                                    <td bgcolor="#F2F2F2" height="25px">Available. Released 2014, September</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="3" scope="row">Body</th>
                                    <td bgcolor="#F2F2F2" height="25px">Dimensions</td>
                                    <td bgcolor="#F2F2F2" height="25px">158.1 x 77.8 x 7.1 mm (6.22 x 3.06 x 0.28 in)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Weight</td>
                                    <td bgcolor="#F2F2F2" height="25px">172 g (6.07 oz)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        - Fingerprint sensor (Touch ID)<br />
                                        – Apple Pay (Visa, MasterCard, AMEX certified)
                                    </td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="5" scope="row">Display</th>
                                    <td bgcolor="#F2F2F2" height="25px">Type</td>
                                    <td bgcolor="#F2F2F2" height="25px">LED-backlit IPS LCD, capacitive touchscreen, 16M colors</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Size</td>
                                    <td bgcolor="#F2F2F2" height="25px">1080 x 1920 pixels, 5.5 inches (~401 ppi pixel density)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Multitouch</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Protection</td>
                                    <td bgcolor="#F2F2F2" height="25px">Shatter proof glass, oleophobic coating</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">- Display Zoom</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="3" scope="row">Sound</th>
                                    <td bgcolor="#F2F2F2" height="25px">Alert types</td>
                                    <td bgcolor="#F2F2F2" height="25px">Vibration, proprietary ringtones</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Loudspeaker</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">3.5mm jack</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="2" scope="row">Memory</th>
                                    <td bgcolor="#F2F2F2" height="25px">Card slot</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Internal</td>
                                    <td bgcolor="#F2F2F2" height="25px">16/64/128 GB, 1 GB RAM</td>
                                </tr>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="9" scope="row">Data</th>
                                    <td bgcolor="#F2F2F2" height="25px">GPRS</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">EDGE</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Speed</td>
                                    <td bgcolor="#F2F2F2" height="25px">HSPA 42.2/5.76 Mbps, LTE Cat4 150/50 Mbps, EV-DO Rev.A 3.1 Mbps</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">WLAN</td>
                                    <td bgcolor="#F2F2F2" height="25px">Wi-Fi 802.11 a/b/g/n/ac, dual-band, hotspot</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Bluetooth</td>
                                    <td bgcolor="#F2F2F2" height="25px">v4.0, A2DP, LE</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">NFC</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes (Apple Pay only)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">USB</td>
                                    <td bgcolor="#F2F2F2" height="25px">v2.0, reversible connector</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="4" scope="row">Camera</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">Primary</td>
                                    <td bgcolor="#F2F2F2" height="25px">8 MP, 3264 x 2448 pixels, optical image stabilization, phase detection autofocus, dual-LED (dual tone) flash, <a href="http://www.gsmarena.com/piccmp.php3?idType=1&amp;idPhone1=6665&amp;nSuggest=1">check quality</a></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Features</td>
                                    <td bgcolor="#F2F2F2" height="25px">1/3&rdquo; sensor size, 1.5µm pixel size, geo-tagging, simultaneous HD video and image recording, touch focus, face/smile detection, HDR (photo/panorama)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Video</td>
                                    <td bgcolor="#F2F2F2" height="25px">1080p@60fps, 720p@240fps, optical stabilization, <a href="http://www.gsmarena.com/vidcmp.php3?idType=1&amp;idPhone1=6665&amp;nSuggest=1">check quality</a></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Secondary</td>
                                    <td bgcolor="#F2F2F2" height="25px">1.2 MP, 720p@30fps, face detection, HDR, FaceTime over Wi-Fi or Cellular</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="14" scope="row">Features</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px">OS</td>
                                    <td bgcolor="#F2F2F2" height="25px">iOS 8, upgradable to iOS 8.1.1</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Chipset</td>
                                    <td bgcolor="#F2F2F2" height="25px">Apple A8</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">CPU</td>
                                    <td bgcolor="#F2F2F2" height="25px">Dual-core 1.4 GHz Cyclone (ARM v8-based)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">GPU</td>
                                    <td bgcolor="#F2F2F2" height="25px">PowerVR GX6450 (quad-core graphics)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Sensors</td>
                                    <td bgcolor="#F2F2F2" height="25px">Accelerometer, gyro, proximity, compass, barometer</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Messaging</td>
                                    <td bgcolor="#F2F2F2" height="25px">iMessage, SMS (threaded view), MMS, Email, Push Email</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Browser</td>
                                    <td bgcolor="#F2F2F2" height="25px">HTML5 (Safari)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Radio</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">GPS</td>
                                    <td bgcolor="#F2F2F2" height="25px">Yes, with A-GPS, GLONASS</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Java</td>
                                    <td bgcolor="#F2F2F2" height="25px">No</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Colors</td>
                                    <td bgcolor="#F2F2F2" height="25px">Space Gray, Silver, Gold</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">
                                        - Active noise cancellation with dedicated mic<br />
                                        – Siri natural language commands and dictation<br />
                                        – iCloud cloud service<br />
                                        – iCloud Keychain<br />
                                        – TV-out<br />
                                        – Maps<br />
                                        – iBooks PDF reader<br />
                                        – Audio/video player/editor<br />
                                        – Organizer<br />
                                        – Document viewer/editor<br />
                                        – Photo viewer/editor<br />
                                        – Voice memo/dial/command<br />
                                        – Predictive text input
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th width="200" bgcolor="#032E6F" class="tble-head" rowspan="4" scope="row">Battery</th>
                                    <td bgcolor="#F2F2F2" height="25px" width="96px"> </td>
                                    <td bgcolor="#F2F2F2" height="25px">Non-removable Li-Po 2915 mAh battery (11.1 Wh)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Stand-by</td>
                                    <td bgcolor="#F2F2F2" height="25px">(2G) / Up to 384 h (3G)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Talk time</td>
                                    <td bgcolor="#F2F2F2" height="25px">(2G) / Up to 24 h (3G)</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F2F2F2" height="25px">Music play</td>
                                    <td bgcolor="#F2F2F2" height="25px">Up to 80 h</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="iphone-images">
                    <p><img src="../../../../assets/images/Iphone6-images/740.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-one.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-two.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-three.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-four.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-five.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-six.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-seven.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-eight.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-nine.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-ten.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-eleven.png" alt="Iphone 6" /></p>
                    <p><img src="../../../../assets/images/Iphone6-images/iphone-twelve.png" alt="Iphone 6" /></p>


                </div>
                <h2><small>“Experience the amazing internet speeds by activating your LTE data services and get *1GB for 5 Days Absolutely FREE!”<br /><span style="font-size:11px;">*This offer is for new LTE subscribers only</span></small></h2>

            </div>

        </div>

    </div>
    <!--Right content (page content)-->
    <!--------More Warid Offers--------->
    <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="../../../double-faida-offer.html"><img src="../../../../assets/more_offers_images/double-data-offer-mobile-set-278x252.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../double-faida-offer.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="/lte/waridwingle"><img src="../../../../assets/more_offers_images/LTE-wingle1.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../warid-wingle.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-offers-box">
                <a href="/lte/coveragemap"><img src="../../../../assets/more_offers_images/coverage-278x252.png" alt="Internet Options" /></a>
                <a class="more-btn-offers" href="../../../coverage-map.html"><img src="../../../../assets/images/bullets-more.png" />more</a>
            </div>
        </div>
    </div>        <!--------More Warid Offers--------->
    <!----------------------------------------Middle content Container---------------------------------------------->
    <!-----------------------------------------Footer--------------------------------------------------------------->
    <footer class="footer-box">
        <div class="col-md-12">
            <div class="footer-bd-box">
                <div class="col-md-9">
                    <!--Postpaid-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                POSTPAID
                            </li>
                            <li>
                                <a href="../../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/offers.html">Offers</a>
                            </li>
                            <li>
                                <a href="../../../../postpaid/mobile-internet.html">Mobile Internet</a>
                            </li>
                        </ul>
                    </div>
                    <!--Postpaid-->
                    <!--Prepaid-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">PREPAID</li>
                            <li><a href="../../../../prepaid/packages.html">Packages</a></li>
                            <li><a href="../../../../prepaid/offers.html">Offers</a></li>
                            <li><a href="../../../../prepaid/sms-packages.html">SMS Packages</a></li>
                            <li><a href="../../../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                        </ul>
                    </div>
                    <!--Prepaid-->
                    <!--International Roaming-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                INTL. ROAMING
                            </li>
                            <li>
                                <a href="../../../../ir/prepaid.html">Prepaid IR</a>
                            </li>
                            <li>
                                <a href="../../../../ir/postpaid.html">Postpaid IR</a>
                            </li>
                            <li>
                                <a href="#">&nbsp;</a>
                                <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                            </li>
                            <li>
                                <a href="#">&nbsp;</a>
                                <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                            </li>
                        </ul>
                    </div>
                    <!--International Roaming-->
                    <!--VAS (PRODUCTS-->
                    <div class="footer-links-box">
                        <ul>
                            <li class="footer-head">
                                VAS
                            </li>
                            <li>
                                <a href="../../../../products/entertainment.html">Entertainment</a>
                            </li>
                            <li>
                                <a href="../../../../products/music.html">Music</a>
                            </li>
                            <li>
                                <a href="../../../../products/balance-transfer-services.html">Balance Transfer</a>
                            </li>
                            <li>
                                <a href="../../../../products/utilities.html">Utilities</a>
                            </li>
                        </ul>
                    </div>
                    <!--VAS (PRODUCTS-->
                </div>
                <div class="col-md-3">
                    <div class="footer-social-head">JOIN US</div>

                    <div class="col-md-6">
                        <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                        <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                        <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                        <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                    </div>

                </div>
            </div>
            <div class="ftr-btm-lnks-box">
                <div class="col-md-8">
                    <ul>
                        <li><a href="../../../../media-center.html">MEDIA CENTER</a></li>
                        <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                        <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                        <li><a href="../../../../coverage.html">COVERAGE</a></li>
                        <li><a href="../../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                        <li><a href="../../../../avoid-fraud.html">AVOID FRAUD</a></li>
                        <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                        <li><a href="../../../../customer-care/contact-us.html">CONTACT US</a></li>
                        <li><a href="../../../../privacy-policy.html">PRIVACY POLICY</a></li>
                        <li><a href="../../../../sitemap.html">SITE MAP</a></li>

                    </ul>
                </div>
                <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
            </div>
        </div>
    </footer>
    <!-----------------------------------------Footer--------------------------------------------------------------->
</div>