
@{
    ViewBag.Title = "irtariffsheet";
}


@section featuredArea{

<div class="static-banner-box">
    <img src="http://www.waridtel.com/assets/services_header_images/ir/IR_Tariff_Sheets_header.png" alt="IR Prepaid Tariffs">
</div>

}


<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/ir">IR</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/ir/prepaid">PREPAID</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/ir/prepaid/ir-tariff-sheets">IR TARIFF SHEETS</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/ir/prepaid/ir-tariff-sheets&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/ir/prepaid/ir-tariff-sheets" data-title="Warid Telecom :: "><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fir%2Fprepaid%2Fir-tariff-sheets&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20&amp;time=1461049144911&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fir%2Fprepaid%2Fir-tariff-sheets%23.VxXXGnL1c6U.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/ir/prepaid/ir-tariff-sheets#.VxXXGnL1c6U.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/ir/prepaid/ir-tariff-sheets"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">3</a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID IR</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">IR PREPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/prepaid/saudi-arabia-ir-offer">Saudi Arabia IR Offer</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="http://www.waridtel.com/ir/prepaid/ir-tariff-sheets">IR Prepaid Tariffs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/prepaid/prepaid-ir-faqs">Prepaid IR FAQs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/prepaid/roam-info">Roam Info</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/prepaid/topup-on-roaming">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">IR POSTPAID</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/ir-tariffs">IR Postpaid Tariffs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/ir-coverage-map">IR Coverage Map</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/sms-roaming">SMS Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/ir-incoming-sms-free">IR Incoming SMS Free</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/roam-info">Roam Info</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/in-flight-roaming">In-Flight Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/3g-roaming-service">3G Roaming Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/warid-data-usage-alert">Warid Data Usage Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/roam-with-warid">Roam With Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/maritime-roaming">Maritime Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/inbound-roamers">Inbound Roamers</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/roaming-faqs">Roaming FAQs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Additional IR Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/ir/postpaid/additional-ir-services/wifi-roaming">Wifi Roaming</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/postpaid/international-roaming/additional-ir-services/safe-arrival-sms">Safe Arrival Sms</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/ir/postpaid/additional-ir-services/vas-on-ir">VAS on IR</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/ir/postpaid/lte-roaming">LTE Roaming</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    IR Tariff Sheets
                </div>
                <!--<h2>IR Activation</h2>
                          <p>You can call Warid's Contact Center at 321 or 111 111 321 or  visit the nearest Business Center. Activation is free of cost. There will be no  charges on incoming SMS.</p>
                <p>Now there is NO minimum balance requirement for  activating Prepaid IR.</p>
                <p>It takes two hours to get your Prepaid IR activated.</p>-->
                <!--<p><strong>Moreover the list of  countries and operators offering prepaid roaming also needs to be updated.</strong></p>-->
                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Sr. No.</th>
                                <th>COUNTRY</th>
                                <th>NETWORK OPERATORS</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Afghanistan</td>
                                <td>AWCC</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Afghanistan</td>
                                <td>TDCA</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Albania</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Algeria</td>
                                <td>Djezzy</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Anguilla</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Anguilla</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Antigua &amp; Barbuda</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Antigua &amp; Barbuda</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Aruba</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Australia&nbsp;</td>
                                <td>Optus</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Australia&nbsp;</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Bahrain</td>
                                <td>STC</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Bangladesh</td>
                                <td>Airtel</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Bangladesh</td>
                                <td>Grameenphone</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Barbados</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Barbados</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Belgium</td>
                                <td>Belgacom</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Belgium</td>
                                <td>Mobistar</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>Bermuda</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>British Virgin Island</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>Bulgaria</td>
                                <td>Mobitel</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Canada</td>
                                <td>Bell Mobility</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>Canada</td>
                                <td>Rogers Wireless (AT&amp;T Rogers and Fido)</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Canada</td>
                                <td>TELUS</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>Cayman Islands</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>Cayman Islands</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>Democratic Republic of Congo</td>
                                <td>Orange</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>Dominica</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>Dominica</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>Egypt</td>
                                <td>Etisalat Misr</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>Egypt</td>
                                <td>Mobinil</td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>Egypt</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>Fiji</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td>France</td>
                                <td>Bouygues</td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>France</td>
                                <td>Free Mobile</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td>France</td>
                                <td>Orange</td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td>Ghana</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>Greece</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>39</td>
                                <td>Grenada</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>Grenada</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>41</td>
                                <td>Haiti</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>42</td>
                                <td>Hong Kong</td>
                                <td>CSL</td>
                            </tr>
                            <tr>
                                <td>43</td>
                                <td>Hong Kong</td>
                                <td>Hutchison</td>
                            </tr>
                            <tr>
                                <td>44</td>
                                <td>Iceland</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td>Indonesia</td>
                                <td>Excelcom</td>
                            </tr>
                            <tr>
                                <td>46</td>
                                <td>Indonesia</td>
                                <td>Telkomsel</td>
                            </tr>
                            <tr>
                                <td>47</td>
                                <td>Iran</td>
                                <td>MCI</td>
                            </tr>
                            <tr>
                                <td>48</td>
                                <td>Iran</td>
                                <td>MTN</td>
                            </tr>
                            <tr>
                                <td>49</td>
                                <td>Iraq</td>
                                <td>Zain</td>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td>Ireland&nbsp;</td>
                                <td>O2</td>
                            </tr>
                            <tr>
                                <td>51</td>
                                <td>Italy</td>
                                <td>Hutchison</td>
                            </tr>
                            <tr>
                                <td>52</td>
                                <td>Italy</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>53</td>
                                <td>Ivory Coast</td>
                                <td>MTN</td>
                            </tr>
                            <tr>
                                <td>54</td>
                                <td>Jamaica</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>55</td>
                                <td>Jamaica</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>56</td>
                                <td>Japan</td>
                                <td>Softbank</td>
                            </tr>
                            <tr>
                                <td>57</td>
                                <td>Kazakhstan</td>
                                <td>KarTel</td>
                            </tr>
                            <tr>
                                <td>58</td>
                                <td>Kuwait</td>
                                <td>KTC</td>
                            </tr>
                            <tr>
                                <td>59</td>
                                <td>Kuwait</td>
                                <td>Wataniya</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>Kuwait</td>
                                <td>Zain</td>
                            </tr>
                            <tr>
                                <td>61</td>
                                <td>Latvia</td>
                                <td>BITE</td>
                            </tr>
                            <tr>
                                <td>62</td>
                                <td>Lithuania</td>
                                <td>BITE</td>
                            </tr>
                            <tr>
                                <td>63</td>
                                <td>Malaysia</td>
                                <td>Maxis</td>
                            </tr>
                            <tr>
                                <td>64</td>
                                <td>Maldives</td>
                                <td>Wataniya</td>
                            </tr>
                            <tr>
                                <td>65</td>
                                <td>Malta</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>66</td>
                                <td>Mauritius</td>
                                <td>Orange</td>
                            </tr>
                            <tr>
                                <td>67</td>
                                <td>Montserrat</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>68</td>
                                <td>Netherlands</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>69</td>
                                <td>New Zealand</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>70</td>
                                <td>Oman</td>
                                <td>Nawras</td>
                            </tr>
                            <tr>
                                <td>71</td>
                                <td>Oman</td>
                                <td>Omantel</td>
                            </tr>
                            <tr>
                                <td>72</td>
                                <td>Philippines</td>
                                <td>Globe Telecom</td>
                            </tr>
                            <tr>
                                <td>73</td>
                                <td>PnG</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>74</td>
                                <td>Portugal</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>75</td>
                                <td>Qatar</td>
                                <td>Q-Tel</td>
                            </tr>
                            <tr>
                                <td>76</td>
                                <td>Qatar</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>77</td>
                                <td>Russia</td>
                                <td>Vimpelcom</td>
                            </tr>
                            <tr>
                                <td>78</td>
                                <td>Saudi Arabia</td>
                                <td>Al Jawal</td>
                            </tr>
                            <tr>
                                <td>79</td>
                                <td>Saudi Arabia</td>
                                <td>Etihad Etisalat - Mobily</td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td>Saudi Arabia</td>
                                <td>Zain</td>
                            </tr>
                            <tr>
                                <td>81</td>
                                <td>Serbia</td>
                                <td>ViP Mobile</td>
                            </tr>
                            <tr>
                                <td>82</td>
                                <td>Singapore</td>
                                <td>M1</td>
                            </tr>
                            <tr>
                                <td>83</td>
                                <td>Singapore</td>
                                <td>Singtel</td>
                            </tr>
                            <tr>
                                <td>84</td>
                                <td>Singapore</td>
                                <td>Starhub</td>
                            </tr>
                            <tr>
                                <td>85</td>
                                <td>South Africa</td>
                                <td>MTN</td>
                            </tr>
                            <tr>
                                <td>86</td>
                                <td>South Africa</td>
                                <td>Vodacom</td>
                            </tr>
                            <tr>
                                <td>87</td>
                                <td>Spain</td>
                                <td>Vodafone</td>
                            </tr>
                            <tr>
                                <td>88</td>
                                <td>Spain</td>
                                <td>Xfera</td>
                            </tr>
                            <tr>
                                <td>89</td>
                                <td>Sri Lanka</td>
                                <td>Dialog</td>
                            </tr>
                            <tr>
                                <td>90</td>
                                <td>Sri Lanka</td>
                                <td>Hutchison</td>
                            </tr>
                            <tr>
                                <td>91</td>
                                <td>Sri Lanka</td>
                                <td>Mobitel</td>
                            </tr>
                            <tr>
                                <td>92</td>
                                <td>St. Kitts</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>93</td>
                                <td>St. Kitts</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>94</td>
                                <td>St. Lucia&nbsp;</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>95</td>
                                <td>St. Lucia&nbsp;</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>96</td>
                                <td>St. Vincent</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>97</td>
                                <td>St. Vincent</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>98</td>
                                <td>Switzerland</td>
                                <td>On Air</td>
                            </tr>
                            <tr>
                                <td>99</td>
                                <td>Thailand</td>
                                <td>AWN</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Thailand</td>
                                <td>TruMove</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Tunisia</td>
                                <td>Orange</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Turkey</td>
                                <td>Avea</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Turkey</td>
                                <td>Turkcell</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Turks and Caicos</td>
                                <td>Cable &amp; Wireless</td>
                            </tr>
                            <tr>
                                <td>105</td>
                                <td>Turks and Caicos</td>
                                <td>Digicel</td>
                            </tr>
                            <tr>
                                <td>106</td>
                                <td>UAE</td>
                                <td>du</td>
                            </tr>
                            <tr>
                                <td>107</td>
                                <td>UAE</td>
                                <td>Etisalat</td>
                            </tr>
                            <tr>
                                <td>108</td>
                                <td>Uganda</td>
                                <td>Airtel</td>
                            </tr>
                            <tr>
                                <td>109</td>
                                <td>Uganda</td>
                                <td>UTL</td>
                            </tr>
                            <tr>
                                <td>110</td>
                                <td>Uganda</td>
                                <td>Warid</td>
                            </tr>
                            <tr>
                                <td>111</td>
                                <td>Ukraine</td>
                                <td>Astelit</td>
                            </tr>
                            <tr>
                                <td>112</td>
                                <td>Ukraine</td>
                                <td>MTS</td>
                            </tr>
                            <tr>
                                <td>113</td>
                                <td>United Kingdom</td>
                                <td>Hutchison</td>
                            </tr>
                            <tr>
                                <td>114</td>
                                <td>United Kingdom</td>
                                <td>Telefonica O2</td>
                            </tr>
                            <tr>
                                <td>115</td>
                                <td>USA</td>
                                <td>AT&amp;T Mobility (Cingular)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>More destinations to follow soon.</p>
                <p><strong>Your SIM is your identity, only use SIMs issued through Biometric Verification – PTA </strong></p>

                <h2><small>View and Download IR Tariffs </small></h2>
                <p><a class="activation-link" href="http://www.waridtel.com/assets/tariff_sheets/prepaid_ir_tariff_sheet.html" target="_blank">Click here to view IR Tariff Sheet</a></p>
                <p><a class="activation-link" href="http://www.waridtel.com/assets/ir/pdf/prepaid/prepaid-tariff.pdf" target="_blank">Download IR Tariff Sheet</a></p>

            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/ir/postpaid/additional-ir-services/vas-on-ir"><img src="http://www.waridtel.com/assets/more_offers_images/08201428101714520.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/ir/postpaid/additional-ir-services/vas-on-ir"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/prepaid/international-dialing/afghanistan-offer"><img src="http://www.waridtel.com/assets/more_offers_images/08201428101813542.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/international-dialing/afghanistan-offer"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="http://www.waridtel.com/prepaid/international-dialing"><img src="http://www.waridtel.com/assets/more_offers_images/09201425120627151.png" alt="Internet Options"></a>
                    <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/international-dialing"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                </div>
            </div>
        </div>      <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>


