
@{
    ViewBag.Title = "complaintstatusservice";
}

@section featuredArea{
<div class="static-banner-box">
    <img src="../assets/services_header_images/customer_care/Complaint-Status-Services-inner-header.png" alt="Complaint Status Services" />
</div>


}


<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../customer-care.html">CUSTOMER CARE</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="complaint-status-service.html">COMPLAINT STATUS SERVICE</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/customer-care/complaint-status-service&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">CUSTOMER SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="terms-and-conditions.html">TERMS AND CONDITIONS</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="breadcrumbs-selected" href="complaint-status-service.html">COMPLAINT STATUS SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="contact-us.html">CONTACT US</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="gprs-mms-settings.html">GPRS / MMS SETTINGS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="self-services/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/short-code-services.html">Short Code Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/call-details.html">Prepaid Call Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/ivr-flows.html">IVR Flows</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/sms-based-self-services.html">SMS Based Self Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/ivr-100.html">IVR 100</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/free-assistance-service.html">Free Assistance Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/prepaid-help-services.html">Prepaid Help Services</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="overseas-sim-info.html">OVERSEAS SIM INFO</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="business-centres-franchises.html">BUSINESS CENTRES & FRANCHISES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="reserve-sim-online.html">RESERVE SIM ONLINE</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="payment-solutions.html">PAYMENT SOLUTIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="customer-survey.html">CUSTOMER SURVEY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="consumer-manual.html">CONSUMER MANUAL</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Complaint Status Services
                </div>
                <p>"With Warid’s "Complaint Status Confirmation" you can check the status of your complaints via SMS. </p>
                <p>
                    Please find below the details:<br>
                    This is an SMS based service through which you can get the status of your complaints.
                </p>
                <h2>Procedure:</h2>
                <p>Write "CS(space)Complaint Number” in SMS &amp; send it on 321 to get complaint status.</p>
                <h2>Charges:</h2>
                <p>Its free of cost service</p>

                <p>You will receive one of the following SMS in response:</p>
                <ul>
                    <li>If your Complaint is in Open Status: Dear Customer, Your complaint has been register, we are working to resolve on priority. Thank you for using Warid Telecom.</li>
                    <li>If your complaint is in Pending Status: Dear Customer, Concerned department is working on your complaint, it will be resolved. Thank you for using Warid Telecom.</li>
                    <li>If Your complaint status is closed: Dear Customer, Your complaint has been resolved .Thank you for using Warid Telecom."</li>
                </ul>
            </div>
            <!--Strips to be repeated-->
        </div>
        <!--To activate Box-->
    </div>

</div>