
@{
    ViewBag.Title = "termsandconditions";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../assets/services_header_images/customer_care/tnc.png" alt="Terms and conditions" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../customer-care.html">CUSTOMER CARE</a></li>

                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="terms-and-conditions.html">TERMS AND CONDITIONS</a></li>
















                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/customer-care/terms-and-conditions&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">CUSTOMER SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="active">
                                <h3><a class="breadcrumbs-selected" href="terms-and-conditions.html">TERMS AND CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="complaint-status-service.html">COMPLAINT STATUS SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="contact-us.html">CONTACT US</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="gprs-mms-settings.html">GPRS / MMS SETTINGS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="self-services/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/short-code-services.html">Short Code Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/call-details.html">Prepaid Call Details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/ivr-flows.html">IVR Flows</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/sms-based-self-services.html">SMS Based Self Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/ivr-100.html">IVR 100</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/free-assistance-service.html">Free Assistance Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="self-services/prepaid-help-services.html">Prepaid Help Services</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="overseas-sim-info.html">OVERSEAS SIM INFO</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="business-centres-franchises.html">BUSINESS CENTRES & FRANCHISES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="reserve-sim-online.html">RESERVE SIM ONLINE</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="payment-solutions.html">PAYMENT SOLUTIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="customer-survey.html">CUSTOMER SURVEY</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="consumer-manual.html">CONSUMER MANUAL</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    Terms and Conditions
                </div>
                <p>
                    The Subscriber acknowledges and agrees that in order to  maintain service quality and to avoid the congestion of traffic on Warid&rsquo;s network,  the offer/bundle mentioned herein shall not be available during EID holidays  announced by the government. During such Eid holidays, the standard charges of  the service shall be applicable. The Subscriber further agrees that in this  regard no further notice or intimation shall be required by Warid, and hereby  he waives his any legal rights or remedies in this regard.<br />
                    To review each offer&rsquo;s specific terms &amp; conditions,  please click on the respective links given below:
                </p>
                <p>
                    <a href="../prepaid/offers/mahana-offer.html">http://www.waridtel.com/prepaid/offers/mahana-offer</a> <br />
                    <a href="../prepaid/offers/3-day-bundle.html">http://www.waridtel.com/prepaid/offers/3-day-bundle</a> <br />

                    <a href="../prepaid/offers/pakistan-offer.html">http://www.waridtel.com/prepaid/offers/pakistan-offer</a><br />
                    <a href="../prepaid/offers/voice-packages/five-rupee-offer.html">http://www.waridtel.com/prepaid/offers/voice-packages/five-rupee-offer</a><br />
                    <a href="../prepaid/offers/voice-packages/eight-rupee-offer.html">http://www.waridtel.com/prepaid/offers/voice-packages/eight-rupee-offer</a><br />
                    <a href="../prepaid/offers/voice-packages/dosti-unlimited-fnf-offer.html">http://www.waridtel.com/prepaid/offers/voice-packages/dosti-unlimited-fnf-offer</a> <br />
                    <a href="../prepaid/offers/apna-sheher/multan-hyd.html">http://www.waridtel.com/prepaid/offers/apna-sheher/multan-hyd</a><br />
                    <a href="../prepaid/offers/apna-sheher/khi.html">http://www.waridtel.com/prepaid/offers/apna-sheher/khi</a><br />
                    <a href="../prepaid/offers/apna-sheher/peshawar.html">http://www.waridtel.com/prepaid/offers/apna-sheher/peshawar</a><br />
                    <a href="../prepaid/offers/poora-hafta-offer.html">http://www.waridtel.com/prepaid/offers/poora-hafta-offer</a><br />
                    <a href="../prepaid/offers/all-network-offers/mahana-offer.html">http://www.waridtel.com/prepaid/offers/all-network-offers/mahana-offer</a><br />
                    <a href="../prepaid.html">http://www.waridtel.com/prepaid/recharge/sab-ki-jeet-offer</a><br />
                    <a href="../prepaid/offers/welcome-offer/lte-sim-lagao.html">http://www.waridtel.com/prepaid/offers/welcome-offer/lte-sim-lagao</a><br />
                    <a href="../prepaid/offers/all-network-offers/7-day-offer.html">http://www.waridtel.com/prepaid/offers/all-network-offers/7-day-offer</a><br />
                </p>
                <h2>SMS bundles</h2>
                <p>
                    <a href="../prepaid/sms-packages/sms-bundles.html">http://www.waridtel.com/prepaid/sms-packages/sms-bundles</a><br />
                    <h2>Glow Website </h2>
                <p>
                    <a href="http://glow.net.pk/packages/price-plans/eight-rupee-offer">http://glow.net.pk/packages/price-plans/eight-rupee-offer</a> <br />
                    <a href="http://glow.net.pk/packages/price-plans/five-rupee-offer">http://glow.net.pk/packages/price-plans/five-rupee-offer</a> <br />
                    <a href="http://glow.net.pk/packages/price-plans/glow-weekly-hybrid">http://glow.net.pk/packages/price-plans/glow-weekly-hybrid</a><br />
                    <a href="http://glow.net.pk/packages/price-plans/dosti-unlimited-offer">http://glow.net.pk/packages/price-plans/dosti-unlimited-offer</a> <br />
                </p>
                <h2>SMS Bundle </h2>
                <p>
                    <a href="http://glow.net.pk/packages/sms/sms-bundles">http://glow.net.pk/packages/sms/sms-bundles</a>
                </p>
                <h2>Cellular Services Agreement Form (CSAF) </h2>
                <p><a href="../assets/images/cellular-services-agreement-form.jpg" target="_blank">CSAF Form</a></p>

                <p><a href="../assets/images/cellular-services-terms.jpg" target="_blank">CSAF Terms &amp; Conditions</a></p>



            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../prepaid/packages.html">Packages</a></li>
                                <li><a href="../prepaid/offers.html">Offers</a></li>
                                <li><a href="../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../coverage.html">COVERAGE</a></li>
                            <li><a href="consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="contact-us.html">CONTACT US</a></li>
                            <li><a href="../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
