
@{
    ViewBag.Title = "iddbundleoffer";
}


@section featuredArea{
<div class="static-banner-box">
    <img src="../../assets/services_header_images/prepaid/warid-LTE-IDD-bundle-inner-header.png" alt="IDD Bundle Offer" />
</div>


}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../international-dialing.html">INTERNATIONAL DIALING</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="idd-bundle-offer.html">IDD BUNDLE OFFER</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/international-dialing/idd-bundle-offer&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../recharge/recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/p2p.html">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../sms-packages/sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    IDD Bundle Offer
                </div>
                <p>Both Postpaid and Prepaid Warid subscribers can now enjoy free International dialing bundles to their favorite destinations. Warid brings longer talk time at a cheaper rate for the first time to the following destinations:</p>
                <ul>
                    <li>USA (LL+M)</li>
                    <li>Canada (LL+M)</li>
                    <li>UK (LL)</li>
                    <li>China (LL+M)</li>
                    <li>France (LL)</li>
                    <li>Italy (LL)</li>
                    <li>Germany (LL) </li>
                </ul>
                <p>In order to facilitate its International Prepaid dialers, Warid has introduced three voice bundles based on their daily, weekly and monthly usage. A daily bundle of 10 free minutes for Rs.10, a weekly bundle of 70 free minutes for Rs. 60 and a monthly bundle of 125 free minutes for Rs. 100 is the best so far that has been offered to the above mentioned destinations.</p>
                <p>
                    In order to avail free minutes, subscribers need to type *554* required package plan followed by the # key on their dial pads and press the dial button.  For example, dial *554*100# in order to avail 125 minutes.
                </p>
                <div class="table-box">
                    <table>
                        <tr>
                            <th>Retail Rate</th>
                            <th>Minutes</th>
                            <th>Validity</th>
                            <th>To Subscribe Dial</th>
                        </tr>
                        <tr>
                            <td>Rs. 10</td>
                            <td>10</td>
                            <td>24 Hours</td>
                            <td>*554*10#</td>
                        </tr>
                        <tr>
                            <td>Rs. 60</td>
                            <td>70</td>
                            <td>7 Days</td>
                            <td>*554*60#</td>
                        </tr>
                        <tr>
                            <td>Rs. 100</td>
                            <td>125</td>
                            <td>1 Month</td>
                            <td>*554*100#</td>
                        </tr>
                    </table>

                </div>
                <p><a href="../../postpaid/international-dialing/idd-bundle-offer-country-dialing-codes.html">Click Here to view Dialing Codes</a></p>
                <h2>Terms and Conditions:</h2>
                <ul>
                    <li>This offer is valid only for the above mentioned  destinations. </li>
                    <li>The offer will discontinue once validation  period is over.</li>
                    <li>Prepaid subscribers can dial *200*101# to check  balance for Rs. 10 package plan, *200*102# for Rs. 60 package plan and *200*103# for a month&rsquo;s plan.</li>
                    <li>Call setup charges of Rs. 0.12/call apply.</li>
                    <li>Upon expiration of offer, the subscriber will be  charged as per regular international dialing rates.</li>
                    <li>This is a limited time offer. </li>
                    <li>Each recharge done through scratch cards and  Warid load includes 15% withholding tax</li>
                    <li>All above mentioned rates exclude government  taxes, levies and a 19.5% federal excise duty </li>
                    <li>Using a SIM which is not in your name or  allowing others to use your SIM is a crime - PTA </li>
                </ul>
                <!--<p>Using a SIM which is not in your name or  allowing others to use your SIM is a crime - PTA</p>-->

            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/pakistan-offer.html"><img src="../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/pakistan-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/free-call-offer.html"><img src="../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/free-call-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../packages.html">Packages</a></li>
                                <li><a href="../offers.html">Offers</a></li>
                                <li><a href="../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>



