
@{
    ViewBag.Title = "iddindiabangladesh";
}


@section featuredArea{
<div class="static-banner-box">
    <img src="../../assets/services_header_images/prepaid/IDD_india_bangladesh.png" alt="International Dialing India & Bangladesh" />
</div>


}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../international-dialing.html">INTERNATIONAL DIALING</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="idd-india-bangladesh.html">IDD INDIA BANGLADESH</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/international-dialing/idd-india-bangladesh&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../recharge/recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/p2p.html">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../sms-packages/sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    IDD India & Bangladesh
                </div>
                <h2>From Karachi, Hyderabad & Sukkur regions make calls to India & Bangladesh at 7 paisas/second only!</h2>
                <p>For the very first time in Pakistan, Warid prepaid customers living in Karachi, Hyderabad and Sukkur regions can make international calls to their loved ones in India and Bangladesh for just 7 paisas/second and that too without any hidden subscription charges!</p>
                <p>So, enjoy the freedom to stay connected beyond borders and feel special, because at Warid we care about you.</p>

                <h2>TERMS &amp; CONDITIONS</h2>
                <ul>
                    <li>This offer is valid for Warid Prepaid & Glow subscribers only.</li>
                    <li>This offer is restricted for Warid Prepaid subscribers in Karachi, Hyderabad and Sukkur regions.</li>
                    <li>Prepaid customers in the mentioned regions of Pakistan will be automatically eligible to make calls to India & Bangladesh at this rate.</li>
                    <li>Zero Subscription fee.</li>
                    <li>International calls can be made on both Landline and Mobile numbers of India and Bangladesh.</li>
                    <li>Limited time offer.</li>
                    <li>All mentioned rates are subject to applicable taxes.</li>
                </ul>

                <div class="table-box">
                    <table cellspacing="0" cellpadding="0">
                        <col width="64" span="3">
                        <tr>
                            <th colspan="3" width="192">List    of Cities/Locations</th>
                        </tr>
                        <tr>
                            <td>Karachi</td>
                            <td>Karachi-Hub(Northern Bypass) Road</td>
                            <td>Babar Loi</td>
                        </tr>
                        <tr>
                            <td>Badah</td>
                            <td>Badin</td>
                            <td>Bagerji</td>
                        </tr>
                        <tr>
                            <td>Bakhshapur</td>
                            <td>Bakrani</td>
                            <td>Bandhi</td>
                        </tr>
                        <tr>
                            <td>Berani</td>
                            <td>Bhan</td>
                            <td>Bhiria City</td>
                        </tr>
                        <tr>
                            <td>Bhit Shah</td>
                            <td>Bhorila</td>
                            <td>ChachroTaluka</td>
                        </tr>
                        <tr>
                            <td>Chak</td>
                            <td>Chambar</td>
                            <td>Dad lighari</td>
                        </tr>
                        <tr>
                            <td>Dadu</td>
                            <td>Dadu to Kotri Road</td>
                            <td>Dadu-Kashmore Road</td>
                        </tr>
                        <tr>
                            <td>Dadu-Moro    Road</td>
                            <td>Daharki</td>
                            <td>Darbelo</td>
                        </tr>
                        <tr>
                            <td>Daro</td>
                            <td>DaulatPur</td>
                            <td>Daur</td>
                        </tr>
                        <tr>
                            <td>Digri</td>
                            <td>Digri to Islamkot Road</td>
                            <td>Diplo</td>
                        </tr>
                        <tr>
                            <td>Dokri</td>
                            <td>Gambat</td>
                            <td>Garhi Yasin</td>
                        </tr>
                        <tr>
                            <td>Ghauspur</td>
                            <td>Ghotki</td>
                            <td>Golarchi</td>
                        </tr>
                        <tr>
                            <td>Hala</td>
                            <td>Halani</td>
                            <td>Hala-Sanghar (Jhol) Road</td>
                        </tr>
                        <tr>
                            <td>Haruntharri</td>
                            <td>Hingorja</td>
                            <td>Hyderabad</td>
                        </tr>
                        <tr>
                            <td>Hyderabad    to Badin Road</td>
                            <td>Hyderabad-MirpurKhas Road</td>
                            <td>Hyderabad-Nawabshah Road</td>
                        </tr>
                        <tr>
                            <td>Islamkot</td>
                            <td>Jacobabad</td>
                            <td>Jacobabad to Larkana Road</td>
                        </tr>
                        <tr>
                            <td>Jakhrao</td>
                            <td>Jam Sahib</td>
                            <td>Jarwar</td>
                        </tr>
                        <tr>
                            <td>Jati</td>
                            <td>Jatoi</td>
                            <td>JhalMagsi Sub-Division</td>
                        </tr>
                        <tr>
                            <td>Jhat pat</td>
                            <td>Jhol to Hala Road</td>
                            <td>Jhuddo</td>
                        </tr>
                        <tr>
                            <td>Johi</td>
                            <td>Jungshahi</td>
                            <td>Kadhan</td>
                        </tr>
                        <tr>
                            <td>Kambar Ali    Khan</td>
                            <td>Kandhkot</td>
                            <td>Kandhra</td>
                        </tr>
                        <tr>
                            <td>Kandiaro</td>
                            <td>Kandiyari</td>
                            <td>Karampur</td>
                        </tr>
                        <tr>
                            <td>KarioGhanwar</td>
                            <td>Kashmore</td>
                            <td>Kazi Ahmad</td>
                        </tr>
                        <tr>
                            <td>Khairpur</td>
                            <td>Khairpur Nathan Shah</td>
                            <td>Khairpur-Rahim Yar Khan Road</td>
                        </tr>
                        <tr>
                            <td>KHI-HYD    SuperHighway Road</td>
                            <td>Khipro</td>
                            <td>Khipro to Sanghar Road</td>
                        </tr>
                        <tr>
                            <td>Khorewah</td>
                            <td>Khoski</td>
                            <td>KotDiji</td>
                        </tr>
                        <tr>
                            <td>KotGhulam    Muhammad (Jamesabad)</td>
                            <td>Kotlalu</td>
                            <td>Kotri</td>
                        </tr>
                        <tr>
                            <td>Kumb</td>
                            <td>Kunri</td>
                            <td>Lakhi</td>
                        </tr>
                        <tr>
                            <td>Larkana</td>
                            <td>Madeji</td>
                            <td>Matiari</td>
                        </tr>
                        <tr>
                            <td>Matli</td>
                            <td>Matli to Digri Road</td>
                            <td>Mehar</td>
                        </tr>
                        <tr>
                            <td>Mehrabpur</td>
                            <td>Miro Khan</td>
                            <td>MirpurBathoro</td>
                        </tr>
                        <tr>
                            <td>Mirpurkhas</td>
                            <td>MirpurKhas to Sanghar Road</td>
                            <td>MirpurKhas to Umerkot Road</td>
                        </tr>
                        <tr>
                            <td>MirpurMathelo</td>
                            <td>MirpurKhas to Badin Road</td>
                            <td>Mithiani</td>
                        </tr>
                        <tr>
                            <td>MohenjoDaro</td>
                            <td>Moro</td>
                            <td>Moro to Sanghar Road</td>
                        </tr>
                        <tr>
                            <td>Nabisar</td>
                            <td>Nasarpur</td>
                            <td>Nasirabad</td>
                        </tr>
                        <tr>
                            <td>Naudero</td>
                            <td>Naukot</td>
                            <td>NaushahroFeroze</td>
                        </tr>
                        <tr>
                            <td>NaushahroFeroze-Kandiaro    Road</td>
                            <td>Nawabshah</td>
                            <td>NayaChor</td>
                        </tr>
                        <tr>
                            <td>NindoShahr</td>
                            <td>pacca Chang</td>
                            <td>Pacca Chang to Bhiria Road</td>
                        </tr>
                        <tr>
                            <td>Padidan</td>
                            <td>Pangrio</td>
                            <td>PanoAqil</td>
                        </tr>
                        <tr>
                            <td>Phul</td>
                            <td>Phulji</td>
                            <td>Pir Goth</td>
                        </tr>
                        <tr>
                            <td>Pirjo Goth</td>
                            <td>Pithoro</td>
                            <td>Qadirpur</td>
                        </tr>
                        <tr>
                            <td>Radhan</td>
                            <td>Ranipur</td>
                            <td>Rati</td>
                        </tr>
                        <tr>
                            <td>Ratodero</td>
                            <td>Rohri</td>
                            <td>Rustam</td>
                        </tr>
                        <tr>
                            <td>Sadiqabad    to Kashmore Road</td>
                            <td>Saeedabad</td>
                            <td>Sakrand</td>
                        </tr>
                        <tr>
                            <td>Samaro</td>
                            <td>Sanghar</td>
                            <td>Sann</td>
                        </tr>
                        <tr>
                            <td>Sehwan</td>
                            <td>Shahdadkot</td>
                            <td>Shahdadpur</td>
                        </tr>
                        <tr>
                            <td>Shikarpur</td>
                            <td>Shikarpur to Shahdadkot Road</td>
                            <td>Sinjhoro</td>
                        </tr>
                        <tr>
                            <td>Sita</td>
                            <td>Sobhodero</td>
                            <td>Sujawal</td>
                        </tr>
                        <tr>
                            <td>Sujawal    to Tando Muhammad Khan Road</td>
                            <td>Sukkur</td>
                            <td>Sukkur-Jacobabad Road</td>
                        </tr>
                        <tr>
                            <td>Talhar</td>
                            <td>Tando Adam</td>
                            <td>Tando Adam to TandoAllayar Road</td>
                        </tr>
                        <tr>
                            <td>TandoAlaYar</td>
                            <td>TandoBago</td>
                            <td>Tando Jam</td>
                        </tr>
                        <tr>
                            <td>TandojanMuhammad</td>
                            <td>TandoMasti Khan</td>
                            <td>TandoMitha Khan</td>
                        </tr>
                        <tr>
                            <td>Tando    Muhammad Khan</td>
                            <td>Tangwani</td>
                            <td>ThanoBula Khan</td>
                        </tr>
                        <tr>
                            <td>Tharushah</td>
                            <td>Thatta to Badin Road</td>
                            <td>Therhi</td>
                        </tr>
                        <tr>
                            <td>Thul</td>
                            <td>Ubauro</td>
                            <td>UmerKot</td>
                        </tr>
                        <tr>
                            <td>Usta    Mohammad</td>
                            <td>Warah</td>
                            <td>Yarolund (parolund)</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/pakistan-offer.html"><img src="../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/pakistan-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/free-call-offer.html"><img src="../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/free-call-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../packages.html">Packages</a></li>
                                <li><a href="../offers.html">Offers</a></li>
                                <li><a href="../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>