
@{
    ViewBag.Title = "smsbundles";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/prepaid/sms-bundle.png" alt="SMS Bundles" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../sms-packages.html">SMS PACKAGES</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="sms-bundles.html">SMS BUNDLES</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/sms-packages/sms-bundles&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../recharge/recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/p2p.html">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../recharge/top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="../offers/all-network-offers/malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-network-offers/mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../offers/apna-sheher/peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../international-dialing/afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box"> SMS Bundles </div>
                <p> Speak your heart out and type your thoughts away with our amazing SMS bundles.</p>

                <!--<h2>SMS Supreme</h2>
                <p>SMS Supreme is a mega messages bundle of 10,000 SMS to meet all your messaging needs. Speak your heart out and type your thoughts away! You can use it along with all other prepaid packages. </p>-->
                <div class="table-box">
                    <table>
                        <tr>
                            <th>Type</th>
                            <th>Charges</th>
                            <th>Sms Count</th>
                            <th>Validity (Days)</th>
                            <th>To activate</th>
                            <th>Counter</th>
                        </tr>
                        <tr>
                            <td>Daily Sms</td>
                            <td>3.5+tax</td>
                            <td>500</td>
                            <td>1 day</td>
                            <td>SMS "DS" to 3333</td>
                            <td>*200*2#</td>
                        </tr>
                        <tr>
                            <td>3 Day Sms</td>
                            <td>5+tax</td>
                            <td>500 + 50 MBs for Whatsapp Messages</td>
                            <td>3</td>
                            <td>SMS "TS" to 3333</td>
                            <td>*200*526#</td>
                        </tr>
                        <tr>
                            <td>Weekly Sms</td>
                            <td>9.99+tax</td>
                            <td>1,300</td>
                            <td>7</td>
                            <td>SMS "WS" to 3333</td>
                            <td>*200*2#</td>
                        </tr>
                        <tr>
                            <td>Monthly Sms</td>
                            <td>70+tax</td>
                            <td>10,000 + 500 MBs for Whatsapp Messages</td>
                            <td>30</td>
                            <td>SMS "MS" to 3333</td>
                            <td>*200*767#</td>
                        </tr>
                    </table>
                </div>
                <h2>To Unsubscribe</h2>
                <p>Daily SMS Bundle, SMS "SMS off" to 3333</p>
                <p>Weekly SMS Bundle, SMS “SMS off” to 3333 </p>
                <h2>Terms and Conditions</h2>
                <ul>
                    <li>The above mentioned bundles are for Warid Prepaid existing subscribers. For information regarding bundles for new subscribers <a href="../offers/acquisition-mnp.html"> Click Here</a></li>
                    <li>This is a limited time offer &amp; only for Prepaid subscribers</li>
                    <li>Daily and Weekly SMS bundles are automatically subscribed again once validity is completed</li>
                    <!--<li>SMS bundles are automatically subscribed again once validity is completed.</li>-->
                    <li>In case of rental failure, SMS bundle will be de-activated</li>
                    <li>All charges include government taxes and levies as well as a 19.5% federal excise duty</li>
                    <li>Each recharge done through scratch cards and WaridEzeeload includes 14% withholding tax</li>
                    <li>The Subscriber acknowledges and agrees that in order to maintain service quality and to avoid the congestion of traffic on Warid’s network, the offer/bundle mentioned herein shall not be available during EID holidays announced by the government. During such Eid holidays, the standard charges of the service shall be applicable. The Subscriber further agrees that in this regard no further notice or intimation shall be required by Warid, and hereby he waives his any legal rights or remedies in this regard</li>
                </ul>
                <p>Using a SIM which is not in your name or allowing others to use your SIM is a crime – PTA</p>
            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/pakistan-offer.html"><img src="../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/pakistan-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/free-call-offer.html"><img src="../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/free-call-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../offers/all-in-one-offer/power-pack.html"><img src="../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../packages.html">Packages</a></li>
                                <li><a href="../offers.html">Offers</a></li>
                                <li><a href="../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>




