
@{
    ViewBag.Title = "malamaloffer";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../../assets/services_header_images/prepaid/warid-maala-maal-offer-inner-header-n.png" alt="Malamaal Offer" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../../prepaid.html">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../offers.html">OFFERS</a></li>



                        <li>&gt;&nbsp;<a class="" href="../all-network-offers.html">ALL NETWORK OFFERS</a></li>


                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="malamal-offer.html">MALAMAL OFFER</a></li>











                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../recharge/recharge-via-scratch-card.html">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/warid-load.html">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/top-up-by-atm.html">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/online-prepaid-top-up.html">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/international-top-up.html">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/p2p.html">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/advance-balance.html">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../recharge/top-up-on-roaming.html">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/social-pack-facebook-whatsapp.html">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/mobile-internet-buckets.html">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../customer-care/gprs-mms-settings.html">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../mobile-internet/prepaid-shared-internet-plans.html">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../packages.html">PACKAGES</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="daily-bundle.html">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="7-day-offer.html">7 Day Offer</a>
                                            </li>
                                            <li class="active">
                                                <a class="breadcrumbs-selected" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="malamal-offer/terms-and-conditions.html">Malamaal Offer Terms & Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="malamal-offer/bonus-schemes-variations.html">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="malamal-offer/winners.html">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="one-code.html">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="3-day-bundle.html">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="mahana-offer.html">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../voice-packages/pakistan-offer.html">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../voice-packages/hourly-package.html">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../all-in-one-offer/power-pack.html">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../all-in-one-offer/poora-hafta-offer.html">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../welcome-offer/acquisition-mnp.html">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../welcome-offer/lte-sim-lagao.html">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../welcome-offer/reserve-sim-online.html">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../apna-sheher/20-paisa.html">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../apna-sheher/multan-hyd.html">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../apna-sheher/khi.html">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../apna-sheher/peshawar.html">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../ir/prepaid/index.html">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../self-care/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../../customer-care/gprs-mms-settings.html">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/321-help-menu.html">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/start-stop-service.html">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/order-sim-online.html">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/call-details.html">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../self-care/ivr-100.html">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../international-dialing/afghanistan-offer.html">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-bundle-offer.html">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/111-lcr.html">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-48-paisa-offer.html">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/idd-india-bangladesh.html">International Dialing India & Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/international-mms.html">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/international-dialing-rates.html">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../international-dialing/iran.html">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../../sms-packages/sms-bundles.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../assets/prepaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../../assets/prepaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">SMS Smart Bundle - Malamaal Offer</div>
                <p>
                    Now you can enjoy 600 SMS / day with Warid Smart SMS Bundle for just Rs 5+ tax / day. Subscription of Smart SMS Bundle automatically places you in Malamaal Offer whereby you can win a grand prize of PKR 25 Lakhs, a monthly prize of PKR 10 lakhs and a daily prize of PKR 25,000! To top it all up, subscribers will be invited to participate in an interactive, knowledge base quiz where you can win 100 minutes for making calls to Warid numbers and a chance to win a free iPhone 6s every Sunday! <br /><br />
                    Winners of Malamaal Offer will be posted on <a href="malamal-offer/winners.html">http://www.waridtel.com/winners</a> after proper verification. Top 100 daily on-net minutes winners will be intimated  via SMS. So what are you waiting  for? Subscribe now!!!
                    <!--Winners of Malamaal Offer will be posted on www.waridtel.com/winners after proper verification.  So what are you waiting for?  Subscribe now!!!-->
                </p>
                <div class="to-activate-box">
                    <div class="to-activate-heading-box">
                        <div class="to-activate-heading">TO ACTIVATE</div>
                    </div>
                    <!--Strips to be repeated-->
                    <div class="activate-txt-strips bd-none">

                        <!--<div class="steps">Step</div>-->
                        <div class="steps-txt" style="width:100%;"><a href="#" class="activation-link" style="text-align:center; width:100%; display:block;">SUB to 3001</a></div>

                    </div>
                    <!--Strips to be repeated-->
                </div>
                <p><a href="malamal-offer/terms-and-conditions.html"> Terms &amp; Conditions</a></p>
                <p><a href="malamal-offer/bonus-schemes-variations.html"> Bonus Schemes Variations </a></p>
                <h2>Charges: </h2>
                <h2><small>Prepaid</small></h2>
                <p>
                    SMS to 3001: Rs. 5+t/day<br />
                    SMS to 3000: Rs.1+t
                </p>
                <h2><small>Postpaid</small></h2>
                <p>
                    SMS to 3001: Rs. 5+t/day<br />
                    SMS to 3000: Rs.1+t
                </p>
                <p><em>Charges shall be on recursive basis. Postpaid customers shall be charged for the month in advance as per their billing cycle</em></p>
                <h2>Disclaimer</h2>
                <p>The Customer acknowledges that under this Campaign he shall not respond to any calls/SMSs directing to make/send calls/SMSs to any other number/short code or which are regarding award of any prize (whether money or in kind) in lieu of balance transfer. Ignorance of this clause by the Customer shall not accrue any liabilities/responsibilities on Warid including but not limited to liability/responsibility towards any loss occurred to the Customer. Warid Smart SMS Bundle does not ask winners to make any payments.</p>
                <h2>Frequently Asked Questions:</h2>
                <h2><small>1. What is Warid Smart SMS Bundle?</small></h2>
                <p>Smart SMS Bundle is a product of Warid's Value Added Services, consisting of 600 SMS/day. The SMS Bundle subscription price is PKR 5+t / day on recursive basis. Customer will be automatically charged on daily basis in case of Prepaid.  Postpaid subscribers shall be charged for the month in advance as per their billing cycle</p>
                <h2><small>2. What is Warid Malamaal Offer?</small></h2>
                <p>Malamaal Offer includes incentives for the Customers subscribing to the SMS Smart Bundle including the free of cost participation in the lucky draws and also the option to participate in a free of cost knowledge base Quiz and win a wide array of prizes. When the Participant shall reply to any Quiz Question on short code 3000, the Participant shall be charged the standard single SMS charges of Warid at PKR 1+t/SMS.</p>
                <h2><small>2a. How can I subscribe to Warid Malamaal Offer?</small></h2>
                <p>Subscribe to Smart SMS Bundle and you will be automatically entered into Warid Malamaal Offer.</p>
                <h2><small>2b. What are the details of Warid Malamaal Offer Prizes?</small></h2>
                <ul>
                    <li>Daily: 25,000 via LUCKY DRAW to one lucky winner  </li>
                    <li>Monthly: 1,000,000 via LUCKY DRAW to one lucky winner </li>
                    <li>Grand Prize: 25,00,000  via LUCKY DRAW to one lucky winner</li>
                </ul>
                <h2><small>2c.How to win the Daily Lucky Draw prize?</small></h2>
                <p>
                    Subscribe to Smart SMS Bundle during the campaign period. Daily Lucky Draw shall be held on every day, and the Participant will be given 05 entries against the daily Charges of the SMS Smart Bundle during that day (i.e. 00:00:00 to 23:59:59). <br />
                    The winner of Daily Lucky Draw shall be given a prize of PKR 25,000 (“Daily Prize”).
                </p>
                <h2><small>2d.How to win the monthly lucky draw prize?</small></h2>
                <p>Subscribe to Smart SMS Bundle  and the Participant shall be given 05 entries for the Monthly Lucky Draw against each daily Charges of the SMS Smart Bundle paid by the Customer during the relevant period covered by the relevant Monthly Lucky Draw (starting from 00:00:00 of the first day of such relevant period and ending at 23:59:59 of the last day of such relevant period);</p>
                <p>The winner of each Monthly Lucky Draw shall be given a prize of PKR 1,000,000/- (Rupees One Million Only) (“Monthly Prize”);</p>
                <h2><small>2e.How to win the Grand lucky draw Prize?</small></h2>
                <p>
                    Subscribe to Smart SMS Bundle and after the expiry of the Campaign a Grand Lucky Draw shall be held wherein every Participant shall be given 05 entries against each daily Charges of the SMS Bundle during the Campaign Period. <br />
                    The winner of the Grand Lucky Draw shall be given PKR. 2,500,000/- (Rupees Two Million Five Hundred Only);
                </p>
                <h2><small>3.What is Warid Malamaal Quiz?</small></h2>
                <p>It is an SMS-based knowledge based quiz where Warid’s subscribers are challenged to answer trivia questions when they subscribe to Smart SMS Bundle. Subscribers can get a chance to  win weekly prizes.</p>
                <h2><small>3a. What are the details of Warid Malamaal Quiz Prizes?</small></h2>
                <p>
                    The top scorer of the Quiz in a week will get an iPhone 6s<br />
                    100 on net minutes to 100 customers via TOP SCORER
                </p>
                <h2><small>3b. How to win the weekly prize?</small></h2>
                <p>Upon answering questions in Warid Malamaal Quiz - all Participants will get 100 Points for every correct answer and 50 Points for every wrong answer excluding Bonus Period.  Participant with the highest Points at the end of the week (i.e. starting from 00:00:00 on every Monday and ending at 23:59:59 on every Sunday) will win Apple iPhone 6S (“Weekly Prize”)</p>
                <h2><small>3c. How can I participate in the Warid Malamaal Quiz?</small></h2>
                <p>Once you subscribe a Smart SMS Bundle, you will receive a multiple choice question from shortcode 3000. You can participate in the Quiz by answering questions by sending 1 or 2 in an SMS to 3000.</p>
                <h2><small>3d. How much does Malamaal Quiz cost?</small></h2>
                <ul>
                    <li>
                        All SMS received from 3000 are free of charge
                    </li>
                    <li>When the Participant shall reply to any Quiz Question on this short code, the Participant shall be charged the standard single SMS charge of Warid at PKR 1 (Rupee One Only) per SMS.</li>
                </ul>
                <h2><small>3e. What are Points and how do I get them?</small></h2>
                <p>Upon answering the Quiz questions correctly, customer will get 100 points and customer will earn 50 points on wrong answer as well. In bonus Schemes customer will get higher points.</p>
                <h2><small>3f. What are Bonus Schemes?</small></h2>
                <p>During the Campaign Period Warid shall also announce the bonus schemes (“Bonus Scheme”) at various times where the participant receives more points than the ones he/she can receive in the Basic Mode. In all cases, these bonus schemes will be communicated to the Participant via SMS. These Bonus Schemes will last between half an hour to one day and will be equally accessible to all participants. In all cases the wrong question will award 50 points to the Participant. By participating in the Bonus Schemes, the Participant may earn extra points and raise the probability of becoming a top scorer in a given week.</p>
                <h2><small>4. What are ‘Entries’?</small></h2>
                <p>Customer will get 5 Entries into Daily, Monthly &amp; Grand Lucky Draw upon successful charging every day.</p>
                <h2><small>5.How can I subscribe a Smart SMS Bundle?</small></h2>
                <p>Send an SMS with any keyword (or even a blank SMS) to short code  3001 to purchase a Smart SMS Bundle. The sending/replying of the SMS to 3001 or  3000, with or without any text therein, would be for all intents and purposes  be deemed as acceptance on the part of the Customer with the Terms and  Conditions available at <a href="malamal-offer.html">www.waridtel.com/ssb</a> in  their totality and customer will become subscriber of campaign.</p>
                <h2><small>6.When will I be able to use the SMS purchased through the Bundle?</small></h2>
                <p>Customer subscribing the Smart SMS Bundle can use the 600 SMS provided to the Customer daily in the SMS Bundle till 23:59:59 of the day & Customer having Post-paid Connection that he shall be charged with the Charges of SMS Bundle in advance for the whole month as per his billing cycle or proportionately for the days left as per his billing cycle, as the case may be.</p>
                <h2><small>7. How can I improve my chances to win lucky draw prizes?</small></h2>
                <p>
                    It depends upon number of successful charged days. If someone get charged for 10 days, he will get 50 entries for monthly lucky draw & grand lucky draw and daily lucky draw of particular day. If someone gets charged for 20 days, he will get 100 entries for monthly lucky draw & grand lucky draw and daily lucky draw of particular day. <br />
                    More successful charged days will improve your probability to win lucky draw prizes.
                </p>
                <h2><small>8. What is the promotion duration?</small></h2>
                <p>The promotion has duration of 120 days, starting from 1st of February 2016 until 30th May 2016, inclusive.</p>
                <h2><small>9. How many bundles can I purchase?</small></h2>
                <p>It is subscription based daily bundle so when a Customer confirms subscription of the SMS Bundle Customer shall be charged the Charges on a daily recursive basis in accordance with these Terms and Conditions. There is no need to purchase more than one bundle when customer already subscribed to the bundle in a day.</p>
                <h2><small>10. Who is eligible to purchase a Smart SMS Bundle?</small></h2>
                <p>All existing &amp; new subscribers of Warid are eligible to participate, except the following:</p>
                <ul>
                    <li>The employees of Warid, Warid Franchises, Retailers and its sister concerns</li>
                    <li>First Degree Relatives of Warid employees, i.e. the spouse, children, parents and siblings</li>
                    <li>The registered users of Warid Employee Family Package</li>
                </ul>
                <h2><small>11. Can a winner of a prize win again another prize?</small></h2>
                <p>The Participants shall be able to win one type of the Prize once only except the Daily Free Minutes Prize and the Weekly Prize which can be won multiple times during the Campaign Period.</p>
                <h2><small>12. How and where do I claim my prize?</small></h2>
                <p>Participants will be contacted by Warid (321) if they win any of the prizes prize.</p>
                <h2><small>13. How can I transfer my points?</small></h2>
                <p>The points earned on your number cannot be transferred to any other number.</p>
                <h2><small>14. How many Points and Entries do I have?</small></h2>
                <p>Send “HELP” on the FOC Short code 3001 to receive Points& Entries information.</p>
                <h2><small>15. I want to stop receiving Quiz/Informational SMS about the promotional Program?</small></h2>
                <p>If any Customer desires to be unregistered as a subscriber of the SMS Bundle, he/she shall send an SMS with keyword “STOP” on the FOC Short Code 3001;</p>
                <h2><small>16. If I want to subscribe/Re-register in Campaign again?</small></h2>
                <p>
                    If a Customer decides to re-register after unregistering from the SMS Bundle subscription, he/she can re-register as a subscriber, and consequently a Participant in the Campaign, by sending an SMS with any keyword or a blank SMS or an SMS containing keyword “R” to the FOC Short Code 3001.<br />
                    All previously accumulated Points from the Campaign will also automatically become available for the re-registered Participant if so available for the defined and relevant period of the Campaign.
                </p>
                <h2><small>17. Can I participate in the campaign with different mobile phones?</small></h2>
                <p>You can participate with as many different Warid numbers as you wish. However, each one participates separately in the raffles.</p>
                <h2><small>18. Can my participations be transferred?</small></h2>
                <p>Your participations cannot be transferred to a different Warid number.</p>
                <h2><small>19. I sent a message but didn’t receive a reply SMS?</small></h2>
                <p>If you have not received a reply SMS, verify the following:</p>
                <ul>
                    <li>Check if your mobile is full of messages and doesn&rsquo;t have enough  of memory to receive new ones.</li>
                    <li>The message wasn&rsquo;t sent to the correct number. Check that you  sent the SMS to the Short Code 3000/3001.</li>
                    <li>If you feel there is an error or require further assistance,  please call Customer Care on 321 from your Warid mobile phone or email at <a href="mailto:customerservice@waridtel.com">customerservice@waridtel.com</a> for prepaid &amp; <a href="mailto:postpaidsupport@waridtel.com">postpaidsupport@waridtel.com</a> for postpaid</li>
                </ul>
                <h2><small>20. How can I collect my prizes?</small></h2>
                <p>Winners will be given details for the collection of prizes via phone call from Warid from 321.</p>
                <h2><small>21. I am a winner - can someone else collect my prize instead of me?</small></h2>
                <p>The prizes will be handed over to the person in whose name the winner’s SIM card is registered.</p>
                <h2><small>22. Are the prizes transferable?</small></h2>
                <p>No.</p>
                <h2><small>23. Is there a limit as to the number of SMS I have to send?</small></h2>
                <p>No. The more points you collect the more participation you have for claiming the amazing prizes and more chances to win.</p>
                <h2><small>24. From where I can get detailed terms & Conditions & Winners data etc.?</small></h2>
                <p>Please <a href="malamal-offer/terms-and-conditions.html">click here for Terms & Conditions.</a>  You can also dial 3001 to listen to the Terms & Conditions from your Warid mobile absolutely free.</p>
                <h2>Disclaimer</h2>
                <p>The Customer acknowledges that under this Campaign he shall not respond to any calls/SMSs directing to make/send calls/SMSs to any other number/short code or which are regarding award of any prize (whether money or in kind) in lieu of balance transfer. Ignorance of this clause by the Customer shall not accrue any liabilities/responsibilities on Warid including but not limited to liability/responsibility towards any loss occurred to the Customer. Warid Smart SMS Bundle does not ask winners to make any payments.</p>

            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../pakistan-offer.html"><img src="../../../assets/more_offers_images/pakistan-offer-dropdown%20(1)2.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../pakistan-offer.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../free-call-offer.html"><img src="../../../assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../free-call-offer.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="../all-in-one-offer/power-pack.html"><img src="../../../assets/more_offers_images/08201427114905449.png" alt="Internet Options" /></a>
                        <a class="more-btn-offers" href="../all-in-one-offer/power-pack.html"><img src="../../../assets/images/bullets-more.png" />more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../packages.html">Packages</a></li>
                                <li><a href="../../offers.html">Offers</a></li>
                                <li><a href="../../sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>


