
@{
    ViewBag.Title = "motermandcondition";
}


@section featuredArea{

<div class="static-banner-box"> 
    <img src="http://www.waridtel.com/assets/services_header_images/prepaid/malamaal-offer-new-2.png" alt="Malamaal Offer Terms &amp; Conditions">
     </div>

}
<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers">OFFERS</a></li>



                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers">ALL NETWORK OFFERS</a></li>


                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer">MALAMAL OFFER</a></li>





                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions">TERMS AND CONDITIONS</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions" data-title="Warid Telecom :: Malamaal Offer"><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fprepaid%2Foffers%2Fall-network-offers%2Fmalamal-offer%2Fterms-and-conditions&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20Malamaal%20Offer&amp;time=1461145807777&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fprepaid%2Foffers%2Fall-network-offers%2Fmalamal-offer%2Fterms-and-conditions%23.VxdQzT7CPy0.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions#.VxdQzT7CPy0.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#"></a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/recharge-via-scratch-card">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/warid-load">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/top-up-by-atm">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/online-prepaid-top-up">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/international-top-up">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/p2p">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/advance-balance">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/top-up-on-roaming">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/social-pack-facebook-whatsapp">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/mobile-internet-buckets">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/internet-settings">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/prepaid-shared-internet-plans">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/packages">PACKAGES</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/daily-bundle">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/7-day-offer">7 Day Offer</a>
                                            </li>
                                            <li class="active">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions">Malamaal Offer Terms &amp; Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/bonus-schemes-variations">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/one-code">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/3-day-bundle">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/mahana-offer">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/voice-packages/pakistan-offer">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/voice-packages/hourly-package">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/poora-hafta-offer">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/acquisition-mnp">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/lte-sim-lagao">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/reserve-sim-online">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/20-paisa">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/multan-hyd">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/khi">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/peshawar">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/ir/prepaid/">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/call-history">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/internet-setting">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/321-help-menu">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/start-stop-service">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/order-sim-online">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/call-details">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/ivr-100">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/afghanistan-offer">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-bundle-offer">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/111-lcr">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-48-paisa-offer">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-india-bangladesh">International Dialing India &amp; Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/international-mms">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/international-dialing-rates">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/iran">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/sms-packages/sms-bundles">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/terms-conditions">TERMS &amp; CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/operators-terms-conditions">OPERATORS TERMS &amp; CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">SMS Smart Bundle - Malamaal Offer Terms &amp; Conditions</div>

                <h2>1.	INTRODUCTION:</h2>

                <p>1.1	Warid Telecom (Pvt.) Limited (henceforth “Warid”) provides telecommunication services in the Islamic Republic of Pakistan, AJK and Gilgit Baltistan (the “Territory”). Warid is offering various value added services (“VAS”) which also includes short messaging service (“SMS”);</p>

                <p>1.2	Warid is launching a new VAS product “Smart SMS Bundle” (the “SMS Bundle”). The SMS Bundle in its introductory launch period shall be available for subscription to the Customer for a period of 120 days. The product is defined in detail herein below consists of 600 SMSs. The SMS Bundle subscription price is PKR. 05 (Rupees Five Only) plus tax (defined as “Charges” below); </p>

                <p>1.3	Warid is launching a specially designed marketing campaign namely “Malamaal Offer” to promote the introduction of its subscription based SMS Bundle (the “Campaign”). The Campaign includes incentives for the Customers subscribing to the SMS Bundle including the free of cost participation in the lucky draws and also the option to participate in a free of cost Quiz and win a wide array of prizes detailed hereunder. The duration of the Campaign shall be the introductory period of the SMS Bundle (i.e. 120 days). Warid has created a webpage http://waridtel.com/ssb (“T&amp;C Link”) and defined an IVR short code 3001 (the “IVR”) containing these Terms and Conditions (as defined below) to provide detailed information pertaining to the Campaign. The Website is publically accessible, whereas the IVR shall be accessible to Customers only;</p>

                <p>1.4	The terms and conditions mentioned herein (“Terms and Conditions”) shall determine the rights and liabilities of Warid and the Customer (as defined below) regarding the SMS Bundle subscription and also the Campaign. In order to purchase the subscription to the SMS Bundle for any period and consequently also to participate in the Campaign, the Customer shall accept these Terms and Conditions in their totality by replying/sending an SMS to 3001 or 3000. The sending/replying of the SMS to 3001 or 3000, with or without any text therein, would be for all intents and purposes be deemed as acceptance on the part of the Customer with these Terms and Conditions in their totality. The sole consideration granting the Customer the right to participate in the Campaign is the purchase of SMS Bundle(s). </p>

                <h2>2.	DEFINITIONS AND INTERPRETATIONS:</h2>

                <h2><small>2.1	Definitions:</small></h2>

                <p>Unless the context requires otherwise, the expressions used in these Terms and Conditions and not defined elsewhere in these Terms and Condition shall have the following meanings assigned to them:</p>
                <p>2.1.1	“Advertisement” or “Advertised by Warid” means publication or advertisement of any information, policy, notice, intimation, public message or any other communication regarding the Campaign, collectively or separately, through any medium including but not limited to television, radio, outdoor, hoardings/billboards, internet, cellular and/or print media etc.;</p>
                <p>2.1.2	“Terms and Conditions” means these terms and conditions;</p>
                <p>2.1.3	“Approved modes of communication” means any of the modes of communication provided in Telecom Consumer Protection Regulations, 2009 as amended from time to time;</p>
                <p>2.1.4	“Charges” means the price of the SMS Bundle (inclusive of taxes) which shall automatically be charged to the Customer on daily basis recursively after the Subscription of the Customer for the SMS Bundle in accordance with these Terms and Conditions and it shall continue to be charged until the Customer unsubscribed from availing the SMS Bundle or till the expiry of the Bundle Period;</p>
                <p>2.1.5	“Connection” means Post-paid Connection or Pre-paid Connection issued by Warid to the Customers;</p>
                <p>2.1.6	“Customer” means the customer (including natural or legal person) who is availing Warid Services through an MSISDN registered and activated validly in his name at the time of Subscribing to the SMS Bundle;</p>
                <p>2.1.7	“Encryption” means any technique used by Warid to reasonably secure the data, voice transmission or other communication over the System including but not limited to prevent eaves dropping over its telecommunication system except as required by the law or beyond its reasonable control;</p>
                <p>2.1.8	“Data” means General Packet Radio Service or Long Term Evolution Service offered by Warid to the Customers;</p>
                <p>2.1.9	“License” means the relevant GSM License issued to Warid by PTA for provision of Services in the Territory;</p>
                <p>2.1.10	“Lucky Draw(s)” means the lucky draws held under this Campaign including the Daily Lucky Draw, Monthly Lucky Draw and Grand Lucky Draw;</p>
                <p>2.1.11	“SMS Bundle” or “Bundle” means the “Smart SMS Bundle” which is a bundle of 600 SMSs daily subscribed to by the Customer by paying the Charges and Taxes every day on a recursive basis;</p>
                <p>2.1.12	“MSISDN Number” means a unique numerical number assigned against each Connection for availing Warid Services;</p>
                <p>2.1.13	“Network” means Warid’s GSM network as and where installed throughout the Territory which is run and supported by the System;</p>
                <p>2.1.14	“Participant” means the Customer who has elected to participate in the Campaign as per these Terms and Conditions;</p>
                <p>2.1.15	“Parties” unless the context provides otherwise means Warid and the Participant Customers;</p>
                <p>2.1.16	“Payables” or “Dues” mean any payments due against the Customer for availing Warid Services as per the relevant agreement thereof;</p>
                <p>2.1.17	“Points” or “Pts” means points earned by the Participant upon answering a Quiz Question on the Paid Short Code 3000 in response to a question asked to him; The Points shall be used to rank participants for the Weekly Top Scorer Prize;</p>
                <p>2.1.18	“Post-paid Connection” means such Connection for which the Customer, subject to deposit of any applicable advance or security, pays for the Warid Services after availing the Services;</p>
                <p>2.1.19	“Pre-paid Connection” means such Connection for which the Customer pays for the Warid Services in advance before availing such Services;</p>
                <p>2.1.20	“PTA” means Pakistan Telecommunication Authority or its successor;</p>
                <p>2.1.21	“SIM Card” means subscriber identity module card corresponding to the unique MSISDN Number issued to a Customer;</p>
                <p>2.1.22	“SMS” means the Short Mmessaging Service provided by Warid, but the expression “SMS” used in these terms and condition shall mean either (i) the SMS to or from the short codes referred herein, or (ii) the SMSs to be contained in SMS Bundle. However such SMSs could only be sent to or from a recipient having Connection of Warid network; </p>
                <p>2.1.23	“System” means Warid’s GSM mobile cellular system;</p>
                <p>2.1.24	“Taxes” or “t” include all or any taxes, levies or fees  levied/charged by federal government, any provincial government or any other lawfully competent authority;</p>
                <p>2.1.25	“Territory” means the territories for which Warid is authorized to provide Services under the License;</p>
                <p>2.1.26	“Value Added Services” or “VAS” means any value added services offered by Warid from time to time to its Customers; </p>
                <p>2.1.27	“Warid Services” means the services offered by Warid from time to time through the System and Network including mandatory cellular services and optional services pursuant to the License; and</p>
                <p>2.1.28	“Warid” means Warid Telecom (Pvt.) Ltd. (including its successors and assigns) licensed by PTA to install and operate the Network throughout the Territory in order to provide the Services.</p>
                <h2><small>2.2	Interpretations:</small></h2>

                <p>2.2.1	Headings are included for convenience only and shall not affect the interpretation hereof. Any reference to the singular shall include the plural and vice versa and any reference to one gender shall include all genders;</p>
                <p>2.2.2	The importance of Clauses shall not be determined by their arrangement/order in these Terms and Conditions;</p>
                <p>2.2.3	The words “include”, “includes”, “including” and “included” will be construed without limitation unless inconsistent with the context; and</p>
                <p>2.2.4	The words not expressly defined herein shall bear the dictionary meanings.</p>

                <h2>3.	CHANGES IN THE TERMS AND CONDITIONS:</h2>

                <p>Warid maintains the absolute right to amend these Terms and Conditions by publishing the amendments and changes on its official web site; however the Customer shall be intimated through an SMS from the short code 3001 or an SMS from Warid prior to any such amendment or change taking effect. Thereafter, if the Customer shall reply/send an SMS on short code 3001 or 3000 to continue his participation in the Campaign, it shall be deemed to be the acceptance of the Customer to such amended Terms and Conditions.</p>

                <h2>4.	SHORT CODES:</h2>

                <h2><small>4.1	Short Code 3001:</small></h2>

                <p>The Customer may subscribe for the SMS Bundle by sending SMS with or without any text and such SMS on this short code shall consequent the acceptance of these Terms and Conditions and registration of the Customer for the subscription of the SMS Bundle as well as a Participant in the Campaign; further Warid shall start to charge the Customer with the subscription Charges on recursive basis. </p>

                <p>However, any SMS on this short code with the word “Help” to know the Points shall be free of any charges</p>

                <h2><small>4.2	Short Code 3000:</small></h2>

                <p>This Short Code shall be used for sending Quiz Questions by Warid and reply to such Quiz Questions by the Participant. When the Participant shall reply to any Quiz Question on this short code, the Participant shall be charged the standard single SMS charges of Warid at PKR. 1 (Rupee One Only) per SMS. </p>

                <h2>5.	THE SMS BUNDLE; PRODUCT TERMS AND DETAILS:</h2>

                <p>5.1	The SMS Bundle is a new VAS product being made available for an introductory launch period and shall be available for subscription to the Customers of Warid for a period from 01.02. 2016 to 30. 05.2016 (“Bundle Period”);  </p>

                <p>5.2	A Customer may at any time during the Bundle Period by sending an SMS, with or without any text on short code 3001 or 3000, subscribe to the SMS Bundle. The Customer understands, accepts and agrees that the subscription will result in the purchase of the SMS Bundle and it shall represent an unconditional acceptance of these Terms and Conditions in their totality whereof the link shall be sent to the Customer in an SMS. The receiving and using of the first daily SMS Bundle shall represent an acknowledgement that the Customer has accepted the Terms and Conditions and consented to registering for the SMS Bundle and the marketing Campaign as defined under these Terms and Conditions;</p>

                <p>5.3	The SMS Bundle consists of 600 SMSs per day provided to the Customer on a daily basis during the period the Customer remains subscribed to the SMS Bundle or upto the last date of the Bundle Period (as the case may be); </p>

                <p>5.4	The SMS Bundle subscription Charges is PKR.05 (Rupees Five Only) plus tax, which shall be charged automatically to the Customer at the start of each day until such time as the Customer unsubscribes the SMS Bundle or the last date of the Bundle Period. When a Customer confirms subscription of the SMS Bundle Customer shall be charged the Charges on a daily recursive basis in accordance with these Terms and Conditions. Against such daily Charges the Customer shall be given an SMS Bundle on daily basis, except when the Customer cannot be charged with Charges due to any reason (for example without limitation when the balance is insufficient in the MSISDN Account of the Customer, or the Connection of the Customer is blocked due to any reason). It is agreed by the Customer having Post-paid Connection that he shall be charged with the Charges of SMS Bundle in advance for the whole month as per his billing cycle or proportionately for the days left as per his billing cycle, as the case may be. It is further agreed by the Customer having Post-paid Connection that in case he shall unsubscribe the SMS Bundle in accordance with these Terms and Conditions, such Customer shall not be charged with the Charges for the next month but he shall not be returned the amount of Charges of the SMS Bundle for the remaining days of the month after his un-subscription; however, such Customer shall enjoy the SMS Bundle for these days alongwith the benefits of the Campaign; </p>

                <p>5.5	Customer purchasing the SMS Bundle can use the 600 SMS provided to the Customer daily in the SMS Bundle till 23:59:59 of the day;</p>

                <p>5.6	If any Customer desires to be unregistered as a subscriber of the SMS Bundle, he/she shall send an SMS with keyword “STOP” on the FOC Short Code 3001; </p>

                <p>5.7	If a Customer decides to re-register after unregistering from the SMS Bundle subscription, he/she can re-register as a subscriber, and consequently a Participant in the Campaign, by sending an SMS with any keyword or a blank SMS or an SMS containing keyword “R” to the FOC Short Code 3001. All previously accumulated Points from the Campaign will also automatically become available for the re-registered Participant if so available for the defined and relevant period of the Campaign. The re-registration of a Customer shall also represent that the Customer has again accepted the Terms and Conditions.</p>

                <h2>6.	DETAILS OF CAMPAIGN:</h2>

                <p>6.1	The Customer acknowledges that Warid has primarily launched this Campaign to promote Warid Services, SMS services and specifically the SMS Bundle which has been introduced hereby;</p>

                <p>6.2	All Customers upon electing to subscribe to the SMS Bundle by accepting the Terms and Conditions in the manner prescribed herein shall become the Participants of the Campaign in in accordance with these Terms and Conditions;</p>

                <p>6.3	To participate in the Campaign, the Customer shall be registered as a Participant upon the subscription to the SMS Bundle consequent to the acceptance of the Terms and Conditions</p>

                <p>6.4	After registration as a Participant, the Participant shall become eligible to avail the benefits of the Campaign including entry in the Lucky Draws and the Quiz offered under the Campaign where the entry shall be free of cost;</p>

                <p>6.5	The Customer/Participant acknowledges that a number of SMS for the promotion of the Campaign will be sent throughout the duration of the Campaign.</p>

                <h2>7.	DURATION OF THE CAMPAIGN:</h2>

                <p>7.1	The duration of the Campaign shall be till the end of the specified duration and period of the introductory SMS Bundle as determined by Warid (the “Campaign Period”);</p>

                <p>7.2	Warid may terminate/discontinue the Campaign at any time during the Campaign Period; however the Customer/Participant shall be intimated in accordance with the applicable laws before the termination/discontinuation date. After the termination/discontinuation of the Campaign or expiry of Campaign Period, Warid bears no obligation towards the Customer/Participant without any limitation.</p>

                <p>7.3	In the event that the Customer unregisters his subscription of the SMS Bundle during the Campaign Period, the participation in the Campaign shall also stand suspended however, the accumulated Points will be retained and the Customer will be eligible for prizes if applicable for the period of participation in the Campaign. Upon unregistering the Customer shall not receive any SMS’s containing a Quiz question.</p>

                <h2>8.	OBLIGATIONS OF CUSTOMER/PARTICIPANT:</h2>

                <p>8.1	The Customer/Participant unconditionally accepts these Terms and Conditions in addition to the terms and conditions agreed by the Customer in hard document or electronically for availing Warid’s cellular services at the time of getting Connection and shall absolutely comply with them; </p>

                <p>8.2	The Customer/Participant shall refrain from any illegal, unfair or improper actions/deeds/omissions while subscription of the SMS Bundle and participating in the Campaign and for getting the benefits of the Campaign; and in the event of such an attempt occurring, Warid shall have all the rights available to it under these Terms and Conditions, the agreement executed by the Customer for availing any of Warid’s Services and the applicable laws.</p>

                <h2>9.	LUCKY DRAW PRIZES AND MECHANICS:</h2>

                <p>Each day that the Customer maintains the subscription to the SMS Bundle and is charged the Charges on a daily basis, the Customer/Participant shall receive upon being charged the daily Charges 05 entries to the Daily, Monthly and Grand lucky draws (hereinafter respectively referred to as the “Daily Lucky Draw”, “Monthly Lucky Draw” and “Grand Lucky Draw”). </p>

                <h2><small>9.1	Daily Lucky Draw</small></h2>

                <p>During the Campaign Period, Daily Lucky Draw shall be held on every day, and the Participant will be given 05 entries against the daily Charges of the SMS Bundle during that day (i.e. 00:00:00 to 23:59:59).</p>

                <p>The winner of each Daily Lucky Draw shall be given a prize of PKR 25,000 (“Daily Prize”). </p>


                <h2><small>9.2	Monthly Lucky Draw</small></h2>

                <p>During the whole Campaign Period, the following Monthly Lucky Draws shall be held for the period as per below table:</p>

                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Monthly Lucky    Draw</th>
                                <th>Relevant Period for the    Monthly Lucky Draw</th>
                            </tr>
                            <tr>
                                <td>First Monthly Lucky Draw</td>
                                <td>From 01.02.2016 to 01.03.2016</td>
                            </tr>
                            <tr>
                                <td>Second Monthly Lucky Draw</td>
                                <td>From 02.03.2016 to 31.03.2016</td>
                            </tr>
                            <tr>
                                <td>Third Monthly Lucky Draw</td>
                                <td>From 01.04.2016 to 30.04.2016</td>
                            </tr>
                            <tr>
                                <td>Fourth Monthly Lucky Draw</td>
                                <td>From 01.05.2016 to 30.05.2016</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <p>The Participant shall be given 05 entries for the Monthly Lucky Draw against each daily Charges of the SMS Bundle paid by the Customer during the relevant period covered by the relevant Monthly Lucky Draw as mentioned in the above table (starting from 00:00:00 of the first day of such relevant period and ending at 23:59:59 of the last day of such relevant period); </p>

                <p>The winner of each Monthly Lucky Draw shall be given a prize of PKR 1,000,000/- (Rupees One Million Only) (“Monthly Prize”);</p>

                <h2><small>9.3	Grand Lucky Draw</small></h2>

                <p>After the expiry of the Campaign a Grand Lucky Draw shall be held wherein every Participant shall be given 05 entries against each daily Charges of the SMS Bundle during the Campaign Period. The winner of the Grand Lucky Draw shall be given PKR. 2,500,000/- (Rupees Two Million Five Hundred Only);</p>

                <p>9.4	There shall be no additional cost charged to any Customer/Participant for their entry into the Lucky Draw(s).</p>

                <h2>10.	 QUIZ, PRIZES AND MECHANICS:</h2>

                <p>10.1	Warid as a part of the Campaign has introduced a Quiz program (the “Quiz”) which is part of the Campaign;</p>

                <p>10.2	The Participant of his own free will may elect to participate in the Quiz;</p>

                <p>10.3	The Participant shall as part of the Campaign to promote the SMS Bundle, receive from time to time an SMS containing a question with 2 options for possible answers (“Quiz Question” or “Question”). The Participant may reply the said SMS containing the Quiz Question received by him from time to time.  The Participant/Customer shall not be charged anything for participating in the Quiz; however, shall be charged the standard single SMS cost of Re. 1 plus tax only for each SMS sent by the Participant to answer a Quiz Question. Warid shall give 100 Points on the correct answer and 50 Points on the incorrect answer (the “Basic Mode”) and on the basis of the Points earned by the Participants in the Quiz, the Participants shall be given Daily Top Scorer Prize (“Daily Free Minutes Prize”) and the Weekly Top Scorer Prize (“Weekly Prize”) as described below. </p>

                <h2><small>10.4	Daily Free Minutes Prize:</small></h2>

                <p>During the Campaign Period, on every day starting from 00:00:00 and ending on 23:59:5950, 100 Participants earning maximum Points by answering the Quiz Questions shall be given a prize of 100 on net minutes (useable for Warid to Warid call) (“Daily Free Minutes Prize”). The free minutes airtime given as a Daily Free Minute Prize shall be available to the Customer for the use on midnight at 00:00:00 after the award of the Daily Free Minute Prize and shall be available for consumption till the midnight by 00:00:00 next day. </p>


                <h2><small>10.5	Weekly Prize</small></h2>

                <p>The Participant with highest Points at the end of the week (i.e. starting from 00:00:00 on every Monday and ending at 23:59:59 on every Sunday) in the Quiz shall be announced as the winner of the weekly prize of a Handset of Apple iPhone 6S (“Weekly Prize”) after verification mentioned herein;</p>

                <p>After the expiry of every week (i.e. starting from 00:00:00 on every Monday and ending at 23:59:59 on every Sunday), the Points earned by the Participant shall expire, and for the next Weekly Prize the Points earned in the next week shall be relevant;</p>

                <p>In case there is more than one Participant who earned the same number of highest Points during a certain week, in such case a lucky draw shall be held between the top scorers having equal points and the Weekly Prize shall be given to the winner of the lucky draw.</p>

                <h2><small>10.6	Bonus Scheme:</small></h2>

                <p>During the Campaign Period Warid shall also announce the bonus schemes (“Bonus Scheme”) at various times where the participant receives more points than the ones he/she can receive in the Basic Mode. In all cases, these bonus schemes will be communicated to the Participant via SMS. These Bonus Schemes will last between half an hour to one day and will be equally accessible to all participants. In all cases the wrong question will award minimum 50 points to the Participant. For the information of Participants, the different types of Bonus Schemes are explained below. However, the following explanations do not represent the frequency or order in which the Bonus Schemes will be offered during the Campaign Period. The Duration and Points which may be earned in such Bonus Schemes may vary as the examples given below. By participating in the Bonus Schemes, the Participant may earn extra points and raise the probability of becoming top scorer and accordingly to get the Weekly Prize.</p>

                <h2><small>a)	Start Bonus Phase</small></h2>

                <p>
                    In this Bonus Phase the first question will award certain Points to the Participant against the correct answer (which may be 100, 200 or other) (hereinafter referred to as “X” Points), and thereafter each subsequent correct answer shall earn the Points equal to the Points earned against the previous correct answer plus X Points. However the incorrect answer shall earn 50 Points only.
                    For clarity it is explained in the below table:
                </p>

                <h2><small>Example 1:</small></h2>

                <p>X=100 Points</p>

                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Start Bonus</th>
                                <th>Correct Answer</th>
                                <th>Incorrect Answer</th>
                            </tr>
                            <tr>
                                <td>1st    Question</td>
                                <td>100    = (X)</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>2nd    Question</td>
                                <td>100+X=200</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>3rd    Question</td>
                                <td>200+X=300</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>4th    Question</td>
                                <td>300+X=400</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>5th    Question</td>
                                <td>400+X=500</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2><small>Example 2:</small></h2>
                <p>X=200</p>
                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Start Bonus</th>
                                <th>Correct Answer</th>
                                <th>Incorrect Answer</th>
                            </tr>
                            <tr>
                                <td>1st    Question</td>
                                <td>200    = (X)</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>2nd    Question</td>
                                <td>200+X=400</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>3rd    Question</td>
                                <td>400+X=600</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>4th    Question</td>
                                <td>600+X=800</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>5th    Question</td>
                                <td>800+X=1000</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2><small>b)	Warp Speed Bonus Phase</small></h2>

                <p>
                    Under this Bonus Phase, for each correct answer, the Participant will get a predefined amount of Points (“X Points”). The phase shall be time based which may be a minute or any length of time.  This Bonus Phase shall last for such defined time period and the Participant may answer as many questions as he can during such defined time according to his speed of response to the questions.
                    Every correct answer will give X Points but any incorrect answer will earns 50 Points to him.
                </p>

                <h2><small>c)	Even Bonus Phase</small></h2>

                <p>
                    In this Bonus Phase the first answer to a question shall earn the Points as per Basic Mode, but every alternative question shall earn 150 Points to a Participant, if answered correctly.
                    For clarity it is important to note that it does not matter if the answer to the first question of this Bonus Phase is correct or wrong, if the answer to the second, fourth, sixth or other even numbered question is correct, the Participant will get 150 Points.
                    Every incorrect answer shall earn 50 Points.
                </p>

                <p>For further clarity it is explained in below:</p>

                <p>
                    1st answer = wrong/invalid = 50 Points<br>
                    2nd answer = Correct = 150 Points<br>
                    3rd answer = Correct = 100 Points<br>
                    4th answer = Correct = 150 points<br>
                    5th answer = Incorrect = 100 points<br>
                    6th answer = Incorrect = 50 Points<br>
                    7th answer = Correct= 100 Points<br>
                    And so on…
                </p>

                <h2><small>d)	Perfect Bonus Phase</small></h2>

                <p>In this Bonus Phase the Participant shall be entered into a set of certain numbers of questions, which may be a set of 3, 5 or 7 questions and so on. The first correct answer shall earn certain points which shall be more than the Basic Mode (“X Points”). The next correct answers shall also earn X Points. However, if all questions in the set are answered correctly, the correct answer to the last question of the set shall earn the Participant X Points multiplied by the total number of questions in that set. It is important to note that any incorrect answer to a question shall terminate the participation of the Participant in this Bonus Phase; however the Points earned to the Participants till the last correct answer shall remain available to the Participants. </p>

                <p>For clarity it is explained in below:</p>

                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Perfect 3</th>
                                <th>Perfect 5</th>
                                <th>Perfect 10</th>
                            </tr>
                            <tr>
                                <td>1st question correct answer    1,000 points</td>
                                <td>1st question correct answer    1,000 points</td>
                                <td>1st question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>2nd question correct answer    1,000 points</td>
                                <td>2nd question correct answer    1,000 points</td>
                                <td>2nd question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>3rd question correct answer    3,000 points</td>
                                <td>3rd question correct answer    1,000 points</td>
                                <td>3rd question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>4th question correct answer    1,000 points</td>
                                <td>4th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>5th question correct answer    5,000 points</td>
                                <td>5th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>6th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>7th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>8th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>9th question correct answer    1,000 points</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10th question correct answer    10,000 points</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h2>11.	CONDITIONS TO WIN AND RECEIVE THE PRIZES</h2>


                <p>11.1	The Daily Prize, Daily Free Minutes Prize, Weekly Prize, Monthly Prize and Grand Prize shall collectively be referred to as the “Prizes” and separately as the “Prize”;</p>

                <p>11.2	All Prizes will be awarded within 60 days of expiry of the Campaign Period; The Daily Free Minutes Prize shall be credited into the MSISDN Account of the Participant, whereas all other Prizes shall be given subject to the following clauses 11.3 to 11.17;</p>

                <p>11.3	All Prizes will be subject to applicable Taxes before being handed over to the winning Participant;</p>

                <p>11.4	The Participants shall be able to win one type of the Prize once only except the Daily Free Minutes Prize and the Weekly Prize which can be won multiple times during the Campaign Period. If a Participant wins two or more Prizes of the same type, he/she shall be eligible for one prize only. The Prize he is ineligible for shall in that event be awarded to the first/next runner up after the Participant excluded. However if a Participant wins two or more different types of prizes, he will be eligible to receive them all. For example, a Daily Prize winner can be a Monthly Prize winner also. However he cannot win a Daily Prize again. The Types of Prizes are given below:</p>

                <p>i)	Daily Prize</p>
                <p>ii)	Monthly Prize</p>
                <p>iii)	Grand Prize</p>
                <p>iv)	Daily Free Minutes Prize</p>
                <p>v)	Weekly Prize</p>

                <p>11.5	The Prize winning Participant shall be required to produce his original CNIC for verification of his antecedents from Warid’s records and after verification such Participant shall be given the Prize;</p>

                <p>11.6	If the winning Participant is under 18, then the prize will be awarded to the person whose name the SIM is registered and the prize will be handed over only after verification in accordance with clause 11.5;</p>

                <p>11.7	Warid reserves the right to disqualify any Participant from receiving any prize(s) if it has reasonable grounds to believe that the Participant breached any provision of the Terms and Conditions and/or the agreement executed for availing Warid Services;</p>

                <p>11.8	The Prize winning Participant shall be contacted by Warid and such Participant shall undertake in writing that he is, the lawful owner of the SIM and MSISDN (cell number), is entitled to receive the Prize and in case of any claimant disputing the receiving of such Prize he shall be responsible for the settlement of such dispute and shall indemnify Warid in full regarding such dispute (including but not limited to all cost, expenses and reasonable attorney fees incurred by Warid in relation thereto);</p>

                <p>11.9	The Prize winning Participant shall provide all the documents required by Warid including a Disclaimer stating that he is not disqualified under Clause 12.14 to participate in the Campaign;</p>

                <p>11.10	The Participant agrees that Warid may use such photographs, videos and audio recordings taken at the time of Prize distribution, communication happened/exchanged during contact by Warid for intimation of prize winning and other information including names, surnames etc., in Warid’s advertisements of the Campaign without any further/prior/specific consent for such purpose. The consent given here and the incorporation of any contents/information in the advertisement of the Campaign shall not entitle the Participant for any remuneration/amount in any manner. If a winning participant later becomes disqualified under these Terms and Conditions to receive the Prize, then any release of advertisement about his winning shall not create any obligation/responsibility on Warid in favor of such participant either related to the Prize or to any social, financial or other exposure in this regard;</p>

                <p>11.11	Warid will select up to 5 runners-up for every Prize.  If the notified winner Participant cannot be reached / contacted, disqualified or refuses the Prize or fails to appear to collect it within 15 calendar days (the “Grace Period”) of the notification/intimation, then Warid will contact the next runner-up and so on, and declare such runner up Participant the winner of the Prize. After the lapse of the Grace Period, the claim from winning Participant/runner up shall not be entertained without regard to the reason of such delay/lapse;</p>

                <p>11.12	The cash Prize winning Participant must have a Bank Account in order to receive the Prize. In case the winner does not have an existing Bank Account, he will be given a period of 15 working days to open an account and revert back to Warid. In case he does not revert back to Warid in the prescribed time period of 15 days from the notification/intimation, it shall be considered the lapse of Grace Period and such Participant shall face the consequences of lapse of Grace Period; </p>

                <p>11.13	The Participant shall collect all Prizes from Warid’s premises as directed by Warid in its sole discretion and the Participant shall bear all the travelling expenses by himself;</p>

                <p>11.14	The Prize winner cannot assign or transfer the Prize;</p>

                <p>11.15	The Participant agrees that Warid shall not be responsible/liable for any loss, injuries or damages of any kind caused to the Participant by or resulting from the Campaign, the participation in the Campaign, acceptance or receiving the Prizes, or disqualification to receive any Prize including without limitation on account of lapse of Grace Period;</p>

                <p>11.16	Warid reserves the right to stop (Pre-mature Stoppage) the Campaign prior to its last date due to any reasons, including but not limited to as mentioned in clause 12.10 herein. In case of Pre-mature Stoppage, Warid will publish the results of the Campaign at T&amp;C Link http://waridtel.com/ssb and shall only give out the prizes won up to the date of Pre-mature Stoppage; </p>

                <p>11.17	 The Participant understands, agrees and accepts that the decisions made by Warid shall be final and binding on him.</p>

                <h2>12.	MISCELLANEOUS:</h2>

                <p>12.1	Warid shall not have any liabilities towards the Customer/Participant after the expiry of Campaign Period except provided otherwise expressly in the Terms and Conditions. Any Bundle purchased by a Customer/Participant shall not be refundable;</p>

                <p>12.2	Warid shall not be responsible for any loss or damage resulting to the Participant or any third party in any manner in association and/or connection with the Campaign and participation therein;</p>

                <p>12.3	Warid undertakes/gives no warranty (whether express or implied) whatsoever with respect to the entitlement for any Prize by mere participation of Participant in the Campaign;</p>

                <p>12.4	 Fraud or abuse relating to accrual of Points, may result in forfeiture/cancellation of such accrued Points as well as cancellation of a Participant’s eligibility for the Campaign, suspension of Warid’s Services to the Participant and termination of Participant’s Warid connection; and any decision by Warid in this respect shall be final;</p>

                <p>12.5	Without prejudice to Clause 12.4, all questions or disputes regarding eligibility of the Participant for the Campaign, the accrual/accumulation of Points and giving of Prizes shall be resolved by Warid in its sole discretion and any decision by Warid in this respect shall be final;</p>

                <p>12.6	Warid’s failure or delay to enforce a particular term and condition, right, remedy or penalty shall not constitute as a waiver of that term and condition, remedy, penalty by Warid. Further the enforcement of these Terms and Conditions, right, remedy or penalty shall not mean the waiver of other terms, remedies or penalties available to Warid under this document, other applicable documents/agreements between Warid and the Participant and the relevant laws;</p>

                <p>12.7	The reply the Customer sends to the SMS from FOC Short Code containing the link of these Terms and Conditions or the purchase of any Bundle after receiving such SMS, shall mean that the Customer/Participant has read, understood and agreed with the provisions/paragraphs of these Terms and Conditions;</p>

                <p>12.8	Warid reserves the right to disqualify any Participant from further participation in the Campaign, if it has reason to believe that the Participant has in any way violated these Terms and Conditions, or the terms and conditions of the agreement executed for availing Warid Services (which is mandatory to execute before availing Warid Services). If a Participant is availing Warid Services without execution of any agreement in this regard, it shall be presumed a breach of these Terms and Conditions in itself;</p>

                <p>12.9	Unless otherwise expressly stated or implied by context, each of the Terms and Conditions herein contained shall be severable and distinct from one another and if any provision of these Terms and Conditions is held to be invalid, illegal or unenforceable by a court of competent jurisdiction or any competent authority, such invalidity, illegality or unenforceability shall not affect the validity, legality and enforceability of the remaining provisions. In case any provision is held to be invalid, illegal or unenforceable by a competent authority or court, Warid shall have the right to amend these Terms and Conditions as may be required as a result of the order of the competent court or authority. However, in case the remaining Terms and Conditions cannot survive pursuant to the order of the competent authority or court, or the amendment renders these Terms &amp; Condition incapable of being performed to the extent of obligations with regards to a Participant/Prize winner, the Participant/Prize winner understands, accepts and agrees that Warid in such circumstances shall have the right to terminate the agreement concluded between Warid and the Participant hereby;</p>

                <p>12.10	If a Force Majeure event occurs that directly affects the ability of Warid to perform its obligations hereunder, Warid shall be entitled to suspend performance of such an obligation for the duration of the Force Majeure event. Force Majeure includes acts of God, war, hostilities, riots, civil commotion, strike, revolution, epidemic, accident, fire, flood, earthquake, blockade, any decision of the court, tribunal or authority, PTA or any other cause similar to the kind herein enumerated or of equivalent force not within the control of Warid (including but not limited to reasons attributable to failure of machinery, Warid’s telecommunication system, any hardware or software);</p>

                <p>12.11	The decision of Warid in respect of any dispute that may arise in connection with these Terms and Conditions shall be final and binding on the Participant;</p>

                <p>12.12	The Customer/Participant acknowledges that under this Campaign he shall not respond to any calls/SMSs directing to make/send calls/SMSs to any other number/short code or which are regarding award of any prize (whether money or in kind) in lieu of balance transfer or any call. Ignorance of this clause by the Customer shall not accrue any liabilities/responsibilities on Warid including but not limited to liability/responsibility towards any loss occurred to the Customer/Participant;</p>

                <p>12.13	The language of the Campaign shall be Roman Urdu and/or English;</p>

                <p>12.14	The Customer who has executed the agreement for availing Warid Services against the MSISDN (cell number) under his use shall be eligible to participate in the Campaign and not otherwise. However, notwithstanding anything contained herein, the following shall not be eligible to participate in the Campaign:</p>

                <p>
                    i)	The employees of Warid;<br>
                    ii)	Warid Franchises and Retailers and the employees of its sister concerns;<br>
                    iii)	The spouse, children, parents and siblings (“First Degree Relatives”) of Warid employees;<br>
                    iv)	The registered users of Warid employee family number; and <br>
                    v)	The contractors, technical service providers and/or professionals and their employees working for this Campaign.
                </p>

                <h2>13.	COMPLAINT/QUERY HANDLING, DISPUTE RESOLUTION AND ARBITRATION:</h2>

                <p>13.1	The Participant can call at the helpline by dialing 321 round the clock for any complaints regarding the Campaign. The Participant’s call shall be recorded against his CLI for record keeping and in accordance with the instructions given by PTA. Prescribed tariff rates shall be charged for using the helpline services;</p>

                <p>13.2	If a Participant requires information regarding the Campaign or the Quiz, he can send keyword “HELP” to the FOC Short Code;</p>

                <p>13.3	A Participant can receive information of his accumulated Points by sending keyword “POINTS” to the short code 3001 free of any charges;</p>

                <p>13.4	The Campaign and/or the Quiz and these Terms and Conditions shall be governed by the laws of Pakistan and interpreted in accordance with laws of Pakistan. If the Participant shall be of the opinion that he has any right pertaining to the Campaign and he wishes to invoke such right, the Participant acknowledges, understands and agrees that such right can only be invoked through the arbitration which shall be conducted by the sole arbitrator appointed by Warid and such arbitration proceedings shall be conducted in English or Urdu language at Lahore under the Arbitration Act 1940. Without prejudice to the above, it is further agreed by the Participant that only the courts at Lahore shall have the jurisdiction on any matter relating to the Campaign.</p>



            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/pakistan-offer"><img src="http://www.waridtel.com/assets/more_offers_images/pakistan-offer-dropdown (1)2.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/pakistan-offer"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/free-call-offer"><img src="http://www.waridtel.com/assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/free-call-offer"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack"><img src="http://www.waridtel.com/assets/more_offers_images/08201427114905449.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>




