
@{
    ViewBag.Title = "moWinners";
}


@section featuredArea{
<div class="static-banner-box"> <img src="http://www.waridtel.com/assets/services_header_images/prepaid/malamaal-offer-new-3.png" alt="Winners"> </div>


}


<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">


                    <ul>


                        <li><a href="http://www.waridtel.com/">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid">PREPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers">OFFERS</a></li>



                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers">ALL NETWORK OFFERS</a></li>


                        <li>&gt;&nbsp;<a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer">MALAMAL OFFER</a></li>





                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners">WINNERS</a></li>






                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowtransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox" data-url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners" data-title="Warid Telecom :: "><div id="atstbx" class="at-share-tbx-element addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_tweet at300b"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.fd774b599f565016d763dd860cb31c79.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.waridtel.com%2Fprepaid%2Foffers%2Fall-network-offers%2Fmalamal-offer%2Fwinners&amp;size=m&amp;text=Warid%20Telecom%20%3A%3A%20&amp;time=1461146713080&amp;type=share&amp;url=http%3A%2F%2Fwww.waridtel.com%2Fprepaid%2Foffers%2Fall-network-offers%2Fmalamal-offer%2Fwinners%23.VxdUV2_IrNY.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners#.VxdUV2_IrNY.twitter"></iframe></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners"><span class="at_PinItButton"></span></a><a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">54</a></a><div class="atclear"></div></div></div>

                    </div>
                </div>


            </div>        <!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID PREPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">RECHARGE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/recharge-via-scratch-card">Recharge Via Scratch Card</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/warid-load">Warid Load</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/top-up-by-atm">Top Up by ATM</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/online-prepaid-top-up">Online prepaid Top-Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/international-top-up">International Top Up</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/p2p">P2P</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/advance-balance">Advance Balance</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/recharge/top-up-on-roaming">Top Up On Roaming</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/social-pack-facebook-whatsapp">Warid Social Pack</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/mobile-internet-buckets">Internet Buckets</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/internet-settings">Internet Settings</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/mobile-internet/prepaid-shared-internet-plans">Prepaid Shared Internet Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/packages">PACKAGES</a></h3>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="javascript:void(0)">All Network Offers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/daily-bundle">Daily Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/7-day-offer">7 Day Offer</a>
                                            </li>
                                            <li class="active">
                                                <a class="" href="javascript:void(0)">Malamaal Offer</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/terms-and-conditions">Malamaal Offer Terms &amp; Conditions</a>
                                                    </li>
                                                    <li class="">
                                                        <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/bonus-schemes-variations">Bonus Schemes Variations - Malamaal Offer</a>
                                                    </li>
                                                    <li class="active">
                                                        <a class="breadcrumbs-selected" href="http://www.waridtel.com/prepaid/offers/all-network-offers/malamal-offer/winners">Winners</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/one-code">One Code</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/3-day-bundle">3 Day Bundle</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-network-offers/mahana-offer">Mahana Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Voice Packages</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/voice-packages/pakistan-offer">Pakistan Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/voice-packages/hourly-package">Hourly Package</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">All In One Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack">Power Pack</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/poora-hafta-offer">Poora Hafta Offer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Welcome Offer</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/acquisition-mnp">New SIM Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/lte-sim-lagao">Sim Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/welcome-offer/reserve-sim-online">Reserve sim online</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Apna Sheher</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/20-paisa">20 paisa</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/multan-hyd">Multan / Hyd</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/khi">Karachi Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="http://www.waridtel.com/prepaid/offers/apna-sheher/peshawar">Peshawar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/ir/prepaid/">INTERNATIONAL ROAMING</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SELF CARE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/call-history">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/internet-setting">Internet Setting</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/321-help-menu">321 Help menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/start-stop-service">Start Stop Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/order-sim-online">Order Sim Online</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/call-details">Call details</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/self-care/ivr-100">IVR 100</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/afghanistan-offer">Afghanistan Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-bundle-offer">IDD Bundle Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/111-lcr">111-LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-48-paisa-offer">48 Paisa Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/idd-india-bangladesh">International Dialing India &amp; Bangladesh</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/international-mms">International MMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/international-dialing-rates">Int. Dialing Rates</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/international-dialing/iran">Iran</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SMS PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="http://www.waridtel.com/prepaid/sms-packages/sms-bundles">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/terms-conditions">TERMS &amp; CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="http://www.waridtel.com/prepaid/operators-terms-conditions">OPERATORS TERMS &amp; CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">SMS Smart Bundle - Malamaal Offer Winners</div>
                <div class="table-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <th>Prize</th>
                                <th>Name</th>
                                <th>CNIC</th>
                                <th>City</th>
                                <th>Verification Status</th>
                                <th>Winners Videos</th>
                            </tr>
                            <tr>
                                <td>Mon. 1st    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal">Shama Parveen</a></td>
                                <td>*****-****541-0</td>
                                <td>Karachi</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Tue. 2nd    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal">Shujah Din</a></td>
                                <td>*****-****380-5</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Wed. 3rd Feb    2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal">Shafique Hussain</a></td>
                                <td>*****-****919-5</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Thurs. 4th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal">Muhammad Tayyab Nazeer</a></td>
                                <td>*****-****401-5</td>
                                <td>Karachi North Nazimabad</td>
                                <td>Verified</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Fri. 5th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal-5">Shakeel Ahmad</a></td>
                                <td>*****-****917-1</td>
                                <td>Gujranwala</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sat. 6th Feb    2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in    process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 7th    Feb 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal-7" href="#">Arshad Muneer Butt</a></td>
                                <td>*****-****759-3</td>
                                <td>Rawalpindi</td>
                                <td>Verified</td>
                                <!--<td><a href="javascript:setVideo('http://www.waridtel.com/assets/winner_videos/arshad-muneer-butt.mp4');" class="show_video" >Watch Video</a></td>-->
                                <td>
                                    <a href="https://www.youtube.com/watch?v=5mNwiRl8-nc" target="_blank">Watch Video</a>
                                </td>
                            </tr>

                            <tr>
                                <td>Mon. 8th Feb    2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Tues. 9th Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal">Meer Nasir Ali</a></td>
                                <td>*****-****652-9</td>
                                <td>Karachi</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Wed. 10th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Thurs. 11th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Fri. 12th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sat. 13th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 14th Feb 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal-14" href="#">Jamshaid Khalid</a></td>
                                <td>*****-****521-1</td>
                                <td>Lahore</td>
                                <td>Verified</td>

                                <td>
                                    <a href="https://www.youtube.com/watch?v=BhF5fVsCCPo&amp;feature=youtu.be" target="_blank">Watch Video</a>
                                </td>
                            </tr>


                            <tr>
                                <td>Mon. 15th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Tauseef Ashraf</a></td>
                                <td>*****-****116-1</td>
                                <td>Islamabad</td>
                                <td>Verified</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tue. 16th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Altaf Hussain</a></td>
                                <td>*****-****522-1</td>
                                <td>Karachi</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Mon. 17th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Mujahid Khan</a></td>
                                <td>*****-****087-9</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Thurs. 18th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Fri. 19th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sat. 20th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 21st Feb 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal-21" href="#">Abdul Azeez</a></td>
                                <td>*****-****643-3</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td>
                                    <a href="https://www.youtube.com/watch?v=RQs9Xog6faI&amp;feature=youtu.be" target="_blank">Watch Video</a>
                                </td>

                            </tr>
                            <tr>
                                <td>Mon. 22nd    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Tue. 23rd    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Wed. 24th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Thurs. 25th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Fri. 26th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sat. 27th Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Asif Iqbal</a></td>
                                <td>*****-****404-3</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 28th Feb 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Mujahid Khan</a></td>
                                <td>*****-****733-6</td>
                                <td>Lahore</td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Mon. 29th    Feb 2016</td>
                                <td>PKR 25,000</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Verification in process</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Tues. 1st    Mar 2016</td>
                                <td>PKR 1 Million</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Idrees</a></td>
                                <td>*****-****906-3</td>
                                <td>Lahore </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Thurs. 3rd Mar 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Zahid Ilyas</a></td>
                                <td>*****-****355-3</td>
                                <td>Lahore </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sat. 5th Mar 2016</td>
                                <td>PKR 25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Shoaib Ahmad Sheikh</a></td>
                                <td>*****-****157-3</td>
                                <td>Faisalabad  </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 6th Mar 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal-6m" href="#">Ali Rasheed</a></td>
                                <td>*****-****501-3</td>
                                <td>Lahore  </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Tues. 8th Mar 2016</td>
                                <td>25,000</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Tasleem Akhtar</a></td>
                                <td>*****-****351-8</td>
                                <td>Lahore  </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sun. 13th Mar 2016</td>
                                <td>iPhone 6s</td>
                                <td><a data-toggle="modal" data-target="#myModal" href="#">Muhammad Tahir Khan</a></td>
                                <td>*****-****183-7</td>
                                <td>Lahore  </td>
                                <td>Verified</td>
                                <td>&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>


                </div>
                <h2>Note: <small>DAILY 100 ON NET TOP SCORERS ARE BEING INFORMED VIA SMS DURING THE WEEK ONCE THEY HAVE BEEN VERIFIED.</small></h2>
            </div>
        </div>
        <!--Right content (page content)-->
        <!-- video-pop-up -->
        <div id="ajaxVideoDiv" class="main-player-style" style="display:none;float:left;left:33%;position:fixed;text-align:center;top:31%;width:auto;z-index:9999;border:8px solid #999999; border-radius:5px;">
            <span style="position:absolute;top:2px;right:4px;"><a href="javascript:void();" class="close_video"><img src="http://www.waridtel.com/assets/images/close.png" border="0"></a></span>
            <a href="#" style="display:block;width:500px;height:300px" id="player"></a>
            <script type="text/javascript">
            function setVideo(idPath){
                flowplayer("player", {src: "http://www.waridtel.com/assets/js/flowplayer/flowplayer-3.1.4.swf", wmode: 'transparent'}, {
                           plugins: {
                            controls: {
                                url: 'flowplayer.controls-3.1.4.swf',
                                backgroundColor: '#999999',
                                sliderGradient:'high',
                                sliderColor:'#ff1207',
                                progressColor: '#0065c1',
                                sliderBorder: '1.5px solid #000000',
                                volumeSliderColor: '#0065c1',
                                volumeBorder: '#7c7c7c',
                                buttonOverColor: '#afafaf',
                                sliderColor: '#8e8e8e',
                                buttonColor: '#2b2b2b',
                                timeColor: '#ffffff',
                                durationColor: '#000000',
                                tooltipColor: '#7c7c7c',
                                tooltipTextColor: '#ffffff',

                            }
                        },
                        clip: { url: idPath,
                                autoPlay: true,
                                autoBuffering: true,


                            }
                        });
            }

            </script>
        </div>
        <!-- video-pop-up -->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="view-more-bd-box">
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/pakistan-offer"><img src="http://www.waridtel.com/assets/more_offers_images/pakistan-offer-dropdown (1)2.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/pakistan-offer"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/free-call-offer"><img src="http://www.waridtel.com/assets/more_offers_images/free-call-offer-22dropdown.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/free-call-offer"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="more-offers-box">
                        <a href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack"><img src="http://www.waridtel.com/assets/more_offers_images/08201427114905449.png" alt="Internet Options"></a>
                        <a class="more-btn-offers" href="http://www.waridtel.com/prepaid/offers/all-in-one-offer/power-pack"><img src="http://www.waridtel.com/assets/images/bullets-more.png">more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/new-postpaid-plans">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/packages/old-postpaid-plans">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/offers">Offers</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/postpaid/mobile-internet">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="http://www.waridtel.com/prepaid/packages">Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/offers">Offers</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/sms-packages">SMS Packages</a></li>
                                <li><a href="http://www.waridtel.com/prepaid/mobile-internet">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/prepaid">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/ir/postpaid">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/entertainment">Entertainment</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/music">Music</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/balance-transfer-services">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="http://www.waridtel.com/products/utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="http://www.waridtel.com/assets/images/fb-social.png" alt="Facebook"><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="http://www.waridtel.com/assets/images/linked-inn-social.png" alt="Facebook"><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/insta-social.png" alt="Facebook"><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="http://www.waridtel.com/assets/images/twitter-social.png" alt="Facebook"><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="http://www.waridtel.com/assets/images/pin-social.png" alt="Facebook"><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="http://www.waridtel.com/media-center">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="http://www.waridtel.com/coverage">COVERAGE</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/consumer-manual" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="http://www.waridtel.com/avoid-fraud">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="http://www.waridtel.com/customer-care/contact-us">CONTACT US</a></li>
                            <li><a href="http://www.waridtel.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="http://www.waridtel.com/sitemap">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>


