
@{
    ViewBag.Title = "islamicsservice786";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/vas/786_Islamic_Service.png" alt="786 Islamic Service" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="../../products.html">PRODUCTS</a></li>

                        <li>&gt;&nbsp;<a class="" href="../religion.html">RELIGION</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="786-islamics-service.html">786 ISLAMICS SERVICE</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/products/religion/786-islamics-service&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>				<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 18px;
    text-align: left;" href="javascript:void(0)">VALUE ADDED SERVICES</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../retailer-sahoolat-services.html">RETAILER SAHOOLAT SERVICES</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BIMA INSURANCE</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../bima-insurance/terms-and-conditions.html">Bima Insurance Project Terms and Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../biometric-sim-re-verification.html">BIOMETRIC SIM RE-VERIFICATION</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">ENTERTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-live.html">Warid Live</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-radio-station.html">Warid Radio Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-voiler.html">Warid Voiler</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/drama-line.html">Drama Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/ladies-portal.html">Ladies Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/poetry-junction.html">Poetry Junction</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/shaadi-portal.html">Shaadi Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/warid-fun-facts.html">Warid Fun Facts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/ask-warid.html">Ask Warid</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Love Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/loveservices/lovemeter">Love Meter</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/loveservices/lovequizzes">Love Quizzes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/loveservices/smslovestory">SMS Love Story</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/loveservices/babagkeepredictions">Bab G Kee Predictions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Zone</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/ring-tones.html">Ringtones</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/wallpapers.html">Wallpapers</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/picture-messages.html">Picture Messages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/greetings.html">Greetings</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/mobile-games.html">Mobile_Games</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/warid-zone/screensavers.html">Screen Savers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/vow.html">VOW</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/surprise-promo.html">Surprise Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../entertainment/valentine-promo.html">Valentine Promo</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Dial Junction</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/kahaani-portal.html">Kahaani Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/warid-comedy-corner.html">Warid Comedy Corner</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/warid-fun-store.html">Warid Fun Store</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/ilaqai-portal.html">Ilaqai Portal</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/gup-lagao.html">Gup Lagao</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../entertainment/dial-junction/song-and-greeting-dedication.html">Song & Greeting Dedication</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INFOTAINMENT</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../infotainment/premium-sms-service.html">Premium SMS Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-easy-menu.html">Warid Easy Menu</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/voice-poke.html">Voice Poke</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/sitaray-kehtay-hain.html">Sitaray kehtay hain</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/prize-bond-informer.html">Prize Bond Informer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-youth-portal.html">Warid Youth Portal</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Alerts</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/breaking-news.html">Breaking News</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/jokes.html">Jokes</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/horoscope.html">Horoscope</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/ayat.html">Ayat</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/hadith.html">Hadith</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Weather Update</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../infotainment/warid-alerts/weather-update/forecast-cities.html">Forecast Cities</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/warid-alerts/namaz-alerts.html">Namaz Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-video-news.html">Warid Video News</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/start-stop-services.html">Start Stop Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/doctors-helpline.html">Doctors Helpline</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Career Portal</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/cv-writing.html">CV Writing</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/interview-preparation-tips.html">Interview Preparation Tips</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/job-alerts.html">Job Alerts</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/career-advice.html">Career Advice</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/training-and-events.html">Training and Events</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/careers/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-virtual-stocks.html">Warid Virtual Stocks</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/vocabulary-builder.html">Vocabulary Builder</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-iq-test.html">Warid IQ Test</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-kissan-line.html">Warid Kissan Line</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/language-learner.html">Language Learner</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/biz-store.html">Biz Store</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Location Based Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/myguide">My Guide</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-buddy.html">My Buddy</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-family.html">My Family</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../infotainment/location-based-services/my-corp.html">My Corp</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/warid-sms-email.html">Warid SMS Email</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/find-my-number.html">Find My Number</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/help-me.html">Help Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../infotainment/blood-bank-services.html">Blood Bank Services</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Self Care Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services129">129 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/services321">321 Services</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="/selfcareservices/freeassistanceservices">Free Assistance Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MUSIC</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../music/warid-rockstar.html">Warid Rockstar</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Caller Tunes</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/mrbt-movie-offer.html">Movie Offer</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="javascript:void(0)">Caller Tunes</a>
                                                <ul>
                                                    <li class="">
                                                        <a class="" href="../music/caller-tunes/caller-tunes/terms-conditions.html">Terms&conditions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/sms-commands.html">SMS Commands</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/features-and-charging.html">Features and Charging</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/warid-name-tune.html">Warid Name Tune</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/song-search.html">Song Search</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../music/caller-tunes/auto-dialer.html">Auto Dialer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/background-music.html">Background Music</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/music-station.html">Music Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/warid-music-club.html">Warid Music Club</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../music/warid-music-stream.html">Warid Music Stream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">RELIGION</a></h3>
                                <ul>
                                    <li class="active">
                                        <a class="" href="islamicsservice786">786 Islamic Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="hadith">Hadith</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="duaservice">DUA Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="namazalerts">Namaz Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="breadcrumbs-selected" href="ayatalerts">Ayat Alerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">BALANCE TRANSFER SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/sponsor-me.html">Sponsor Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/pre-to-pre-balance-transfer.html">Pre To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/pre-to-post-balance-transfer.html">Pre To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/post-to-post-balance-transfer.html">Post To Post Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/post-to-pre-balance-transfer.html">Post To Pre Balance Transfer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../balance-transfer-services/balance-request.html">Balance Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">UTILITIES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../utilities/auto-call-back.html">Warid Auto Call Back</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/last-five-transactions.html">Warid Last 5 Transactions</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/panic-alert.html">Panic Alert</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-call-block.html">Warid Call Block</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/collect-call-and-sms.html">Collect Call and SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/notify-me.html">Notify Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/missed-call-alerts.html">Missed Call Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/intro-me.html">Intro Me</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/double-number-offer.html">Double Number Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/my-status.html">My Status</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/maal-dhamaal-2.html">Maal Dhamaal 2</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/sms-delivery-reports.html">SMS Delivery Reports</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/jhatpat-bill.html">Jhatpat Bill</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/call-me-back-service.html">Call me Back Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/mobile-phonebook-backup.html">Mobile Phonebook Backup</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-ezee-connection.html">Warid Ezee Connection</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Mobile Wizard</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/mobile-wizard/how-it-works.html">How it works?</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/mobile-wizard/faqs.html">FAQs</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">SIMs</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/sims/nano-sim.html">Nano SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/sims/micro-sim.html">Micro SIM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/sims/dual-number-sim.html">Double Number Sim</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Call Features</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/conference-call.html">Conference Call</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/call-divert.html">Call Divert</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../utilities/call-features/call-waiting.html">Call Waiting</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/warid-group-sms.html">Warid Group SMS</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/sms-based-reservation.html">SMS Based Reservation</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/mobile-internet-sharing.html">Mobile Internet Sharing</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../utilities/unblock-me.html">Unblock Me</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE APPS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-apps/warid-islamic-app.html">Warid Islamic APP</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-apps/warid-mobile-world.html">Warid Mobile World</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-apps/warid-mobile-apps.html">Warid Mobile Apps</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../../lte/vas/mywarid.html">My Warid App</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SPORTS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../sports/warid-sports-station.html">Warid Sports Station</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../sports/warid-football-club.html">Warid Football Club</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SOCIAL NETWORKING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../social-networking/facebook-mobile.html">Facebook Mobile</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/im-over-sms.html">IM Over SMS!</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/google-talk.html">Google Talk</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/facebook-awaz.html">Facebook Awaz</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../social-networking/twitter-sms-service.html">Twitter SMS Service</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    786 Islamic Service
                </div>
                <p>Start a spiritual journey with Warid's Islamic Service which includes QuranicAyat with translation, Tafseer of Quran, Dars and Bayan from renowned Ulema, Hadees, Namaz timings, Hamd, Naat, Qawali and various Dua's.</p>
                <!--To activate Box-->
                <div class="to-activate-box">
                    <div class="to-activate-heading-box">
                        <div class="to-activate-heading">
                            TO ACTIVATE
                        </div>
                    </div>
                    <div class="new-customer">
                        &nbsp;
                    </div>
                    <!--Strips to be repeated-->
                    <div class="activate-txt-strips bd-none">
                        <div class="steps">
                            Step 1
                        </div>
                        <div class="steps-txt">
                            <a class="activation-link" href="#">Dial 786</a>
                        </div>
                    </div>
                    <!--Strips to be repeated-->
                </div>
                <!--To activate Box-->
                <h2>Charges</h2>
                <p>Rs. 5+tax /10mins</p>
                <h2>FAQs</h2>
                <h2><small>How to access Warid Islamic Service?</small></h2>
                <p>Just dial 786 from your Warid number and listen to Naats, Qawalis and much more.</p>
                <h2><small>How will I find my choice of Islamic content?</small></h2>
                <p>After dialing 786 follow the simple instructions to access the content of your choice.</p>
                <ul>
                    <li>
                        Ramadan Category (Quiz, Ramadan Masail, Traveeh, Dars)
                    </li>
                    <li>
                        Quran Recitation, Translation and Tafseer
                    </li>
                    <li>
                        Azan &amp;Namaz Timings
                    </li>
                    <li>
                        Humd,Naat,Qwali
                    </li>
                </ul>
                <h2><small>Is Warid Islamic Service available to everyone?</small></h2>
                <p>Yes both Warid Prepaid and Postpaid customers can benefit from this service.</p>
                <!--<h2>Terms &amp; Conditions</h2>
                <ul>
                  <li>All charges are exclusive of government taxes and levies including Federal Excise Duty 19.5%.</li>
                  <li>15% withholding tax is deducted on each recharge amount by ezeeLOAD& scratch card.</li>
                </ul>-->
                <h2>TERMS AND CONDITIONS</h2>
                <h2>INTRODUCTION:</h2>
                <p>Warid  Telecom (Pvt) Limited (henceforth <strong>&ldquo;Warid&rdquo;</strong>)  provides telecommunication services in the Islamic Republic of Pakistan, AJK  and Gilgit Baltistan (the <strong>&ldquo;Territory&rdquo;</strong>).  Warid is launching a Naat Competition(the <strong>&ldquo;Competition&rdquo;</strong>)  for its Customers (the <strong>&ldquo;Customers&rdquo;</strong>)  for the promotion of its&ldquo;Islamic Portal Service&rdquo; which includes the option to  participate in the Competition as detailed hereunder; the duration of the Competition  is provided herein below.</p>
                <h2>DEFINITIONS  AND INTERPRETATIONS:</h2>
                <h2><small>   Definitions:</small></h2>
                <p>Unless  the context requires otherwise, the expressions used in these Terms and  Conditions and not defined elsewhere in such Terms and Condition shall have the  following meanings assigned to them:</p>
                <ul>
                    <li>
                        <strong>&ldquo;Advertisement&rdquo;</strong> or <strong>&ldquo;Advertised by Warid&rdquo;</strong> means  publication or advertisement of any information, policy, notice, intimation,  public message or any other communication regarding the Competition,  collectively or separately, through any medium including but not limited to  television, radio, outdoor, hoardings/billboards, internet, cellular and/or  print media etc;
                    </li>
                    <li>
                        <strong>&ldquo;Airtime&rdquo;</strong>means  the amount of money transferred in the MSISDN Account of a Warid Subscriber  having a Connection for availing Warid Services  which shall be used by the Subscriber for SMS,  Voice calls and Data corresponding to the relevant tariff rate applicable to  such Warid Subscriber as determined by Warid in its sole discretion.
                    </li>
                    <li>
                        <strong>&ldquo;Terms and  Conditions&rdquo; </strong>means these terms and conditions;
                    </li>
                    <li>
                        <strong>&ldquo;Approved modes  of communication&rdquo;</strong> means any of the modes of communication provided in  Telecom Consumer Protection Regulations, 2009 as amended from time to time;
                    </li>
                    <li>
                        <strong>&ldquo;Connection&rdquo;</strong> means Pre-paid or Post-Paid Connection issued by Warid to the Customers and  which is corresponding to a unique MSISDN Number;
                    </li>
                    <li>
                        <strong>&ldquo;Customer&rdquo;</strong> means the customer (including natural or legal person) who is availing Warid  Services through the Connection registered and activated validly in his name;
                    </li>
                    <li>
                        <strong>&ldquo;License&rdquo;</strong> means the relevant GSM License issued to Warid by PTA for provision of Services  in the Territory;
                    </li>
                    <li>
                        <strong>&ldquo;MSISDN Number&rdquo;</strong> means a unique numerical number assigned against each Connection for availing  Warid Services;
                    </li>
                    <li>
                        <strong>&ldquo;Network&rdquo;</strong> means Warid&rsquo;s GSM network as and where installed throughout the Territory which  is run and supported by the System;
                    </li>
                    <li>
                        <strong>&ldquo;Participant&rdquo;</strong> means the Customer who has participated in the Competition as per Clause 3.2  below;
                    </li>
                    <li>
                        <strong>&ldquo;Parties&rdquo; </strong>unless  the context provides otherwise means Warid and the Participant;
                    </li>
                    <li>
                        <strong>&ldquo;PTA&rdquo;</strong> means  Pakistan Telecommunication Authority or its successor;
                    </li>
                    <li>
                        <strong>&ldquo;SIM Card&rdquo;</strong> means subscriber identity module card corresponding to the unique MSISDN Number  issued to a Customer;
                    </li>
                    <li>
                        <strong>&ldquo;System&rdquo;</strong> means Warid&rsquo;s GSM mobile cellular system;
                    </li>
                    <li>
                        <strong>&ldquo;Taxes&rdquo; or &ldquo;t&rdquo;</strong> include all or any taxes, levies or fees   levied/charged by federal government, any provincial government or any  other lawfully competent authority;
                    </li>
                    <li>
                        <strong>&ldquo;Territory&rdquo;</strong> means the territories for which Warid is authorized to provide Services under  the License;
                    </li>
                </ul>
                <ul>
                    <li>
                        <strong>&ldquo;Warid Services&rdquo;</strong> means the services offered by Warid from time to time through the System and  Network including cellular services and optional services pursuant to the  License; and
                    </li>
                    <li>
                        <strong>&ldquo;Warid&rdquo;</strong> means Warid Telecom (Pvt.) Ltd. (including its successors and assigns) licensed  by PTA to install and operate the Network throughout the Territory in order to  provide the Services.
                    </li>
                </ul>
                <h2> <small> Interpretations:</small></h2>
                <p>Headings are included for convenience only  and shall not affect the interpretation hereof. Any reference to the singular  shall include the plural and vice versa and any reference to one gender shall  include all genders;</p>
                <p>The importance of Clauses shall not be  determined by their arrangement/order in these Terms and Conditions;</p>
                <p>The words &ldquo;include&rdquo;, &ldquo;includes&rdquo;, &ldquo;including&rdquo;  and &ldquo;included&rdquo; will be construed without limitation unless inconsistent with  the context; and</p>
                <p>The words not expressly defined herein shall  bear the dictionary meanings.</p>
                <h2>DETAILS OF  COMPETITION AND RIGHT TO WIN THE PRIZE</h2>
                <ul>
                    <ul>
                        <li>
                            The Customer acknowledges that Warid has primarily  launched this Competition to promote Warid Services and its brand in general  and in particular theIslamic PortalService.
                        </li>
                        <li>
                            The Customerupon electing to participate in the Competition  by accepting the Terms and Conditions in the manner prescribed herein shall  become the Participant of the Competition in terms hereof in accordance with  these Terms and Conditions.
                        </li>
                        <li>
                            In order to participate in the Competition, the  Customer shall dial 786 which shall lead/direct the Customer to the &ldquo;Islamic  Portal Service&rdquo; and select the option pertaining to theNaat Competition (the <strong>&ldquo;Option&rdquo;</strong>). The selection of such Option  shall be deemed to be the acceptance of these  Terms and Conditions, which are available on ________________________________  in their totality and thereafter theCustomershall become the Participant of  this Competition. The selection of the Option after the dialing of786 would be  for all intents and purposes be deemed as acceptance on the part of the  Customer of these Terms and Conditions in their totality.
                        </li>
                        <li>
                            After becoming the Participant, the Participant shall  become eligible to avail the benefits of this Competition including the right  to record different Naats and winning the gifts (<strong>&ldquo;Gifts&rdquo;</strong>) as defined below in Clause 5 subject to these Terms and  Conditions.
                        </li>
                        <li>
                            The Customer/Participant acknowledges that a number of  SMSs for the promotion of the Competition and/or to maintain the interest of  the Participant may be sent to him throughout the duration of the Competition.
                        </li>
                    </ul>
                </ul>
                <h2>DURATION OF  THE COMPETITION</h2>
                <p>The  duration of the Competition is fixed for19days starting from the2ndof January  2015 and ending on the 20thof Jan 2015 (the <strong>&ldquo;Competition Period&rdquo;</strong>).</p>
                <p>Warid  may terminate/discontinue the Competition at any time during the Competition  Period; however the Customer/Participant shall be intimated in accordance with  the applicable laws before the termination/discontinuation date. After the  termination/discontinuation of the Competition or expiry of the Competition  Period, Waridshall bear no obligation towards the Customer/Participant.</p>
                <h2>MECHANICS OF  THE COMPETITION AND DETAILS OF GIFTS:</h2>
                <p>In order to participate in the Competition,  the Customers shall dial 786 which shall lead/direct the Customer to the  &ldquo;Islamic Portal Service&rdquo; and select the Option as defined in clause 3.3 above. The  Customer acknowledges that the selection of the Option after the dialing of 786  as mentioned above shall shall register the Customer as a Participant in the Competition  subject to the terms and conditions of the Islamic Portal Service and these  Terms and Conditions of the Competition along with the other terms and  conditions regulating the availing of Warid Services.  All Customerswho have accepted these Terms and  Conditions shall then be guided step by step via thedialed IVR call on 786 on  how to proceed with the recording of the Naat.</p>
                <p>The  Participant shall record one or more Naats as he desires which shall each be of  at least Sixty (60) seconds in duration but not more than Two (02) minutes in  duration (the <strong>&ldquo;Duration Period&rdquo;</strong>).Naats  which fall outside of the Duration Period shall not be considered to be  eligible for the Competition and shall be struck out as invalid.</p>
                <p>Out of  all the recorded Naats, the top Twenty (20) best Naats(<strong>&ldquo;Top Twenty&rdquo;</strong>) shall be selected by Warid and these Participants  shall become eligible to receive the Gifts. However, only one Naat shall be  selected per MSISDN even if multiple Naats have been recorded by that  MSISDN.  However, there is no such bar if  the same Customer has been selected more than once in the Top Twenty provided  that the MSISDN for each entry is different.</p>
                <p>The  top Ten (10) Naats from these Top Twenty (<strong>&ldquo;Top  Ten&rdquo;</strong>) shall be entitled to a Gift of Rs 1000 free airtime each. The next  best Ten (10) Naats (<strong>&ldquo;Next Ten&rdquo;</strong>)  from these Top Twenty shall be entitled to a Gift of Rs 500 free airtime each. </p>
                <p>In the Competition  the following gifts (the <strong>&ldquo;Gifts&rdquo;</strong>)  shall be given to the Participants:</p>
                <ul>
                    <li>
                        Gift for Top Ten: PKR 1000 free Airtime;
                    </li>
                </ul>
                <p>This shall be given at the end of the Competition  Period to the Participants who were selected in the Top Ten. The winners shall  be determined by Warid at its sole discretion. Only one Gift shall be made per  MSISDN even if multiple Naats have been recorded by that MSISDN.However, there  is no such bar if the same Participant has been selected more than once in the  Top Twenty provided that the MSISDN for each entry is different. </p>
                <ul>
                    <li>
                        Gift for Next Ten: PKR 500 free Airtime;
                    </li>
                </ul>

                <p>This shall be given at the end of the Competition Period to the  Participants who were selected in the Next Ten. The winners shall be determined  by Warid at its sole discretion. Only one Gift shall be made per MSISDN even if  multiple Naats have been recorded by that MSISDN. However, there is no such bar  if the same Participant has been selected more than once in the Top Twenty  provided that the MSISDN for each entry is different. </p>
                <p>After  the expiry of the Competition Period, any Customer who avails the Islamic  Portal Service makes a recording shall no longer be entered into the Competition  or receive any Gift for having used the Option in the Islamic Portal  Service.The Customers/Participants are required to send their response in  accordance with the procedure identified during the IVR call in order to avail  the benefits of the Competition during the Competition Period.</p>
                <h2>CHANGES IN  THE TERMS OF THE COMPETITION</h2>
                <p>Warid  maintains the absolute right to amend these Terms and Conditions by publishing  the amendments and changes on its official web site; however the Participant  shall be intimated through an SMS prior to any such amendment or change  becoming effective.</p>
                <h2>CONDITIONS TO RECEIVE THE GIFTS</h2>
                <p>The Gift  for Top Ten and the Gift for Next Ten shall collectively be referred to as the  &ldquo;Gifts&rdquo; and separately as the &ldquo;Gift&rdquo;;</p>
                <p>TheGifts  shall be awarded within a period of 30 daysfrom the expiry of Competition  Period;</p>
                <p>All Gifts  will be subject to applicable Taxes before being transferred to the MSISDN of  the winning Participant;</p>
                <p>Warid  reserves the right to disqualify any Participantto receive the Gift if it has  reasonable grounds to believe that the Participant breached any provision of  the Terms and Conditions and/orhis Agreement with Warid for availing Warid&rsquo;s  cellular services or the CSAF;</p>
                <p>The  Participant acknowledges that Warid shall not be responsible/liable for any  loss, injuries or damages of any kind caused to the Participant by or resulting  from the Competition, the participation in the Competition, receiving the Gifts,  or disqualification to receive any Gift.</p>
                <p> The Customer/Participant  acknowledges that the decisions made by Warid shall be final and binding on  him.</p>
                <h2>MISCELLANEOUS</h2>
                <p>Warid shall not have any liabilities  towards the Participant after the expiry of Competition Period except provided  otherwise expressly in the Terms and Conditions.</p>
                <p>Warid  undertakes/gives no warranty (whether express or implied) whatsoever with  respect to the entitlement for any Giftby mere participation of Participant in  the Competition;</p>
                <p>Fraud or abuse  relating to the use of the Islamic Portal Servicemay result in forfeiture/cancellation  of a Participant&rsquo;s eligibility for the Competition, suspension of Warid&rsquo;s  Services to the Participant and termination of Participant&rsquo;s WaridConnection;  and any decision by Warid in this respect shall be final;</p>
                <p>Without  prejudice to Clause 8.3, all questions or disputes regarding eligibility of the  Participant for the Competition and giving of Giftsshall be resolved by Warid  in its sole discretion and any decision by Warid in this respect shall be  final;</p>
                <p>Warid&rsquo;s failure  or delay to enforce a particular term and condition, right, remedy or penalty  shall not constitute as a waiver of that term and condition, remedy, penalty by  Warid. Further the enforcement of these Terms and Conditions, right, remedy or  penalty shall not mean the waiver of other terms, remedies or penalties  available to Warid under this document, CSAF, other applicable  documents/agreements between Warid and the Participant and the relevant laws;</p>
                <p> Warid reserves  the right to disqualify any Participant from further participation in the Competition,  if in its judgment, the Participant has in any way violated these Terms and  Conditions, or has violated the terms and conditions of the CSAF (which is  mandatory to execute before availing Warid Services). If a Participant is  availing Warid Services without execution of the CSAF, it shall be presumed a  breach of these Terms and Conditions in itself;</p>
                <p>Unless context requires otherwise, each  of these Terms and Conditions mentioned herein shall be severable and distinct  from one another and if any provision of these Terms and Conditions is held to  be invalid, illegal or unenforceable by a court of competent jurisdiction, such  invalidity, illegality or unenforceability shall not affect the validity,  legality and enforcement of the remaining provisions; however, the Participant/Gift  winner accepts and agrees that Warid in such circumstances in its sole discretion  may terminate the agreement concluded between Warid and the Participant in  result of these Terms and Conditions by the Participant in accordance with the  manner provided herein or amend these Terms and Conditions as may be required  in result of the order of the competent court.</p>
                <p>If a Force  Majeure event occurs that directly affects the ability of Warid to perform its  obligations hereunder, Warid shall be entitled to suspend performance of such  an obligation for the duration of the Force Majeure event. Force Majeure  includes acts of God, war, hostilities, riots, civil commotion, strike,  revolution, epidemic, accident, fire, flood, earthquake, blockade, any decision  of the court, tribunal or authority, PTA or any other cause similar to the kind  herein enumerated or of equivalent force not within the control of Warid  (including but not limited to reasons attributable to failure of machinery,  Warid&rsquo;s telecommunication system, any hardware or software);</p>
                <p> The decision of  Warid in respect of any dispute that may arise in connection with these Terms  and Conditions shall be final and binding on the Participant;</p>
                <p> The  Customer/Participant acknowledges that under this Competition he shall not  respond to any calls/SMSs directing to make/send calls/SMSs to any other  number/short code or which are regarding award of any gift(whether money or in  kind) in lieu of balance transfer or any call. Ignorance of this clause by the  Customer shall not accrue any liabilities/responsibilities on Warid including  but not limited to liability/responsibility towards any loss occurred to the  Customer/Participant;</p>
                <p>The language of  the Competition shall be Roman Urdu and/or English;</p>
                <p>Notwithstanding  anything contained herein, the following shall not be eligible to participate  in the Competition:</p>
                <ul>
                    <li>
                        The employees of Warid;
                    </li>
                    <li>
                        Warid Franchises and Retailers and the employees of its  sister concerns;
                    </li>
                    <li>
                        The spouse,  children, parents and siblings (<strong>&ldquo;First  Degree Relatives&rdquo;</strong>) of Warid employees; 
                    </li>
                    <li>
                        The registered users of Warid employee family number;  and
                    </li>
                    <li>
                        The contractors, technical service providers and/or  professionals and their employees working for this Competition.
                    </li>
                </ul>
                <h2>COMPLAINT/QUERY HANDLING,  DISPUTE RESOLUTION AND ARBITRATION</h2>
                <p>The  Participant can call at the helpline by dialing 321 round the clock for any  complaints or information regarding the Competition. The Participant&rsquo;s call  shall be recorded against his CLI for record keeping and in accordance with the  instructions given by PTA. Prescribed tariff rates shall be charged for using  the helpline services;</p>
                <p>The Competition  and these Terms and Conditions shall be governed by the laws of Pakistan and  interpreted in accordance with laws of Pakistan. If the Participant shall be of  the opinion that he has any right pertaining to the Competition and he wishes  to invoke such right, the Participant acknowledges, understands and agrees that  such right can only be invoked through the arbitration which shall be conducted  by the sole arbitrator appointed by Warid and such arbitration proceedings  shall be conducted in English or Urdu language at Lahore under the Arbitration  Act 1940. Without prejudice to the above, it is further agreed by the  Participant that only the courts at Lahore shall have the jurisdiction on any  matter relating to the Competition.</p>
                <h2>TERMS AND CONDITIONS:</h2>
                <p>This document along with the  terms and conditions of the CSAF shall form the terms and conditions (the <strong>&ldquo;Terms and Conditions&rdquo;</strong>) between Warid  and the Participant pertaining to the Competition (defined above).</p>
            </div>
        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../entertainment/warid-youth-portal.html"><img src="../../assets/more_offers_images/Youth-P.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../entertainment/warid-youth-portal.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../balance-transfer-services/balance-request.html"><img src="../../assets/more_offers_images/Balance_Request.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../balance-transfer-services/balance-request.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="../social-networking.html"><img src="../../assets/more_offers_images/08201428084807434.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="../social-networking.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>			<!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../../postpaid/mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
