
@{
    ViewBag.Title = "my5";
}

@section featuredArea{

<div class="static-banner-box">
    <img src="../../assets/services_header_images/postpaid/my5_header.png" alt="My5" />
</div>

}

<div class="container">
    <div class="row">
        <div class="breadcrumbs-box">
            <!--Breadcurmbs Start-->
            <div class="col-md-12">
                <div class="col-md-7">

                    <ul>

                        <li><a href="../../index.html">HOME</a></li>

                        <li>&gt;&nbsp;<a class="" href="/postpaid/Index">POSTPAID</a></li>

                        <li>&gt;&nbsp;<a class="" href="/postpaid/offers">OFFERS</a></li>



                        <li>&gt;&nbsp;<a class="breadcrumbs-selected" href="/offers/my5">MY5</a></li>













                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="share-plugin" style=" margin-top:15px; height:45px !important; float:right;">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dbe1745281c9f" async="async"></script>
                        <script type="text/javascript">
$(document).ready(function(){
var width	=	$(window).width();

/*if(width <= 340){
	$(".addthis_native_toolbox").css( "background-color", "red" );
  }*/
$(window).resize(function() {
  width	=	$(window).width();
  if(width <= 340){
	$(".addthis_native_toolbox").addClass('social-height');
  }else{
  $(".addthis_native_toolbox").removeClass('social-height');

  }
});


})

                        </script>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.waridtel.com/postpaid/offers/my5&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;appId=363462563821084" scrolling="no" frameborder="0" style="border:none; float:left; overflow:hidden; width:100px; height:25px; " allowTransparency="true"></iframe>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div style="float:left !important;" class="addthis_native_toolbox"></div>
                    </div>
                </div>

            </div>			<!--Breadcurmbs End-->
        </div>
        <!--Left Menu (Accordion Code-->
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="accordion-main-box">
                    <!--Header Box-->

                    <div id="accordian">
                        <ul>
                            <li>
                                <h3>
                                    <a style="background-color: #cf0000;
    color: #fff;
    font-family: 'oswald';
    font-size: 20px;
    text-align: left;" href="javascript:void(0)">WARID POSTPAID</a>
                                </h3>
                            </li>
                        </ul>
                        <ul>
                            <li class="">
                                <h3><a class="" href="../package-calculator.html">POSTPAID PACKAGE ADVISOR</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">POSTPAID PACKAGES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <h3><a class="" href="javascript:void(0)">OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="my-3-offer.html">My 3 offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid-ussd-offer.html">Postpaid USSD Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="go-global-offer.html">Go Global Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="super-monthly-bundle.html">Super Monthly Bundles</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="double-bundle.html">Double Bundle</a>
                                    </li>
                                    <li class="active">
                                        <a class="breadcrumbs-selected" href="my5.html">My5</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="postpaid-weekend.html">Postpaid Weekend</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="48-paisa-idd-offer.html">48 Paisa IDD Offer</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="sms-bundle.html">SMS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">MOBILE INTERNET</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../mobile-internet/postpaid-shared-internet-plans.html">Postpaid Shared Internet Plans</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/unlimited-edge.html">Unlimited Edge</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../mobile-internet/gprs-bundles.html">GPRS Bundles</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">SERVICES</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../services/call-history.html">Call History</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Bill payment</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/payment-via-sting.html">Payment Via Sting</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/bill-by-email.html">Bill By email</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/bill-payment-via-atm.html">Bill Payment Via ATM</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/bill-payment-via-scratch-card.html">Bill Payment Via Scratch Card</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/online-bill-payment-via-bank.html">Online Bill Payment Via Bank</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/cash-to-direct-debit.html">Cash to Direct Debit</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/warid-load.html">Warid Load</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/bill-payment/online-bill-payment.html">Online Bill Payment</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Warid Mobile Email</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../services/warid-mobile-email/corporate-edition.html">Corporate edition</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../services/warid-mobile-email/internet-account.html">Internet Account</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../services/international-mms.html">International MMS</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">HANDSET OFFERS</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Blackberry</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../handset-offers/blackberry/blackberry-packages.html">BlackBerry Packages</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../handset-offers/blackberry/blackberry-apps.html">BlackBerry Apps</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL DIALING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../international-dialing/111-LCR.html">111 LCR</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">IDD Bundle Offer</a>
                                        <ul>
                                            <li class="active">
                                                <a class="" href="../international-dialing/idd-bundle-offer-country-dialing-codes.html">IDD Bundle Offer Dialing Codes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-dialing-tariff.html">Int Dialing Tariff</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/international-dialing-info-services.html">Int Dialing Info Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-dialing/48-paisa-idd-offer.html">48 Paisa IDD Offer</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="javascript:void(0)">INTERNATIONAL ROAMING</a></h3>
                                <ul>
                                    <li class="">
                                        <a class="" href="../international-roaming/ir-tariffs.html">IR Tariffs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/3G-roaming-service.html">3G Roaming Service</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/sms-roaming.html">SMS Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/warid-data-usage-alerts.html">Data Usage Alerts</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/ir-incoming-sms-free.html">IR Incoming SMS Free</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/roam-info.html">Roam Info</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/in-flight-roaming.html">In-Flight Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/maritime-roaming.html">Maritime Roaming</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Inbound Roamers</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../international-roaming/inbound-roamers/inbound-roamers.html">Inbound Roamers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a class="" href="../international-roaming/roaming-faqs.html">Roaming FAQs</a>
                                    </li>
                                    <li class="">
                                        <a class="" href="javascript:void(0)">Additional IR Services</a>
                                        <ul>
                                            <li class="">
                                                <a class="" href="../international-roaming/additional-ir-services/wifi-roaming.html">Wifi Roaming</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../international-roaming/additional-ir-services/safe-arrival-sms.html">Safe Arrival Sms</a>
                                            </li>
                                            <li class="">
                                                <a class="" href="../international-roaming/additional-ir-services/vas-on-ir.html">VAS on IR</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/postpaid/terms-and-conditions.png">TERMS & CONDITIONS</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../tax-exemption-certificate.html">TAX EXEMPTION CERTIFICATE</a></h3>
                            </li>
                            <li class="">
                                <h3><a class="" href="../../assets/postpaid/CSAF-Terms-and-Conditions.pdf">OPERATORS TERMS & CONDITIONS</a></h3>
                            </li>
                        </ul>
                    </div>
                    <!--Header Box-->
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Left Menu (Accordion Code-->
        <!--Right content (page content)-->
        <div class="col-md-10">
            <div class="main-inner-content-box">
                <div class="heading-main-box">
                    My 5
                </div>
                <p>Warid introduces a new feature for its PostPaid subscribers. Now for the first time in Pakistan, you can enjoy Unlimited* Calls 24/7/365 with your 5 Friends and Family Numbers for just Rs 500 + tax.</p>
                <h2>FAQs</h2>
                <h2><small>What is My5?</small></h2>
                <p>My5 is a permanent feature for PostPaid subscribers that would enable you make Unlimited* calls and talk as much as you want on 5 Friends & Family numbers throughout the month.</p>
                <h2><small>Is My5 available on all packages?</small></h2>
                <p>Currently, My5 is only available on new packages, i-e W250 to W2500. This offer is not available for W4000 subscribers as FnF calls are already free on this package. All other postpaid subscribers will have to upgrade to these new packages to avail My5 offer. </p>
                <h2><small>Will I be able to consume my free on net minutes when I opt for My5?</small> </h2>
                <p>Free minutes will NOT be utilized on Friends &amp; Family numbers. Free minutes will only be consumed for on-net calls made to other than MY 5 numbers.</p>
                <h2><small>Will I be able to make FREE calls on my Friends and Family Numbers even if my free on net minutes are consumed?</small></h2>
                <p>Yes, you can continue to make FREE Unlimited* calls on your 5 Friends and Family numbers through out the month even if you have consumed your free on net minutes.</p>
                <h2><small>How do I avail My5?</small> </h2>
                <p>
                    New PostPaid subscribers will have to visit nearest business centre or franchise and fill in CSAF. You can also request activation of My5 service by calling 321.<br />
                    An Existing Warid PostPaid subscriber only has to call 321 or visit nearest Warid Business Center or Franchise to get My5 activated. (My5 activation is subject to bill run)
                </p>
                <h2><small>What will be the service charges?</small> </h2>
                <p>
                    Rs. 500 + tax will be charged per month in addition to line rental.<br />
                    Postpaid Weekend/LNO offer rentals are charged in advance on a monthly basis on the date of bill cycle.
                </p>
                <h2><small>Do I need to increase my security deposit?</small></h2>
                <p>Yes, you are required to make an additional deposit of Rs 500/- over and above your existing security deposit before you request for My5. This would ensure that you enjoy uninterrupted service through out the month.</p>
                <h2><small>How often can I change my FnF numbers?</small></h2>
                <p>You can have upto 5 FnF numbers (On Net only). You can select and deselect FnF number by sending a text to 129. Once an FnF number is selected it would remain unchanged for 30 days.</p>
                <h2><small>Will My5 be activated immediately? </small></h2>
                <p>
                    Existing PostPaid subscribers will be able to avail this offer from their next bill run.<br />
                    For New PostPaid subscribers the service can be activated immediately
                </p>
                <h2><small>Can Postpaid and Corporate/Company customers avail My5?</small> </h2>
                <p>Yes, all PostPaid and Corporate/Company Customers can avail My5 (My5 is only available on new Warid PostPaid Packages 250/750/1500 and 2500 with 30 seconds pulse). Corporate/Company Customers will continue to enjoy the Line Rent discount and CUG as per their contract.</p>
                <h2><small>How do I opt out?</small></h2>
                <p>
                    You will have to inform before next bill run by calling 321 and requesting to opt out of My5</br>
                    * Fair usage of 5000 minutes applies on My5 Add On. After these minutes are consumed the customer would be charged as per normal On-net FnF rates of his/her existing Warid Postpaid package plan.
                </p>
            </div>

        </div>
        <!--Right content (page content)-->
        <!--------More Warid Offers--------->
        <div class="view-more-heading">VIEW MORE WARID OFFERS</div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="my-3-offer.html"><img src="../../assets/more_offers_images/my-3-offer-dropdown32.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="my-3-offer.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="my5.html"><img src="../../assets/more_offers_images/08201426085455320.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="my5.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-offers-box">
                    <a href="super-monthly-bundle.html"><img src="../../assets/more_offers_images/warid-super-bundle-view-more.png" alt="Internet Options" /></a>
                    <a class="more-btn-offers" href="super-monthly-bundle.html"><img src="../../assets/images/bullets-more.png" />more</a>
                </div>
            </div>
        </div>        <!--------More Warid Offers--------->
        <!----------------------------------------Middle content Container---------------------------------------------->
        <!-----------------------------------------Footer--------------------------------------------------------------->
        <footer class="footer-box">
            <div class="col-md-12">
                <div class="footer-bd-box">
                    <div class="col-md-9">
                        <!--Postpaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    POSTPAID
                                </li>
                                <li>
                                    <a href="../packages/new-postpaid-plans.html">New Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../packages/old-postpaid-plans.html">Old Postpaid Plans</a>
                                </li>
                                <li>
                                    <a href="../offers.html">Offers</a>
                                </li>
                                <li>
                                    <a href="../mobile-internet.html">Mobile Internet</a>
                                </li>
                            </ul>
                        </div>
                        <!--Postpaid-->
                        <!--Prepaid-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">PREPAID</li>
                                <li><a href="../../prepaid/packages.html">Packages</a></li>
                                <li><a href="../../prepaid/offers.html">Offers</a></li>
                                <li><a href="../../prepaid/sms-packages.html">SMS Packages</a></li>
                                <li><a href="../../prepaid/mobile-internet.html">Mobile Internet</a></li>
                            </ul>
                        </div>
                        <!--Prepaid-->
                        <!--International Roaming-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    INTL. ROAMING
                                </li>
                                <li>
                                    <a href="../../ir/prepaid.html">Prepaid IR</a>
                                </li>
                                <li>
                                    <a href="../../ir/postpaid.html">Postpaid IR</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                    <!--<a href="http://www.waridtel.com/ir/postpaid/international-roaming">Postpaid IR</a>-->
                                </li>
                            </ul>
                        </div>
                        <!--International Roaming-->
                        <!--VAS (PRODUCTS-->
                        <div class="footer-links-box">
                            <ul>
                                <li class="footer-head">
                                    VAS
                                </li>
                                <li>
                                    <a href="../../products/entertainment.html">Entertainment</a>
                                </li>
                                <li>
                                    <a href="../../products/music.html">Music</a>
                                </li>
                                <li>
                                    <a href="../../products/balance-transfer-services.html">Balance Transfer</a>
                                </li>
                                <li>
                                    <a href="../../products/utilities.html">Utilities</a>
                                </li>
                            </ul>
                        </div>
                        <!--VAS (PRODUCTS-->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social-head">JOIN US</div>

                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://www.facebook.com/OfficialWarid" target="_blank"><img src="../../assets/images/fb-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Facebook</span></a></div>
                            <div class="social-boxes"><a href="http://www.linkedin.com/company/166868?trk=tyah" target="_blank"><img src="../../assets/images/linked-inn-social.png" alt="Facebook" /><span style="float:right;">&nbsp;LinkedIn</span></a></div>
                            <div class="social-boxes"><a href="http://www.instagram.com/officialwarid/" target="_blank"><img src="../../assets/images/insta-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Instagram</span></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-boxes"><a href="https://twitter.com/officialwarid" target="_blank"><img src="../../assets/images/twitter-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Twitter</span></a></div>
                            <div class="social-boxes"><a href="http://www.pinterest.com/officialwarid/" target="_blank"><img src="../../assets/images/pin-social.png" alt="Facebook" /><span style="float:right;">&nbsp;Pinterest</span></a></div>
                        </div>

                    </div>
                </div>
                <div class="ftr-btm-lnks-box">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="../../media-center.html">MEDIA CENTER</a></li>
                            <li><a href="http://careers.waridtel.com/" target="_blank">CAREERS</a></li>
                            <!--<li><a href="http://glow.net.pk/" target="_blank">GLOW</a></li>-->
                            <li><a href="../../coverage.html">COVERAGE</a></li>
                            <li><a href="../../customer-care/consumer-manual.html" target="_blank">CONSUMER MANUAL</a></li>
                            <li><a href="../../avoid-fraud.html">AVOID FRAUD</a></li>
                            <li><a href="http://members.waridtel.com/" target="_blank">MEMBERS AREA</a></li>
                            <li><a href="../../customer-care/contact-us.html">CONTACT US</a></li>
                            <li><a href="../../privacy-policy.html">PRIVACY POLICY</a></li>
                            <li><a href="../../sitemap.html">SITE MAP</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4"><div class="copyright-box"> Copyright 2015, Warid Telecom (Pvt) Limited. All rights reserved</div></div>
                </div>
            </div>
        </footer>
        <!-----------------------------------------Footer--------------------------------------------------------------->
    </div>
</div>
